Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Log more errors
  src/backend/InvenTree/plugin/installer.py
Due: Backend Apps

Format pip errors
  src/backend/InvenTree/plugin/installer.py
Due: Backend Apps

[UI] Fix thumbnail rendering (#9875)
  src/frontend/src/components/render/Company.tsx
  src/frontend/src/components/render/Order.tsx
  src/frontend/src/components/render/Part.tsx
Due: Frontend

Update error messages
  src/backend/InvenTree/InvenTree/auth_overrides.py
  src/backend/InvenTree/InvenTree/exceptions.py
  src/backend/InvenTree/InvenTree/tasks.py
  src/backend/InvenTree/plugin/base/barcodes/api.py
  src/backend/InvenTree/plugin/base/barcodes/mixins.py
  src/backend/InvenTree/plugin/base/label/mixins.py
  src/backend/InvenTree/plugin/helpers.py
  src/backend/InvenTree/plugin/installer.py
  src/backend/InvenTree/plugin/registry.py
  src/backend/InvenTree/report/apps.py
  src/backend/InvenTree/report/models.py
Due: Backend Apps

Control if plugins file gets installed
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Prevent multiple fetch of settings stage
  src/frontend/src/components/settings/SettingList.tsx
Due: Frontend

Error handling
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Fix typo
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Logic fix for loading plugins
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Update README.md (#9867)
  README.md
Due: none

fix syntax again (#9863)
  codecov.yml
Due: none

Remove sleep call (#9866)
  src/backend/InvenTree/InvenTree/tasks.py
  src/backend/InvenTree/part/tasks.py
Due: Backend Apps

fix(backend): change notification for INVE-W10 (#9864)
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/InvenTree/config.py
  src/backend/InvenTree/InvenTree/templatetags/inventree_extras.py
  src/backend/InvenTree/InvenTree/version.py
Due: none

Tweak for tracing setup (#9865)
  src/backend/InvenTree/InvenTree/tracing.py
Due: none

[bug] Custom state fix (#9858)
  src/backend/InvenTree/generic/states/states.py
  src/backend/InvenTree/stock/api.py
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/stock/test_views.py
Due: Backend Apps, Backend General

Fix for tracing init (#9860)
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/tracing.py
Due: none

fix instrumentation code (#9872)
  contrib/container/gunicorn.conf.py
  src/backend/InvenTree/gunicorn.conf.py
Due: none

Clear data tweak (#9870)
  .devcontainer/Dockerfile
  src/backend/InvenTree/InvenTree/config.py
  tasks.py
Due: none

De-sync useLocalStorage (#9873)
  src/frontend/src/hooks/UseFilterSet.tsx
  src/frontend/src/hooks/UseTable.tsx
Due: Frontend

[UI] About tweak (#9874)
  src/backend/InvenTree/InvenTree/api.py
  src/frontend/src/components/modals/ServerInfoModal.tsx
Due: Frontend

Add stale stock email notifications
  src/backend/InvenTree/locale/de/LC_MESSAGES/django.po
Due: none

Table default cols (#9868)
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/hooks/UseTable.tsx
  src/frontend/src/tables/Column.tsx
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/bom/BomTable.tsx
  src/frontend/src/tables/bom/UsedInTable.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/build/BuildOrderTable.tsx
  src/frontend/src/tables/part/ParametricPartTable.tsx
  src/frontend/src/tables/part/PartCategoryTable.tsx
  src/frontend/src/tables/part/PartParameterTable.tsx
  src/frontend/src/tables/part/PartTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderTable.tsx
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
  src/frontend/src/tables/sales/ReturnOrderTable.tsx
  src/frontend/src/tables/sales/SalesOrderTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
  src/frontend/src/tables/stock/StockLocationTable.tsx
  src/frontend/tests/pages/pui_purchase_order.spec.ts
Due: Frontend

fixed pull request issues #9875)
  src/backend/InvenTree/locale/de/LC_MESSAGES/django.po
  src/backend/InvenTree/part/tasks.py
Due: Backend Apps

Adjust unit test
  src/backend/InvenTree/InvenTree/tests.py
Due: none

Plugin install errors (#9876)
  src/backend/InvenTree/InvenTree/auth_overrides.py
  src/backend/InvenTree/InvenTree/exceptions.py
  src/backend/InvenTree/InvenTree/tasks.py
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/plugin/base/barcodes/api.py
  src/backend/InvenTree/plugin/base/barcodes/mixins.py
  src/backend/InvenTree/plugin/base/label/mixins.py
  src/backend/InvenTree/plugin/helpers.py
  src/backend/InvenTree/plugin/installer.py
  src/backend/InvenTree/plugin/registry.py
  src/backend/InvenTree/report/apps.py
  src/backend/InvenTree/report/models.py
Due: Backend Apps

Skip pricing task
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Tweak serializer
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Error handling
  src/frontend/lib/types/Settings.tsx
  src/frontend/src/components/settings/SettingList.tsx
  src/frontend/src/states/SettingsState.tsx
Due: Frontend

Better handling of initial state fetching
  src/frontend/src/states/ApiState.tsx
  src/frontend/src/states/StatusState.tsx
  src/frontend/src/states/states.tsx
Due: Frontend

Simplify dashboard items
  src/frontend/src/components/dashboard/widgets/QueryCountDashboardWidget.tsx
Due: Frontend

Prevent multiple fetch of settings stage (#9878)
  src/frontend/lib/types/Settings.tsx
  src/frontend/src/components/settings/SettingList.tsx
  src/frontend/src/states/SettingsState.tsx
Due: Frontend

Simplify dashboard items (#9882)
  src/frontend/src/components/dashboard/widgets/QueryCountDashboardWidget.tsx
Due: Frontend

Better handling of initial state fetching (#9881)
  src/frontend/src/states/ApiState.tsx
  src/frontend/src/states/StatusState.tsx
  src/frontend/src/states/states.tsx
Due: Frontend

Add divider to dashboard
  src/frontend/src/components/dashboard/DashboardLayout.tsx
Due: Frontend

Data table tweaks
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Data table tweaks (#9886)
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Improved mechanisms for data output
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/data_exporter/mixins.py
  src/backend/InvenTree/plugin/base/label/mixins.py
  src/backend/InvenTree/plugin/builtin/labels/inventree_machine.py
  src/backend/InvenTree/plugin/builtin/labels/label_sheet.py
  src/backend/InvenTree/report/models.py
Due: Backend Apps, Backend General

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
