Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Adding support for modern Redis ACL user-baased auth
  .pre-commit-config.yaml
  docs/docs/start/config.md
  src/backend/InvenTree/InvenTree/cache.py
Due: none

Reverting pre-config
  .pre-commit-config.yaml
Due: none

Better formatting
  docs/docs/start/installer.md
Due: none

Tweak setup docs
  docs/docs/start/installer.md
  docs/mkdocs.yml
Due: none

Add information on process control and logs
  docs/docs/start/installer.md
Due: none

new commits
  .env
  Caddyfile
  docker-compose.yml
Due: none

Fix typo
  docs/docs/start/installer.md
Due: none

Catch error during auto-migrations
  src/backend/InvenTree/InvenTree/tasks.py
Due: none

Ignore nested InvenTree folder
  .gitignore
Due: none

Adjust config template
  src/backend/InvenTree/config_template.yaml
Due: none

Change `cli` to `invoke`
  docs/docs/settings/error_codes.md
Due: none

[ui] better feedback on login error
  src/frontend/src/components/forms/AuthenticationForm.tsx
  src/frontend/src/functions/auth.tsx
Due: Frontend

implement version loading in more contexts closes #10554
  src/backend/InvenTree/InvenTree/config.py
  src/backend/InvenTree/InvenTree/settings.py
Due: none

factor version file out
  src/backend/InvenTree/InvenTree/config.py
Due: none

ensure results do not contain new strings
  src/backend/InvenTree/InvenTree/version.py
Due: none

fix spelling
  src/backend/InvenTree/InvenTree/version.py
  src/backend/InvenTree/common/currency.py
  src/backend/InvenTree/common/settings.py
Due: Backend General

add changelog entry
  CHANGELOG.md
Due: none

Simplified to combine legacy and acl redis connection uris
  CHANGELOG.md
  src/backend/InvenTree/InvenTree/cache.py
Due: none

fix style
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

make type 3.9 compat
  src/backend/InvenTree/InvenTree/helpers.py
Due: none

bumped API version due to PartsList api price_breaks query param
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

adjust default filtering
  src/backend/InvenTree/InvenTree/serializers.py
Due: none

fix import
  src/backend/InvenTree/build/serializers.py
Due: Backend Apps

Catch error during auto-migrations (#10553)
  src/backend/InvenTree/InvenTree/tasks.py
Due: none

chore(backend)!: fix spelling (#10557)
  CHANGELOG.md
  src/backend/InvenTree/InvenTree/version.py
  src/backend/InvenTree/common/currency.py
  src/backend/InvenTree/common/settings.py
Due: Backend General

fixed sale_price field name issue
  src/frontend/src/forms/SalesOrderForms.tsx
Due: Frontend

fixed incorrect field names
  src/frontend/src/forms/SalesOrderForms.tsx
Due: Frontend

add missed field
  src/backend/InvenTree/company/serializers.py
Due: Backend Apps

[API] Allow search of assembly fields in BOM API endpoint
  src/backend/InvenTree/part/api.py
Due: Backend Apps

fix(installer): make VERSION information accessible in invoke calls (#10558)
  src/backend/InvenTree/InvenTree/config.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/version.py
Due: none

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Update docs/docs/start/installer.md
  docs/docs/start/installer.md
Due: none

Remove available commands section from installer.md
  docs/docs/start/installer.md
Due: none

[API] Allow search of assembly fields in BOM API endpoint (#10561)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/part/api.py
Due: Backend Apps

Installer docs (#10552)
  docs/docs/settings/error_codes.md
  docs/docs/start/installer.md
  docs/mkdocs.yml
Due: none
