Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
      - type: project
        target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
      - type: project
        target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
      - type: project
        target: 65%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

ADjust unit test
  src/backend/InvenTree/generic/states/tests.py
  src/frontend/src/pages/Index/Settings/AdminCenter/MachineManagementPanel.tsx
Due: Backend General, Frontend

feature(BE): add customization for admin.site.site_header (#10179) to
  docs/docs/start/config.md
  src/backend/InvenTree/InvenTree/urls.py
  src/backend/InvenTree/config_template.yaml
Due: none

Tweak unit test
  src/backend/InvenTree/generic/states/tests.py
Due: Backend General

updated readme. Added some notes on tests
  README.md
Due: none

style fix
  docs/requirements.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

fix style
  src/backend/requirements.txt
Due: none

implement changes suggested by joe
  src/backend/InvenTree/company/serializers.py
Due: Backend Apps

chore(backend): bump deps (#10154)
  contrib/container/requirements.txt
  contrib/dev_reqs/requirements.txt
  docs/requirements.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

Add docs on new mixin type
  docs/docs/plugins/develop.md
  docs/docs/plugins/mixins/machine.md
  docs/docs/plugins/mixins/mail.md
  docs/docs/plugins/mixins/schedule.md
  docs/mkdocs.yml
Due: none

Tweak machine overview docs
  docs/docs/plugins/machines/label_printer.md
  docs/docs/plugins/machines/overview.md
  docs/docs/plugins/mixins/barcode.md
  docs/docs/plugins/mixins/ui.md
Due: none

Tweak playwright tests
  src/frontend/tests/pui_machines.spec.ts
Due: Frontend

Additional unit test
  src/backend/InvenTree/machine/test_api.py
Due: Backend Apps

fix style
  docs/requirements.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

Add unit test for calling machine func
  src/backend/InvenTree/machine/tests.py
  src/backend/InvenTree/plugin/testing/label_machines.py
Due: Backend Apps

Enhanced playwright tests
  src/frontend/tests/pui_machines.spec.ts
Due: Frontend

Fixes for BuildLineTable
  src/frontend/src/tables/build/BuildLineTable.tsx
Due: Frontend

Account for consumed stock in requirements calculation
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/part/models.py
  src/frontend/src/tables/part/PartBuildAllocationsTable.tsx
Due: Backend Apps, Frontend

Reduce API requirements for BuildLineTable
  src/backend/InvenTree/build/serializers.py
  src/frontend/src/tables/build/BuildLineTable.tsx
Due: Backend Apps, Frontend

Docs updates
  docs/docs/assets/images/build/parts_allocated_consumed.png
  docs/docs/manufacturing/allocate.md
Due: none

Updated playwright testing
  src/frontend/src/forms/BuildForms.tsx
  src/frontend/tests/pages/pui_build.spec.ts
  src/frontend/tests/pages/pui_part.spec.ts
  src/frontend/tests/pui_plugins.spec.ts
Due: Frontend

Update src/frontend/src/forms/BuildForms.tsx
  src/frontend/src/forms/BuildForms.tsx
Due: Frontend

Update src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
Due: Frontend

Add unit test for filters
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/test_api.py
  src/frontend/src/tables/build/BuildLineTable.tsx
Due: Backend Apps, Frontend

Add functional tests
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

Tweak query count
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

Increase max query time for testing
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

bump further
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

bump
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

lower vite back down
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

fix umport
  src/frontend/src/components/nav/MainMenu.tsx
Due: Frontend

added server update task
  tasks.py
Due: none

adjust unit test again
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

Prevent consumption of "tracked" items
  src/backend/InvenTree/build/serializers.py
  src/frontend/src/forms/BuildForms.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
Due: Backend Apps, Frontend

Badges for supplier part
  src/frontend/src/pages/company/SupplierPartDetail.tsx
Due: Frontend

fix: The function should return early when in Docker environment (#10178)
  contrib/container/Dockerfile
  tasks.py
Due: none

Adjust playwright tests
  src/frontend/tests/pages/pui_build.spec.ts
Due: Frontend

Robistify playwright test
  src/frontend/tests/pages/pui_sales_order.spec.ts
Due: Frontend

Badges for supplier part (#10187)
  src/frontend/src/pages/company/SupplierPartDetail.tsx
  src/frontend/tests/pages/pui_sales_order.spec.ts
Due: Frontend

Fix table
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/part/PartBuildAllocationsTable.tsx
Due: Frontend
