Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

UX: Disable standard allocation for trackable parts (#11811) (#11967)
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/tests/pages/pui_build.spec.ts
Due: Frontend

plugin-validation-purchase-orders (#12094)
  src/backend/InvenTree/order/models.py
Due: Backend Apps

Remove built-in dashboard history widgets
  src/frontend/src/components/dashboard/DashboardWidgetLibrary.tsx
  src/frontend/src/components/dashboard/widgets/OrderHistoryWidget.tsx
Due: Frontend

Support initial filters for UseCalendar
  src/frontend/src/hooks/UseCalendar.tsx
Due: Frontend

[UI] Calendar updates
  src/frontend/src/components/calendar/OrderCalendar.tsx
  src/frontend/src/pages/build/BuildIndex.tsx
  src/frontend/src/pages/purchasing/PurchasingIndex.tsx
  src/frontend/src/pages/sales/SalesIndex.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
Due: Frontend

Remove built-in dashboard history widgets (#12114)
  src/frontend/src/components/dashboard/DashboardWidgetLibrary.tsx
  src/frontend/src/components/dashboard/widgets/OrderHistoryWidget.tsx
Due: Frontend

Calendar tweaks (#12115)
  src/frontend/src/components/calendar/OrderCalendar.tsx
  src/frontend/src/hooks/UseCalendar.tsx
  src/frontend/src/pages/build/BuildIndex.tsx
  src/frontend/src/pages/purchasing/PurchasingIndex.tsx
  src/frontend/src/pages/sales/SalesIndex.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
Due: Frontend

Add <GlobalPreviewDrawer> component
  src/frontend/src/components/nav/Layout.tsx
  src/frontend/src/components/previews/GlobalPreviewDrawer.tsx
  src/frontend/src/components/previews/PreviewDrawer.tsx
  src/frontend/src/states/PreviewDrawerState.tsx
Due: Frontend

Fix #12064: [Feature] Repair orders
  InvenTree/order/serializers.py
Due: none

Fix #12064: [Feature] Repair orders
  InvenTree/order/models.py
Due: none

Fix #12064: [Feature] Repair orders
  InvenTree/order/views.py
Due: none

Fix #12064: [Feature] Repair orders
  InvenTree/order/urls.py
Due: none

Fix #12064: [Feature] Repair orders
  InvenTree/order/admin.py
Due: none

Fix #12064: [Feature] Repair orders
  InvenTree/order/migrations/XXXX_repair_order.py
Due: none

Fix #12064: [Feature] Repair orders
  InvenTree/order/tests.py
Due: none

Fix #12064: [Feature] Repair orders
  InvenTree/order/frontend/src/components/RepairOrder/RepairOrderDetail.tsx
Due: none

Fix #12064: [Feature] Repair orders
  InvenTree/order/frontend/src/components/RepairOrder/RepairOrderTable.tsx
Due: none

Fix #12064: [Feature] Repair orders
  InvenTree/order/frontend/src/App.tsx
Due: none

Allow plugins to interact
  src/frontend/lib/types/Plugins.tsx
  src/frontend/src/components/plugins/PluginContext.tsx
Due: Frontend

provide either pk or instance data
  src/frontend/lib/types/Plugins.tsx
  src/frontend/src/components/plugins/PluginContext.tsx
  src/frontend/src/components/previews/GlobalPreviewDrawer.tsx
  src/frontend/src/components/previews/PreviewDrawer.tsx
  src/frontend/src/states/PreviewDrawerState.tsx
Due: Frontend

open preview drawer from calendar views
  src/frontend/src/components/calendar/OrderCalendar.tsx
  src/frontend/src/components/previews/GlobalPreviewDrawer.tsx
  src/frontend/src/components/previews/PreviewDrawer.tsx
  src/frontend/src/states/PreviewDrawerState.tsx
Due: Frontend

Fix migrations
  src/backend/InvenTree/company/migrations/0081_remove_company_notes_remove_manufacturerpart_notes_and_more.py
  src/backend/InvenTree/order/migrations/0121_remove_purchaseorder_notes_remove_returnorder_notes_and_more.py
Due: Backend Apps

Add Docker container health checks
  contrib/container/docker-compose.yml
Due: none

add new hotkey registration interface and hotkey modal
  src/frontend/lib/functions/Events.tsx
  src/frontend/lib/states/LocalLibState.tsx
  src/frontend/src/components/dashboard/DashboardLayout.tsx
  src/frontend/src/components/modals/HotkeyModal.tsx
  src/frontend/src/components/nav/Header.tsx
  src/frontend/src/components/nav/Layout.tsx
  src/frontend/src/components/nav/PageDetail.tsx
  src/frontend/src/contexts/ThemeContext.tsx
  src/frontend/src/defaults/actions.tsx
Due: Frontend

fix import
  src/frontend/lib/functions/Events.tsx
Due: Frontend

add printing hotkey
  src/frontend/src/components/buttons/PrintingActions.tsx
Due: Frontend

add todo
  src/frontend/src/components/nav/Layout.tsx
Due: Frontend

add hotkey for barcode scanning
  src/frontend/src/components/buttons/ScanButton.tsx
  src/frontend/src/components/nav/Header.tsx
Due: Frontend

register spotlight shortcut key
  src/frontend/src/components/buttons/SpotlightButton.tsx
  src/frontend/src/components/nav/Header.tsx
  src/frontend/src/components/nav/Layout.tsx
Due: Frontend

sort keys
  src/frontend/src/components/modals/HotkeyModal.tsx
Due: Frontend

render nicer overview
  src/frontend/src/components/modals/HotkeyModal.tsx
Due: Frontend

fix props
  src/frontend/src/components/buttons/SpotlightButton.tsx
Due: Frontend

expose for plugins
  src/frontend/CHANGELOG.md
  src/frontend/lib/index.ts
  src/frontend/package.json
Due: Frontend

feat(frontend): add hotkey registration function and hotkey helper modal (#12128)
  src/frontend/CHANGELOG.md
  src/frontend/lib/functions/Events.tsx
  src/frontend/lib/index.ts
  src/frontend/lib/states/LocalLibState.tsx
  src/frontend/package.json
  src/frontend/src/components/buttons/PrintingActions.tsx
  src/frontend/src/components/buttons/ScanButton.tsx
  src/frontend/src/components/buttons/SpotlightButton.tsx
  src/frontend/src/components/dashboard/DashboardLayout.tsx
  src/frontend/src/components/modals/HotkeyModal.tsx
  src/frontend/src/components/nav/Header.tsx
  src/frontend/src/components/nav/Layout.tsx
  src/frontend/src/components/nav/PageDetail.tsx
  src/frontend/src/contexts/ThemeContext.tsx
  src/frontend/src/defaults/actions.tsx
Due: Frontend

Remove reference to lead_time field
  docs/docs/report/context_variables.md
  src/backend/InvenTree/company/models.py
Due: Backend Apps

Remove reference to lead_time field (#12133)
  docs/docs/report/context_variables.md
  src/backend/InvenTree/company/models.py
Due: Backend Apps

add admin button hotkey
  src/frontend/src/components/buttons/AdminButton.tsx
Due: Frontend

add duplicate hotkey
  src/frontend/src/components/nav/PageDetail.tsx
  src/frontend/src/pages/build/BuildDetail.tsx
  src/frontend/src/pages/company/ManufacturerPartDetail.tsx
  src/frontend/src/pages/company/SupplierPartDetail.tsx
  src/frontend/src/pages/part/PartDetail.tsx
Due: Frontend

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
