Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Revert removed code
  src/frontend/src/components/forms/AuthenticationForm.tsx
Due: Frontend

Enhancement: Support Redis ACL User Logins (#10551)
  CHANGELOG.md
  docs/docs/start/config.md
  src/backend/InvenTree/InvenTree/cache.py
Due: none

make can_filter suppport more complex scenarios: - different filtername from fieldname - multiple fields with one filtername
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/users/serializers.py
Due: Backend Apps

fix removal
  src/backend/InvenTree/InvenTree/serializers.py
Due: none

Adjust playwright tests
  src/frontend/tests/pui_login.spec.ts
Due: Frontend

[UI] Adjust login error messages (#10556)
  src/backend/InvenTree/config_template.yaml
  src/frontend/src/functions/auth.tsx
  src/frontend/tests/pui_login.spec.ts
Due: Frontend

[UI] About InvenTree Tweak
  src/frontend/src/components/modals/AboutInvenTreeModal.tsx
Due: Frontend

Clear selected records when search term changes
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Clear selection after performing stock actions
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Frontend

[UI] About InvenTree Tweak (#10565)
  src/frontend/src/components/modals/AboutInvenTreeModal.tsx
Due: Frontend

[UI] Fix stock actions (#10566)
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Frontend

[UI] Remove placeholder text
  src/frontend/src/pages/build/BuildDetail.tsx
Due: Frontend

[UI] Remove placeholder text (#10569)
  src/frontend/src/pages/build/BuildDetail.tsx
Due: Frontend

Remove whitespace
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

fix schema?
  src/backend/InvenTree/build/serializers.py
Due: Backend Apps

add missing def
  src/backend/InvenTree/InvenTree/serializers.py
Due: none

Fix missing closing </div> tag
  src/backend/InvenTree/web/templates/web/index.html
Due: Backend Apps

add test
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

Fix missing closing </div> tag (#10572)
  src/backend/InvenTree/web/templates/web/index.html
Due: Backend Apps

fix schema fields
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/company/serializers.py
Due: Backend Apps

[docs] troubleshooting guide
  docs/docs/faq.md
Due: none

Add docs for showing docker logs
  docs/docs/start/docker_install.md
Due: none

[docs] Troubleshooting Guide (#10574)
  docs/docs/faq.md
  docs/docs/start/docker_install.md
Due: none

fix another serializer issue
  src/backend/InvenTree/build/serializers.py
Due: Backend Apps

further fixes
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

[UI] Enhance file-upload field
  src/frontend/src/components/forms/fields/ApiFormField.tsx
Due: Frontend

[UI] Fix broken dashboard link
  src/frontend/src/defaults/actions.tsx
Due: Frontend

refactor(backend): reduce duplication for tests
  src/backend/InvenTree/InvenTree/unit_test.py
  src/backend/InvenTree/build/test_api.py
  src/backend/InvenTree/company/test_api.py
  src/backend/InvenTree/order/test_api.py
  src/backend/InvenTree/part/test_api.py
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps

[UI] Enhance file-upload field (#10576)
  src/frontend/src/components/forms/fields/ApiFormField.tsx
Due: Frontend

extend tests
  src/backend/InvenTree/build/test_api.py
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

also process strings
  src/backend/InvenTree/InvenTree/serializers.py
Due: none

fix tests
  src/backend/InvenTree/InvenTree/unit_test.py
  src/backend/InvenTree/company/test_api.py
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps

fix text
  src/backend/InvenTree/InvenTree/unit_test.py
  src/backend/InvenTree/company/test_api.py
Due: Backend Apps

adjust last test
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps
