Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Fix merge conflicts
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Add comment
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Boundary updates
  docs/docs/assets/images/faq/boundary.png
  docs/docs/faq.md
  src/frontend/lib/components/Boundary.tsx
Due: Frontend

Add error code
  docs/docs/settings/error_codes.md
  src/frontend/lib/components/Boundary.tsx
Due: Frontend

Simplify BOM table rendering
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

add a few playwright tests, more incoming
  src/frontend/tests/pages/pui_stock.spec.ts
Due: Frontend

Hide BOM actions unless editing
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

Disable row expansion for now
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

Revert gitleaks changes
  src/backend/InvenTree/common/tests.py
  src/performance/tests.py
Due: Backend General

Remove gitleaks tags
  src/performance/tests.py
Due: none

Remove dead code
  src/frontend/src/tables/bom/BomSubassemblyTable.tsx
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

Remove commented code
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

more playwright
  src/frontend/tests/pages/pui_stock.spec.ts
Due: Frontend

add source and destination locations to table
  src/frontend/src/tables/stock/TransferOrderTable.tsx
Due: Frontend

Hide "top level stock location" panel
  src/frontend/src/pages/stock/LocationDetail.tsx
Due: Frontend

Hide "top level part category"
  src/frontend/src/pages/part/CategoryDetail.tsx
Due: Frontend

Adjust order quantity based on pack size
  src/frontend/src/components/wizards/OrderPartsWizard.tsx
Due: Frontend

Adjust playwright tests
  src/frontend/tests/pages/pui_stock.spec.ts
  src/frontend/tests/pui_permissions.spec.ts
Due: Frontend

Improve robustness of test
  src/frontend/tests/pages/pui_stock.spec.ts
Due: Frontend

Fix for category template creation
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Fix for category template creation (#11803)
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Adjust playwright tests
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Adjust form field text
  src/frontend/src/forms/BomForms.tsx
  src/frontend/tests/customization/customization.spec.ts
Due: Frontend

Bump software version to 1.3.2
  src/backend/InvenTree/InvenTree/version.py
Due: none

Bump software version to 1.3.2 (#11805)
  src/backend/InvenTree/InvenTree/version.py
Due: none

Update docs
  docs/docs/manufacturing/bom.md
Due: none

Further playwright fixes
  src/frontend/tests/pui_importing.spec.ts
Due: Frontend

Fix refresh action for test result table
  src/frontend/src/tables/stock/StockItemTestResultTable.tsx
Due: Frontend

Adjust system settings
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
Due: Frontend

Add subassembly expansion
  src/frontend/src/tables/bom/BomSubassemblyTable.tsx
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

Enable multi-level subassembly display
  src/frontend/src/tables/bom/BomSubassemblyTable.tsx
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

Adjust padding
  src/frontend/src/tables/bom/BomSubassemblyTable.tsx
Due: Frontend

Adds user setting to enable / disable subassembly view
  CHANGELOG.md
  docs/docs/settings/user.md
  src/backend/InvenTree/common/setting/user.py
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
  src/frontend/src/tables/bom/BomSubassemblyTable.tsx
  src/frontend/src/tables/bom/BomTable.tsx
Due: Backend General, Frontend

Adjust playwright tests
  src/frontend/tests/pui_settings.spec.ts
Due: Frontend

Add icon
  src/frontend/src/tables/bom/BomSubassemblyTable.tsx
Due: Frontend

Additional playwright tests
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

fix style
  docs/requirements.txt
Due: none

fix style
  contrib/container/requirements.txt
  docs/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

fix pip
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
Due: none

bump uv
  contrib/container/requirements.txt
Due: none
