Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Bump plugin version
  src/backend/InvenTree/plugin/builtin/barcodes/inventree_barcode.py
Due: Backend Apps

Add spotlight action to navigate to data import screen
  src/frontend/src/defaults/actions.tsx
Due: Frontend

Hide barcode action if disabled
  src/frontend/src/defaults/actions.tsx
Due: Frontend

Sort actions
  src/frontend/src/defaults/actions.tsx
Due: Frontend

Make spotlight scrollable
  src/frontend/src/components/nav/Layout.tsx
Due: Frontend

Docs for spotlight
  docs/docs/concepts/user_interface.md
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

[UI] Spotlight tweaks (#11305)
  docs/docs/concepts/user_interface.md
  src/frontend/src/components/nav/Layout.tsx
  src/frontend/src/defaults/actions.tsx
Due: Frontend

Fix unit test
  src/backend/InvenTree/company/models.py
Due: Backend Apps

Update base image in Dockerfile
  contrib/container/Dockerfile
Due: none

Bump CHANGELOG
  CHANGELOG.md
Due: none

Handle empty input values
  src/backend/InvenTree/importer/models.py
Due: Backend Apps

Add IMPORT_ID_FIELDS for more models
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/company/models.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/stock/models.py
Due: Backend Apps, Backend General

PK field takes highest priority
  src/backend/InvenTree/importer/models.py
Due: Backend Apps

Update import docs
  docs/docs/settings/import.md
Due: none

Tweak return type
  src/backend/InvenTree/importer/models.py
Due: Backend Apps

Fix for devcontainer build
  .devcontainer/Dockerfile
  .pre-commit-config.yaml
Due: none

Fix for devcontainer build (#11311)
  .devcontainer/Dockerfile
  .pre-commit-config.yaml
Due: none

Bump software version to 1.2.1
  src/backend/InvenTree/InvenTree/version.py
Due: none

[CI] Allow more test time
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps

Fix style issues
  src/backend/InvenTree/common/models.py
Due: Backend General

[CI] Allow more test time (#11314)
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps, Backend General

fix style
  contrib/container/requirements.txt
  docs/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

Update base image in Dockerfile (#11309)
  contrib/container/Dockerfile
Due: none

Update Dockerfile
  .devcontainer/Dockerfile
Due: none

disable performance for now
  .github/workflows/qc_checks.yaml
Due: none

Tweak docs for database migration
  .pre-commit-config.yaml
  docs/docs/start/migrate.md
Due: none

Tweak docs for database migration (#11327)
  .pre-commit-config.yaml
  docs/docs/start/migrate.md
Due: none

[bug] FIx for data migration
  src/backend/InvenTree/common/currency.py
Due: Backend General

Ignore error
  src/backend/InvenTree/plugin/samples/integration/validation_sample.py
Due: Backend Apps

[bug] FIx for data migration (#11329)
  src/backend/InvenTree/common/currency.py
  src/backend/InvenTree/plugin/samples/integration/validation_sample.py
Due: Backend Apps, Backend General

Add unit test for API
  src/backend/InvenTree/company/test_api.py
Due: Backend Apps

Playwright tests
  src/frontend/tests/pages/pui_company.spec.ts
Due: Frontend
