Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Code for auto-allocating tracked outputs
  src/backend/InvenTree/build/models.py
Due: Backend Apps

Refactor auto-allocation code
  src/backend/InvenTree/build/models.py
Due: Backend Apps

UI updates
  src/frontend/src/forms/BuildForms.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
Due: Frontend

Bug fix for pack quantity display (#10810)
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
Due: Frontend

Fix for string form fields
  src/frontend/src/components/forms/ApiForm.tsx
  src/frontend/src/components/forms/fields/TextField.tsx
Due: Frontend

Expose more serializer metadata
  src/backend/InvenTree/InvenTree/metadata.py
Due: none

Check if null values are not allowed
  src/frontend/lib/types/Forms.tsx
  src/frontend/src/components/forms/ApiForm.tsx
Due: Frontend

Auto-fill stock allocation for build order
  src/frontend/src/forms/BuildForms.tsx
Due: Frontend

Auto-fill allocation for sales orders
  src/frontend/src/forms/SalesOrderForms.tsx
Due: Frontend

Prevent recursive auto-fills
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
  src/frontend/src/components/render/Instance.tsx
Due: Frontend

[UI] Auto-fill stock allocation for build order (#10819)
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
  src/frontend/src/components/render/Instance.tsx
  src/frontend/src/forms/BuildForms.tsx
  src/frontend/src/forms/SalesOrderForms.tsx
Due: Frontend

Bug fix for loading boolean settings
  src/backend/InvenTree/InvenTree/config.py
Due: none

Remove debouncing from text field
  src/frontend/src/components/forms/fields/TextField.tsx
Due: Frontend

Add debounce to data import field
  src/frontend/src/components/importer/ImporterColumnSelector.tsx
Due: Frontend

Only apply for strings values
  src/frontend/src/components/importer/ImporterColumnSelector.tsx
Due: Frontend

Bug fix for loading boolean settings (#10826)
  src/backend/InvenTree/InvenTree/config.py
Due: none

Fix unit test
  src/frontend/tests/pui_forms.spec.ts
Due: Frontend

More unit test tweaks
  src/frontend/tests/pui_importing.spec.ts
Due: Frontend

Make icons red again
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
Due: Frontend

add dismissal diag
  src/backend/InvenTree/web/api.py
  src/frontend/src/states/GuideState.tsx
Due: Backend Apps, Frontend

Char fix (#10827)
  src/frontend/src/components/forms/fields/TextField.tsx
  src/frontend/src/components/importer/ImporterColumnSelector.tsx
  src/frontend/tests/pui_forms.spec.ts
  src/frontend/tests/pui_importing.spec.ts
Due: Frontend

Make icons red again (#10816)
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
Due: Frontend

Fix for setting custom status
  src/backend/InvenTree/stock/serializers.py
Due: Backend Apps

Fix for setting custom status when receiving stock items
  src/backend/InvenTree/order/models.py
Due: Backend Apps

devcontainer: Expose debug server on all ports
  .vscode/launch.json
Due: none

devcontainer: Expose debug server on all ports (#10833)
  .vscode/launch.json
Due: none

Allow caching for set_status
  src/backend/InvenTree/generic/states/states.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps, Backend General

Updated code and unit tests
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps

fix style
  docs/requirements.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

bump frontend resolution
  src/frontend/yarn.lock
Due: Frontend

[bug] State change fixes (#10832)
  src/backend/InvenTree/generic/states/states.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/test_api.py
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps, Backend General

[UI] Fix for form OPTIONS query
  src/frontend/src/components/forms/ApiForm.tsx
  src/frontend/src/hooks/UseForm.tsx
Due: Frontend

Add comment
  src/frontend/src/components/forms/ApiForm.tsx
Due: Frontend

Add playwright test
  src/frontend/tests/pages/pui_build.spec.ts
Due: Frontend

remove old pin message
  src/backend/requirements.in
Due: none

initial commit phase 1
  .env.example
  .github/workflows/ci.yml
  .gitignore
  EngineeringPlan.md
  MVP.md
  README.md
  contrib/container/docker-compose.yml
  docs/config.md
  docs/environment.md
  docs/phase1-checklist.md
  scripts/bootstrap_env.sh
Due: none

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
