Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Copy for SKU and MPN columns
  src/frontend/src/tables/purchasing/ManufacturerPartParametricTable.tsx
  src/frontend/src/tables/purchasing/ManufacturerPartTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
  src/frontend/src/tables/purchasing/SupplierPartParametricTable.tsx
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Frontend

Add more copy columns
  src/frontend/src/components/buttons/CopyButton.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderTable.tsx
  src/frontend/src/tables/sales/ReturnOrderTable.tsx
  src/frontend/src/tables/sales/SalesOrderShipmentTable.tsx
  src/frontend/src/tables/sales/SalesOrderTable.tsx
Due: Frontend

More tweaks
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/part/PartTable.tsx
Due: Frontend

Fix auto pricing overwriting manual purchase price #10846
  src/backend/InvenTree/order/serializers.py
  src/frontend/src/forms/PurchaseOrderForms.tsx
Due: Backend Apps, Frontend

Fix translation-related test failures
  src/backend/InvenTree/part/test_api.py
  src/backend/InvenTree/plugin/builtin/suppliers/test_supplier_barcodes.py
Due: Backend Apps

DNE style fix
  src/backend/InvenTree/plugin/base/barcodes/api.py
  src/backend/InvenTree/plugin/base/barcodes/mixins.py
Due: Backend Apps

[UI] Support default server language
  src/frontend/src/contexts/LanguageContext.tsx
  src/frontend/src/states/LocalState.tsx
Due: Frontend

Handle faulty theme
  src/frontend/src/contexts/ThemeContext.tsx
Due: Frontend

Add option for default language
  src/frontend/src/components/items/LanguageSelect.tsx
Due: Frontend

Improve language selection
  src/frontend/src/components/items/LanguageSelect.tsx
  src/frontend/src/contexts/LanguageContext.tsx
Due: Frontend

Brief docs entry
  docs/docs/concepts/user_interface.md
Due: none

Tweak playwright testing
  src/frontend/tests/pages/pui_purchase_order.spec.ts
Due: Frontend

never trust github conflict resolution
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Further cleanup
  src/frontend/tests/pages/pui_purchase_order.spec.ts
Due: Frontend

More copy cols
  src/frontend/src/tables/build/BuildAllocatedStockTable.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/part/PartTestResultTable.tsx
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Frontend

Fix typo
  docs/docs/concepts/user_interface.md
Due: none

Fix yarn build
  src/frontend/src/components/calendar/Calendar.tsx
  src/frontend/src/components/plugins/PluginContext.tsx
Due: Frontend

Added entry to api_version.py
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

bump docker image to python 3.14
  .pre-commit-config.yaml
  contrib/container/Dockerfile
  contrib/container/requirements.txt
Due: none

Style fix(again)
  src/backend/InvenTree/plugin/base/barcodes/mixins.py
Due: Backend Apps

bump weasyprint
  src/backend/requirements-3.14.txt
  src/backend/requirements.in
  src/backend/requirements.txt
Due: none

bump docker image to python 3.14 (#11414)
  .pre-commit-config.yaml
  contrib/container/Dockerfile
  contrib/container/requirements.txt
Due: none

disable css serializer settings
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/InvenTree/sanitizer.py
Due: none

try using nh3 instead
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/requirements-3.14.txt
  src/backend/requirements.in
  src/backend/requirements.txt
Due: none

add tests for backup and restore
  src/backend/InvenTree/InvenTree/backup.py
  src/backend/InvenTree/InvenTree/test_commands.py
Due: none

[UI] Copy cells expansion (#11410)
  src/frontend/src/components/buttons/CopyButton.tsx
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/CopyableCell.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/bom/BomTable.tsx
  src/frontend/src/tables/bom/UsedInTable.tsx
  src/frontend/src/tables/build/BuildAllocatedStockTable.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/build/BuildOrderTable.tsx
  src/frontend/src/tables/part/PartSalesAllocationsTable.tsx
  src/frontend/src/tables/part/PartTable.tsx
  src/frontend/src/tables/part/PartTestResultTable.tsx
  src/frontend/src/tables/purchasing/ManufacturerPartParametricTable.tsx
  src/frontend/src/tables/purchasing/ManufacturerPartTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderTable.tsx
  src/frontend/src/tables/purchasing/SupplierPartParametricTable.tsx
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
  src/frontend/src/tables/sales/ReturnOrderTable.tsx
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
  src/frontend/src/tables/sales/SalesOrderShipmentTable.tsx
  src/frontend/src/tables/sales/SalesOrderTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
  src/frontend/src/tables/stock/StockTrackingTable.tsx
  src/frontend/tests/pages/pui_purchase_order.spec.ts
Due: Frontend

Remove debug msg
  src/frontend/src/contexts/LanguageContext.tsx
Due: Frontend

Fix auto pricing overwriting manual purchase price #10846 (#11411)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/order/serializers.py
  src/frontend/src/forms/PurchaseOrderForms.tsx
Due: Backend Apps, Frontend

Fix calendar locale
  src/frontend/src/components/calendar/Calendar.tsx
  src/frontend/src/contexts/LanguageContext.tsx
Due: Frontend

[UI] Default locale (#11412)
  docs/docs/concepts/user_interface.md
  src/frontend/src/components/calendar/Calendar.tsx
  src/frontend/src/components/items/LanguageSelect.tsx
  src/frontend/src/components/plugins/PluginContext.tsx
  src/frontend/src/contexts/LanguageContext.tsx
  src/frontend/src/contexts/ThemeContext.tsx
  src/frontend/src/states/LocalState.tsx
Due: Frontend

complete test for restore
  src/backend/InvenTree/InvenTree/backup.py
  src/backend/InvenTree/InvenTree/test_commands.py
Due: none

Fix order API test failures and update related model/serializer logic
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

we do not need e2e on every matrix entry there is no realy db dep here
  src/backend/InvenTree/InvenTree/test_commands.py
Due: none

fix changelog format
  CHANGELOG.md
Due: none

add flag to allow bypass
  docs/docs/settings/error_codes.md
  docs/docs/start/backup.md
  src/backend/InvenTree/InvenTree/backup.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/test_commands.py
  tasks.py
Due: none

feat(backend): ensure restore of backups only works in correct enviroments (#11372)
  CHANGELOG.md
  docs/docs/settings/error_codes.md
  docs/docs/start/backup.md
  src/backend/InvenTree/InvenTree/backup.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/test_commands.py
  tasks.py
Due: none
