Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Fix for "annotated_scheduled_to_build_quantity"
  src/backend/InvenTree/part/filters.py
Due: Backend Apps

Further annotation updates
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/company/filters.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Add unit testing for annotation
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

Tweak unit test
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

fix admin tests and make them more robust
  src/backend/InvenTree/InvenTree/unit_test.py
Due: none

fix(backend): use correct settings patching
  src/backend/InvenTree/InvenTree/test_auth.py
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/plugin/samples/event/test_event_sample.py
  src/backend/InvenTree/plugin/samples/event/test_filtered_event_sample.py
  src/backend/InvenTree/plugin/test_api.py
  src/backend/InvenTree/plugin/test_plugin.py
Due: Backend Apps

and more fixes
  src/backend/InvenTree/InvenTree/test_middleware.py
Due: none

Cast annotated expression
  src/backend/InvenTree/part/filters.py
Due: Backend Apps

Specific fields required to work
  src/backend/InvenTree/part/filters.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Refactor other instances
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/company/filters.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

improve tests for admin actions
  src/backend/InvenTree/plugin/test_api.py
Due: Backend Apps

add UploadedImage model and migrate
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/common/admin.py
  src/backend/InvenTree/common/migrations/0040_uploadedimage.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/common/validators.py
  src/backend/InvenTree/part/models.py
  src/frontend/src/components/details/DetailsImage.tsx
  src/frontend/src/components/details/ImageThumbnails.tsx
  src/frontend/src/pages/part/PartDetail.tsx
Due: Backend Apps, Backend General, Frontend

Introducing aggregate reports. Reports which are not tied to a model type, but can be used to report over all instances of a model. Report "Print All Parts Report" functionality
  .pre-commit-config.yaml
  docs/docs/report/context_variables.md
  docs/docs/report/report.md
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/report/api.py
  src/backend/InvenTree/report/apps.py
  src/backend/InvenTree/report/helpers.py
  src/backend/InvenTree/report/serializers.py
  src/backend/InvenTree/report/templates/report/inventree_parts_report.html
  src/frontend/lib/enums/ModelInformation.tsx
  src/frontend/lib/enums/ModelType.tsx
  src/frontend/src/components/buttons/PrintingActions.tsx
  src/frontend/src/components/editors/TemplateEditor/PdfPreview/PdfPreview.tsx
  src/frontend/src/components/editors/TemplateEditor/TemplateEditor.tsx
  src/frontend/src/components/render/Instance.tsx
Due: Backend Apps, Frontend

add test for all scenarios
  src/backend/InvenTree/InvenTree/test_middleware.py
Due: none

use right http error code
  src/backend/InvenTree/InvenTree/middleware.py
  src/backend/InvenTree/InvenTree/test_middleware.py
Due: none

fix error code
  src/backend/InvenTree/InvenTree/middleware.py
  src/backend/InvenTree/InvenTree/test_middleware.py
Due: none

remove dependency on bundle
  src/backend/InvenTree/InvenTree/test_middleware.py
Due: none

feat: speed up docker publishing by spliting tests tasks for docker publishing into paralell also makes releasing safer as no tests are run in the then published image and the permissions are slimer
  .github/workflows/docker.yaml
Due: none

reset pre-commit
  .pre-commit-config.yaml
Due: none

fix test
  src/backend/InvenTree/InvenTree/test_views.py
Due: none

fix context in test
  src/backend/InvenTree/InvenTree/test_auth.py
Due: none

add update
  .github/workflows/docker.yaml
Due: none

add names
  .github/workflows/docker.yaml
Due: none

prepare image
  .github/workflows/docker.yaml
Due: none

add dev setup
  .github/workflows/docker.yaml
Due: none

remove migration stage
  .github/workflows/docker.yaml
Due: none

merge unit test
  .github/workflows/docker.yaml
Due: none

Update API docs
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/part/filters.py
Due: Backend Apps

Negative annotations (#9909)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/company/filters.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/part/filters.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

[FR] Add proactive system check for site_url (#9895)
  docs/docs/settings/error_codes.md
  src/backend/InvenTree/InvenTree/middleware.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/test_middleware.py
  src/backend/InvenTree/InvenTree/test_views.py
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/InvenTree/unit_test.py
  src/backend/InvenTree/plugin/samples/integration/test_sample.py
  src/backend/InvenTree/plugin/test_api.py
  src/backend/InvenTree/templates/config_error.html
Due: Backend Apps

Fix for URL redirect
  src/backend/InvenTree/InvenTree/urls.py
Due: none

Add part info to "Build Order Allocations" table
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/part/PartBuildAllocationsTable.tsx
Due: Frontend

Load calendar on first render
  src/frontend/src/components/calendar/Calendar.tsx
  src/frontend/src/hooks/UseCalendar.tsx
Due: Frontend

Dashboard widgets refresh automatically
  src/frontend/src/components/dashboard/widgets/QueryCountDashboardWidget.tsx
Due: Frontend

Fix for URL redirect (#9914)
  src/backend/InvenTree/InvenTree/urls.py
Due: none

Enhance "path" columns
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/TableHoverCard.tsx
  src/frontend/src/tables/part/PartTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Frontend

Add part info to "Build Order Allocations" table (#9915)
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/part/PartBuildAllocationsTable.tsx
Due: Frontend

Dashboard widgets refresh automatically (#9917)
  src/frontend/src/components/dashboard/widgets/QueryCountDashboardWidget.tsx
Due: Frontend

Load calendar on first render (#9916)
  src/frontend/src/components/calendar/Calendar.tsx
  src/frontend/src/hooks/UseCalendar.tsx
Due: Frontend

Fix vertical scrolling for table filter select
  src/frontend/src/tables/FilterSelectDrawer.tsx
Due: Frontend

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
