Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Adjust unit testing
  src/backend/InvenTree/part/test_part.py
  src/backend/InvenTree/plugin/base/barcodes/test_barcode.py
  src/backend/InvenTree/plugin/builtin/barcodes/test_inventree_barcode.py
  src/backend/InvenTree/stock/tests.py
Due: Backend Apps

refactor(backend): switch release pipeline to new pkgr version
  .github/workflows/release.yaml
Due: none

fix wrong assign
  .pkgr.yml
Due: none

Disable performance testing
  .github/workflows/qc_checks.yaml
Due: none

Bump software version to 1.2.1 (#11313)
  .github/workflows/qc_checks.yaml
  src/backend/InvenTree/InvenTree/version.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps, Backend General

Tweak unit tests
  src/backend/InvenTree/part/test_part.py
  src/backend/InvenTree/plugin/builtin/barcodes/test_inventree_barcode.py
Due: Backend Apps

Tweak docs
  docs/docs/plugins/builtin/inventree_barcode.md
Due: none

invoke command updates
  src/backend/InvenTree/InvenTree/ready.py
  tasks.py
Due: none

Disable warning message (for now)
  src/backend/InvenTree/InvenTree/backends.py
Due: none

Fix typo
  src/backend/InvenTree/InvenTree/ready.py
Due: none

Remove debug statement
  src/backend/InvenTree/InvenTree/ready.py
Due: none

Add warning message if isGeneratingSchema called falls through unexpectedly
  src/backend/InvenTree/InvenTree/ready.py
Due: none

[setup] invoke command updates (#11340)
  src/backend/InvenTree/InvenTree/backends.py
  src/backend/InvenTree/InvenTree/ready.py
  tasks.py
Due: none

Change default barcode type (#11304)
  docs/docs/plugins/builtin/inventree_barcode.md
  src/backend/InvenTree/part/test_part.py
  src/backend/InvenTree/plugin/base/barcodes/test_barcode.py
  src/backend/InvenTree/plugin/builtin/barcodes/inventree_barcode.py
  src/backend/InvenTree/plugin/builtin/barcodes/test_inventree_barcode.py
  src/backend/InvenTree/stock/tests.py
Due: Backend Apps

Fix for ready.py
  src/backend/InvenTree/InvenTree/ready.py
Due: none

Rearrange
  src/backend/InvenTree/InvenTree/ready.py
Due: none

remove funding
  .github/FUNDING.yml
Due: none

Update Dockerfile
  .devcontainer/Dockerfile
Due: none

remove funding (#11347)
  .github/FUNDING.yml
Due: none

Fix for ready.py (#11346)
  src/backend/InvenTree/InvenTree/ready.py
Due: none

disable traceid gen in unsecure context
  src/frontend/src/App.tsx
Due: Frontend

disable traceid gen in unsecure context (#11349)
  src/frontend/src/App.tsx
Due: Frontend

make INVENTREE_WEB_PORT more usefull
  contrib/container/.env
  contrib/container/Caddyfile
  contrib/container/docker-compose.yml
Due: none

fix warnings
  .github/workflows/release.yaml
Due: none

also publish to release artifacts
  .github/workflows/release.yaml
Due: none

Revert "chore(deps): bump docker/login-action in the dependencies group (#11270)"
  .github/workflows/docker.yaml
Due: none

refactor(backend): switch release pipeline to new pkgr version (#11336)
  .github/workflows/release.yaml
  .pkgr.yml
Due: none

Prevent migration check if performing DB update operations
  src/backend/InvenTree/InvenTree/apps.py
Due: none

Prevent settings write during data imports
  src/backend/InvenTree/common/settings.py
Due: Backend General

Prevent exchange rate update during migration processes
  src/backend/InvenTree/InvenTree/tasks.py
Due: none

Allow exchange rate updates during tests or shell session
  src/backend/InvenTree/InvenTree/tasks.py
Due: none

Add --no-drop option for dbrestore
  tasks.py
Due: none

Prevent migration check if performing DB update operations (#11356)
  src/backend/InvenTree/InvenTree/apps.py
  src/backend/InvenTree/InvenTree/tasks.py
  src/backend/InvenTree/common/settings.py
Due: Backend General

Bump software version to 1.2.2
  src/backend/InvenTree/InvenTree/version.py
Due: none

Added More Info In Barcode API Scans
  src/backend/InvenTree/plugin/base/barcodes/api.py
  src/backend/InvenTree/plugin/base/barcodes/mixins.py
Due: Backend Apps

Add NotFound to base Response
  src/backend/InvenTree/plugin/base/barcodes/api.py
  src/backend/InvenTree/plugin/base/barcodes/mixins.py
Due: Backend Apps
