Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Expose dev server on all interfaces
  src/frontend/playwright.config.ts
  tasks.py
Due: Frontend

[UI] Implement "checked_by" for SalesOrderShipment (#10654)
  CHANGELOG.md
  docs/docs/assets/images/order/so_shipment_check.png
  docs/docs/sales/sales_order.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/test_sales_order.py
  src/backend/InvenTree/part/serializers.py
  src/frontend/src/functions/icons.tsx
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
  src/frontend/src/pages/sales/SalesOrderShipmentDetail.tsx
  src/frontend/src/tables/sales/SalesOrderShipmentTable.tsx
Due: Backend Apps, Backend General, Frontend

Devcontainer tweaks (#10658)
  .devcontainer/docker-compose.yml
  src/frontend/playwright.config.ts
  tasks.py
Due: Frontend

Fix for 'price_breaks' field in PartSerializer
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Refactor user display columns
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/build/BuildOrderTable.tsx
  src/frontend/src/tables/settings/ApiTokenTable.tsx
  src/frontend/src/tables/stock/StockItemTestResultTable.tsx
Due: Frontend

More refactoring
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/part/PartParameterTable.tsx
Due: Frontend

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Table refactoring:
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
Due: Frontend

[feature] Project code per line (#10657)
  CHANGELOG.md
  docs/docs/concepts/project_codes.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/order/migrations/0114_purchaseorderextraline_project_code_and_more.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
  src/frontend/src/forms/CommonForms.tsx
  src/frontend/src/forms/PurchaseOrderForms.tsx
  src/frontend/src/forms/ReturnOrderForms.tsx
  src/frontend/src/forms/SalesOrderForms.tsx
  src/frontend/src/tables/general/ExtraLineItemTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
  src/frontend/src/tables/sales/ReturnOrderLineItemTable.tsx
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
Due: Backend Apps, Frontend

[UI] User column (#10661)
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/build/BuildOrderTable.tsx
  src/frontend/src/tables/part/PartParameterTable.tsx
  src/frontend/src/tables/settings/ApiTokenTable.tsx
  src/frontend/src/tables/stock/StockItemTestResultTable.tsx
Due: Frontend

Fix for 'price_breaks' field in PartSerializer (#10659)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Table refactoring: (#10662)
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
Due: Frontend

backup: spread connection options
  src/backend/InvenTree/InvenTree/backup.py
Due: none

Adjust default value
  src/backend/InvenTree/InvenTree/backup.py
Due: none

Refactor image handling: remove unused method, and enhance tests for image duplication and migration.
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/common/test_api.py
  src/backend/InvenTree/common/test_migrations.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps, Backend General

Fix: Rename copy_image to copy_images in PartDetail and PartTable components
  src/backend/InvenTree/common/helpers.py
  src/frontend/src/components/details/DetailsImage.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/tables/part/PartTable.tsx
Due: Backend General, Frontend

Refactor code structure for improved readability and maintainability
  src/backend/InvenTree/company/serializers.py
Due: Backend Apps

Backup opts tweak (#10663)
  src/backend/InvenTree/InvenTree/backup.py
Due: none

Enhance image prefetching in CompanySerializer: add optional images queryset and update filters
  src/backend/InvenTree/common/filters.py
  src/backend/InvenTree/company/serializers.py
Due: Backend Apps, Backend General

Fix: Remove 'images' field from PartOptionsAPITest actions check
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

Fix: Update references in serializers and API for InvenTreeImage class
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/common/api.py
Due: Backend Apps, Backend General

remove duplicate template tag
  src/backend/InvenTree/InvenTree/templatetags/inventree_extras.py
Due: none

Add "multiplier" argument to render_currency
  src/backend/InvenTree/InvenTree/helpers_model.py
Due: none

Improve render_currency
  src/backend/InvenTree/InvenTree/helpers_model.py
Due: none

Improve maths tags
  src/backend/InvenTree/report/templatetags/report.py
Due: Backend Apps

Updated docs
  docs/docs/report/helpers.md
Due: none

Improved feedback from maths tags
  src/backend/InvenTree/report/models.py
  src/backend/InvenTree/report/templatetags/report.py
Due: Backend Apps

Updated unit testing
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Improved rendering of printing errors
  src/frontend/src/components/forms/ApiForm.tsx
Due: Frontend

Add extra test for render_currency tag
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Enfoce multiplier type
  src/backend/InvenTree/InvenTree/helpers_model.py
Due: none

Fix docstrings
  src/backend/InvenTree/report/templatetags/report.py
Due: Backend Apps

Improved error handling
  src/backend/InvenTree/InvenTree/helpers_model.py
Due: none

Remove defunct unit test
  src/backend/InvenTree/part/test_part.py
Due: Backend Apps

Adds base class for pricing mixin
  src/backend/InvenTree/plugin/base/integration/PricingMixin.py
  src/backend/InvenTree/plugin/mixins/__init__.py
  src/backend/InvenTree/plugin/plugin.py
Due: Backend Apps

Adds base pricing plugin
  docs/docs/settings/global.md
  src/backend/InvenTree/common/currency.py
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/plugin/builtin/integration/pricing.py
  src/backend/InvenTree/plugin/registry.py
  src/frontend/src/pages/Index/Settings/AdminCenter/CurrencyManagementPanel.tsx
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
Due: Backend Apps, Backend General, Frontend

Fix unit tests
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Add helper function to fetch pricing plugin
  src/backend/InvenTree/common/pricing.py
Due: Backend General

Report tag fixes (#10668)
  docs/docs/report/helpers.md
  src/backend/InvenTree/InvenTree/helpers_model.py
  src/backend/InvenTree/InvenTree/templatetags/inventree_extras.py
  src/backend/InvenTree/part/test_part.py
  src/backend/InvenTree/report/models.py
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
  src/frontend/src/components/forms/ApiForm.tsx
Due: Backend Apps, Frontend

Stub functions for PricingMixin
  src/backend/InvenTree/common/pricing.py
  src/backend/InvenTree/plugin/base/integration/PricingMixin.py
Due: Backend Apps, Backend General
