Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Add documentation
  docs/docs/assets/images/concepts/notes_tab.png
  docs/docs/concepts/notes.md
  docs/mkdocs.yml
Due: none

Prevent image clicking if not in editing mode
  src/frontend/src/components/editors/NotesEditor.css
  src/frontend/src/components/editors/NotesEditor.tsx
Due: Frontend

[UI] Adjust table auto height
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Fix comment
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

update messaging, add 'added' line in history
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/stock/test_api.py
  src/backend/InvenTree/stock/tests.py
  src/frontend/src/forms/StockForms.tsx
Due: Backend Apps, Backend General, Frontend

[UI] Adjust table auto height (#12016)
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

chore: improve InvenTree maintenance path
  src/backend/InvenTree/manage.py
  src/performance/tests.py
Due: none

Add "location" field to StockCountSerializer
  src/backend/InvenTree/stock/serializers.py
Due: Backend Apps

Adjust location on stock count
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/serializers.py
  src/frontend/src/forms/StockForms.tsx
Due: Backend Apps, Frontend

Add unit tests
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps

Add docs
  docs/docs/stock/adjust.md
Due: none

Update API and CHANGELOG
  CHANGELOG.md
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Plugin validation tweak (#12013)
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/stock/models.py
Due: Backend Apps, Backend General

fix: exclude revision family from duplicate IPN check
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/test_part.py
Due: Backend Apps

Fix text for plugin activation dialog
  src/frontend/src/tables/plugin/PluginListTable.tsx
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

reworked history logic
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/stock/tests.py
Due: Backend Apps

Count to location (#12019)
  CHANGELOG.md
  docs/docs/stock/adjust.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/stock/test_api.py
  src/frontend/src/forms/StockForms.tsx
Due: Backend Apps, Frontend

removed old transfer logic
  src/backend/InvenTree/stock/serializers.py
Due: Backend Apps

remove formatting changes from vite file
  src/frontend/vite.config.ts
Due: Frontend

Fix text for plugin activation dialog (#12021)
  src/frontend/src/tables/plugin/PluginListTable.tsx
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

update lingui settings
  src/frontend/.linguirc
  src/frontend/lingui.config.ts
Due: Frontend

lower @lingui pacakges and typescript
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

fix typing
  src/backend/InvenTree/plugin/installer.py
Due: Backend Apps

new packager setup: also release to stable
  .github/workflows/release.yaml
Due: none

Bump InvenTree software version to 1.3.4
  src/backend/InvenTree/InvenTree/version.py
Due: none

fix missing param
  .github/workflows/release.yaml
Due: none

chore(backend): also release packages to stable in the new packager.io repo (#12023)
  .github/workflows/release.yaml
Due: none

Bump InvenTree software version to 1.3.4 (#12024)
  src/backend/InvenTree/InvenTree/version.py
Due: none

chore(backend): also release packages to stable in the new packager.io repo (#12023) (#12025)
  .github/workflows/release.yaml
Due: none

dev tools bump
  .github/workflows/qc_checks.yaml
Due: none

fix style
  src/backend/requirements.txt
Due: none

docker use distroless
  contrib/container/Dockerfile
Due: none

Tweak task offloading
  src/backend/InvenTree/InvenTree/tasks.py
Due: none

Read-only ScheduledTask admin
  src/backend/InvenTree/InvenTree/admin.py
Due: none

Add action for immediate trigger
  src/backend/InvenTree/InvenTree/admin.py
Due: none

Prevent editing of UserSession via django admin
  src/backend/InvenTree/InvenTree/admin.py
Due: none

Make StockTrackingAdmin read-only
  src/backend/InvenTree/stock/admin.py
Due: Backend Apps

Reduce permission scope on common admin models
  src/backend/InvenTree/common/admin.py
Due: Backend General

Additional unit tests for task offloading
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/test_helpers/__init__.py
  src/backend/InvenTree/InvenTree/test_helpers/sample_tasks.py
  src/backend/InvenTree/InvenTree/test_tasks.py
Due: none

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
