Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: apps, general

add encoding
  .github/scripts/version_check.py
Due: none

bump deps
  src/backend/requirements.txt
Due: none

fix api version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Expose ModelInformationDict to plugins
  src/frontend/lib/index.ts
  src/frontend/package.json
Due: none

Expose internal modal dict
  src/frontend/lib/index.ts
  src/frontend/lib/types/Plugins.tsx
  src/frontend/src/components/plugins/PluginContext.tsx
Due: none

Add comment
  src/frontend/lib/types/Plugins.tsx
Due: none

Fix import string
  src/frontend/lib/types/Plugins.tsx
Due: none

Expose ModelInformationDict to plugins (#9810)
  src/frontend/lib/index.ts
  src/frontend/lib/types/Plugins.tsx
  src/frontend/package.json
  src/frontend/src/components/plugins/PluginContext.tsx
Due: none

Remove frontend code
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/pages/part/PartSchedulingDetail.tsx
Due: none

Remove references to setting
  docs/docs/settings/user.md
  src/backend/InvenTree/common/setting/user.py
Due: general

Remove API endpoint
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/part/test_api.py
Due: apps

Docs updates
  docs/docs/part/scheduling.md
  docs/docs/part/views.md
  docs/mkdocs.yml
Due: none

add sqlite tracing
  src/backend/InvenTree/InvenTree/tracing.py
  src/backend/requirements.in
  src/backend/requirements.txt
Due: none

add system metrics
  src/backend/InvenTree/InvenTree/tracing.py
  src/backend/requirements.in
  src/backend/requirements.txt
Due: none

instument wsgi
  src/backend/InvenTree/InvenTree/wsgi.py
  src/backend/requirements.in
  src/backend/requirements.txt
Due: none

make dbengine better accessible
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/tracing.py
  src/backend/InvenTree/InvenTree/version.py
Due: none

fix instruction
  src/backend/InvenTree/InvenTree/tracing.py
Due: none

instrument worker
  src/backend/InvenTree/InvenTree/tracing.py
Due: none

track task scheduling
  src/backend/InvenTree/InvenTree/tasks.py
Due: none

trace common tasks
  src/backend/InvenTree/InvenTree/tasks.py
Due: none

patch in support for django q
  src/backend/InvenTree/InvenTree/tracing.py
  src/backend/InvenTree/common/models.py
Due: general

trace various tasks
  src/backend/InvenTree/build/tasks.py
  src/backend/InvenTree/common/tasks.py
  src/backend/InvenTree/order/tasks.py
  src/backend/InvenTree/part/tasks.py
  src/backend/InvenTree/plugin/base/event/events.py
  src/backend/InvenTree/report/tasks.py
  src/backend/InvenTree/stock/tasks.py
Due: apps, general

add trcing for other dbs
  src/backend/InvenTree/InvenTree/tracing.py
  src/backend/requirements.in
  src/backend/requirements.txt
Due: none

ignore coverage on tracing stuff
  src/backend/InvenTree/InvenTree/tracing.py
  src/backend/InvenTree/common/models.py
Due: general

more ignorance
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/tracing.py
Due: none

fix resolution
  src/frontend/yarn.lock
Due: none

feat: add cluster monitor task
  src/backend/requirements.in
  src/backend/requirements.txt
  tasks.py
Due: none

better error message
  src/backend/InvenTree/InvenTree/tests.py
Due: none

fix resolution again
  src/frontend/package.json
  src/frontend/yarn.lock
Due: none

fix paths
  src/backend/InvenTree/InvenTree/tests.py
Due: none

Update tests.py
  src/backend/InvenTree/InvenTree/tests.py
Due: none

fix security issue with old setup
  .github/workflows/do_release.yaml
Due: none

save global warning to db
  src/backend/InvenTree/InvenTree/config.py
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/common/settings.py
Due: general

fix import
  src/backend/InvenTree/InvenTree/config.py
Due: none

feat: add cluster monitor task (#9812)
  src/backend/requirements.in
  src/backend/requirements.txt
  tasks.py
Due: none

feat(backend): improve worker tracing (#9808)
  contrib/container/gunicorn.conf.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/tasks.py
  src/backend/InvenTree/InvenTree/tracing.py
  src/backend/InvenTree/InvenTree/version.py
  src/backend/InvenTree/InvenTree/wsgi.py
  src/backend/InvenTree/build/tasks.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/tasks.py
  src/backend/InvenTree/gunicorn.conf.py
  src/backend/InvenTree/order/tasks.py
  src/backend/InvenTree/part/tasks.py
  src/backend/InvenTree/plugin/base/event/events.py
  src/backend/InvenTree/report/tasks.py
  src/backend/InvenTree/stock/tasks.py
  src/backend/requirements.in
  src/backend/requirements.txt
Due: apps, general

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

more import fixes / docs
  src/backend/InvenTree/common/settings.py
Due: general

fix style
  tasks.py
Due: none

Path conditions:
  apps: any of: src/backend/InvenTree/build, src/backend/InvenTree/company, src/backend/InvenTree/data_exporter, src/backend/InvenTree/importer, src/backend/InvenTree/machine, src/backend/InvenTree/order, src/backend/InvenTree/part, src/backend/InvenTree/plugin, src/backend/InvenTree/report, src/backend/InvenTree/stock, src/backend/InvenTree/users, src/backend/InvenTree/web
  general: any of: src/backend/InvenTree/generic, src/backend/InvenTree/common
