Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

try to prevent race condition
  src/frontend/src/components/wizards/ImportPartWizard.tsx
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Update MAX_VERSION to '2.0.0' in version.py
  src/backend/InvenTree/plugin/samples/integration/version.py
Due: Backend Apps

fix import
  src/backend/InvenTree/part/api.py
Due: Backend Apps

Fix user defined radius
  src/frontend/lib/types/Core.tsx
  src/frontend/src/defaults/defaults.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/UserThemePanel.tsx
Due: Frontend

Update software version to 1.1.0 dev (#10318)
  src/backend/InvenTree/InvenTree/version.py
  src/backend/InvenTree/plugin/samples/integration/version.py
Due: Backend Apps

Fix user defined radius (#10327)
  src/frontend/lib/types/Core.tsx
  src/frontend/src/defaults/defaults.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/UserThemePanel.tsx
Due: Frontend

Update version number to 1.0.1
  src/backend/InvenTree/InvenTree/version.py
Due: none

OrderPartsWizard: display part stock data, requirements, and data from the Build Order (default quantity), and give the user the ability to choose.
  src/frontend/src/components/wizards/OrderPartsWizard.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
Due: Frontend

Bump dummy plugin version
  src/backend/InvenTree/plugin/samples/integration/version.py
Due: Backend Apps

do not show quantiy
  src/frontend/src/components/wizards/OrderPartsWizard.tsx
Due: Frontend

Bump version number to 1.0.1
  src/backend/InvenTree/InvenTree/version.py
Due: none

Bump dummy plugin version (#10330)
  src/backend/InvenTree/InvenTree/version.py
  src/backend/InvenTree/plugin/samples/integration/version.py
Due: Backend Apps

refactor api calls in pui tests
  src/frontend/src/components/wizards/ImportPartWizard.tsx
  src/frontend/tests/api.ts
  src/frontend/tests/pages/pui_dashboard.spec.ts
  src/frontend/tests/pages/pui_part.spec.ts
  src/frontend/tests/pui_machines.spec.ts
  src/frontend/tests/pui_permissions.spec.ts
  src/frontend/tests/pui_plugins.spec.ts
  src/frontend/tests/pui_printing.spec.ts
  src/frontend/tests/pui_settings.spec.ts
  src/frontend/tests/settings.ts
Due: Frontend

try to fix tests again?
  src/frontend/tests/helpers.ts
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

fix tests
  src/frontend/tests/settings.ts
Due: Frontend

Exclude field from stock-item import
  src/backend/InvenTree/stock/serializers.py
Due: Backend Apps

fix defaults
  src/backend/InvenTree/InvenTree/tracing.py
Due: none

fix ignore
  src/backend/InvenTree/InvenTree/settings.py
Due: none

fix some issues
  src/backend/InvenTree/common/tests.py
  src/backend/InvenTree/generic/states/tags.py
  src/backend/InvenTree/plugin/base/integration/test_mixins.py
Due: Backend Apps, Backend General

Exclude field from stock-item import (#10333)
  src/backend/InvenTree/stock/serializers.py
Due: Backend Apps

fix(backend): simplify siteurl testing
  src/backend/InvenTree/InvenTree/test_middleware.py
Due: none

add multi-site test
  src/backend/InvenTree/InvenTree/test_middleware.py
Due: none

pass off site_url check if more than one trusted origin is set
  src/backend/InvenTree/InvenTree/middleware.py
Due: none

fix type
  src/backend/InvenTree/generic/states/transition.py
Due: Backend General

Fix for RenderStockItem
  src/frontend/src/components/render/Stock.tsx
Due: Frontend

Fix for RenderStockItem (#10336)
  src/frontend/src/components/render/Stock.tsx
Due: Frontend

fix small type issue
  src/backend/InvenTree/report/models.py
Due: Backend Apps

ignore possible false warning
  src/backend/InvenTree/build/api.py
Due: Backend Apps

address invalid-argument-type
  pyproject.toml
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/common/notifications.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/common/settings.py
  src/backend/InvenTree/common/tests.py
  src/backend/InvenTree/plugin/builtin/labels/inventree_machine.py
Due: Backend Apps, Backend General

fix type for 3.9
  src/backend/InvenTree/common/notifications.py
  src/backend/InvenTree/common/settings.py
Due: Backend General

ignore a few edge cases
  src/backend/InvenTree/InvenTree/config.py
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/plugin/builtin/labels/inventree_label.py
  src/backend/InvenTree/report/models.py
Due: Backend Apps

update types
  src/backend/InvenTree/InvenTree/permissions.py
Due: none

unify test target
  src/backend/InvenTree/plugin/samples/mail/test_mail_sample.py
Due: Backend Apps

extend types
  src/backend/InvenTree/InvenTree/helpers_email.py
  src/backend/InvenTree/common/models.py
Due: Backend General

Tweak sample plugin
  src/backend/InvenTree/plugin/samples/integration/user_interface_sample.py
Due: Backend Apps

Re-fetch panels when instance changes
  src/frontend/src/hooks/UsePluginPanels.tsx
Due: Frontend

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
