Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

extend testing
  src/backend/InvenTree/web/tests.py
Due: Backend Apps

add ftue
  src/backend/InvenTree/web/types.py
  src/frontend/src/pages/Index/Settings/AdminCenter/HomePanel.tsx
Due: Backend Apps, Frontend

ensure links can have nice texts too
  src/backend/InvenTree/web/types.py
Due: Backend Apps

fix dismissal logic to respect user
  src/backend/InvenTree/web/api.py
Due: Backend Apps

fix test
  src/backend/InvenTree/web/tests.py
Due: Backend Apps

add key to actiongrid
  src/frontend/src/components/settings/QuickAction.tsx
Due: Frontend

add links to tipps
  src/frontend/lib/components/Tipp.tsx
  src/frontend/lib/types/Core.tsx
Due: Frontend

fix firstuse check
  src/backend/InvenTree/web/types.py
Due: Backend Apps

Refactor API filtering for endpoints
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/filters.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/serializers.py
  src/frontend/src/tables/general/ParameterTable.tsx
Due: Backend General, Frontend

fix style
  src/backend/requirements.txt
Due: none

fix assertation
  src/backend/InvenTree/web/tests.py
Due: Backend Apps

Revert change to parameters property
  src/backend/InvenTree/InvenTree/models.py
Due: none

adjust assertation
  src/backend/InvenTree/web/tests.py
Due: Backend Apps

Define GenericRelationship for linking model
  src/backend/InvenTree/InvenTree/models.py
Due: none

Refactoring some code
  src/backend/InvenTree/company/api.py
Due: Backend Apps

Add a generic way to back-annotate and prefetch parameters for any model type
  src/backend/InvenTree/InvenTree/models.py
Due: none

Change panel position
  src/frontend/src/pages/company/ManufacturerPartDetail.tsx
  src/frontend/src/pages/company/SupplierPartDetail.tsx
  src/frontend/src/pages/part/PartDetail.tsx
Due: Frontend

Directly annotate parameters against different model serializers
  src/backend/InvenTree/company/api.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

remove defunct admin classes
  src/backend/InvenTree/part/admin.py
Due: Backend Apps

Run plugin validation against parameter
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/plugin/base/integration/ValidationMixin.py
  src/backend/InvenTree/plugin/samples/integration/validation_sample.py
Due: Backend Apps, Backend General

Fix prefetching for PartSerializer
  src/backend/InvenTree/part/api.py
Due: Backend Apps

Implement generic "filtering" against queryset
  src/backend/InvenTree/common/filters.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/filters.py
Due: Backend Apps, Backend General

Implement generic "ordering" by parameter
  src/backend/InvenTree/common/filters.py
  src/backend/InvenTree/part/api.py
Due: Backend Apps, Backend General

Make parametric table generic
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/lib/enums/ModelInformation.tsx
  src/frontend/lib/enums/ModelType.tsx
  src/frontend/src/forms/PartForms.tsx
  src/frontend/src/pages/part/CategoryDetail.tsx
  src/frontend/src/tables/general/ParametricDataTable.tsx
  src/frontend/src/tables/general/ParametricDataTableFilters.tsx
  src/frontend/src/tables/part/ParametricPartTable.tsx
Due: Frontend

Refactor segmented panels
  src/frontend/src/components/panels/Panel.tsx
  src/frontend/src/components/panels/SegmentedControlPanel.tsx
  src/frontend/src/pages/build/BuildIndex.tsx
  src/frontend/src/pages/purchasing/PurchasingIndex.tsx
  src/frontend/src/pages/sales/SalesIndex.tsx
Due: Frontend

Consolidate part table views
  src/frontend/src/pages/part/CategoryDetail.tsx
Due: Frontend

Fix for parametric part table
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/filters.py
Due: Backend General

Add parametric tables for company views
  src/frontend/src/pages/purchasing/PurchasingIndex.tsx
  src/frontend/src/pages/sales/SalesIndex.tsx
  src/frontend/src/tables/company/ParametericCompanyTable.tsx
  src/frontend/src/tables/general/ParametricDataTable.tsx
Due: Frontend

Fix typo in file name
  src/frontend/src/pages/purchasing/PurchasingIndex.tsx
  src/frontend/src/pages/sales/SalesIndex.tsx
  src/frontend/src/tables/company/ParametricCompanyTable.tsx
Due: Frontend

Prefetch to reduce hits
  src/backend/InvenTree/common/api.py
Due: Backend General

docs: brief writeup for env-vars on webserver in Dockerfile
  docs/docs/start/config.md
Due: none

Add generic API mixin for filtering and ordering by parameter
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/company/api.py
  src/backend/InvenTree/part/api.py
  src/frontend/src/components/buttons/SegmentedIconControl.tsx
Due: Backend Apps, Frontend

Fix hook for rebuilding template parameters
  src/backend/InvenTree/common/filters.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/tasks.py
  src/backend/InvenTree/part/tasks.py
Due: Backend Apps, Backend General

Remove serializer
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Remove old models
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/common/migrations/0041_auto_20251028_1112.py
  src/backend/InvenTree/company/migrations/0077_delete_manufacturerpartparameter.py
  src/backend/InvenTree/company/models.py
  src/backend/InvenTree/part/filters.py
  src/backend/InvenTree/part/migrations/0071_alter_partparametertemplate_name.py
  src/backend/InvenTree/part/migrations/0144_partcategoryparametertemplate_template.py
  src/backend/InvenTree/part/migrations/0145_remove_partparametertemplate_selectionlist_and_more.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/plugin/base/supplier/helpers.py
  src/backend/InvenTree/plugin/builtin/exporter/part_parameter_exporter.py
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/users/ruleset.py
Due: Backend Apps, Backend General

Fix code for copying parameters from category
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/report/templatetags/report.py
Due: Backend Apps

Implement more parametric tables:
  src/frontend/src/pages/purchasing/PurchasingIndex.tsx
  src/frontend/src/tables/general/ParametricDataTable.tsx
  src/frontend/src/tables/purchasing/ManufacturerPartParametricTable.tsx
  src/frontend/src/tables/purchasing/SupplierPartParametricTable.tsx
Due: Frontend

Add parameter support for orders
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
Due: Backend Apps

Add UI support for parameters against orders
  src/frontend/src/components/panels/ParametersPanel.tsx
  src/frontend/src/pages/purchasing/PurchaseOrderDetail.tsx
  src/frontend/src/pages/purchasing/PurchasingIndex.tsx
  src/frontend/src/pages/sales/ReturnOrderDetail.tsx
  src/frontend/src/pages/sales/SalesIndex.tsx
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
  src/frontend/src/tables/general/ParametricDataTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderParametricTable.tsx
  src/frontend/src/tables/sales/ReturnOrderParametricTable.tsx
  src/frontend/src/tables/sales/SalesOrderParametricTable.tsx
Due: Frontend

Update API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
