Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Strip potentially dangerous tags from SVG files (#12687)
  src/backend/InvenTree/InvenTree/sanitizer.py
  src/backend/InvenTree/InvenTree/tests.py
Due: none

User permissions check for Attachment API (#12689)
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/test_api.py
Due: Backend General

[UI] Data import for order lines
  src/frontend/src/components/items/LineItemCreationMenu.tsx
  src/frontend/src/pages/purchasing/PurchaseOrderDetail.tsx
  src/frontend/src/pages/sales/ReturnOrderDetail.tsx
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
  src/frontend/src/tables/general/ExtraLineItemTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
  src/frontend/src/tables/sales/ReturnOrderLineItemTable.tsx
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
Due: Frontend

Fix: Implement core backend architecture for Repair Orders (Mixins, API transitions, Settings)
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/migrations/0061_repairorder_fields_and_reference.py
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/build/status_codes.py
  src/backend/InvenTree/build/validators.py
  src/backend/InvenTree/common/setting/system.py
Due: Backend Apps, Backend General

add generic api helper
  src/backend/InvenTree/generic/states/api.py
  src/backend/InvenTree/generic/states/api_helpers.py
  src/backend/InvenTree/generic/states/introspection.py
  src/backend/InvenTree/generic/states/serializers.py
  src/backend/InvenTree/order/api.py
Due: Backend Apps, Backend General

Fix: Add RepairOrder allocation validation, stock consumption, and frontend role gate
  src/backend/InvenTree/build/models.py
  src/frontend/src/pages/sales/SalesIndex.tsx
Due: Backend Apps, Frontend

Fix: Clean up dead frontend code, unused props, and invalid fields for Repair Orders
  src/frontend/src/components/render/Order.tsx
  src/frontend/src/forms/RepairOrderForms.tsx
  src/frontend/src/pages/sales/RepairOrderDetail.tsx
  src/frontend/src/tables/sales/RepairOrderFilters.tsx
  src/frontend/src/tables/sales/RepairOrderLineItemTable.tsx
  src/frontend/src/tables/sales/RepairOrderTable.tsx
Due: Frontend

align name better
  src/backend/InvenTree/generic/states/api_helpers.py
Due: Backend General

fix name change
  src/backend/InvenTree/order/api.py
Due: Backend Apps

allign returncodes and internal names
  src/backend/InvenTree/generic/states/api_helpers.py
  src/backend/InvenTree/order/api.py
Due: Backend Apps, Backend General

fix serializer class assumptions
  src/backend/InvenTree/generic/states/api_helpers.py
  src/backend/InvenTree/generic/states/serializers.py
  src/backend/InvenTree/order/api.py
Due: Backend Apps, Backend General

remove now unneeded serializers
  src/backend/InvenTree/order/serializers.py
Due: Backend Apps

fix parameter mixin handeling
  src/backend/InvenTree/InvenTree/api.py
Due: none

fix context parsing
  src/backend/InvenTree/generic/states/api_helpers.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/models.py
Due: Backend Apps, Backend General

bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

add transition overview
  src/backend/InvenTree/generic/states/api_helpers.py
Due: Backend General

fix serializer augumentation
  src/backend/InvenTree/InvenTree/mixins.py
Due: none

remove dead code
  src/backend/InvenTree/order/serializers.py
Due: Backend Apps

change path prefix back
  src/backend/InvenTree/generic/states/api_helpers.py
Due: Backend General

extend test for introspection
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

add legacy warning again
  src/backend/InvenTree/order/api.py
Due: Backend Apps

PluginDrawer now fetches plugin details itself.
  src/frontend/src/components/plugins/PluginDrawer.tsx
  src/frontend/src/tables/plugin/PluginListTable.tsx
Due: Frontend

Test: Add comprehensive backend API tests, frontend E2E specs, and update docs for Repair Orders
  docs/docs/manufacturing/repair.md
  src/backend/InvenTree/build/tests.py
  src/frontend/tests/pages/pui_repair.spec.ts
Due: Backend Apps, Frontend

Fix: Correct invalid users migration dependency in build 0061
  src/backend/InvenTree/build/migrations/0061_repairorder_fields_and_reference.py
Due: Backend Apps

Fix: Resolve CI test failures, add missing validator migration, and fix doc link
  docs/docs/manufacturing/repair.md
  src/backend/InvenTree/build/migrations/0062_alter_repairorderallocation_quantity_and_more.py
  src/backend/InvenTree/build/tests.py
Due: Backend Apps

Adjust playwright tests
  src/frontend/tests/pages/pui_purchasing.spec.ts
  src/frontend/tests/pages/pui_sales.spec.ts
  src/frontend/tests/pui_importing.spec.ts
Due: Frontend

Add regression test for build complete failure
  src/backend/InvenTree/build/test_build.py
Due: Backend Apps

[FR] add well-known mixin to let plugins define well-known data entry points Fixes #11741
  src/backend/InvenTree/plugin/base/integration/WellKnownMixin.py
  src/backend/InvenTree/plugin/mixins/__init__.py
  src/backend/InvenTree/plugin/plugin.py
Due: Backend Apps

Handle offloading of complete_build
  src/backend/InvenTree/build/models.py
Due: Backend Apps

Allow generic offloading of transitions to the background worker
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/generic/states/__init__.py
  src/backend/InvenTree/generic/states/transition.py
Due: Backend Apps, Backend General

[UI] Data import for order lines (#12692)
  src/frontend/src/components/items/LineItemCreationMenu.tsx
  src/frontend/src/pages/purchasing/PurchaseOrderDetail.tsx
  src/frontend/src/pages/sales/ReturnOrderDetail.tsx
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
  src/frontend/src/tables/general/ExtraLineItemTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
  src/frontend/src/tables/sales/ReturnOrderLineItemTable.tsx
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
  src/frontend/tests/pages/pui_purchasing.spec.ts
  src/frontend/tests/pages/pui_sales.spec.ts
  src/frontend/tests/pui_importing.spec.ts
Due: Frontend

Refactor cancel_build method
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/tasks.py
  src/backend/InvenTree/build/test_build.py
  src/backend/InvenTree/generic/states/transition.py
Due: Backend Apps, Backend General

additional unit test
  src/backend/InvenTree/order/test_sales_order.py
Due: Backend Apps

[bug] Fix broken build complete transition (#12696)
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/tasks.py
  src/backend/InvenTree/build/test_build.py
  src/backend/InvenTree/generic/states/__init__.py
  src/backend/InvenTree/generic/states/transition.py
  src/backend/InvenTree/order/test_sales_order.py
Due: Backend Apps, Backend General

Fix table migration
  src/backend/InvenTree/users/migrations/0016_remove_legacy_user_sessions_table.py
Due: Backend Apps

add built-in plugin for apis
  src/backend/InvenTree/InvenTree/urls.py
  src/backend/InvenTree/plugin/base/integration/WellKnownMixin.py
  src/backend/InvenTree/plugin/builtin/integration/core_wellknown.py
  src/backend/InvenTree/plugin/registry.py
  src/backend/InvenTree/plugin/urls.py
Due: Backend Apps

add test
  src/backend/InvenTree/plugin/builtin/integration/test_core_wellknown.py
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

add decorator
  src/backend/InvenTree/plugin/builtin/integration/core_wellknown.py
  src/backend/InvenTree/plugin/urls.py
Due: Backend Apps

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
