Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

[UI] Keep Add Parts button visible in Parametric View
  src/frontend/src/tables/general/ParametricDataTable.tsx
  src/frontend/src/tables/part/ParametricPartTable.tsx
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Updated documentation
  docs/docs/concepts/pricing.md
  docs/docs/purchasing/purchase_order.md
  docs/docs/sales/return_order.md
  docs/docs/sales/sales_order.md
  tasks.py
Due: none

Add locking control for TransferOrder
  docs/docs/stock/transfer_order.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/test_api.py
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
  src/frontend/src/pages/stock/TransferOrderDetail.tsx
Due: Backend Apps, Backend General, Frontend

Added docs
  docs/docs/purchasing/purchase_order.md
Due: none

Bump API version and CHANGELOG
  CHANGELOG.md
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Bug fixes (#12365)
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/order/test_api.py
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/test_api.py
  src/backend/InvenTree/stock/tests.py
Due: Backend Apps

Fix StockItem parent update on delete (#12377)
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/tests.py
Due: Backend Apps

Apply concurrency protection
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/tasks.py
Due: Backend Apps

Additional unit tests
  src/backend/InvenTree/build/test_api.py
  src/backend/InvenTree/build/test_build.py
Due: Backend Apps

reduce query count thresholds for unit testing
  src/backend/InvenTree/InvenTree/unit_test.py
Due: none

Remove per-line validation
  src/backend/InvenTree/build/models.py
Due: Backend Apps

feat: Add RepairOrder feature (#12064)
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/order/admin.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/events.py
  src/backend/InvenTree/order/migrations/0121_repair_order_and_repair_order_line.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/order/status_codes.py
  src/backend/InvenTree/order/test_api.py
  src/backend/InvenTree/order/validators.py
  src/backend/InvenTree/users/oauth2_scopes.py
  src/backend/InvenTree/users/ruleset.py
Due: Backend Apps, Backend General

feat: validate BarcodeSerializerMixin configuration on init (#11745)
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/InvenTree/test_serializers.py
Due: none

Add a Revision column renderer
  src/frontend/src/components/tables/ColumnRenderers.tsx
Due: Frontend

Add Revision to SO and BO tables
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
Due: Frontend

Move Description column after IPN and Revision to be consistent with other tables
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
Due: Frontend

Fix unit test
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

Add revision to SO and BO tables (#12398)
  src/frontend/src/components/tables/ColumnRenderers.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
Due: Frontend

Refactor
  src/backend/InvenTree/InvenTree/models.py
Due: none

row locking on bulk-update
  src/backend/InvenTree/InvenTree/api.py
Due: none

Rebuild tree in background task
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/InvenTree/tasks.py
Due: none

Regression testing
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/part/test_api.py
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps

Adjust unit test
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

Fix unit test
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps

Use bulk_create_and_fetch
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

Fix playwright tests
  src/frontend/tests/pages/pui_purchasing.spec.ts
Due: Frontend

Fix for bulk_create - use bulk_create_and_fetch
  src/backend/InvenTree/InvenTree/helpers_db.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/test_sales_order.py
Due: Backend Apps

Cleanup
  src/backend/InvenTree/build/models.py
Due: Backend Apps

Allow more generous timeout
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

Fix migrations
  src/backend/InvenTree/build/migrations/0060_remove_build_notes.py
  src/backend/InvenTree/common/migrations/0048_note.py
  src/backend/InvenTree/common/migrations/0049_auto_20260525_0956.py
  src/backend/InvenTree/common/migrations/0050_remove_notesimage_model_id_and_more.py
  src/backend/InvenTree/common/test_migrations.py
  src/backend/InvenTree/company/migrations/0081_remove_company_notes_remove_manufacturerpart_notes_and_more.py
  src/backend/InvenTree/order/migrations/0121_remove_purchaseorder_notes_remove_returnorder_notes_and_more.py
  src/backend/InvenTree/part/migrations/0153_remove_part_notes.py
  src/backend/InvenTree/stock/migrations/0126_remove_stockitem_notes.py
Due: Backend Apps, Backend General

Fix unit tests
  src/backend/InvenTree/InvenTree/test_helpers_db.py
Due: none

[UI] Add PartCreationMenu component for shared part creation actions
  src/frontend/src/components/items/PartCreationMenu.tsx
  src/frontend/src/tables/general/ParametricDataTable.tsx
  src/frontend/src/tables/part/ParametricPartTable.tsx
  src/frontend/src/tables/part/PartTable.tsx
Due: Frontend

Fix playwright tests
  src/frontend/tests/pages/pui_build.spec.ts
  src/frontend/tests/pages/pui_return.spec.ts
Due: Frontend

[bug] Tree parent fix (#12401)
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/InvenTree/tasks.py
  src/backend/InvenTree/part/test_api.py
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps

Bulk delete line items (#12391)
  CHANGELOG.md
  docs/docs/stock/transfer_order.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/test_api.py
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
  src/frontend/src/pages/stock/TransferOrderDetail.tsx
  src/frontend/src/tables/general/ExtraLineItemTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
  src/frontend/src/tables/sales/ReturnOrderLineItemTable.tsx
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
  src/frontend/src/tables/stock/TransferOrderLineItemTable.tsx
  src/frontend/tests/pages/pui_build.spec.ts
  src/frontend/tests/pages/pui_purchasing.spec.ts
  src/frontend/tests/pages/pui_return.spec.ts
Due: Backend Apps, Backend General, Frontend

Display error information in boundary
  src/frontend/lib/components/Boundary.tsx
Due: Frontend

Fix SecurityContext
  src/frontend/src/pages/Index/Settings/AccountSettings/SecurityContent.tsx
Due: Frontend

Add initial benchmark test
  src/backend/InvenTree/common/test_api.py
Due: Backend General
