Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

fix serializer for schema
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/common/serializers.py
Due: Backend General

ensure popped values are persisted
  src/backend/InvenTree/InvenTree/serializers.py
Due: none

move test around
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

refactor(backend): reduce duplication in tests (#10579)
  src/backend/InvenTree/InvenTree/unit_test.py
  src/backend/InvenTree/build/test_api.py
  src/backend/InvenTree/company/test_api.py
  src/backend/InvenTree/order/test_api.py
  src/backend/InvenTree/part/test_api.py
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps

cleanup
  src/backend/InvenTree/InvenTree/serializers.py
Due: none

simplify tests
  src/backend/InvenTree/build/test_api.py
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

fix typo
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

fix another test
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

var tests
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

disable additional tests
  src/backend/InvenTree/build/test_api.py
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

[UI] Fix broken dashboard link (#10577)
  src/frontend/src/defaults/actions.tsx
Due: Frontend

make application of PathScopedMixin more intentional -> more efficient
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/users/serializers.py
Due: Backend Apps

Expose stock adjustment forms to plugins
  src/frontend/lib/types/Forms.tsx
  src/frontend/lib/types/Plugins.tsx
  src/frontend/src/components/plugins/PluginContext.tsx
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/hooks/UseStockAdjustActions.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
  src/frontend/src/tables/build/BuildAllocatedStockTable.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Frontend

Update changelog
  src/frontend/CHANGELOG.md
  src/frontend/package.json
Due: Frontend

Expand type exports
  src/frontend/lib/index.ts
Due: Frontend

Update CHANGELOG.md
  CHANGELOG.md
Due: none

make safer to use with various sanity checks
  src/backend/InvenTree/InvenTree/mixins.py
  src/backend/InvenTree/InvenTree/serializers.py
Due: none

fix list serializer
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/users/serializers.py
Due: Backend Apps

add option to ignore special cases
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/company/serializers.py
Due: Backend Apps

generalize addition
  src/backend/InvenTree/InvenTree/serializers.py
Due: none

remove generalize addition
  src/backend/InvenTree/InvenTree/serializers.py
Due: none

re-add missing schema generation exception
  src/backend/InvenTree/InvenTree/serializers.py
Due: none

remove new duplication
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/users/serializers.py
Due: Backend Apps

fix style
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/stock/serializers.py
Due: Backend Apps

adjust naming and docs, add typing to clean stuff up
  docs/docs/settings/error_codes.md
  src/backend/InvenTree/InvenTree/mixins.py
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/users/serializers.py
Due: Backend Apps

Plugin stock forms (#10584)
  CHANGELOG.md
  src/frontend/CHANGELOG.md
  src/frontend/lib/index.ts
  src/frontend/lib/types/Forms.tsx
  src/frontend/lib/types/Plugins.tsx
  src/frontend/package.json
  src/frontend/src/components/plugins/PluginContext.tsx
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/hooks/UseStockAdjustActions.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
  src/frontend/src/tables/build/BuildAllocatedStockTable.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Frontend

simplify more
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps, Backend General

fix ref calc
  src/backend/InvenTree/InvenTree/serializers.py
Due: none

Increase database query limit from 20 to 25
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

Update django-dbbackup version
  src/backend/requirements.in
  src/backend/requirements.txt
Due: none

Specify STORAGES option for dbbackup
  src/backend/InvenTree/InvenTree/backup.py
  src/backend/InvenTree/InvenTree/settings.py
Due: none

Add more backup configuration
  src/backend/InvenTree/InvenTree/backup.py
  src/backend/InvenTree/InvenTree/settings.py
Due: none

Support custom date formats
  src/backend/InvenTree/InvenTree/backup.py
  src/backend/InvenTree/InvenTree/settings.py
Due: none

Add connector options
  src/backend/InvenTree/InvenTree/backup.py
  src/backend/InvenTree/InvenTree/settings.py
Due: none

Extend functionality of invoke backup
  tasks.py
Due: none

Add extra options for restore task
  tasks.py
Due: none

Add invoke task for finding additional backups
  tasks.py
Due: none

Small tweaks
  src/backend/InvenTree/InvenTree/backup.py
  tasks.py
Due: none

Add label actions for build orders
  src/frontend/src/pages/build/BuildDetail.tsx
  src/frontend/src/tables/build/BuildOrderTable.tsx
Due: Frontend
