Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
      - type: project
        target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
      - type: project
        target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
      - type: project
        target: 65%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Updated error handling
  src/frontend/src/hooks/UseDataOutput.tsx
Due: Frontend

Fix "render_date" tag
  src/backend/InvenTree/InvenTree/templatetags/inventree_extras.py
Due: none

Update default report template
  src/backend/InvenTree/report/templates/report/inventree_purchase_order_report.html
Due: Backend Apps

Tweak unit test
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Bug fixes
  src/backend/InvenTree/InvenTree/middleware.py
  src/backend/InvenTree/data_exporter/mixins.py
Due: Backend Apps

Tweaks to fix circular imports
  src/backend/InvenTree/build/tasks.py
Due: Backend Apps

Add divider to dashboard (#9884)
  src/frontend/src/components/dashboard/DashboardLayout.tsx
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Tweaks to fix circular imports (#9888)
  src/backend/InvenTree/build/tasks.py
Due: Backend Apps

fix assertation of custom install path
  tasks.py
Due: none

fix req
  src/backend/requirements-3-12.txt
Due: none

bump reqs
  src/backend/requirements-3-12.txt
Due: none

fix issues from code review
  src/backend/InvenTree/plugin/base/supplier/api.py
  src/backend/InvenTree/plugin/base/supplier/mixins.py
  src/backend/InvenTree/plugin/samples/supplier/test_supplier_sample.py
  src/frontend/src/components/wizards/ImportPartWizard.tsx
Due: Backend Apps, Frontend

unit test notifications for stale stock items
  src/backend/InvenTree/part/test_notification_stale.py
Due: Backend Apps

Add stale stock email notifications (#9861)
  docs/docs/stock/expiry.md
  src/backend/InvenTree/part/tasks.py
  src/backend/InvenTree/part/test_notification_stale.py
  src/backend/InvenTree/templates/email/stale_stock_notification.html
Due: Backend Apps

[Bug] Report fix (#9887)
  src/backend/InvenTree/InvenTree/middleware.py
  src/backend/InvenTree/InvenTree/templatetags/inventree_extras.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/data_exporter/mixins.py
  src/backend/InvenTree/plugin/base/label/mixins.py
  src/backend/InvenTree/plugin/builtin/labels/inventree_machine.py
  src/backend/InvenTree/plugin/builtin/labels/label_sheet.py
  src/backend/InvenTree/report/models.py
  src/backend/InvenTree/report/templates/report/inventree_purchase_order_report.html
  src/frontend/src/hooks/UseDataOutput.tsx
Due: Backend Apps, Backend General, Frontend

Wrap model import in try/except
  src/backend/InvenTree/InvenTree/exceptions.py
Due: none

Fix circular imports
  src/backend/InvenTree/part/stocktake.py
Due: Backend Apps

Adjust exception handling
  src/backend/InvenTree/InvenTree/exceptions.py
Due: none

Error tweaks (#9891)
  src/backend/InvenTree/InvenTree/exceptions.py
  src/backend/InvenTree/part/stocktake.py
Due: Backend Apps

Fix for stock item form
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/hooks/UseGenerator.tsx
Due: Frontend

Add title when creating child build
  src/backend/InvenTree/plugin/builtin/events/auto_create_builds.py
Due: Backend Apps

Fix for stock item form (#9892)
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/hooks/UseGenerator.tsx
Due: Frontend

Add title when creating child build (#9893)
  src/backend/InvenTree/plugin/builtin/events/auto_create_builds.py
Due: Backend Apps

Improvements for table loading
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Add error messages
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Better error extraction
  src/frontend/src/functions/api.tsx
Due: Frontend

Simplify error handling
  src/frontend/src/functions/notifications.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Update NotesEditor
  src/frontend/src/components/editors/NotesEditor.tsx
Due: Frontend

Update dashboard items
  src/frontend/src/components/dashboard/widgets/QueryCountDashboardWidget.tsx
Due: Frontend

Tweak table refetch
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Refactor notifications query
  src/frontend/src/components/nav/Header.tsx
Due: Frontend

[FR] Add proactive system check for site_url Fixes #7847
  docs/docs/settings/error_codes.md
  src/backend/InvenTree/InvenTree/middleware.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/templates/config_error.html
Due: none

[UI] Incorrect redirect to MFA setup Fixes #9880
  src/frontend/src/states/states.tsx
Due: Frontend

fix name
  src/frontend/src/pages/Auth/Layout.tsx
Due: Frontend

ensure splashscreen only loads after login check this reduces a short splash of the splashscreen even if logged in
  src/frontend/lib/types/User.tsx
  src/frontend/src/components/SplashScreen.tsx
  src/frontend/src/functions/auth.tsx
  src/frontend/src/states/UserState.tsx
Due: Frontend

move loader to the middle of the screen and remove fallback on a view screens
  src/frontend/src/functions/loading.tsx
  src/frontend/src/router.tsx
  src/frontend/src/views/MainView.tsx
Due: Frontend

[UI] Incorrect redirect to MFA setup (#9896)
  src/frontend/src/states/states.tsx
Due: Frontend

Fix for calendar querty
  src/frontend/src/hooks/UseCalendar.tsx
Due: Frontend

Other fixes
  src/frontend/src/components/buttons/PrintingActions.tsx
  src/frontend/src/components/details/Details.tsx
  src/frontend/src/components/forms/ApiForm.tsx
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
  src/frontend/src/components/modals/LicenseModal.tsx
  src/frontend/src/components/nav/NavigationTree.tsx
Due: Frontend
