Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

expose useInstance
  src/frontend/lib/hooks/UseInstance.tsx
  src/frontend/lib/index.ts
  src/frontend/src/components/plugins/PluginDrawer.tsx
  src/frontend/src/components/wizards/OrderPartsWizard.tsx
  src/frontend/src/hooks/UseImportSession.tsx
  src/frontend/src/hooks/UsePlugins.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/TaskManagementPanel.tsx
  src/frontend/src/pages/Index/Settings/PluginSettingsGroup.tsx
  src/frontend/src/pages/build/BuildDetail.tsx
  src/frontend/src/pages/company/CompanyDetail.tsx
  src/frontend/src/pages/company/ManufacturerPartDetail.tsx
  src/frontend/src/pages/company/SupplierPartDetail.tsx
  src/frontend/src/pages/core/GroupDetail.tsx
  src/frontend/src/pages/core/UserDetail.tsx
  src/frontend/src/pages/part/CategoryDetail.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/pages/part/PartPricingPanel.tsx
  src/frontend/src/pages/part/bom/BomActions.tsx
  src/frontend/src/pages/purchasing/PurchaseOrderDetail.tsx
  src/frontend/src/pages/sales/ReturnOrderDetail.tsx
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
  src/frontend/src/pages/sales/SalesOrderShipmentDetail.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
  src/frontend/src/tables/settings/ErrorTable.tsx
  src/frontend/src/tables/settings/GroupTable.tsx
  src/frontend/src/tables/settings/TemplateTable.tsx
  src/frontend/src/tables/settings/UserTable.tsx
Due: Frontend

expose DetailDrawerComponent
  src/frontend/lib/components/nav/DetailDrawer.tsx
  src/frontend/lib/index.ts
Due: Frontend

expose useLocalLibState
  src/frontend/lib/index.ts
Due: Frontend

fix imports
  src/frontend/lib/hooks/UseInstance.tsx
Due: Frontend

fix imports
  src/frontend/lib/hooks/UseForm.tsx
  src/frontend/lib/hooks/UseModal.tsx
Due: Frontend

expose ApiForm components
  src/frontend/lib/components/forms/ApiForm.tsx
  src/frontend/lib/components/forms/KeepFormOpenSwitch.tsx
  src/frontend/lib/components/forms/functions.tsx
  src/frontend/lib/hooks/UseForm.tsx
  src/frontend/lib/index.ts
  src/frontend/src/components/buttons/PrintingActions.tsx
  src/frontend/src/components/forms/fields/DependentField.tsx
  src/frontend/src/hooks/UseDataExport.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/settings/GroupTable.tsx
  src/frontend/src/tables/settings/UserTable.tsx
Due: Frontend

move form field code and StandaloneField
  src/frontend/lib/components/forms/ApiForm.tsx
  src/frontend/lib/components/forms/StandaloneField.tsx
  src/frontend/lib/components/forms/fields/ApiFormField.tsx
  src/frontend/lib/components/forms/fields/AutoFillRightSection.tsx
  src/frontend/lib/components/forms/fields/BooleanField.tsx
  src/frontend/lib/components/forms/fields/ChoiceField.tsx
  src/frontend/lib/components/forms/fields/DateField.tsx
  src/frontend/lib/components/forms/fields/DependentField.tsx
  src/frontend/lib/components/forms/fields/IconField.tsx
  src/frontend/lib/components/forms/fields/NestedObjectField.tsx
  src/frontend/lib/components/forms/fields/NumberField.tsx
  src/frontend/lib/components/forms/fields/RelatedModelField.tsx
  src/frontend/lib/components/forms/fields/TableField.tsx
  src/frontend/lib/components/forms/fields/TextField.tsx
  src/frontend/lib/index.ts
  src/frontend/src/components/editors/TemplateEditor/TemplateEditor.tsx
  src/frontend/src/components/importer/ImporterColumnSelector.tsx
  src/frontend/src/components/wizards/ImportPartWizard.tsx
  src/frontend/src/components/wizards/OrderPartsWizard.tsx
  src/frontend/src/forms/BomForms.tsx
  src/frontend/src/forms/BuildForms.tsx
  src/frontend/src/forms/PurchaseOrderForms.tsx
  src/frontend/src/forms/ReturnOrderForms.tsx
  src/frontend/src/forms/SalesOrderForms.tsx
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/forms/selectionListFields.tsx
  src/frontend/src/pages/part/bom/BomCompare.tsx
  src/frontend/src/tables/FilterSelectDrawer.tsx
Due: Frontend

fix imports
  src/frontend/lib/components/forms/DateTimeField.tsx
  src/frontend/lib/components/forms/fields/ApiFormField.tsx
  src/frontend/lib/components/forms/fields/BooleanField.tsx
  src/frontend/lib/components/forms/fields/NestedObjectField.tsx
Due: Frontend

Fix StylishText include
  src/frontend/src/components/dashboard/widgets/QueryDashboardWidget.tsx
Due: Frontend

Ensure BOM pricing is fetched
  src/frontend/src/pages/part/pricing/BomPricingPanel.tsx
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

Enable IPN sorting for "used-in" table
  src/frontend/src/tables/bom/UsedInTable.tsx
Due: Frontend

Update playwright tests
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Allow bulk replace of BOM items
  src/backend/InvenTree/part/api.py
  src/frontend/src/tables/bom/UsedInTable.tsx
Due: Backend Apps, Frontend

Add "locked" filter for UsedIn table
  src/backend/InvenTree/part/api.py
  src/frontend/src/tables/bom/UsedInTable.tsx
Due: Backend Apps, Frontend

Add playwright tests
  src/frontend/src/tables/bom/UsedInTable.tsx
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

docs
  docs/docs/assets/images/build/replace_component.png
  docs/docs/manufacturing/bom.md
Due: none

Enable verbosity option for worker command
  tasks.py
Due: none

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Adjust serializers / import-export / playwright
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/serializers.py
  src/frontend/tests/fixtures/bom_data.csv
  src/frontend/tests/pui_importing.spec.ts
Due: Backend Apps, Frontend

Fetch models properly during migration
  src/backend/InvenTree/part/migrations/0148_auto_20260427_2233.py
Due: Backend Apps

Specify batch_size when performing bulk_update operations
  src/backend/InvenTree/part/migrations/0145_auto_20251203_1238.py
Due: Backend Apps

Enforce batch_size for bulk_create operations
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/importer/models.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/stocktake.py
  src/backend/InvenTree/plugin/builtin/integration/core_notifications.py
  src/backend/InvenTree/stock/api.py
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps, Backend General

Update api_version.py
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Fix migration
  src/backend/InvenTree/part/migrations/0149_bomitem_raw_amount.py
Due: Backend Apps

Fix typo
  src/backend/InvenTree/InvenTree/api.py
Due: none

Optimize loading
  src/frontend/src/functions/auth.tsx
  src/frontend/src/pages/Auth/Login.tsx
Due: Frontend

Add view caching for static endpoints
  src/backend/InvenTree/InvenTree/api.py
Due: none

Cache the AllStatusViews endpoint
  src/backend/InvenTree/generic/states/api.py
Due: Backend General

Revert changes to auth.tsx
  src/frontend/src/functions/auth.tsx
  src/frontend/src/states/states.tsx
Due: Frontend

Cache the main web index
  src/backend/InvenTree/web/urls.py
Due: Backend Apps

Remove caching
  src/backend/InvenTree/web/urls.py
Due: Backend Apps

Change rollup settings to parallel load icons
  src/frontend/vite.config.ts
Due: Frontend

Revert typo fix
  src/backend/InvenTree/InvenTree/api.py
Due: none

Revert some changes
  src/frontend/src/functions/auth.tsx
Due: Frontend

Ensure DB settings are strings
  src/backend/InvenTree/InvenTree/setting/db_backend.py
Due: none

Remove cache from LicenseView
  src/backend/InvenTree/InvenTree/api.py
Due: none

Fix typo in develop.md from 'Feliver' to 'Deliver'
  docs/docs/plugins/develop.md
Due: none

[UI] Small visual tweaks for plugin settings panel
  src/frontend/src/pages/Index/Settings/PluginSettingsGroup.tsx
Due: Frontend
