Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

[UI] Fix useReceiveLineItems bug (#12756)
  src/frontend/src/forms/PurchaseOrderForms.tsx
Due: Frontend

[UI] Fixes for column resizing (#12755)
  src/frontend/src/styles/overrides.css
Due: Frontend

Update notes support
  docs/docs/manufacturing/repair.md
  src/backend/InvenTree/build/migrations/0061_repairorder_repairorderlineitem_and_more.py
  src/backend/InvenTree/build/models.py
  src/frontend/src/pages/sales/RepairOrderDetail.tsx
Due: Backend Apps, Frontend

Update docs
  docs/docs/settings/user.md
Due: none

[FR] Make OIDC SSO configurable via API/while running Fixes #4715
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/common/api.py
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/ScimManagementPanel.tsx
Due: Backend General, Frontend

Run docker container as non-root user
  contrib/container/Dockerfile
  contrib/container/init.sh
  docs/docs/start/docker.md
  docs/docs/start/docker_install.md
Due: none

Clarify SSO setup via Database Admin interface (#12474)
  docs/docs/settings/SSO.md
Due: none

add mgmt surfacce
  src/backend/InvenTree/InvenTree/metadata.py
  src/backend/InvenTree/common/api.py
  src/frontend/lib/types/Forms.tsx
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/src/components/forms/fields/JsonField.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/ScimManagementPanel.tsx
Due: Backend General, Frontend

chore(backend): bump all backend deps (#12754)
  contrib/container/requirements.txt
  docs/requirements.txt
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/plugin/registry.py
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: Backend Apps

bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Fix frontend URLs
  src/backend/InvenTree/report/templates/report/inventree_repair_order_report.html
  src/frontend/lib/enums/ModelInformation.tsx
  src/frontend/src/pages/sales/RepairOrderDetail.tsx
  src/frontend/src/router.tsx
Due: Backend Apps, Frontend

Updated part reference and unit tests
  docs/docs/manufacturing/repair.md
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/tests.py
  src/backend/InvenTree/report/templates/report/inventree_repair_order_report.html
Due: Backend Apps

Add tags support for RepairOrder API / UI
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/build/tests.py
  src/frontend/src/forms/RepairOrderForms.tsx
  src/frontend/src/pages/sales/RepairOrderDetail.tsx
Due: Backend Apps, Frontend

Fix permissions for SelectionList
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/test_api.py
Due: Backend General

Fix: Resolve PostgreSQL query timing and enable frontend repair order setting for E2E tests
  pyproject.toml
  src/backend/InvenTree/build/test_api.py
  src/frontend/tests/pages/pui_repair.spec.ts
Due: Backend Apps, Frontend

Fix security hole for metadata API
  src/backend/InvenTree/InvenTree/api.py
Due: none

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Regression test for field injection
  src/backend/InvenTree/InvenTree/test_api.py
Due: none

Fix: Update frontend E2E tests to handle required fields and UI changes
  pyproject.toml
  src/frontend/tests/pages/pui_repair.spec.ts
Due: Frontend

Permissions fix for Calendar views
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

Permissions fix for Calendar views (#12764)
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

Fix permissions for SelectionList (#12763)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/test_api.py
Due: Backend General

[bug] API permission fixes:
  src/backend/InvenTree/InvenTree/permissions.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/test_api.py
  src/backend/InvenTree/users/models.py
  src/backend/InvenTree/users/tests.py
Due: Backend Apps, Backend General

update override behaviour
  src/backend/InvenTree/InvenTree/settings.py
Due: none

ensure registrations are unique
  src/backend/InvenTree/InvenTree/settings.py
Due: none

add test
  src/backend/InvenTree/common/test_api.py
Due: Backend General

[bug] API permission fixes: (#12766)
  src/backend/InvenTree/InvenTree/permissions.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/test_api.py
  src/backend/InvenTree/users/models.py
  src/backend/InvenTree/users/tests.py
Due: Backend Apps, Backend General

Prevent delete operation on /api/user/me/
  src/backend/InvenTree/users/api.py
  src/backend/InvenTree/users/test_api.py
Due: Backend Apps

Handle missing record in after_delete_supplier_part
  src/backend/InvenTree/company/models.py
Due: Backend Apps

Fix order allocation variant validation logic and serializer read_only_fields (#12738)
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

Enhance search fields across InvenTree REST API endpoints (#12723)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/company/api.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/users/api.py
Due: Backend Apps

Update bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

Update documentation.yaml
  .github/ISSUE_TEMPLATE/documentation.yaml
Due: none

feat: warn about unsafe CORS
  docs/docs/settings/error_codes.md
  src/backend/InvenTree/InvenTree/api.py
  src/frontend/src/components/nav/Alerts.tsx
  src/frontend/src/states/states.tsx
Due: Frontend

extend docs
  docs/docs/settings/error_codes.md
Due: none
