Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
      - type: project
        target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
      - type: project
        target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
      - type: project
        target: 65%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Fix typo
  src/backend/InvenTree/part/migrations/0136_partparameter_note_partparameter_updated_and_more.py
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Fix strings
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/part/migrations/0136_partparameter_note_partparameter_updated_and_more.py
Due: Backend Apps, Backend General

Refactor mixin class
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/part/admin.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/migrations/0136_partparameter_note_partparameter_updated_and_more.py
Due: Backend Apps, Backend General

Update part parameter table:
  src/frontend/src/forms/PartForms.tsx
  src/frontend/src/tables/part/PartParameterTable.tsx
Due: Frontend

Fix for updating date
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/part/migrations/0136_partparameter_note_partparameter_updated_and_more.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps, Backend General

Add user information when saving parameter
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/serializers.py
  src/frontend/src/tables/part/PartParameterTable.tsx
Due: Backend Apps, Frontend

small refactors
  src/backend/InvenTree/importer/serializers.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Fix stock item reference
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
Due: Frontend

Allow edit from allocated items sub-table
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
Due: Frontend

Improve formatting functions
  src/frontend/lib/functions/Formatting.tsx
  src/frontend/package.json
  src/frontend/src/defaults/formatters.tsx
Due: Frontend

[UI] Sales order fixes (#10024)
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
Due: Frontend

Change fallback logic
  src/frontend/lib/functions/Formatting.tsx
Due: Frontend

Adjust unit tests
  src/backend/InvenTree/build/tests.py
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

[UI] Improve formatting functions (#10025)
  src/frontend/lib/functions/Formatting.tsx
  src/frontend/package.json
  src/frontend/src/defaults/formatters.tsx
Due: Frontend

MPTT rebuild tweak (#10020)
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/build/test_api.py
  src/backend/InvenTree/build/tests.py
  src/backend/InvenTree/order/test_api.py
  src/backend/InvenTree/part/test_category.py
  src/backend/InvenTree/plugin/base/event/events.py
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

Add unit test for "updated" and "updated_by" fields
  src/backend/InvenTree/part/test_param.py
Due: Backend Apps

Logic fix for plugin.is_active
  src/backend/InvenTree/plugin/plugin.py
Due: Backend Apps

Hide "consumed stock" panel if not required
  src/frontend/src/pages/build/BuildDetail.tsx
Due: Frontend

Docs updates
  docs/docs/manufacturing/build.md
  src/frontend/src/pages/build/BuildDetail.tsx
Due: Frontend

Hide allocation fields if the build has no required parts
  src/frontend/src/pages/build/BuildDetail.tsx
Due: Frontend

Additional serializer options
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/serializers.py
Due: Backend Apps

Improve RenderStockItem
  src/frontend/src/components/render/Stock.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
Due: Frontend

Improve RenderStockItem (#10028)
  src/frontend/src/components/render/Stock.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
Due: Frontend

[UI] Build page tweak (#10027)
  docs/docs/manufacturing/build.md
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/serializers.py
  src/frontend/src/pages/build/BuildDetail.tsx
Due: Backend Apps, Frontend

Fix unit tests
  src/backend/InvenTree/plugin/base/label/test_label_mixin.py
  src/backend/InvenTree/plugin/builtin/suppliers/test_supplier_barcodes.py
Due: Backend Apps

Allow more queries
  src/backend/InvenTree/InvenTree/test_api.py
Due: none

Check for 'note' field
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Update docs image
  docs/docs/assets/images/part/create_part_parameter.png
Due: none

Update debug msg
  src/frontend/src/states/SettingsStates.tsx
Due: Frontend

Tweak API
  src/backend/InvenTree/plugin/api.py
Due: Backend Apps

Fix endpoint
  src/frontend/src/states/SettingsStates.tsx
Due: Frontend

PartParameter updates (#10023)
  docs/docs/assets/images/part/create_part_parameter.png
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/importer/serializers.py
  src/backend/InvenTree/part/admin.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/migrations/0136_partparameter_note_partparameter_updated_and_more.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/part/test_param.py
  src/frontend/src/forms/PartForms.tsx
  src/frontend/src/tables/part/PartParameterTable.tsx
  src/frontend/tests/pages/pui_part.spec.ts
Due: Backend Apps, Backend General, Frontend

Change order of operations for MPTT delete
  src/backend/InvenTree/InvenTree/models.py
Due: none

Logic fix for plugin.is_active (#10026)
  src/backend/InvenTree/InvenTree/test_api.py
  src/backend/InvenTree/plugin/base/label/test_label_mixin.py
  src/backend/InvenTree/plugin/builtin/suppliers/test_supplier_barcodes.py
  src/backend/InvenTree/plugin/plugin.py
Due: Backend Apps

Change order of operations for MPTT delete (#10029)
  src/backend/InvenTree/InvenTree/models.py
Due: none

Remove "active plugin keys" code
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Tweak panel behaviour
  src/frontend/src/components/panels/PanelGroup.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/Index.tsx
Due: Frontend

Fix migrations
  src/backend/InvenTree/build/migrations/0058_buildline_consumed.py
Due: Backend Apps
