Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Patch backend profile to inflate widget; fix unused non-null assertion
  src/frontend/tests/pages/pui_dashboard.spec.ts
Due: Frontend

Fix: preserve existing widget sizes when adding a dashboard widget (#11834)
  src/frontend/src/components/dashboard/DashboardLayout.tsx
  src/frontend/tests/pages/pui_dashboard.spec.ts
Due: Frontend

Fix minor typo
  src/backend/InvenTree/generic/states/transition.py
Due: Backend General

Frontend deps
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

Adjust text color for stock column
  src/frontend/src/tables/ColumnRenderers.tsx
Due: Frontend

Revert vite to 6.4.2
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

Fix dependency warnings
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

Ensure correct migration order
  src/backend/InvenTree/part/migrations/0148_auto_20260427_2233.py
Due: Backend Apps

[UI] Fix ReturnOrder table
  src/frontend/src/tables/sales/ReturnOrderLineItemTable.tsx
Due: Frontend

Add playwright test
  src/frontend/tests/customization/customization.spec.ts
  src/frontend/tests/pages/pui_part.spec.ts
  src/frontend/tests/pages/pui_return.spec.ts
Due: Frontend

Update installer docs
  docs/docs/start/installer.md
Due: none

Update installer docs (#11846)
  docs/docs/start/installer.md
Due: none

Fix build order annotation
  src/backend/InvenTree/part/filters.py
Due: Backend Apps

Adjust app docs
  docs/docs/app/po.md
Due: none

Refactor existing components
  src/backend/InvenTree/InvenTree/api_version.py
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/pages/part/bom/BomValidation.tsx
Due: Frontend

Adjust app docs (#11849)
  docs/docs/app/po.md
Due: none

[UI] Fix ReturnOrder table (#11845)
  src/frontend/src/tables/sales/ReturnOrderLineItemTable.tsx
  src/frontend/tests/customization/customization.spec.ts
  src/frontend/tests/pages/pui_part.spec.ts
  src/frontend/tests/pages/pui_return.spec.ts
Due: Frontend

Fix build order annotation (#11848)
  src/backend/InvenTree/part/filters.py
Due: Backend Apps

Select assembly for comparison
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/pages/part/bom/BomActions.tsx
  src/frontend/src/pages/part/bom/BomCompare.tsx
Due: Frontend

Rough BOM comparison table
  src/frontend/src/components/images/ApiImage.tsx
  src/frontend/src/components/images/Thumbnail.tsx
  src/frontend/src/pages/part/bom/BomCompare.tsx
Due: Frontend

Select display mode
  src/frontend/src/pages/part/bom/BomCompare.tsx
Due: Frontend

Layout tweaks
  src/frontend/src/pages/part/bom/BomCompare.tsx
Due: Frontend

Reset secondary part when drawer is closed
  src/frontend/src/pages/part/bom/BomCompare.tsx
Due: Frontend

Responsive grids
  src/frontend/src/pages/part/bom/BomCompare.tsx
Due: Frontend

Documentation
  docs/docs/assets/images/build/bom_compare.png
  docs/docs/assets/images/build/bom_compare_icon.png
  docs/docs/manufacturing/bom.md
  docs/docs/manufacturing/required.md
  docs/mkdocs.yml
  src/frontend/src/pages/part/bom/BomCompare.tsx
Due: Frontend

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add playwright tests
  src/frontend/src/pages/part/bom/BomActions.tsx
  src/frontend/src/pages/part/bom/BomCompare.tsx
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Update wording
  docs/docs/manufacturing/bom.md
Due: none

Allow specification of secondary part with URL search params
  src/frontend/src/pages/part/bom/BomActions.tsx
  src/frontend/src/pages/part/bom/BomCompare.tsx
Due: Frontend

Update URL params when value changes
  src/frontend/src/pages/part/bom/BomCompare.tsx
Due: Frontend

Clearer display using icons
  src/frontend/src/pages/part/bom/BomCompare.tsx
Due: Frontend

Improve diff layout
  src/frontend/src/pages/part/bom/BomCompare.tsx
Due: Frontend

Adjust playwright tests
  src/frontend/src/pages/part/bom/BomCompare.tsx
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

[UI] Remove debug message
  src/frontend/src/components/forms/fields/ApiFormField.tsx
Due: Frontend

Adjust migration file
  src/backend/InvenTree/part/migrations/0149_bomitem_raw_amount.py
Due: Backend Apps

Tweak playwright tests
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

[UI] Adjust form properties
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
  src/frontend/src/components/forms/fields/TextField.tsx
Due: Frontend

Fix unit test
  src/backend/InvenTree/part/test_bom_item.py
Due: Backend Apps

Update BOM compare screenshot
  docs/docs/assets/images/build/bom_compare.png
Due: none

fix style
  contrib/container/requirements.txt
  contrib/dev_reqs/requirements.txt
  docs/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none
