Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Also for build line sub table
  src/frontend/src/hooks/UseForm.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
Due: Frontend

[ui] Label fix (#10874)
  src/frontend/src/hooks/UseForm.tsx
  src/frontend/src/tables/build/BuildAllocatedStockTable.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
Due: Frontend

Simplify code
  src/backend/InvenTree/machine/machine_type.py
  src/backend/InvenTree/plugin/samples/machines/sample_printer.py
Due: Backend Apps

[plugin] Add printing delay to sample machines (#10873)
  src/backend/InvenTree/plugin/samples/machines/sample_printer.py
Due: Backend Apps

Properly set location id when serializing stock
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

Add correct tracking entries
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/status_codes.py
Due: Backend Apps

Add unit test
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/tests.py
Due: Backend Apps

[bug] Serialize location (#10882)
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/status_codes.py
  src/backend/InvenTree/stock/tests.py
Due: Backend Apps

Bump software version to 1.1.5
  src/backend/InvenTree/InvenTree/version.py
Due: none

Import fix for UI
  src/frontend/src/tables/build/BuildOutputTable.tsx
Due: Frontend

[UI] Fix for PartTestResultTable
  src/frontend/src/tables/part/PartTestResultTable.tsx
Due: Frontend

Add a simple unit test
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Import fix for UI (#10885)
  src/frontend/src/tables/build/BuildOutputTable.tsx
Due: Frontend

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Tweak unit test
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Bump software version to 1.1.5 (#10884)
  src/backend/InvenTree/InvenTree/version.py
Due: none

[UI] Fix for PartTestResultTable (#10886)
  src/frontend/src/tables/part/PartTestResultTable.tsx
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Bump software version to 1.1.6
  src/backend/InvenTree/InvenTree/version.py
Due: none

Bump software version to 1.1.6 (#10890)
  src/backend/InvenTree/InvenTree/version.py
Due: none

Add comment for later
  src/backend/InvenTree/common/migrations/0041_auto_20251028_1112.py
Due: Backend General

Add INVE-E14 - Error in config file
  docs/docs/settings/error_codes.md
  src/backend/InvenTree/InvenTree/config.py
Due: none

Add INVE-E14
  docs/docs/settings/error_codes.md
  src/backend/InvenTree/manage.py
Due: none

Fix duplicate code
  src/backend/InvenTree/InvenTree/config.py
Due: none

Fix numbering
  docs/docs/settings/error_codes.md
Due: none

Update postgres version
  .devcontainer/docker-compose.yml
  .github/workflows/qc_checks.yaml
  docs/mkdocs.yml
Due: none

Add "enabled" field to ParameterTemplate model
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/migrations/0040_parametertemplate_parameter.py
  src/backend/InvenTree/common/models.py
  src/frontend/src/pages/Index/Settings/AdminCenter/Index.tsx
  src/frontend/src/tables/general/ParameterTemplateTable.tsx
Due: Backend General, Frontend

Add new field to serializer
  src/backend/InvenTree/common/serializers.py
  src/frontend/src/tables/general/ParameterTemplateTable.tsx
Due: Backend General, Frontend

spwan -> spawn
  src/backend/InvenTree/common/models.py
Due: Backend General

Prioriy -> Priority
  src/backend/InvenTree/common/models.py
Due: Backend General

Rough-in new table
  src/frontend/src/tables/general/ParameterTable.tsx
Due: Frontend

Error messages (#10894)
  docs/docs/settings/error_codes.md
  src/backend/InvenTree/InvenTree/config.py
  src/backend/InvenTree/manage.py
Due: none

fix style
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

Installer missing some required packages from REQS Fixes #10813
  contrib/install.sh
  contrib/installer/src/root_command.sh
Due: none

Installer missing some required packages from REQS (#10897)
  contrib/install.sh
  contrib/installer/src/root_command.sh
Due: none

simplify models
  src/backend/InvenTree/web/models.py
  src/backend/InvenTree/web/types.py
Due: Backend Apps

fix serializer
  src/backend/InvenTree/web/serializers.py
Due: Backend Apps

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
