Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Fix unit test
  src/backend/InvenTree/importer/tests.py
Due: Backend Apps

Run migration tests in parallel
  .github/workflows/qc_checks.yaml
  tasks.py
Due: none

Robustify migration test
  src/backend/InvenTree/users/test_migrations.py
Due: Backend Apps

Disable parallel options
  .github/workflows/qc_checks.yaml
  tasks.py
Due: none

style: apply ruff format with --preview flag (matching project config)
  src/backend/InvenTree/company/models.py
Due: Backend Apps

test/docs: add unit tests and documentation for piece_count field
  docs/docs/manufacturing/bom.md
  src/backend/InvenTree/part/test_api.py
  src/backend/InvenTree/part/test_bom_item.py
Due: Backend Apps

make raise_error default (#754)
  src/backend/InvenTree/generic/states/transition.py
  src/backend/InvenTree/order/models.py
Due: Backend Apps, Backend General

fix merge
  src/backend/InvenTree/generic/states/transition.py
Due: Backend General

adjust test as this is now not a no-op but a raised error
  CHANGELOG.md
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

fix assertations
  src/backend/InvenTree/build/test_build.py
  src/backend/InvenTree/generic/states/__init__.py
  src/backend/InvenTree/generic/states/test_transition.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/test_api.py
  src/backend/InvenTree/order/test_sales_order.py
Due: Backend Apps, Backend General

fix test to not take a broken path
  src/backend/InvenTree/generic/states/test_transition.py
Due: Backend General

style: replace ambiguous × with x to fix RUF002 lint error
  src/backend/InvenTree/part/models.py
Due: Backend Apps

remove unused test statements
  src/backend/InvenTree/build/test_build.py
  src/backend/InvenTree/generic/states/test_transition.py
  src/backend/InvenTree/order/test_api.py
  src/backend/InvenTree/order/test_sales_order.py
Due: Backend Apps, Backend General

converge
  src/backend/InvenTree/generic/states/transition.py
Due: Backend General

add test branch for actually working transition
  src/backend/InvenTree/generic/states/test_transition.py
  src/backend/InvenTree/plugin/samples/integration/transition.py
Due: Backend Apps, Backend General

reduce uneeded code
  src/backend/InvenTree/generic/states/test_transition.py
Due: Backend General

ignore depreceated methods
  src/backend/InvenTree/generic/states/transition.py
Due: Backend General

bump api version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

fix missing coverage
  src/backend/InvenTree/generic/states/test_transition.py
Due: Backend General

Update qc_checks.yaml
  .github/workflows/qc_checks.yaml
Due: none

[API] Optional field permissions (#12529)
  CHANGELOG.md
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/InvenTree/test_serializers.py
  src/backend/InvenTree/company/test_api.py
  src/backend/InvenTree/order/test_api.py
  src/backend/InvenTree/part/test_api.py
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps

add prefetch
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

reduce diff
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

Remove reference to lead_time field (#12133)
  docs/docs/report/context_variables.md
  src/backend/InvenTree/company/models.py
Due: Backend Apps

Calendar tweaks (#12115)
  src/frontend/src/components/calendar/OrderCalendar.tsx
  src/frontend/src/hooks/UseCalendar.tsx
  src/frontend/src/pages/build/BuildIndex.tsx
  src/frontend/src/pages/purchasing/PurchasingIndex.tsx
  src/frontend/src/pages/sales/SalesIndex.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
Due: Frontend

[UI] User Filters (#12143)
  src/frontend/src/tables/Filter.tsx
  src/frontend/src/tables/FilterSelectDrawer.tsx
  src/frontend/src/tables/build/BuildOrderTable.tsx
Due: Frontend

Remove built-in dashboard history widgets (#12114)
  src/frontend/src/components/dashboard/DashboardWidgetLibrary.tsx
  src/frontend/src/components/dashboard/widgets/OrderHistoryWidget.tsx
Due: Frontend

[report] Printing fixes (#12142)
  CHANGELOG.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/machine/tests.py
  src/backend/InvenTree/report/api.py
  src/backend/InvenTree/report/serializers.py
  src/backend/InvenTree/report/tests.py
Due: Backend Apps

bump container deps (#12136)
  contrib/container/Dockerfile
  contrib/container/requirements.txt
Due: none

feat(frontend): add hotkey registration function and hotkey helper modal (#12128)
  src/frontend/CHANGELOG.md
  src/frontend/lib/functions/Events.tsx
  src/frontend/lib/index.ts
  src/frontend/lib/states/LocalLibState.tsx
  src/frontend/package.json
  src/frontend/src/components/buttons/PrintingActions.tsx
  src/frontend/src/components/buttons/ScanButton.tsx
  src/frontend/src/components/buttons/SpotlightButton.tsx
  src/frontend/src/components/dashboard/DashboardLayout.tsx
  src/frontend/src/components/modals/HotkeyModal.tsx
  src/frontend/src/components/nav/Header.tsx
  src/frontend/src/components/nav/Layout.tsx
  src/frontend/src/components/nav/PageDetail.tsx
  src/frontend/src/contexts/ThemeContext.tsx
  src/frontend/src/defaults/actions.tsx
Due: Frontend

[UI] Update parametric data table hover (#12145)
  src/frontend/src/tables/TableHoverCard.tsx
  src/frontend/src/tables/general/ParametricDataTable.tsx
Due: Frontend

[UI] User management spotlight (#12144)
  src/frontend/src/defaults/actions.tsx
Due: Frontend

Make plugin registry hash independent of plugin discovery order (#12151)
  src/backend/InvenTree/plugin/registry.py
  src/backend/InvenTree/plugin/test_plugin.py
Due: Backend Apps

Improvements for template tables (#12155)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/report/api.py
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/LabelTemplatePanel.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/ReportTemplatePanel.tsx
  src/frontend/src/tables/settings/TemplateTable.tsx
Due: Backend Apps, Frontend

Machine fixes (#12154)
  src/backend/InvenTree/machine/machine_types/label_printer.py
  src/backend/InvenTree/machine/tests.py
  src/frontend/src/defaults/actions.tsx
Due: Backend Apps, Frontend

feat(ci): add flakeiness (#12148)
  .github/workflows/frontend.yaml
  src/frontend/package.json
  src/frontend/playwright.config.ts
  src/frontend/yarn.lock
Due: Frontend

[UI] Calendar Updates (#12161)
  src/frontend/src/components/calendar/Calendar.tsx
  src/frontend/src/components/calendar/OrderCalendar.tsx
  src/frontend/src/components/calendar/OrderCalendarToolTip.tsx
  src/frontend/src/pages/build/BuildIndex.tsx
Due: Frontend

feat(frontend): add more general hotkeys (#12138)
  src/frontend/lib/functions/Events.tsx
  src/frontend/lib/types/Panel.tsx
  src/frontend/src/components/buttons/ScanButton.tsx
  src/frontend/src/components/items/ActionDropdown.tsx
  src/frontend/src/components/modals/HotkeyModal.tsx
  src/frontend/src/components/nav/PageDetail.tsx
  src/frontend/src/components/panels/AttachmentPanel.tsx
  src/frontend/src/components/panels/NotesPanel.tsx
  src/frontend/src/components/panels/PanelGroup.tsx
  src/frontend/src/components/panels/ParametersPanel.tsx
Due: Frontend

[UI] Calendar month colors (#12157)
  src/frontend/src/components/calendar/Calendar.tsx
  src/frontend/src/styles/overrides.css
Due: Frontend

Improve security posture of PDF reporting (#12160)
  CHANGELOG.md
  docs/docs/report/index.md
  docs/docs/report/report.md
  docs/docs/settings/global.md
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/plugin/builtin/labels/label_sheet.py
  src/backend/InvenTree/report/fetcher.py
  src/backend/InvenTree/report/models.py
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
  src/backend/InvenTree/report/tests.py
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
Due: Backend Apps, Backend General, Frontend
