Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Do not call get_custom_file from withing settings.py
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/InvenTree/settings.py
Due: none

Disable default tests (for now)
  .github/workflows/qc_checks.yaml
Due: none

Re-enable normal tests
  .github/workflows/qc_checks.yaml
Due: none

Update qc checks
  .github/workflows/qc_checks.yaml
Due: none

Order of operations?
  .github/workflows/qc_checks.yaml
Due: none

Debug output
  src/backend/InvenTree/InvenTree/settings.py
Due: none

Check for null plugin config
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Handle potential errors
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Use env
  .github/workflows/qc_checks.yaml
Due: none

[bug] Check for null plugin config (#11394)
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Add more debug info
  .github/workflows/qc_checks.yaml
  src/backend/InvenTree/InvenTree/helpers.py
Due: none

Fix api_version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md (#11396)
  CHANGELOG.md
Due: none

More debug
  src/backend/InvenTree/InvenTree/helpers.py
Due: none

Auto refresh tracked items
  src/frontend/src/tables/build/BuildOutputTable.tsx
Due: Frontend

docs entry
  docs/docs/manufacturing/allocate.md
Due: none

Further debug
  src/backend/InvenTree/InvenTree/helpers.py
Due: none

Add unit test
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

Add collectstatic check
  .github/workflows/qc_checks.yaml
Due: none

Run normal tests too
  .github/workflows/qc_checks.yaml
Due: none

Change warning to info (#11370)
  src/backend/InvenTree/common/settings.py
Due: Backend General

Add playwright testing
  src/frontend/tests/pages/pui_build.spec.ts
Due: Frontend

Auto allocate tracked (#10887)
  CHANGELOG.md
  docs/docs/manufacturing/allocate.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/build/test_api.py
  src/frontend/src/forms/BuildForms.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/tests/pages/pui_build.spec.ts
Due: Backend Apps, Frontend

Remove debug prints
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/InvenTree/settings.py
Due: none

[bug] Fix custom logo and splash (#11391)
  .github/workflows/qc_checks.yaml
  src/backend/InvenTree/.gitignore
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/InvenTree/settings.py
  src/frontend/playwright.config.ts
  src/frontend/src/components/items/InvenTreeLogo.tsx
  src/frontend/tests/customization/customization.spec.ts
  src/frontend/tests/fixtures/playwright_custom_logo.png
  src/frontend/tests/fixtures/playwright_custom_splash.png
Due: Frontend

[bug] Fix custom logo and splash (#11391) (#11399)
  .github/workflows/qc_checks.yaml
  src/backend/InvenTree/.gitignore
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/InvenTree/settings.py
  src/frontend/playwright.config.ts
  src/frontend/src/components/items/InvenTreeLogo.tsx
  src/frontend/tests/customization/customization.spec.ts
  src/frontend/tests/fixtures/playwright_custom_logo.png
  src/frontend/tests/fixtures/playwright_custom_splash.png
Due: Frontend

Merge commit from fork
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/stock/generators.py
Due: Backend Apps, Backend General

bump related reqs
  contrib/container/requirements.txt
  docs/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

bump a bit further
  src/backend/requirements-3.14.txt
  src/backend/requirements.txt
Due: none

bump django-allauth
  src/backend/requirements-3.14.txt
  src/backend/requirements.txt
Due: none

Merge commit from fork (#11400)
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/stock/generators.py
Due: Backend Apps, Backend General

Bump software version to 1.2.4
  src/backend/InvenTree/InvenTree/version.py
Due: none

bump api
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

fix style
  docs/requirements.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
Due: none

fix pkg release pipeline
  .github/workflows/release.yaml
Due: none

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
