Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Normalize BomItem quantity
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Normalize BomItem quantity (#11975)
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Add "primary" field to Note model
  src/backend/InvenTree/common/migrations/0042_note.py
  src/backend/InvenTree/common/models.py
Due: Backend General

Update serializer
  src/backend/InvenTree/common/serializers.py
Due: Backend General

Add unit test
  src/backend/InvenTree/common/test_api.py
Due: Backend General

Mark content field as 'safe'
  src/backend/InvenTree/common/models.py
Due: Backend General

Fix conflict (for now)
  src/backend/InvenTree/InvenTree/models.py
Due: none

Load notes into editor
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/models.py
  src/frontend/src/components/editors/NotesEditor.tsx
Due: Backend General, Frontend

Refactor save UX
  src/frontend/src/components/editors/NotesEditor.tsx
Due: Frontend

Sanitize before uploading
  src/frontend/src/components/editors/NotesEditor.tsx
Due: Frontend

remove old editor
  src/frontend/src/components/editors/NotesEditor.tsx
Due: Frontend

Remove old deps
  src/frontend/package.json
  src/frontend/src/components/editors/NotesEditor.tsx
  src/frontend/yarn.lock
Due: Frontend

Adjust playwright tests
  src/frontend/tests/pages/pui_stock.spec.ts
Due: Frontend

Add API serializer for deleting a location
  src/backend/InvenTree/stock/api.py
  src/backend/InvenTree/stock/serializers.py
Due: Backend Apps

Add serializer for part category delete
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Allow tooltips for calendar entries
  src/frontend/src/components/calendar/Calendar.tsx
  src/frontend/src/components/calendar/OrderCalendar.tsx
Due: Frontend

Render tooltip for purchase order calendar
  src/frontend/src/pages/purchasing/PurchasingIndex.tsx
Due: Frontend

Calendar tooltip renderers
  src/frontend/src/components/calendar/OrderCalendarToolTip.tsx
  src/frontend/src/components/render/Company.tsx
  src/frontend/src/pages/purchasing/PurchasingIndex.tsx
  src/frontend/src/pages/sales/SalesIndex.tsx
Due: Frontend

Add tooltip for build calendar
  src/frontend/src/components/calendar/OrderCalendarToolTip.tsx
  src/frontend/src/pages/build/BuildIndex.tsx
Due: Frontend

Add key to filter list
  src/frontend/src/tables/InvenTreeTableHeader.tsx
Due: Frontend

Display responsible owner
  src/frontend/src/components/calendar/OrderCalendarToolTip.tsx
Due: Frontend

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

[UI] Lock action
  src/frontend/src/pages/part/PartDetail.tsx
Due: Frontend

[UI] Calendar tooltips (#11980)
  src/frontend/src/components/calendar/Calendar.tsx
  src/frontend/src/components/calendar/OrderCalendar.tsx
  src/frontend/src/components/calendar/OrderCalendarToolTip.tsx
  src/frontend/src/components/render/Company.tsx
  src/frontend/src/pages/build/BuildIndex.tsx
  src/frontend/src/pages/purchasing/PurchasingIndex.tsx
  src/frontend/src/pages/sales/SalesIndex.tsx
  src/frontend/src/tables/InvenTreeTableHeader.tsx
Due: Frontend

fix test
  src/frontend/tests/pages/pui_stock.spec.ts
Due: Frontend

reduce breakage
  src/backend/InvenTree/users/api.py
  src/frontend/lib/enums/ApiEndpoints.tsx
Due: Backend Apps, Frontend

re-add legacy urls till next `breaking`
  src/backend/InvenTree/InvenTree/schema.py
  src/backend/InvenTree/users/api.py
Due: Backend Apps

feat(frontend): Add option for plugins to add header actions (#9570)
  CHANGELOG.md
  docs/docs/plugins/mixins/ui.md
  src/backend/InvenTree/plugin/base/ui/mixins.py
  src/backend/InvenTree/plugin/base/ui/tests.py
  src/backend/InvenTree/plugin/samples/integration/user_interface_sample.py
  src/frontend/src/components/buttons/PrimaryActionButton.tsx
  src/frontend/src/components/nav/PageDetail.tsx
  src/frontend/src/components/plugins/PluginUIFeature.tsx
  src/frontend/src/components/plugins/PluginUIFeatureTypes.ts
  src/frontend/tests/pages/pui_stock.spec.ts
Due: Backend Apps, Frontend

switch lingui style
  src/frontend/.linguirc
  src/frontend/lingui.config.ts
Due: Frontend

fix compile settings
  src/frontend/tsconfig.json
  src/frontend/tsconfig.lib.json
Due: Frontend

chore(deps): bump idna from 3.13 to 3.15 in /contrib/dev_reqs (#11970) (#11983)
  contrib/dev_reqs/requirements.txt
  docs/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

cleanup lingui deps
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

realign user API endpoints (#11963)
  CHANGELOG.md
  docs/docs/api/index.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/schema.py
  src/backend/InvenTree/users/api.py
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/AccountDetailPanel.tsx
  src/frontend/src/states/LocalState.tsx
  src/frontend/src/states/UserState.tsx
  src/frontend/src/tables/settings/ApiTokenTable.tsx
  src/frontend/tests/baseFixtures.ts
  src/frontend/tests/pages/pui_dashboard.spec.ts
Due: Backend Apps, Frontend

revert config style
  src/frontend/tsconfig.json
Due: Frontend

realign user API endpoints (#11963)
  docs/docs/api/index.md
  src/backend/InvenTree/InvenTree/schema.py
  src/backend/InvenTree/users/api.py
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/AccountDetailPanel.tsx
  src/frontend/src/states/LocalState.tsx
  src/frontend/src/states/UserState.tsx
  src/frontend/src/tables/settings/ApiTokenTable.tsx
  src/frontend/tests/baseFixtures.ts
  src/frontend/tests/pages/pui_dashboard.spec.ts
  src/performance/tests.py
Due: Backend Apps, Frontend

remove fallback
  CHANGELOG.md
  src/backend/InvenTree/users/api.py
Due: Backend Apps

fix style
  src/performance/tests.py
Due: none

[UI] Lock action (#11981)
  src/frontend/src/pages/part/PartDetail.tsx
Due: Frontend

Fix migration dependency order
  src/backend/InvenTree/order/migrations/0118_transferorder.py
Due: Backend Apps

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
