Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

[UI] Default locale (#11412)
  docs/docs/concepts/user_interface.md
  src/frontend/src/components/calendar/Calendar.tsx
  src/frontend/src/components/items/LanguageSelect.tsx
  src/frontend/src/components/plugins/PluginContext.tsx
  src/frontend/src/contexts/LanguageContext.tsx
  src/frontend/src/contexts/ThemeContext.tsx
  src/frontend/src/states/LocalState.tsx
Due: Frontend

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Improve migration
  src/backend/InvenTree/part/migrations/0149_auto_20250701_1334.py
Due: Backend Apps

[UI] Disable copy button if not secure
  src/frontend/src/components/buttons/CopyButton.tsx
  src/frontend/src/forms/CompanyForms.tsx
  src/frontend/src/tables/CopyableCell.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

[UI] Disable copy button if not secure (#11427)
  src/frontend/src/components/buttons/CopyButton.tsx
  src/frontend/src/forms/CompanyForms.tsx
  src/frontend/src/tables/CopyableCell.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Prevent exchange rate update during migration
  src/backend/InvenTree/InvenTree/tasks.py
Due: none

Prevent exchange rate update during migration (#11429)
  src/backend/InvenTree/InvenTree/tasks.py
Due: none

Fix tenant foreign key issues and stabilize test suite
  src/backend/InvenTree/InvenTree/unit_test.py
  src/backend/InvenTree/order/migrations/0117_alter_purchaseorder_tenant_alter_returnorder_tenant_and_more.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/stock/migrations/0119_alter_stocklocation_tenant.py
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

add changelog
  CHANGELOG.md
Due: none

reduce diff
  src/backend/InvenTree/InvenTree/settings.py
Due: none

remove temporary measures added in inventree#9769
  src/backend/InvenTree/InvenTree/config.py
Due: none

remove legacy tests
  src/backend/InvenTree/InvenTree/tests.py
Due: none

next-br: add changelog entry
  CHANGELOG.md
Due: none

feat(docs): add next breaking docs
  docs/docs/develop/contributing.md
Due: none

fix indent
  CHANGELOG.md
Due: none

chore(docs): remove old structure entry
  CONTRIBUTING.md
Due: none

cleanup
  src/frontend/lib/enums/ApiEndpoints.tsx
Due: Frontend

ann changelog entry
  CHANGELOG.md
Due: none

fix name
  src/frontend/lib/enums/ApiEndpoints.tsx
Due: Frontend

chore(docs): remove old structure entry (#11435)
  CONTRIBUTING.md
Due: none

bump API
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

remove legacy test
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps

update CHANGELOG.md
  CHANGELOG.md
Due: none

next-br: add changelog entry (#11434)
  CHANGELOG.md
Due: none

feat(docs): add next breaking docs (#11433)
  docs/docs/develop/contributing.md
Due: none

Fix tenant handling and update related tests and migrations
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/InvenTree/unit_test.py
  src/backend/InvenTree/order/migrations/0117_alter_purchaseorder_tenant_alter_returnorder_tenant_and_more.py
  src/backend/InvenTree/stock/migrations/0119_alter_stocklocation_tenant.py
  src/backend/InvenTree/tenant/migrations/0002_create_default_tenant.py
  src/backend/InvenTree/tenant/serializers.py
Due: Backend Apps

allow zero qty bom item with setting
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/part/serializers.py
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
Due: Backend Apps, Backend General, Frontend

add some serializers, rename PLACED to ISSUED for TransferOrders
  src/backend/InvenTree/order/events.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/order/status_codes.py
Due: Backend Apps

initial skel commit for transfer orders
  src/frontend/src/pages/stock/LocationDetail.tsx
Due: Frontend

adding from admin console works
  src/backend/InvenTree/order/admin.py
  src/backend/InvenTree/order/models.py
Due: Backend Apps

initial transfer order backend model
  src/backend/InvenTree/order/admin.py
  src/backend/InvenTree/order/migrations/0115_transferorder.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/status_codes.py
  src/backend/InvenTree/order/validators.py
Due: Backend Apps

add other cols to table
  src/frontend/src/tables/stock/TransferOrderTable.tsx
Due: Frontend

change panel to transferred stock upon complete
  src/frontend/src/pages/stock/TransferOrderDetail.tsx
Due: Frontend

wip: adding detail view
  src/backend/InvenTree/order/api.py
  src/frontend/src/pages/stock/TransferOrderDetail.tsx
  src/frontend/src/router.tsx
Due: Backend Apps, Frontend

disable edit allocations when completed
  src/frontend/src/pages/stock/TransferOrderDetail.tsx
  src/frontend/src/tables/stock/TransferOrderLineItemTable.tsx
Due: Frontend

add filters
  src/backend/InvenTree/order/api.py
Due: Backend Apps
