Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
      - type: project
        target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
      - type: project
        target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
      - type: project
        target: 65%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Simplify test again
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

make more readable
  src/backend/InvenTree/InvenTree/management/commands/remove_mfa.py
  src/backend/InvenTree/InvenTree/test_commands.py
Due: none

List filters (#10203)
  docs/docs/report/index.md
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/report/tests.py
  src/backend/InvenTree/report/validators.py
Due: Backend Apps

Tweak unit test
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Adjust playwright tests
  src/frontend/tests/fixtures/bom_data.csv
  src/frontend/tests/pages/pui_part.spec.ts
  src/frontend/tests/pui_importing.spec.ts
Due: Frontend

Further playwright fixes
  src/frontend/tests/pui_importing.spec.ts
Due: Frontend

Import update (#10188)
  docs/docs/assets/images/admin/import_select_id.png
  docs/docs/assets/images/admin/import_session_create_update.png
  docs/docs/assets/images/admin/import_update_process.png
  docs/docs/settings/import.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/importer/migrations/0005_dataimportsession_update_records.py
  src/backend/InvenTree/importer/models.py
  src/backend/InvenTree/importer/serializers.py
  src/backend/InvenTree/importer/test_data/part_categories.csv
  src/backend/InvenTree/importer/tests.py
  src/frontend/playwright.config.ts
  src/frontend/src/components/importer/ImportDataSelector.tsx
  src/frontend/src/components/importer/ImporterColumnSelector.tsx
  src/frontend/src/forms/ImporterForms.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/bom/BomTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
  src/frontend/src/tables/settings/ImportSessionTable.tsx
  src/frontend/tests/fixtures/bom_data.csv
  src/frontend/tests/pages/pui_part.spec.ts
  src/frontend/tests/pui_importing.spec.ts
Due: Backend Apps, Frontend

Support minimum column width
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Adjust DescriptionColumn and StatusColumn
  src/frontend/src/tables/ColumnRenderers.tsx
Due: Frontend

Column refactoring
  src/frontend/src/tables/ColumnRenderers.tsx
Due: Frontend

Refactor PartColumn
  src/frontend/src/components/wizards/OrderPartsWizard.tsx
  src/frontend/src/forms/BuildForms.tsx
  src/frontend/src/forms/SalesOrderForms.tsx
  src/frontend/src/pages/part/pricing/BomPricingPanel.tsx
  src/frontend/src/pages/part/pricing/VariantPricingPanel.tsx
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/bom/UsedInTable.tsx
  src/frontend/src/tables/build/BuildAllocatedStockTable.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/build/BuildOrderTable.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/src/tables/part/ParametricPartTable.tsx
  src/frontend/src/tables/part/PartBuildAllocationsTable.tsx
  src/frontend/src/tables/part/PartParameterTable.tsx
  src/frontend/src/tables/part/PartSalesAllocationsTable.tsx
  src/frontend/src/tables/part/PartTable.tsx
  src/frontend/src/tables/purchasing/ManufacturerPartTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
  src/frontend/src/tables/sales/ReturnOrderLineItemTable.tsx
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
  src/frontend/src/tables/stock/InstalledItemsTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Frontend

Refactor LineItemsProgerssColumn
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderTable.tsx
  src/frontend/src/tables/sales/ReturnOrderTable.tsx
  src/frontend/src/tables/sales/SalesOrderTable.tsx
Due: Frontend

Tweaks
  src/frontend/src/tables/build/BuildOrderTable.tsx
  src/frontend/src/tables/company/CompanyTable.tsx
  src/frontend/src/tables/sales/SalesOrderTable.tsx
Due: Frontend

fix: remove mfa task (#10200)
  src/backend/InvenTree/InvenTree/management/commands/remove_mfa.py
  src/backend/InvenTree/InvenTree/test_commands.py
Due: none

Column min width (#10204)
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/components/wizards/OrderPartsWizard.tsx
  src/frontend/src/forms/BuildForms.tsx
  src/frontend/src/forms/SalesOrderForms.tsx
  src/frontend/src/pages/part/pricing/BomPricingPanel.tsx
  src/frontend/src/pages/part/pricing/VariantPricingPanel.tsx
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/bom/UsedInTable.tsx
  src/frontend/src/tables/build/BuildAllocatedStockTable.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/build/BuildOrderTable.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/src/tables/company/CompanyTable.tsx
  src/frontend/src/tables/part/ParametricPartTable.tsx
  src/frontend/src/tables/part/PartBuildAllocationsTable.tsx
  src/frontend/src/tables/part/PartParameterTable.tsx
  src/frontend/src/tables/part/PartSalesAllocationsTable.tsx
  src/frontend/src/tables/part/PartTable.tsx
  src/frontend/src/tables/purchasing/ManufacturerPartTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderTable.tsx
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
  src/frontend/src/tables/sales/ReturnOrderLineItemTable.tsx
  src/frontend/src/tables/sales/ReturnOrderTable.tsx
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
  src/frontend/src/tables/sales/SalesOrderTable.tsx
  src/frontend/src/tables/stock/InstalledItemsTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Frontend

Account for database not being ready
  src/backend/InvenTree/machine/registry.py
Due: Backend Apps

Machine registry improvements (#10150)
  docs/docs/plugins/develop.md
  docs/docs/plugins/machines/label_printer.md
  docs/docs/plugins/machines/overview.md
  docs/docs/plugins/mixins/barcode.md
  docs/docs/plugins/mixins/machine.md
  docs/docs/plugins/mixins/mail.md
  docs/docs/plugins/mixins/schedule.md
  docs/docs/plugins/mixins/ui.md
  docs/docs/settings/error_codes.md
  docs/mkdocs.yml
  src/backend/InvenTree/generic/states/tests.py
  src/backend/InvenTree/machine/api.py
  src/backend/InvenTree/machine/apps.py
  src/backend/InvenTree/machine/registry.py
  src/backend/InvenTree/machine/serializers.py
  src/backend/InvenTree/machine/test_api.py
  src/backend/InvenTree/machine/tests.py
  src/backend/InvenTree/plugin/base/integration/MachineMixin.py
  src/backend/InvenTree/plugin/builtin/integration/machine_types.py
  src/backend/InvenTree/plugin/mixins/__init__.py
  src/backend/InvenTree/plugin/models.py
  src/backend/InvenTree/plugin/plugin.py
  src/backend/InvenTree/plugin/registry.py
  src/backend/InvenTree/plugin/samples/machines/__init__.py
  src/backend/InvenTree/plugin/samples/machines/sample_printer.py
  src/backend/InvenTree/plugin/test_plugin.py
  src/backend/InvenTree/plugin/testing/__init__.py
  src/backend/InvenTree/plugin/testing/label_machines.py
  src/frontend/src/components/render/Generic.tsx
  src/frontend/src/components/render/Part.tsx
  src/frontend/src/components/render/Plugin.tsx
  src/frontend/src/components/render/Report.tsx
  src/frontend/src/components/render/StatusRenderer.tsx
  src/frontend/src/components/render/Stock.tsx
  src/frontend/src/components/render/User.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/MachineManagementPanel.tsx
  src/frontend/src/states/SettingsStates.tsx
  src/frontend/src/tables/machine/MachineListTable.tsx
  src/frontend/src/tables/machine/MachineTypeTable.tsx
  src/frontend/tests/pui_machines.spec.ts
Due: Backend Apps, Backend General, Frontend

chore(backend):mfa e2e testing
  src/backend/InvenTree/users/tests.py
Due: Backend Apps

there are no tokens when only depoying browser-based clients for allauth
  src/backend/InvenTree/InvenTree/auth_overrides.py
  src/backend/InvenTree/InvenTree/settings.py
Due: none

cleanup
  src/backend/InvenTree/InvenTree/auth_overrides.py
  src/backend/InvenTree/users/tests.py
Due: Backend Apps

improve error messages (#10207)
  src/backend/InvenTree/InvenTree/management/commands/remove_mfa.py
  src/backend/InvenTree/InvenTree/test_commands.py
Due: none

remove biome
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

Ensure "can_build" value is not negative
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

Render row expansion icon
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

Add subassembly table for BOM
  src/frontend/src/tables/bom/BomSubassemblyTable.tsx
Due: Frontend

Add controls for BOM editing
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

Fix row click context
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

move migration
  src/backend/InvenTree/common/migrations/0033_referencesource_reference.py
  src/backend/InvenTree/common/migrations/0040_referencesource_reference.py
Due: Backend General

fix api version style
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

fix serializer
  src/backend/InvenTree/common/serializers.py
Due: Backend General

fix style
  contrib/dev_reqs/requirements.txt
  docs/requirements.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

Disable paging on purchaseOrderReceive api call
  src/backend/InvenTree/order/api.py
Due: Backend Apps

Bump api version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none
