Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
      - type: project
        target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
      - type: project
        target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
      - type: project
        target: 65%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Allow retry for search query
  src/frontend/src/components/nav/SearchDrawer.tsx
Due: Frontend

Further adjustments
  src/frontend/src/components/nav/NotificationDrawer.tsx
  src/frontend/src/components/render/Instance.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Improved dashboard
  src/frontend/src/components/dashboard/DashboardLayout.tsx
  src/frontend/src/hooks/UseDashboardItems.tsx
Due: Frontend

Upate more useQuery hooks
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/hooks/UseDataExport.tsx
  src/frontend/src/hooks/UseFilter.tsx
  src/frontend/src/hooks/UseGenerator.tsx
  src/frontend/src/hooks/UsePluginPanels.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
  src/frontend/src/tables/build/BuildOrderTestTable.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/src/tables/part/ParametricPartTable.tsx
  src/frontend/src/tables/part/PartThumbTable.tsx
  src/frontend/src/tables/stock/StockItemTestResultTable.tsx
Due: Frontend

Fix broken URL (was used for testing)
  src/frontend/lib/enums/ApiEndpoints.tsx
Due: Frontend

Remove custom delay
  src/frontend/src/components/dashboard/widgets/QueryCountDashboardWidget.tsx
  src/frontend/src/components/editors/NotesEditor.tsx
Due: Frontend

Fix for caching table options
  src/frontend/src/hooks/UseTable.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

fix enviroment for tests
  src/backend/InvenTree/InvenTree/test_views.py
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/plugin/samples/integration/test_sample.py
Due: Backend Apps

Fix for caching table options (#9898)
  src/frontend/src/hooks/UseTable.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Remove circular import vector
  src/backend/InvenTree/part/tasks.py
Due: Backend Apps

Revert change to noRecordsText
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Fix for invoke dev.translate task
  tasks.py
Due: none

Further adjustments
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/part/tasks.py
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Fix for invoke dev.translate task (#9900)
  tasks.py
Due: none

[UI] Refactor useQuery hooks (#9894)
  src/frontend/src/components/buttons/PrintingActions.tsx
  src/frontend/src/components/dashboard/DashboardLayout.tsx
  src/frontend/src/components/dashboard/widgets/QueryCountDashboardWidget.tsx
  src/frontend/src/components/details/Details.tsx
  src/frontend/src/components/editors/NotesEditor.tsx
  src/frontend/src/components/forms/ApiForm.tsx
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
  src/frontend/src/components/modals/LicenseModal.tsx
  src/frontend/src/components/nav/Header.tsx
  src/frontend/src/components/nav/NavigationTree.tsx
  src/frontend/src/components/nav/NotificationDrawer.tsx
  src/frontend/src/components/nav/SearchDrawer.tsx
  src/frontend/src/components/render/Instance.tsx
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/functions/api.tsx
  src/frontend/src/functions/notifications.tsx
  src/frontend/src/hooks/UseCalendar.tsx
  src/frontend/src/hooks/UseDashboardItems.tsx
  src/frontend/src/hooks/UseDataExport.tsx
  src/frontend/src/hooks/UseFilter.tsx
  src/frontend/src/hooks/UseGenerator.tsx
  src/frontend/src/hooks/UsePluginPanels.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/build/BuildOrderTestTable.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/src/tables/part/ParametricPartTable.tsx
  src/frontend/src/tables/part/PartThumbTable.tsx
  src/frontend/src/tables/stock/StockItemTestResultTable.tsx
Due: Frontend

Add useStoredTableState zustand
  src/frontend/src/states/StoredTableState.tsx
Due: Frontend

Store table page size in the zustand state
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/hooks/UseTable.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Store tablesorting data in zustand state
  src/frontend/src/states/LocalState.tsx
  src/frontend/src/states/StoredTableState.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Actually provide records...
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Transfer table names state
  src/frontend/src/contexts/LanguageContext.tsx
  src/frontend/src/states/StoredTableState.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Store hidden columns too
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/hooks/UseTable.tsx
  src/frontend/src/states/LocalState.tsx
  src/frontend/src/states/StoredTableState.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

[UI] Stored table state (#9902)
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/contexts/LanguageContext.tsx
  src/frontend/src/hooks/UseTable.tsx
  src/frontend/src/states/LocalState.tsx
  src/frontend/src/states/StoredTableState.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Prevent clicks when editing dashboard items
  src/frontend/src/components/dashboard/DashboardWidget.tsx
Due: Frontend

Tweak expand icon for panels
  src/frontend/src/components/panels/PanelGroup.tsx
Due: Frontend

Fix event handler
  src/frontend/src/tables/build/BuildOrderTestTable.tsx
Due: Frontend

Make icon more clickable
  src/frontend/src/tables/build/BuildOrderTestTable.tsx
Due: Frontend

Tweak playwright test
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

[UI] Build test results fix (#9906)
  src/frontend/src/tables/build/BuildOrderTestTable.tsx
Due: Frontend

[UI] Dashboard Update (#9904)
  src/frontend/src/components/dashboard/DashboardWidget.tsx
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Add "hover image" for part display in tables
  src/frontend/src/components/images/Thumbnail.tsx
  src/frontend/src/tables/ColumnRenderers.tsx
Due: Frontend

Tweak expand icon for panels (#9905)
  src/frontend/src/components/panels/PanelGroup.tsx
Due: Frontend

Refactor company column
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/company/CompanyTable.tsx
  src/frontend/src/tables/purchasing/ManufacturerPartTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderTable.tsx
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
  src/frontend/src/tables/purchasing/SupplierPriceBreakTable.tsx
  src/frontend/src/tables/sales/ReturnOrderTable.tsx
  src/frontend/src/tables/sales/SalesOrderTable.tsx
Due: Frontend

Remove unused field
  src/frontend/src/forms/BuildForms.tsx
Due: Frontend

Updated docs
  docs/docs/part/pricing.md
Due: none

Update logic around automatic pricing updates
  docs/docs/part/pricing.md
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/part/tasks.py
Due: Backend Apps, Backend General

Logic fix
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Remove daily holdoff
  src/backend/InvenTree/part/tasks.py
Due: Backend Apps

[UI] Hover image (#9907)
  src/frontend/src/components/images/Thumbnail.tsx
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/company/CompanyTable.tsx
  src/frontend/src/tables/purchasing/ManufacturerPartTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderTable.tsx
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
  src/frontend/src/tables/purchasing/SupplierPriceBreakTable.tsx
  src/frontend/src/tables/sales/ReturnOrderTable.tsx
  src/frontend/src/tables/sales/SalesOrderTable.tsx
Due: Frontend

Remove unused field (#9908)
  src/frontend/src/forms/BuildForms.tsx
Due: Frontend
