Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

update docs
  docs/docs/develop/contributing.md
Due: none

add changelog
  CHANGELOG.md
Due: none

fix style
  docs/requirements.txt
Due: none

lazy load global window modules
  src/frontend/src/main.tsx
  src/frontend/src/window.tsx
Due: Frontend

Defer modal loading
  src/frontend/src/contexts/ThemeContext.tsx
Due: Frontend

Rollup visualiser tool
  src/frontend/.gitignore
  src/frontend/package.json
  src/frontend/vite.config.ts
  src/frontend/yarn.lock
Due: Frontend

Remove debug msg
  src/frontend/src/window.tsx
Due: Frontend

Rearrange to reduce deltas
  src/frontend/src/main.tsx
Due: Frontend

Refactor CodeEditor and PdfPreview
  src/frontend/src/components/editors/TemplateEditor/CodeEditor/index.tsx
  src/frontend/src/components/editors/TemplateEditor/PdfPreview/index.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/ReportTemplatePanel.tsx
Due: Frontend

Split NotesPanel
  src/frontend/src/components/panels/NotesPanel.tsx
Due: Frontend

update deps
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

update config style
  src/frontend/.linguirc
  src/frontend/lingui.config.ts
Due: Frontend

fix ts settings
  src/frontend/tsconfig.json
  src/frontend/tsconfig.lib.json
Due: Frontend

fix style
  src/frontend/src/pages/Index/Settings/AccountSettings/UserPanel.tsx
Due: Frontend

expose EditApiForm in context
  src/frontend/lib/types/Plugins.tsx
  src/frontend/src/components/plugins/PluginContext.tsx
Due: Frontend

expose renderRemoteInstance in context
  src/frontend/lib/types/Plugins.tsx
  src/frontend/src/components/plugins/PluginContext.tsx
Due: Frontend

expose useInstance in context
  src/frontend/lib/types/Rendering.tsx
  src/frontend/src/components/plugins/PluginContext.tsx
  src/frontend/src/hooks/UseInstance.tsx
Due: Frontend

export DetailDrawerComponent, useLocalLibState
  src/frontend/lib/components/nav/DetailDrawer.tsx
  src/frontend/lib/index.ts
Due: Frontend

fix import/type
  src/frontend/lib/types/Plugins.tsx
  src/frontend/lib/types/Rendering.tsx
  src/frontend/src/components/render/Instance.tsx
  src/frontend/src/pages/part/bom/BomActions.tsx
Due: Frontend

test: fix basic login flow
  src/frontend/tests/login.ts
Due: Frontend

Remove unnecessary print statement
  src/backend/InvenTree/order/migrations/0117_purchaseorderextraline_line_int_and_more.py
Due: Backend Apps

Fix validation
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Remove rollup-plugin-visualizer
  src/frontend/package.json
  src/frontend/vite.config.ts
  src/frontend/yarn.lock
Due: Frontend

Fix #11832: Prevent TypeError by making LDAP group search conditional in settings
  src/backend/InvenTree/InvenTree/settings.py
Due: none

update names
  .pre-commit-config.yaml
Due: none

update tooling
  .pre-commit-config.yaml
Due: none

update files to new style
  src/backend/InvenTree/InvenTree/conversion.py
  src/backend/InvenTree/InvenTree/tasks.py
  src/backend/InvenTree/common/settings.py
  src/backend/InvenTree/machine/api.py
  src/backend/InvenTree/plugin/api.py
Due: Backend Apps, Backend General

swich to prek
  .github/workflows/qc_checks.yaml
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.in
  src/backend/requirements-dev.txt
  tasks.py
Due: none

remove autoupdate to make newbie PRs cleaner
  tasks.py
Due: none

Revert "remove autoupdate to make newbie PRs cleaner"
  tasks.py
Due: none

add changelog entry
  src/frontend/CHANGELOG.md
Due: Frontend

bump django
  contrib/container/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

Revert "[UI] Optimize bundle (#11896)"
  src/frontend/.gitignore
  src/frontend/src/components/editors/TemplateEditor/CodeEditor/index.tsx
  src/frontend/src/components/editors/TemplateEditor/PdfPreview/index.tsx
  src/frontend/src/components/panels/NotesPanel.tsx
  src/frontend/src/contexts/ThemeContext.tsx
  src/frontend/src/main.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/ReportTemplatePanel.tsx
  src/frontend/src/window.tsx
Due: Frontend

add comment regarding GHSA-5h8x-9c6f-2j8m
  src/backend/osv-scanner.toml
Due: none

fix test assertation
  src/backend/InvenTree/web/tests.py
Due: Backend Apps

fix style
  src/backend/requirements-3.14.txt
  src/backend/requirements.txt
Due: none

align dev reqs
  src/backend/requirements-dev.txt
Due: none
