Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Updated Sample UI plugin with route example.
  src/backend/InvenTree/plugin/samples/integration/user_interface_sample.py
  src/backend/InvenTree/plugin/samples/static/plugins/sampleui/sample_route.js
Due: Backend Apps

Added UI route tests.
  src/backend/InvenTree/plugin/base/ui/tests.py
Due: Backend Apps

Add minimum version information
  docs/mkdocs.yml
Due: none

Update DB docs
  docs/docs/start/config.md
  docs/docs/start/docker.md
  docs/docs/start/install.md
Due: none

Min db docs (#12897)
  docs/docs/start/config.md
  docs/docs/start/docker.md
  docs/docs/start/install.md
  docs/mkdocs.yml
Due: none

try fixing leaky firefox tests
  src/frontend/tests/baseFixtures.ts
Due: Frontend

Handle auto_now and auto_now_add fields for bulk import
  src/backend/InvenTree/InvenTree/management/commands/bulkloaddata.py
Due: none

Plugin name added to UI Route URL.
  src/backend/InvenTree/plugin/base/ui/tests.py
  src/backend/InvenTree/plugin/samples/integration/user_interface_sample.py
  src/frontend/src/components/plugins/PluginRoutes.tsx
Due: Backend Apps, Frontend

Add regression testing
  src/backend/InvenTree/InvenTree/test_commands.py
Due: none

Updated docs.
  docs/docs/plugins/mixins/ui.md
Due: none

Docs fix.
  docs/docs/plugins/mixins/ui.md
Due: none

[UI] Fix Background Tasks panel
  src/frontend/src/pages/Index/Settings/AdminCenter/TaskManagementPanel.tsx
Due: Frontend

[report] Add set_var and get_var helpers
  docs/docs/report/helpers.md
  src/backend/InvenTree/report/models.py
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

[bug] Fix for Attachment thumbnail generation
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/tests.py
Due: Backend General

Add type hints
  src/backend/InvenTree/report/templatetags/report.py
Due: Backend Apps

[bug] Bulk import fix (#12898)
  src/backend/InvenTree/InvenTree/management/commands/bulkloaddata.py
  src/backend/InvenTree/InvenTree/test_commands.py
Due: none

[bug] Fix for Attachment thumbnail generation (#12902)
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/tests.py
Due: Backend General

Adjust helpers
  src/backend/InvenTree/report/templatetags/report.py
Due: Backend Apps

[UI] Fix Background Tasks panel (#12899)
  src/frontend/src/pages/Index/Settings/AdminCenter/TaskManagementPanel.tsx
Due: Frontend

[report] Add set_var and get_var helpers (#12901)
  docs/docs/report/helpers.md
  src/backend/InvenTree/report/models.py
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

try fixing leaky firefox tests (#12904)
  src/frontend/tests/baseFixtures.ts
Due: Frontend

Updated sample_route text.
  src/backend/InvenTree/plugin/samples/static/plugins/sampleui/sample_route.js
Due: Backend Apps

Update src/backend/InvenTree/plugin/base/ui/mixins.py
  src/backend/InvenTree/plugin/base/ui/mixins.py
Due: Backend Apps

Fixed nav dynamic link highlighting.
  src/frontend/src/components/nav/Header.tsx
Due: Frontend

Added changelog entry.
  CHANGELOG.md
Due: none

Enable filtering / searching / sorting on the SelectionListList API endpoint
  src/backend/InvenTree/common/api.py
Due: Backend General

Add regression tests
  src/backend/InvenTree/common/test_api.py
Due: Backend General

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Selection list fix (#12908)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/test_api.py
Due: Backend General

Additional regression tests for note support in reports
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Additional regression tests for note support in reports (#12910)
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Add global setting
  src/backend/InvenTree/common/setting/system.py
Due: Backend General

docs
  docs/docs/purchasing/purchase_order.md
Due: none

Dynamically set API field default
  src/backend/InvenTree/order/serializers.py
Due: Backend Apps

UI elements
  src/frontend/src/components/wizards/OrderPartsWizard.tsx
  src/frontend/src/forms/PurchaseOrderForms.tsx
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
  src/frontend/src/pages/purchasing/PurchaseOrderDetail.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderTable.tsx
Due: Frontend

regression testing
  src/backend/InvenTree/InvenTree/metadata.py
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Add top-level batch code when receiving items
  src/backend/InvenTree/order/serializers.py
  src/frontend/.gitignore
  src/frontend/src/forms/PurchaseOrderForms.tsx
  src/frontend/tests/pages/pui_purchasing.spec.ts
Due: Backend Apps, Frontend

Add API test
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps
