Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

feat(backend): Improve error message on INVE-7 (#10518)
  src/backend/InvenTree/InvenTree/middleware.py
  src/backend/InvenTree/InvenTree/test_middleware.py
Due: none

Bump InvenTree software version to 1.0.6
  src/backend/InvenTree/InvenTree/version.py
Due: none

removed tenant delete permission for all users
  src/backend/InvenTree/tenant/admin.py
  src/backend/InvenTree/tenant/api.py
  src/backend/InvenTree/tenant/tests.py
Due: none

Bump InvenTree software version to 1.0.6 (#10524)
  src/backend/InvenTree/InvenTree/version.py
Due: none

refactor docker upgrade guide
  docs/docs/start/docker.md
  docs/docs/start/docker_deploy.md
  docs/docs/start/docker_upgrade.md
  docs/mkdocs.yml
Due: none

undo rename docker_install
  docs/docs/start/docker_install.md
  docs/docs/start/docker_upgrade.md
  docs/mkdocs.yml
Due: none

Adjust playwright test
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

add-minimum-stock-to-brief-part-serializer (#10497)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

allow mobile check ignore
  src/frontend/src/main.tsx
  src/frontend/src/views/MainView.tsx
  src/frontend/src/views/MobileAppView.tsx
Due: Frontend

Allow querying for generic status by class name, add schema return type for AllStatusViews
  src/backend/InvenTree/generic/states/api.py
Due: Backend General

Bump version api
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

[UI] Virtual BOM Improvements (#10516)
  src/frontend/src/components/render/Part.tsx
  src/frontend/src/tables/bom/BomTable.tsx
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Fix tests
  src/backend/InvenTree/generic/states/api.py
  src/backend/InvenTree/generic/states/tests.py
Due: Backend General

Generic status endpoint fixes (#10530)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/generic/states/api.py
  src/backend/InvenTree/generic/states/tests.py
Due: Backend General

add docs
  docs/docs/start/config.md
Due: none

Add background task overview return type to schema
  src/backend/InvenTree/common/api.py
Due: Backend General

Implement serializer so schema generates correctly
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Bump api version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

allow mobile check ignore (#10529)
  docs/docs/start/config.md
  src/frontend/src/main.tsx
  src/frontend/src/views/MainView.tsx
  src/frontend/src/views/MobileAppView.tsx
Due: Frontend

Fill in last missing return types in schema (#10532)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps, Backend General

Define error serializer and codes for schema
  src/backend/InvenTree/plugin/base/action/api.py
  src/backend/InvenTree/plugin/base/action/test_action.py
Due: Backend Apps

Update integration test status code check
  src/backend/InvenTree/plugin/samples/integration/test_simpleactionplugin.py
Due: Backend Apps

[UI] Prevent warning flash
  src/backend/InvenTree/web/templates/web/index.html
Due: Backend Apps

Add schema representation for plugin action error responses (#10538)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/plugin/base/action/api.py
  src/backend/InvenTree/plugin/base/action/test_action.py
  src/backend/InvenTree/plugin/samples/integration/test_simpleactionplugin.py
Due: Backend Apps

Support no-javascript
  src/backend/InvenTree/web/templates/web/index.html
Due: Backend Apps

[UI] Prevent warning flash (#10540)
  src/backend/InvenTree/web/templates/web/index.html
Due: Backend Apps

updated part api mixin and part serializer to include salepricebreaks when explicitly queried
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

optimize mro
  src/backend/InvenTree/InvenTree/serializers.py
Due: none

set many serializer
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Update docs for running playwright tests
  docs/docs/develop/react-frontend.md
Due: none

Fix "override pricing" display
  src/frontend/src/pages/part/pricing/PricingOverviewPanel.tsx
Due: Frontend

Update docs for running playwright tests (#10544)
  docs/docs/develop/react-frontend.md
Due: none

Fix "override pricing" display (#10545)
  src/frontend/src/pages/part/pricing/PricingOverviewPanel.tsx
Due: Frontend

fixed bug in ApiForm that prevents form field value from updating correctly
  src/frontend/src/components/forms/ApiForm.tsx
Due: Frontend

CreateSalesOrderLineItem form now automatically applies price break based on currency and quantity for a part
  src/frontend/src/forms/SalesOrderForms.tsx
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
Due: Frontend
