Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Adjust text
  docs/docs/plugins/creator.md
Due: none

min version note (#10097)
  docs/docs/plugins/creator.md
Due: none

Add unit test for unauthenticated user
  src/backend/InvenTree/common/tests.py
Due: Backend General

Exclude lines from coverage
  src/backend/InvenTree/common/api.py
Due: Backend General

Enhanced permission checks for API (#10096)
  src/backend/InvenTree/InvenTree/permissions.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/tests.py
Due: Backend General

Sticky headers (#9022)
  docs/docs/settings/user.md
  src/backend/InvenTree/common/setting/user.py
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Backend General, Frontend

PurchaseOrder table improvements
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
Due: Frontend

Fix autocomplete fields for PurchaseOrderLineItem
  src/backend/InvenTree/order/admin.py
Due: Backend Apps

Add inline admin for SalesOrderLineItem
  src/backend/InvenTree/order/admin.py
Due: Backend Apps

Add handling for stockitem list return on creation
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Frontend

Update api version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

PurchaseOrder table improvements (#10098)
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
Due: Frontend

Admin site enhancements (#10099)
  src/backend/InvenTree/order/admin.py
Due: Backend Apps

Tweak unit test
  src/backend/InvenTree/plugin/test_api.py
Due: Backend Apps

Another unit test fix
  src/backend/InvenTree/plugin/base/label/test_label_mixin.py
Due: Backend Apps

Fix with_mixin
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Make with_mixin call much more efficient
  src/backend/InvenTree/InvenTree/unit_test.py
  src/backend/InvenTree/plugin/registry.py
  src/backend/InvenTree/plugin/test_plugin.py
Due: Backend Apps

Fix the 'is_package' method for PluginConfig
  src/backend/InvenTree/plugin/models.py
  src/backend/InvenTree/plugin/test_plugin.py
Due: Backend Apps

Tweak unit test
  src/backend/InvenTree/plugin/test_plugin.py
Due: Backend Apps

Make api_info endpoint more efficient
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/InvenTree/test_api.py
Due: none

Run just single test
  .github/workflows/qc_checks.yaml
Due: none

Disable CI test
  .github/workflows/qc_checks.yaml
Due: none

Revert changes to CI pipeline
  .github/workflows/qc_checks.yaml
Due: none

Fix typo
  .github/workflows/qc_checks.yaml
Due: none

Debug for test
  src/backend/InvenTree/InvenTree/test_api.py
Due: none

Style fix
  src/backend/InvenTree/InvenTree/test_api.py
Due: none

Additional checks
  src/backend/InvenTree/InvenTree/test_api.py
Due: none

Ensure reload
  src/backend/InvenTree/InvenTree/test_api.py
Due: none

Ensure plugin registry is ready before running unit tests
  src/backend/InvenTree/InvenTree/test_api.py
  src/backend/InvenTree/InvenTree/unit_test.py
Due: none

Fix typo
  src/backend/InvenTree/InvenTree/unit_test.py
Due: none

Add debug statements
  src/backend/InvenTree/InvenTree/unit_test.py
  src/backend/InvenTree/plugin/apps.py
Due: Backend Apps

Additional debug output
  src/backend/InvenTree/InvenTree/unit_test.py
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Debug logging for MySQL
  .github/workflows/qc_checks.yaml
Due: none

Ensure config objects are created?
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Ensure plugin registry is reloaded before running tests
  src/backend/InvenTree/InvenTree/unit_test.py
  src/backend/InvenTree/plugin/apps.py
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Remove intentional failure
  src/backend/InvenTree/InvenTree/test_api.py
Due: none

Reset debug level
  .github/workflows/qc_checks.yaml
Due: none

Fix CI pipeline
  .github/workflows/qc_checks.yaml
Due: none

Fix
  .github/workflows/qc_checks.yaml
Due: none

Fix test mixins
  src/backend/InvenTree/plugin/test_plugin.py
Due: Backend Apps

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
