Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Only superuser can change certain user fields
  src/backend/InvenTree/users/admin.py
Due: Backend Apps

docs changes
  docs/docs/settings/global.md
Due: none

docs changes
  .claude/settings.local.json
Due: none

[UI] Fix navigation tabs
  src/frontend/src/components/nav/Header.tsx
  src/frontend/src/defaults/links.tsx
Due: Frontend

Add new user setting
  docs/docs/settings/user.md
  src/backend/InvenTree/common/setting/user.py
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
Due: Backend General, Frontend

Consider global settings also
  src/frontend/src/defaults/links.tsx
Due: Frontend

Adjust unit test
  src/backend/InvenTree/InvenTree/tests.py
Due: none

Implement hover-card for RenderInstance
  src/frontend/lib/enums/ModelInformation.tsx
  src/frontend/src/components/render/Instance.tsx
Due: Frontend

Allow override when calling RenderInstance
  src/frontend/lib/types/Rendering.tsx
  src/frontend/src/components/render/Instance.tsx
Due: Frontend

Simplify
  src/frontend/src/components/render/Instance.tsx
Due: Frontend

Add link icon
  src/frontend/src/components/render/Instance.tsx
Due: Frontend

Adjust logic
  src/frontend/src/components/render/Instance.tsx
Due: Frontend

Simplify logic
  src/frontend/src/components/render/Instance.tsx
Due: Frontend

[UI] Part form adjustments
  src/frontend/src/forms/PartForms.tsx
Due: Frontend

[UI] Part lock notification
  src/frontend/src/pages/part/PartDetail.tsx
Due: Frontend

Do not raise exception in offload_task
  src/backend/InvenTree/InvenTree/tasks.py
Due: none

Revert "Do not raise exception in offload_task"
  src/backend/InvenTree/InvenTree/tasks.py
Due: none

Improve offloading of check_for_migrations
  src/backend/InvenTree/InvenTree/apps.py
Due: none

Playwright caching
  .github/workflows/qc_checks.yaml
Due: none

Fix for BuildDetail
  src/frontend/src/pages/build/BuildDetail.tsx
Due: Frontend

Update playwright tests
  src/frontend/tests/pages/pui_build.spec.ts
Due: Frontend

update playwright
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

[UI] Part create fields (#12039)
  src/frontend/package.json
  src/frontend/src/forms/PartForms.tsx
  src/frontend/yarn.lock
Due: Frontend

Playwright caching (#12042)
  .github/workflows/qc_checks.yaml
Due: none

[UI] Fix navigation tabs (#12037)
  src/frontend/src/components/nav/Header.tsx
  src/frontend/src/defaults/links.tsx
Due: Frontend

[UI] Part lock notification (#12040)
  src/frontend/src/pages/part/PartDetail.tsx
Due: Frontend

Fix for offloading of check_for_migrations (#12041)
  src/backend/InvenTree/InvenTree/apps.py
Due: none

gunicorn configuration tweaks
  contrib/container/gunicorn.conf.py
Due: none

[UI] error log shortcut
  src/frontend/src/defaults/actions.tsx
Due: Frontend

Add 'transfer orders' action
  src/frontend/src/defaults/actions.tsx
Due: Frontend

fix style
  contrib/dev_reqs/requirements.txt
  docs/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

Adjust default postgres connection settings
  docs/docs/start/config.md
  src/backend/InvenTree/InvenTree/setting/db_backend.py
Due: none

Support tcp_user_timeout
  docs/docs/start/config.md
  src/backend/InvenTree/InvenTree/setting/db_backend.py
Due: none

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
