Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Update version.py
  src/backend/InvenTree/InvenTree/version.py
Due: none

[UI] Tweak dashboard filters (#10501)
  src/frontend/src/components/dashboard/DashboardWidgetLibrary.tsx
Due: Frontend

Update api_version.py
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

fix(backend): ensure internal notifications are created in a valid format Closes #10435
  src/backend/InvenTree/plugin/builtin/integration/core_notifications.py
Due: Backend Apps

fix style
  src/backend/InvenTree/part/api.py
Due: Backend Apps

Update docs regarding `INVENTREE_AUTO_UPDATE`
  docs/docs/start/config.md
Due: none

bump contianer / dev dependencies too (#10472) (#10496)
  contrib/container/requirements.txt
  src/backend/requirements-dev.txt
Due: none

fix(backend): ensure internal notifications are created in a valid format (#10502)
  src/backend/InvenTree/plugin/builtin/integration/core_notifications.py
Due: Backend Apps

Update docs regarding `INVENTREE_AUTO_UPDATE` (#10505)
  docs/docs/start/config.md
Due: none

Bump InvenTree software version to 1.0.4
  src/backend/InvenTree/InvenTree/version.py
Due: none

Bump InvenTree software version to 1.0.4 (#10508)
  src/backend/InvenTree/InvenTree/version.py
Due: none

Bump software version to 1.0.5
  src/backend/InvenTree/InvenTree/version.py
Due: none

Bump software version to 1.0.5 (#10509)
  src/backend/InvenTree/InvenTree/version.py
Due: none

show warning text
  src/backend/InvenTree/web/templates/web/index.html
Due: Backend Apps

fix formatting
  docs/docs/settings/error_codes.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

try to gather site-url correctly
  contrib/packager.io/functions.sh
Due: none

protect envs that are set in the config
  contrib/packager.io/postinstall.sh
  contrib/packager.io/preinstall.sh
Due: none

raise issue if they appear
  contrib/packager.io/functions.sh
Due: none

prefer app setting over file config
  contrib/packager.io/functions.sh
Due: none

preserve setting if injected via envs
  contrib/packager.io/functions.sh
Due: none

chore(backend): fix missing ignore (#10512)
  src/backend/InvenTree/InvenTree/sentry.py
  src/backend/InvenTree/InvenTree/settings.py
Due: none

Add "virtual" badge when rendering part
  src/frontend/src/components/render/Part.tsx
Due: Frontend

Improve display of virtual parts in BOM table
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

[docs] BOM import
  docs/docs/manufacturing/bom.md
Due: none

feat(backend): Improve error message on INVE-7
  src/backend/InvenTree/InvenTree/middleware.py
Due: none

fix: package distribution (#10515)
  contrib/packager.io/functions.sh
  contrib/packager.io/postinstall.sh
  contrib/packager.io/preinstall.sh
  docs/docs/settings/error_codes.md
  src/backend/InvenTree/web/templates/web/index.html
Due: Backend Apps

[docs] BOM import (#10517)
  docs/docs/manufacturing/bom.md
Due: none

change wording
  src/backend/InvenTree/InvenTree/middleware.py
Due: none

fix installers final message
  contrib/packager.io/functions.sh
Due: none

adjust text
  contrib/packager.io/functions.sh
Due: none

fix test
  src/backend/InvenTree/InvenTree/test_middleware.py
Due: none

another fix
  src/backend/InvenTree/InvenTree/test_middleware.py
Due: none

fix style
  contrib/dev_reqs/requirements.txt
  docs/requirements.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

fix: correct admin credential msg (#10521)
  contrib/packager.io/functions.sh
Due: none
