Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

add readme entry
  README.md
Due: none

do not run codspeed in forks
  .github/workflows/qc_checks.yaml
Due: none

Added "allocated_lines" to the backend and frontend tables
  src/backend/InvenTree/order/serializers.py
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/sales/SalesOrderTable.tsx
Due: Backend Apps, Frontend

fix style
  src/backend/requirements.txt
Due: none

set node version
  .github/workflows/qc_checks.yaml
Due: none

also set up node
  .github/workflows/qc_checks.yaml
Due: none

Log boundary errors to console
  src/frontend/src/components/Boundary.tsx
Due: Frontend

[bug] build output stock status
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/order/models.py
Due: Backend Apps

Log boundary errors to console (#11125)
  src/frontend/src/components/Boundary.tsx
Due: Frontend

[bug] build output stock status (#11126)
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/order/models.py
Due: Backend Apps

fix link
  README.md
Due: none

be more specific in enforcement flow
  src/frontend/lib/types/Auth.tsx
  src/frontend/src/functions/auth.tsx
Due: Frontend

[bug] Fix for "Cancel Build Outputs" form
  src/frontend/src/forms/BuildForms.tsx
Due: Frontend

[UI] Bug fix for table column reordering
  src/frontend/src/functions/tables.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

[bug] Fix for "Cancel Build Outputs" form (#11130)
  src/frontend/src/forms/BuildForms.tsx
Due: Frontend

[UI] Improved flow for 409 errors
  src/frontend/src/functions/auth.tsx
Due: Frontend

Remove previous cache approach
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Remove unused code
  src/frontend/src/tables/build/BuildOutputTable.tsx
Due: Frontend

[UI] Improved flow for 409 errors (#11132)
  src/frontend/src/functions/auth.tsx
Due: Frontend

[UI] Bug fix for table column reordering (#11131)
  src/frontend/src/functions/tables.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
Due: Frontend

ensure we log the admin also out immidiatly after removing all mfa
  src/frontend/src/pages/Index/Settings/AccountSettings/MFASettings.tsx
Due: Frontend

small cleanup
  src/frontend/src/functions/auth.tsx
  src/frontend/src/states/states.tsx
Due: Frontend

sml chg
  src/frontend/src/functions/auth.tsx
Due: Frontend

fix execution order issues
  src/frontend/src/functions/auth.tsx
Due: Frontend

clean up args
  src/frontend/src/functions/auth.tsx
Due: Frontend

cleanup
  src/frontend/src/functions/auth.tsx
Due: Frontend

feat(backend): enable reseting mfa via username
  src/backend/InvenTree/InvenTree/management/commands/remove_mfa.py
  tasks.py
Due: none

fix style
  src/backend/requirements-dev.txt
Due: none

fix tests
  src/backend/InvenTree/InvenTree/management/commands/remove_mfa.py
  src/backend/InvenTree/InvenTree/test_commands.py
Due: none

extend testing saveguards to username cli
  src/backend/InvenTree/InvenTree/management/commands/remove_mfa.py
  src/backend/InvenTree/InvenTree/test_commands.py
Due: none

chore(ci): Re-enable codspeed runner (#11120)
  .github/workflows/qc_checks.yaml
  README.md
  src/backend/InvenTree/manage.py
Due: none

feat(backend): enable reseting mfa via username from the cli (#11133)
  src/backend/InvenTree/InvenTree/management/commands/remove_mfa.py
  src/backend/InvenTree/InvenTree/test_commands.py
  tasks.py
Due: none

[ui] Show stock item ID in `RenderStockItem`
  src/frontend/src/components/render/Stock.tsx
Due: Frontend

add test for mfa change logout
  src/backend/InvenTree/common/tests.py
Due: Backend General

fix IP in test
  src/backend/InvenTree/common/tests.py
Due: Backend General

add option to require an explicit confirm
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/serializers.py
Due: Backend General

adapt ui to ask before patching
  src/frontend/lib/types/Settings.tsx
  src/frontend/src/components/settings/SettingItem.tsx
  src/frontend/src/components/settings/SettingList.tsx
Due: Frontend
