Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

exend log
  src/backend/InvenTree/InvenTree/test_auth.py
Due: none

BOM filter by category (#9989)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/part/api.py
  src/frontend/src/tables/Filter.tsx
  src/frontend/src/tables/bom/BomTable.tsx
  src/frontend/tests/pages/pui_build.spec.ts
Due: Backend Apps, Frontend

Fix unit tests
  src/backend/InvenTree/part/fixtures/part.yaml
  src/backend/InvenTree/part/test_part.py
Due: Backend Apps

Offloading more component type definitions
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/InvenTreeTableHeader.tsx
  src/frontend/src/tables/RowActions.tsx
  src/frontend/src/tables/machine/MachineListTable.tsx
  src/frontend/src/tables/machine/MachineTypeTable.tsx
  src/frontend/src/tables/part/PartTable.tsx
Due: Frontend

Remove unused funcs
  src/frontend/src/functions/uid.tsx
Due: Frontend

Move conversion functions
  src/frontend/lib/functions/Conversion.tsx
  src/frontend/src/components/buttons/ActionButton.tsx
  src/frontend/src/components/buttons/SplitButton.tsx
  src/frontend/src/components/buttons/YesNoButton.tsx
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/src/components/forms/fields/TableField.tsx
  src/frontend/src/components/items/ActionDropdown.tsx
  src/frontend/src/components/nav/BreadcrumbList.tsx
  src/frontend/src/components/panels/PanelGroup.tsx
  src/frontend/src/components/plugins/RemoteComponent.tsx
  src/frontend/src/components/render/StatusRenderer.tsx
  src/frontend/src/hooks/UseDashboardItems.tsx
  src/frontend/src/hooks/UseFilter.tsx
  src/frontend/src/states/SettingsStates.tsx
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/InvenTreeTableHeader.tsx
  src/frontend/src/tables/settings/TemplateTable.tsx
Due: Frontend

ActionButton
  src/frontend/lib/components/ActionButton.tsx
  src/frontend/lib/index.ts
  src/frontend/src/components/buttons/AddItemButton.tsx
  src/frontend/src/components/buttons/AdminButton.tsx
  src/frontend/src/components/buttons/RemoveRowButton.tsx
  src/frontend/src/components/buttons/StarredToggleButton.tsx
  src/frontend/src/components/calendar/Calendar.tsx
  src/frontend/src/components/details/DetailsImage.tsx
  src/frontend/src/components/forms/InstanceOptions.tsx
  src/frontend/src/components/importer/ImportDataSelector.tsx
  src/frontend/src/components/plugins/LocateItemButton.tsx
  src/frontend/src/components/wizards/OrderPartsWizard.tsx
  src/frontend/src/forms/PurchaseOrderForms.tsx
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/AccountDetailPanel.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/CurrencyManagementPanel.tsx
  src/frontend/src/pages/Notifications.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
  src/frontend/src/tables/InvenTreeTableHeader.tsx
  src/frontend/src/tables/bom/BomTable.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/src/tables/general/AttachmentTable.tsx
  src/frontend/src/tables/general/BarcodeScanTable.tsx
  src/frontend/src/tables/plugin/PluginListTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
  src/frontend/src/tables/sales/ReturnOrderLineItemTable.tsx
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
  src/frontend/src/tables/settings/EmailTable.tsx
  src/frontend/src/tables/settings/PendingTasksTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Frontend

Refactor YesNoButton
  src/frontend/lib/components/YesNoButton.tsx
  src/frontend/lib/index.ts
  src/frontend/src/components/details/Details.tsx
  src/frontend/src/components/importer/ImportDataSelector.tsx
  src/frontend/src/components/items/InfoItem.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/AccountDetailPanel.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/ReportTemplatePanel.tsx
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/bom/BomTable.tsx
  src/frontend/src/tables/build/BuildOrderTestTable.tsx
  src/frontend/src/tables/company/AddressTable.tsx
  src/frontend/src/tables/machine/MachineListTable.tsx
  src/frontend/src/tables/part/ParametricPartTable.tsx
  src/frontend/src/tables/part/PartCategoryTable.tsx
  src/frontend/src/tables/part/PartParameterTable.tsx
  src/frontend/src/tables/sales/SalesOrderShipmentTable.tsx
  src/frontend/src/tables/settings/BarcodeScanHistoryTable.tsx
  src/frontend/src/tables/stock/StockItemTestResultTable.tsx
Due: Frontend

ProgressBar
  src/frontend/lib/components/ProgressBar.tsx
  src/frontend/lib/functions/Formatting.tsx
  src/frontend/lib/index.ts
  src/frontend/src/components/details/Details.tsx
  src/frontend/src/components/importer/ImportDataSelector.tsx
  src/frontend/src/defaults/formatters.tsx
  src/frontend/src/forms/BuildForms.tsx
  src/frontend/src/forms/PurchaseOrderForms.tsx
  src/frontend/src/forms/SalesOrderForms.tsx
  src/frontend/src/hooks/UseDataOutput.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/AccountDetailPanel.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/CurrencyManagementPanel.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/ReportTemplatePanel.tsx
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/build/BuildOrderTable.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/src/tables/general/AttachmentTable.tsx
  src/frontend/src/tables/part/PartBuildAllocationsTable.tsx
  src/frontend/src/tables/part/PartPurchaseOrdersTable.tsx
  src/frontend/src/tables/part/PartSalesAllocationsTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
  src/frontend/src/tables/sales/SalesOrderTable.tsx
  src/frontend/src/tables/settings/ImportSessionTable.tsx
Due: Frontend

search input
  src/frontend/lib/components/SearchInput.tsx
  src/frontend/src/components/calendar/Calendar.tsx
  src/frontend/src/tables/InvenTreeTableHeader.tsx
Due: Frontend

ButtonMenu
  src/frontend/lib/components/ButtonMenu.tsx
  src/frontend/lib/index.ts
  src/frontend/src/tables/InvenTreeTableHeader.tsx
Due: Frontend

Tweak playwright tests
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Bump UI version
  src/frontend/package.json
Due: Frontend

Import fix 2 (#9992)
  src/backend/InvenTree/importer/api.py
  src/frontend/src/components/importer/ImporterDrawer.tsx
  src/frontend/src/components/importer/ImporterImportProgress.tsx
  src/frontend/src/components/importer/ImporterStatus.tsx
  src/frontend/src/components/render/StatusRenderer.tsx
  src/frontend/src/hooks/UseImportSession.tsx
  src/frontend/src/hooks/UseInstance.tsx
  src/frontend/tests/pages/pui_part.spec.ts
  src/frontend/tests/pui_importing.spec.ts
  src/frontend/vite.config.ts
Due: Backend Apps, Frontend

Tweak function defs
  src/frontend/src/defaults/formatters.tsx
Due: Frontend

Better handling of URLs when loading plugin source
  src/frontend/src/components/plugins/PluginSource.tsx
Due: Frontend

Fix URL rendering - handle "local" and "remote" components
  src/frontend/src/components/plugins/PluginSource.tsx
  src/frontend/src/components/plugins/RemoteComponent.tsx
Due: Frontend

move permission and fix scope
  src/backend/InvenTree/InvenTree/permissions.py
  src/backend/InvenTree/importer/api.py
Due: Backend Apps

add a way to only use scopes for doc purposes
  src/backend/InvenTree/InvenTree/permissions.py
Due: none

add a check to stop this from happening again
  src/backend/InvenTree/InvenTree/schema.py
  src/backend/InvenTree/InvenTree/settings.py
Due: none

bump api version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

bump backend deps
  contrib/container/requirements.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

bump backend deps (#10003)
  contrib/container/requirements.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

fix(backend): missing scope (#10001)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/permissions.py
  src/backend/InvenTree/InvenTree/schema.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/importer/api.py
Due: Backend Apps

Use default host if not provided
  src/frontend/src/components/plugins/PluginSource.tsx
Due: Frontend

Remove duplicate check
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Adjust build fixture
  src/backend/InvenTree/build/fixtures/build.yaml
  src/backend/InvenTree/build/test_api.py
  src/backend/InvenTree/build/tests.py
Due: Backend Apps

Remove rebuild call
  src/backend/InvenTree/InvenTree/tests.py
Due: none

Fixing more tests
  src/backend/InvenTree/part/fixtures/category.yaml
  src/backend/InvenTree/part/fixtures/part.yaml
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

Remove calls to rebuild part tree
  src/backend/InvenTree/order/test_api.py
  src/backend/InvenTree/part/test_bom_item.py
  src/backend/InvenTree/part/test_category.py
  src/backend/InvenTree/part/test_part.py
  src/backend/InvenTree/plugin/samples/integration/test_validation_sample.py
  src/backend/InvenTree/stock/tests.py
Due: Backend Apps

Add test for tree fixtures
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/build/fixtures/build.yaml
  src/backend/InvenTree/stock/fixtures/location.yaml
  src/backend/InvenTree/stock/fixtures/stock.yaml
  src/backend/InvenTree/stock/test_api.py
  src/backend/InvenTree/stock/tests.py
Due: Backend Apps

Report tree rebuild errors to sentry
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/InvenTree/sentry.py
  src/backend/InvenTree/stock/tasks.py
Due: Backend Apps

Remove helper func
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Updates for splitStock
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

Cleaner inheritance
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

Simplify code
  src/frontend/src/components/plugins/RemoteComponent.tsx
Due: Frontend

Plugin source URLs (#10000)
  src/frontend/src/components/plugins/PluginSource.tsx
  src/frontend/src/components/plugins/RemoteComponent.tsx
Due: Frontend

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
