Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Better quantity rendering (#10680)
  src/frontend/src/tables/part/PartPurchaseOrdersTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
Due: Frontend

Fix pip install
  .github/actions/setup/action.yaml
Due: none

Cleanup
  .github/actions/setup/action.yaml
Due: none

Fix pip install (#10684)
  .github/actions/setup/action.yaml
Due: none

fix style
  contrib/dev_reqs/requirements.txt
  docs/requirements.txt
  src/backend/requirements.txt
Due: none

bump @playwright/test to address https://github.com/inventree/InvenTree/security/dependabot/242
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

bump vite to address https://github.com/inventree/InvenTree/security/dependabot/243
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

Enhance image handling: add save_image method, update image retrieval in serializers, and refactor image components for better integration
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/plugin/base/supplier/mixins.py
  src/backend/InvenTree/plugin/samples/supplier/supplier_sample.py
  src/frontend/src/components/details/DetailsImage.tsx
  src/frontend/src/components/items/ActionDropdown.tsx
  src/frontend/src/pages/build/BuildDetail.tsx
  src/frontend/src/pages/company/CompanyDetail.tsx
  src/frontend/src/pages/company/ManufacturerPartDetail.tsx
  src/frontend/src/pages/company/SupplierPartDetail.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/pages/purchasing/PurchaseOrderDetail.tsx
  src/frontend/src/pages/sales/ReturnOrderDetail.tsx
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
  src/frontend/src/pages/sales/SalesOrderShipmentDetail.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
Due: Backend Apps, Backend General, Frontend

Refactor: Update comments for clarity and remove debug logs in image handling components
  src/backend/InvenTree/common/helpers.py
  src/backend/InvenTree/company/test_migrations.py
  src/frontend/src/components/details/DetailsImage.tsx
  src/frontend/src/pages/build/BuildDetail.tsx
Due: Backend Apps, Backend General, Frontend

Refactor: Update image handling in DetailsImage component to improve fallback logic and action button integration
  src/frontend/src/components/details/DetailsImage.tsx
Due: Frontend

[docs] pypi classifer
  docs/docs/plugins/index.md
Due: none

Tweak capitalization
  docs/docs/plugins/index.md
Due: none

Fix: Correct action detection logic in DetailsImage component
  src/frontend/src/components/details/DetailsImage.tsx
Due: Frontend

[docs] pypi classifer (#10687)
  docs/docs/plugins/index.md
Due: none

remove splitVendorChunkPlugin
  src/frontend/vite.config.ts
Due: Frontend

add changelog entry
  CHANGELOG.md
Due: none

fix medium sec issues in frontend dependencies (#10686)
  src/frontend/package.json
  src/frontend/vite.config.ts
  src/frontend/yarn.lock
Due: Frontend

fix registration
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/src/pages/Auth/MFA.tsx
Due: Frontend

[docs] Tweak address docs
  docs/docs/assets/images/concepts/edit_address.png
  docs/docs/concepts/company.md
Due: none

Remove blank line
  docs/docs/concepts/company.md
Due: none

fix style
  src/backend/requirements-dev.txt
Due: none

[docs] Tweak address docs (#10692)
  docs/docs/assets/images/concepts/edit_address.png
  docs/docs/concepts/company.md
Due: none

remove multi device packages
  src/frontend/src/pages/Auth/MFA.tsx
Due: Frontend

Enhancement for metadata OPTIONS checks
  src/backend/InvenTree/InvenTree/metadata.py
Due: none

Cleanup logic
  src/backend/InvenTree/InvenTree/metadata.py
Due: none

move to helper
  src/frontend/src/functions/auth.tsx
  src/frontend/src/pages/Auth/MFA.tsx
Due: Frontend

handle mfa trust
  src/frontend/src/functions/auth.tsx
Due: Frontend

Enhancement for metadata OPTIONS checks (#10693)
  src/backend/InvenTree/InvenTree/metadata.py
Due: none

simplify page fnc
  src/frontend/src/functions/auth.tsx
  src/frontend/src/pages/Auth/MFA.tsx
Due: Frontend

fix style
  src/backend/requirements.txt
Due: none

Cleanup docs page for custom states
  docs/docs/concepts/custom_states.md
Due: none

Fix for address docs
  docs/docs/concepts/company.md
Due: none

Docs tweak (#10695)
  docs/docs/concepts/company.md
  docs/docs/concepts/custom_states.md
Due: none

Missed one
  docs/docs/concepts/company.md
Due: none

Missed one (#10696)
  docs/docs/concepts/company.md
Due: none

feat(frontend): add passkey/webauthn for secondary MFA (#9729)
  CHANGELOG.md
  src/backend/InvenTree/InvenTree/settings.py
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/package.json
  src/frontend/src/functions/auth.tsx
  src/frontend/src/pages/Auth/MFA.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/SecurityContent.tsx
  src/frontend/src/states/ServerApiState.tsx
  src/frontend/yarn.lock
Due: Frontend

Fix for StockItemTestResultTable
  src/frontend/src/tables/stock/StockItemTestResultTable.tsx
Due: Frontend

Update rendering
  src/frontend/src/pages/company/SupplierPartDetail.tsx
Due: Frontend

Refactor <SupplierPartTable />
  src/frontend/src/forms/CompanyForms.tsx
  src/frontend/src/pages/company/CompanyDetail.tsx
  src/frontend/src/pages/company/ManufacturerPartDetail.tsx
  src/frontend/src/pages/part/PartSupplierDetail.tsx
  src/frontend/src/pages/purchasing/PurchasingIndex.tsx
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
Due: Frontend

[UI] Fixes (#10697)
  src/frontend/src/forms/CompanyForms.tsx
  src/frontend/src/pages/company/CompanyDetail.tsx
  src/frontend/src/pages/company/ManufacturerPartDetail.tsx
  src/frontend/src/pages/company/SupplierPartDetail.tsx
  src/frontend/src/pages/part/PartSupplierDetail.tsx
  src/frontend/src/pages/purchasing/PurchasingIndex.tsx
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
  src/frontend/src/tables/stock/StockItemTestResultTable.tsx
Due: Frontend

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
