Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
      - type: project
        target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
      - type: project
        target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
      - type: project
        target: 65%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

API permission fixes
  src/backend/InvenTree/importer/api.py
Due: Backend Apps

Fix icon
  src/frontend/src/components/importer/ImporterDrawer.tsx
Due: Frontend

Factor pathstring out into a separate mixin
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

Enhanced playwright testing
  src/frontend/tests/pui_importing.spec.ts
Due: Frontend

Add getStatusCodeLabel func
  src/frontend/src/components/render/StatusRenderer.tsx
Due: Frontend

Fix return types
  src/frontend/src/hooks/UseImportSession.tsx
  src/frontend/src/hooks/UseInstance.tsx
  src/frontend/vite.config.ts
Due: Frontend

Refactor pathstring
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/InvenTree/models.py
Due: none

Fix playwright tests
  src/frontend/tests/helpers.ts
  src/frontend/tests/pui_importing.spec.ts
Due: Frontend

Refactor InvenTreeTree model structure
  src/backend/InvenTree/InvenTree/models.py
Due: none

throw error
  src/backend/InvenTree/stock/tasks.py
Due: Backend Apps

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Implement tree rebuild test for StockItem model
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/tasks.py
  src/backend/InvenTree/stock/tests.py
Due: Backend Apps

Tweak filter label
  src/frontend/src/tables/Filter.tsx
Due: Frontend

Refactor StockLocationTreeTest
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/stock/tests.py
Due: Backend Apps

Filter BOM table by part category
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

Remove unused var
  src/frontend/src/components/importer/ImporterStatus.tsx
Due: Frontend

Add "category" filter for BomItem API endpoint
  src/backend/InvenTree/part/api.py
Due: Backend Apps

Schema annotation
  src/backend/InvenTree/part/api.py
Due: Backend Apps

Tweak playwright tests
  src/frontend/tests/helpers.ts
  src/frontend/tests/pui_importing.spec.ts
Due: Frontend

Migrate "Build" model to new structure
  src/backend/InvenTree/build/models.py
Due: Backend Apps

Adjust unit tests
  src/backend/InvenTree/order/test_api.py
  src/backend/InvenTree/part/fixtures/part.yaml
Due: Backend Apps

Fix node delete code
  src/backend/InvenTree/InvenTree/models.py
Due: none

Fix data fixture
  src/backend/InvenTree/part/fixtures/part.yaml
Due: Backend Apps

Add unit test for stock item serialization
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/stock/tests.py
Due: Backend Apps

Add unit tests for Build tree structure
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/build/tests.py
Due: Backend Apps

Fix playwright test
  src/frontend/tests/pages/pui_build.spec.ts
Due: Frontend

Fix logic for import session drawer
  src/frontend/src/components/importer/ImporterDrawer.tsx
  src/frontend/src/components/importer/ImporterImportProgress.tsx
  src/frontend/src/components/importer/ImporterStatus.tsx
Due: Frontend
