Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Default stock currency (#10641)
  src/backend/InvenTree/InvenTree/fields.py
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/common/currency.py
  src/backend/InvenTree/company/migrations/0025_auto_20201110_1001.py
  src/backend/InvenTree/company/migrations/0040_alter_company_currency.py
  src/backend/InvenTree/order/migrations/0038_auto_20201112_1737.py
  src/backend/InvenTree/order/migrations/0039_auto_20201112_2203.py
  src/backend/InvenTree/order/migrations/0045_auto_20210504_1946.py
  src/backend/InvenTree/part/migrations/0055_auto_20201110_1001.py
  src/backend/InvenTree/part/migrations/0067_partinternalpricebreak.py
  src/backend/InvenTree/part/migrations/0089_auto_20221112_0128.py
  src/backend/InvenTree/stock/migrations/0053_auto_20201110_0513.py
  src/backend/InvenTree/stock/migrations/0055_auto_20201117_1453.py
  src/backend/InvenTree/stock/tests.py
  src/frontend/src/forms/StockForms.tsx
Due: Backend Apps, Backend General, Frontend

Remove conflicting code
  src/frontend/src/forms/StockForms.tsx
Due: Frontend

Fix import
  src/backend/InvenTree/build/api.py
Due: Backend Apps

Tweak currency_code_default
  src/backend/InvenTree/common/currency.py
Due: Backend General

Tweak for currency_code_default
  src/backend/InvenTree/common/currency.py
Due: Backend General

Default stock currency (#10641) (#10644)
  src/backend/InvenTree/InvenTree/fields.py
  src/backend/InvenTree/common/currency.py
  src/backend/InvenTree/company/migrations/0025_auto_20201110_1001.py
  src/backend/InvenTree/company/migrations/0040_alter_company_currency.py
  src/backend/InvenTree/order/migrations/0038_auto_20201112_1737.py
  src/backend/InvenTree/order/migrations/0039_auto_20201112_2203.py
  src/backend/InvenTree/order/migrations/0045_auto_20210504_1946.py
  src/backend/InvenTree/part/migrations/0055_auto_20201110_1001.py
  src/backend/InvenTree/part/migrations/0067_partinternalpricebreak.py
  src/backend/InvenTree/part/migrations/0089_auto_20221112_0128.py
  src/backend/InvenTree/stock/migrations/0053_auto_20201110_0513.py
  src/backend/InvenTree/stock/migrations/0055_auto_20201117_1453.py
  src/backend/InvenTree/stock/tests.py
  src/frontend/src/forms/StockForms.tsx
Due: Backend Apps, Backend General, Frontend

more type improvements
  pyproject.toml
  src/backend/InvenTree/InvenTree/helpers_model.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/build/test_api.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/users/permissions.py
Due: Backend Apps, Backend General

adjust typing settings
  pyproject.toml
  src/backend/InvenTree/users/api.py
Due: Backend Apps

Remove 'project_code' from optional fields
  src/backend/InvenTree/build/serializers.py
Due: Backend Apps

Unit tests
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

Include fix for currency
  src/backend/InvenTree/common/currency.py
Due: Backend General

Cleanup import
  src/backend/InvenTree/common/currency.py
Due: Backend General

Adjust unit tests
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

[bug] Remove 'project_code' from optional fields (#10646)
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/build/test_api.py
  src/backend/InvenTree/common/currency.py
Due: Backend Apps, Backend General

add more details
  src/backend/InvenTree/InvenTree/schema.py
Due: none

style check
  src/frontend/src/components/settings/QuickAction.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/HomePanel.tsx
Due: Frontend

small fixes
  src/frontend/src/pages/Index/Settings/AdminCenter/HomePanel.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/Index.tsx
Due: Frontend

add permanent alerts to Admin Center Home
  src/frontend/src/components/nav/Alerts.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/HomePanel.tsx
Due: Frontend

merged migrations
  src/backend/InvenTree/order/migrations/0113_alter_salesorderlineitem_part.py
  src/backend/InvenTree/order/migrations/0113_purchaseorder_tenant_returnorder_tenant_and_more.py
  src/backend/InvenTree/part/migrations/0143_alter_partsellpricebreak_unique_together_and_more.py
  src/backend/InvenTree/part/migrations/0143_alter_salesorderlineitem_part.py
Due: Backend Apps

Display ReturnOrder address
  src/frontend/src/components/render/Company.tsx
  src/frontend/src/pages/sales/ReturnOrderDetail.tsx
Due: Frontend

Display address for SalesOrder
  src/frontend/src/pages/sales/ReturnOrderDetail.tsx
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
Due: Frontend

[UI] Address display tweaks (#10648)
  src/frontend/src/components/render/Company.tsx
  src/frontend/src/pages/sales/ReturnOrderDetail.tsx
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
Due: Frontend

Order tests
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/test_sales_order.py
  src/backend/InvenTree/order/tests.py
Due: Backend Apps

Adds "shipment_address" attribute to the SalesOrderShipment model:
  src/backend/InvenTree/order/migrations/0113_salesordershipment_shipment_address.py
  src/backend/InvenTree/order/models.py
Due: Backend Apps

Add unit testing for field validation
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/test_sales_order.py
Due: Backend Apps

Order tests (#10649)
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/test_sales_order.py
  src/backend/InvenTree/order/tests.py
Due: Backend Apps

Update SalesOrderShipment serializer
  src/backend/InvenTree/order/serializers.py
Due: Backend Apps

Edit shipment address in UI
  src/frontend/src/components/render/Company.tsx
  src/frontend/src/forms/SalesOrderForms.tsx
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
  src/frontend/src/pages/sales/SalesOrderShipmentDetail.tsx
  src/frontend/src/tables/sales/SalesOrderShipmentTable.tsx
Due: Frontend

Render date on shipment page
  src/frontend/src/components/render/Company.tsx
  src/frontend/src/pages/sales/SalesOrderShipmentDetail.tsx
Due: Frontend

Improve address rendering
  src/frontend/src/pages/sales/ReturnOrderDetail.tsx
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
  src/frontend/src/pages/sales/SalesOrderShipmentDetail.tsx
Due: Frontend

Add missing nullable annotation to optional field
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Bump api version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Update docs
  docs/docs/sales/sales_order.md
Due: none

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

[UI] Improve for change stock status
  src/frontend/src/forms/StockForms.tsx
Due: Frontend

[UI] Improve for change stock status (#10652)
  src/frontend/src/forms/StockForms.tsx
Due: Frontend

also show inactive alerts
  src/frontend/src/components/nav/Alerts.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/HomePanel.tsx
Due: Frontend

fix order of alerts
  src/frontend/src/components/nav/Alerts.tsx
Due: Frontend

simplify attrs
  src/frontend/src/pages/Index/Settings/AdminCenter/HomePanel.tsx
Due: Frontend

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
