Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Further playwright tweaks
  src/frontend/tests/pages/pui_build.spec.ts
Due: Frontend

Remove unused setting from diff
  docs/docs/settings/user.md
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
Due: Frontend

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Fix migration history
  src/backend/InvenTree/part/migrations/0142_remove_partstocktakereport_user_and_more.py
  src/backend/InvenTree/part/migrations/0143_alter_partstocktake_options_and_more.py
  src/backend/InvenTree/part/migrations/0144_remove_partstocktake_part_remove_partstocktake_user_and_more.py
Due: Backend Apps

Fix glitch in <RelatedModelField /> (#10113)
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
  src/frontend/tests/pages/pui_build.spec.ts
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

disable coverage for a case that can not happen
  src/backend/InvenTree/plugin/installer.py
Due: Backend Apps

add a full api based install / uninstall test
  src/backend/InvenTree/plugin/test_api.py
Due: Backend Apps

fix asserted code
  src/backend/InvenTree/plugin/test_api.py
Due: Backend Apps

feat(backend): more error messages (#10119)
  docs/docs/settings/error_codes.md
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/common/apps.py
  src/backend/InvenTree/generic/states/transition.py
  src/backend/InvenTree/plugin/base/integration/TransitionMixin.py
  src/backend/InvenTree/plugin/installer.py
  src/backend/InvenTree/plugin/plugin.py
  src/backend/InvenTree/plugin/serializers.py
Due: Backend Apps, Backend General

Basics of custom stocktake exporter
  docs/docs/plugins/builtin/stocktake_exporter.md
  src/backend/InvenTree/plugin/builtin/exporter/part_stocktake_exporter.py
Due: Backend Apps

Tweak form padding
  src/frontend/src/components/forms/ApiForm.tsx
Due: Frontend

Generate custom filename
  src/backend/InvenTree/plugin/builtin/exporter/part_stocktake_exporter.py
Due: Backend Apps

Ensure stock items are prefetched
  src/backend/InvenTree/plugin/builtin/exporter/part_stocktake_exporter.py
Due: Backend Apps

Tweak form padding (#10122)
  src/frontend/src/components/forms/ApiForm.tsx
Due: Frontend

Stocktake exporter now working
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/plugin/builtin/exporter/part_stocktake_exporter.py
Due: Backend Apps

Remove STOCKTAKE ruleset
  src/backend/InvenTree/users/ruleset.py
Due: Backend Apps

Adjust wording of settings
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/common/setting/user.py
Due: Backend General

Cleanup
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

Improve text for global settings
  src/backend/InvenTree/common/setting/system.py
Due: Backend General

Add BulkDeleteMixin to "stocktake" endpoint
  src/backend/InvenTree/part/api.py
Due: Backend Apps

Frontend updates
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/lib/enums/Roles.tsx
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/pages/part/PartStockHistoryDetail.tsx
  src/frontend/src/tables/settings/StocktakeReportTable.tsx
Due: Frontend

Migrations
  src/backend/InvenTree/part/admin.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/migrations/0097_partstocktakereport.py
  src/backend/InvenTree/part/migrations/0142_remove_part_last_stocktake_remove_partstocktake_note_and_more.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/part/stocktake.py
  src/backend/InvenTree/part/test_part.py
  src/backend/InvenTree/plugin/base/event/events.py
Due: Backend Apps

Frontend cleanup
  src/frontend/src/forms/PartForms.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/StocktakePanel.tsx
Due: Frontend

Rename global setting
  docs/docs/part/stocktake.md
  src/backend/InvenTree/common/setting/system.py
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
Due: Backend General, Frontend

Rewrite stocktake functionality
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/stocktake.py
  src/backend/InvenTree/part/tasks.py
Due: Backend Apps, Backend General

Cleanup
  docs/docs/report/index.md
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/stocktake.py
Due: Backend Apps

Adds custom exporter for part stocktake data
  src/backend/InvenTree/plugin/builtin/exporter/stocktake_exporter.py
Due: Backend Apps

Frontend cleanup
  src/frontend/src/pages/Index/Settings/AdminCenter/Index.tsx
Due: Frontend

Tweaks
  src/backend/InvenTree/part/stocktake.py
  src/backend/InvenTree/part/tasks.py
  src/frontend/src/pages/part/PartStockHistoryDetail.tsx
Due: Backend Apps, Frontend

Frontend updates
  src/frontend/src/pages/part/PartStockHistoryDetail.tsx
  src/frontend/src/tables/part/PartTable.tsx
Due: Frontend

feat: Update image handling and API endpoints for unified image management
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/InvenTree/urls.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/common/validators.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps, Backend General

feat: Refactor image handling and update related models, serializers, and frontend components
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/migrations/0043_alter_inventreeimage_unique_together.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/company/models.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/part/helpers.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/part/test_part.py
  src/frontend/src/components/details/DetailsImage.tsx
  src/frontend/src/pages/build/BuildDetail.tsx
  src/frontend/src/pages/company/CompanyDetail.tsx
  src/frontend/src/pages/company/SupplierPartDetail.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
  src/frontend/src/tables/part/PartThumbTable.tsx
Due: Backend Apps, Backend General, Frontend

delete unreachable code
  src/backend/InvenTree/common/apps.py
Due: Backend General

clean up unused code
  src/backend/InvenTree/common/notifications.py
Due: Backend General

add more notification tests
  src/backend/InvenTree/common/tests.py
  src/backend/InvenTree/plugin/builtin/integration/core_notifications.py
Due: Backend Apps, Backend General

Fix unit tests
  src/backend/InvenTree/plugin/test_api.py
  src/backend/InvenTree/users/oauth2_scopes.py
  src/backend/InvenTree/users/ruleset.py
Due: Backend Apps

Enhance formatting for item render functions
  src/frontend/src/components/render/Part.tsx
  src/frontend/src/components/render/Stock.tsx
Due: Frontend

Fix issue with <StarredToggleButton />
  src/frontend/src/components/buttons/StarredToggleButton.tsx
Due: Frontend

Enhance formatting for item render functions (#10127)
  src/frontend/src/components/render/Part.tsx
  src/frontend/src/components/render/Stock.tsx
Due: Frontend

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
