Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
      - type: project
        target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
      - type: project
        target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
      - type: project
        target: 65%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

[UI] Sales Order tweak (#9935)
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
Due: Frontend

stock actions for items allocated to sales order
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
Due: Frontend

Refactor <PartDetail> page
  src/frontend/src/pages/part/PartDetail.tsx
Due: Frontend

Refactor <StockDetail>
  src/frontend/src/pages/stock/StockDetail.tsx
Due: Frontend

Refactor <LocationDetail>
  src/frontend/src/hooks/UseStockAdjustActions.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
Due: Frontend

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

SO button text
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
Due: Frontend

Fix return type
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Update typing
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Adjust text
  src/frontend/src/pages/build/BuildDetail.tsx
  src/frontend/tests/pages/pui_build.spec.ts
Due: Frontend

Filter incomplete outputs by location
  src/frontend/src/tables/Filter.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Frontend

Filter build allocated stock by location
  src/backend/InvenTree/build/api.py
  src/frontend/src/tables/build/BuildAllocatedStockTable.tsx
Due: Backend Apps, Frontend

Filter sales order allocations by location
  src/backend/InvenTree/order/api.py
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
Due: Backend Apps, Frontend

[UI] Notification Drawer
  src/frontend/src/components/nav/NotificationDrawer.tsx
Due: Frontend

Tweak unit test
  src/backend/InvenTree/plugin/base/label/test_label_mixin.py
Due: Backend Apps

fix tests - might be worth checking if the blank check for testing is a good idea
  src/backend/InvenTree/InvenTree/helpers_email.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/test_auth.py
Due: none

commit unstaged changes
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Ensure translations are extracted
  .github/workflows/qc_checks.yaml
Due: none

Make admin test more reliable
  src/frontend/tests/helpers.ts
  src/frontend/tests/pui_permissions.spec.ts
Due: Frontend

Tweak "auto_allocate" serial numbers
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

Remove asynciness
  src/frontend/tests/pui_settings.spec.ts
Due: Frontend

Additional filters for incomplete build outputs
  src/frontend/src/tables/Filter.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Frontend

Fix for "has_ipn" filter
  src/backend/InvenTree/part/api.py
Due: Backend Apps

Enable filtering and sorting by IPN in SalesOrderAllocation table
  src/backend/InvenTree/order/api.py
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
Due: Backend Apps, Frontend

Fix table column ordering
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Cleanup code
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Adjust col order
  src/frontend/src/tables/build/BuildAllocatedStockTable.tsx
Due: Frontend

Bug fix for build output table
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/hooks/UseTable.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
Due: Frontend

Additional filters for incomplete build outputs (#9943)
  src/frontend/src/tables/Filter.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Frontend

Fix <AttachmentLink>
  src/frontend/src/components/items/AttachmentLink.tsx
Due: Frontend

Better implementation
  src/frontend/src/components/items/AttachmentLink.tsx
Due: Frontend

Cleanup
  src/frontend/src/components/items/AttachmentLink.tsx
Due: Frontend

Build detail tweak
  src/frontend/src/pages/build/BuildDetail.tsx
Due: Frontend

Tweak subtitle for PO
  src/frontend/src/pages/purchasing/PurchaseOrderDetail.tsx
Due: Frontend

Update SalesOrder
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
Due: Frontend

Tweak return order
  src/frontend/src/pages/sales/ReturnOrderDetail.tsx
Due: Frontend

[UI] Build order visual enhancements (#9931)
  .github/workflows/qc_checks.yaml
  src/frontend/src/components/items/AttachmentLink.tsx
  src/frontend/src/hooks/UseInstance.tsx
  src/frontend/src/pages/build/BuildDetail.tsx
  src/frontend/tests/helpers.ts
  src/frontend/tests/pages/pui_build.spec.ts
  src/frontend/tests/pui_permissions.spec.ts
  src/frontend/tests/pui_settings.spec.ts
Due: Frontend

Bug fix for build output table (#9946)
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/hooks/UseTable.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
Due: Frontend

[UI] Fix table column ordering (#9945)
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/build/BuildAllocatedStockTable.tsx
Due: Frontend
