Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Add decorator to selectively ignore warnings
  src/backend/InvenTree/InvenTree/apps.py
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/common/apps.py
  src/backend/InvenTree/plugin/apps.py
Due: Backend Apps, Backend General

Add reference to PR
  src/backend/InvenTree/InvenTree/helpers.py
Due: none

[UI] refactor "inactive alerts" panel (#10913)
  src/frontend/src/components/nav/Alerts.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/HomePanel.tsx
Due: Frontend

Specify target migration
  src/backend/InvenTree/common/migrations/0023_auto_20240602_1332.py
  src/backend/InvenTree/common/test_migrations.py
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps, Backend General

Fix variable assignment
  src/backend/InvenTree/common/currency.py
Due: Backend General

Use functools.wraps
  src/backend/InvenTree/InvenTree/helpers.py
Due: none

Add wrapper for loading machine registry
  src/backend/InvenTree/machine/apps.py
Due: Backend Apps

Move decorator to ready.py
  src/backend/InvenTree/InvenTree/apps.py
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/common/apps.py
  src/backend/InvenTree/machine/apps.py
  src/backend/InvenTree/plugin/apps.py
Due: Backend Apps, Backend General

Remove debug statement
  src/backend/InvenTree/InvenTree/serializers.py
Due: none

Add missing code
  src/backend/InvenTree/InvenTree/ready.py
Due: none

Set backup values to match default currency codes
  tasks.py
Due: none

optionally add info to calculation source
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Tweak migration unit tests
  src/backend/InvenTree/build/test_migrations.py
  src/backend/InvenTree/common/migrations/0041_auto_20251028_1112.py
  src/backend/InvenTree/company/test_migrations.py
  src/backend/InvenTree/part/test_migrations.py
  src/backend/InvenTree/stock/test_migrations.py
Due: Backend Apps, Backend General

Add options for spectacular
  src/backend/InvenTree/InvenTree/setting/spectacular.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/validators.py
Due: Backend General

Add explicit choice options
  src/backend/InvenTree/common/serializers.py
Due: Backend General

[bug] Handle TransactionManagementError
  src/backend/InvenTree/InvenTree/models.py
Due: none

Ensure empty string values are converted to None
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/common/test_api.py
  src/backend/InvenTree/part/test_api.py
  src/backend/InvenTree/part/test_param.py
Due: Backend Apps, Backend General

[bug] Handle TransactionManagementError (#10942)
  src/backend/InvenTree/InvenTree/models.py
Due: none

Don't use custom branch for python checks
  .github/workflows/qc_checks.yaml
Due: none

Fix for migration test
  src/backend/InvenTree/company/test_migrations.py
Due: Backend Apps

Fix migration test
  src/backend/InvenTree/part/test_migrations.py
Due: Backend Apps

Fix reference target
  src/backend/InvenTree/build/test_migrations.py
  src/backend/InvenTree/stock/test_migrations.py
Due: Backend Apps

refactor (frontend): address code scanning issues (#10935)
  src/frontend/src/components/buttons/PrintingActions.tsx
  src/frontend/src/hooks/UseDataExport.tsx
  src/frontend/src/hooks/UseDataOutput.tsx
  src/frontend/src/hooks/UseImportSession.tsx
  src/frontend/src/pages/sales/SalesOrderShipmentDetail.tsx
  src/frontend/src/tables/machine/MachineTypeTable.tsx
Due: Frontend

Remove duplicate enum in spectactular.py
  src/backend/InvenTree/InvenTree/setting/spectacular.py
Due: none

Create config.yaml with InvenTree settings
  config.yaml
Due: none

Modify InvenTree configuration settings
  config.yaml
Due: none

Add null choice to custom serializer class
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/InvenTree/setting/spectacular.py
Due: none

[UI] Edit shipment details
  src/frontend/src/tables/sales/SalesOrderShipmentTable.tsx
Due: Frontend

[UI] Edit shipment details (#10944)
  src/frontend/src/tables/sales/SalesOrderShipmentTable.tsx
Due: Frontend

add api
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

New migration strategy:
  src/backend/InvenTree/part/migrations/0144_auto_20251203_1045.py
  src/backend/InvenTree/part/migrations/0145_auto_20251203_1120.py
Due: Backend Apps

More migration updates:
  src/backend/InvenTree/common/migrations/0040_auto_20251203_1151.py
  src/backend/InvenTree/part/migrations/0144_auto_20251203_1045.py
  src/backend/InvenTree/part/migrations/0146_remove_partparametertemplate_model_type_and_more.py
Due: Backend Apps, Backend General

Overhaul of migration strategy
  src/backend/InvenTree/common/migrations/0040_auto_20251203_1151.py
  src/backend/InvenTree/common/migrations/0040_parametertemplate_parameter.py
  src/backend/InvenTree/common/migrations/0041_auto_20251028_1112.py
  src/backend/InvenTree/common/migrations/0041_auto_20251203_1244.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/company/migrations/0077_delete_manufacturerpartparameter.py
  src/backend/InvenTree/part/migrations/0144_auto_20251203_1045.py
  src/backend/InvenTree/part/migrations/0144_partcategoryparametertemplate_template.py
  src/backend/InvenTree/part/migrations/0145_auto_20251203_1120.py
  src/backend/InvenTree/part/migrations/0145_auto_20251203_1238.py
  src/backend/InvenTree/part/migrations/0145_remove_partparametertemplate_selectionlist_and_more.py
  src/backend/InvenTree/part/migrations/0146_auto_20251203_1241.py
  src/backend/InvenTree/part/migrations/0146_remove_partparametertemplate_model_type_and_more.py
Due: Backend Apps, Backend General

Improve checks for data migrations
  src/backend/InvenTree/part/migrations/0144_auto_20251203_1045.py
  src/backend/InvenTree/part/migrations/0145_auto_20251203_1238.py
Due: Backend Apps

Bug fix for data migration
  src/backend/InvenTree/part/migrations/0144_auto_20251203_1045.py
Due: Backend Apps

Add migration unit test to ensure that primary keys are maintained
  src/backend/InvenTree/common/migrations/0041_auto_20251203_1244.py
  src/backend/InvenTree/part/test_migrations.py
Due: Backend Apps, Backend General

Add playwright test for company parameters
  src/frontend/tests/helpers.ts
  src/frontend/tests/pages/pui_company.spec.ts
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Allow null values for InvenTreeDecimalField
  src/backend/InvenTree/InvenTree/serializers.py
Due: none

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
