Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Add support for tag filtering in part table
  src/backend/InvenTree/company/api.py
  src/backend/InvenTree/stock/api.py
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/lib/enums/ModelInformation.tsx
  src/frontend/lib/enums/ModelType.tsx
  src/frontend/lib/types/Filters.tsx
  src/frontend/src/components/render/Generic.tsx
  src/frontend/src/components/render/Instance.tsx
  src/frontend/src/tables/Filter.tsx
  src/frontend/src/tables/FilterSelectDrawer.tsx
  src/frontend/src/tables/part/PartTableFilters.tsx
Due: Backend Apps, Frontend

Update transfer table filters
  src/frontend/src/pages/stock/LocationDetail.tsx
  src/frontend/src/tables/stock/TransferOrderFilters.tsx
  src/frontend/src/tables/stock/TransferOrderTable.tsx
Due: Frontend

Add tags filter to more places
  src/frontend/src/tables/build/BuildOrderFilters.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderFilters.tsx
  src/frontend/src/tables/sales/ReturnOrderFilters.tsx
  src/frontend/src/tables/sales/SalesOrderFilters.tsx
  src/frontend/src/tables/sales/SalesOrderShipmentTable.tsx
Due: Frontend

Allow multiple values to be selected as filters
  src/frontend/lib/types/Filters.tsx
  src/frontend/src/tables/Filter.tsx
  src/frontend/src/tables/FilterSelectDrawer.tsx
Due: Frontend

Add a new 'tags' type form field
  src/frontend/lib/types/Forms.tsx
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/src/components/forms/fields/TagsField.tsx
  src/frontend/src/forms/CommonFields.tsx
  src/frontend/src/forms/PartForms.tsx
  src/frontend/src/pages/part/PartDetail.tsx
Due: Frontend

Display tags on part page
  src/frontend/lib/components/TagsList.tsx
  src/frontend/lib/index.ts
  src/frontend/src/pages/part/PartDetail.tsx
Due: Frontend

tags support for orders
  src/backend/InvenTree/order/serializers.py
  src/frontend/src/forms/PurchaseOrderForms.tsx
  src/frontend/src/forms/ReturnOrderForms.tsx
  src/frontend/src/forms/SalesOrderForms.tsx
  src/frontend/src/forms/TransferOrderForms.tsx
  src/frontend/src/pages/purchasing/PurchaseOrderDetail.tsx
  src/frontend/src/pages/sales/ReturnOrderDetail.tsx
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
  src/frontend/src/pages/stock/TransferOrderDetail.tsx
Due: Backend Apps, Frontend

Add support for SalesOrderShipment
  src/backend/InvenTree/order/serializers.py
  src/frontend/src/forms/SalesOrderForms.tsx
  src/frontend/src/pages/sales/SalesOrderShipmentDetail.tsx
Due: Backend Apps, Frontend

build order
  src/backend/InvenTree/build/serializers.py
  src/frontend/src/components/forms/fields/TagsField.tsx
  src/frontend/src/forms/BuildForms.tsx
  src/frontend/src/forms/CommonFields.tsx
  src/frontend/src/pages/build/BuildDetail.tsx
Due: Backend Apps, Frontend

Company support
  src/backend/InvenTree/company/serializers.py
  src/frontend/src/forms/CompanyForms.tsx
  src/frontend/src/pages/company/CompanyDetail.tsx
  src/frontend/src/tables/company/CompanyTable.tsx
Due: Backend Apps, Frontend

SupplierPart and ManufacturerPart
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/stock/serializers.py
  src/frontend/src/forms/CompanyForms.tsx
  src/frontend/src/pages/company/ManufacturerPartDetail.tsx
  src/frontend/src/pages/company/SupplierPartDetail.tsx
  src/frontend/src/tables/purchasing/ManufacturerPartTable.tsx
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
Due: Backend Apps, Frontend

support StockItem
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Frontend

Enable tag filtering for attachments
  src/backend/InvenTree/common/serializers.py
Due: Backend General

Make tagslist readonly
  src/frontend/lib/components/TagsList.tsx
Due: Frontend

docs
  docs/docs/concepts/tags.md
  docs/mkdocs.yml
Due: none

Mark props as read only
  src/frontend/src/tables/FilterSelectDrawer.tsx
Due: Frontend

Update API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Update CHANGELOG
  CHANGELOG.md
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

fix(tasks): bypass Invoke PTY for interactive superuser/flush commands
  CHANGELOG.md
  tasks.py
Due: none

remove notes from test fixtures
  src/backend/InvenTree/build/fixtures/build.yaml
  src/backend/InvenTree/part/fixtures/part.yaml
Due: Backend Apps

remove notes field that does not exsist anymore
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
Due: Backend Apps

chore: remove changelog entry per review
  CHANGELOG.md
Due: none

add missing ruleset
  src/backend/InvenTree/users/ruleset.py
Due: Backend Apps

fix assertation
  src/backend/InvenTree/importer/tests.py
Due: Backend Apps

fix: add docstrings, permissions, and admin registration for RepairOrder models
  src/backend/InvenTree/order/admin.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/users/oauth2_scopes.py
  src/backend/InvenTree/users/ruleset.py
  src/frontend/lib/enums/Roles.tsx
Due: Backend Apps, Frontend

Fix: Resolve Django init crash (missing RepairOrderStatus) and fix ruff --preview formatting
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/order/status_codes.py
Due: Backend Apps

Fix: Restore missing RepairOrder serializers and resolve prek formatting
  src/backend/InvenTree/order/serializers.py
Due: Backend Apps

Run pre-commit hooks
  src/frontend/src/components/plugins/RemoteComponent.tsx
  src/frontend/src/hooks/UseRemotePlugin.tsx
Due: Frontend

Fix 'hmrSetModule' module loading
  src/frontend/src/hooks/UseRemotePlugin.tsx
Due: Frontend

Add HMR and React Fast Refresh support
  src/frontend/src/components/plugins/RemoteComponent.tsx
  src/frontend/src/hooks/UseRemotePlugin.tsx
Due: Frontend

Update docs
  docs/docs/plugins/creator.md
  docs/docs/plugins/walkthrough.md
Due: none

Remove use of LanguageContext from RemoteComponent
  src/frontend/src/components/plugins/RemoteComponent.tsx
Due: Frontend

Update CHANGELOG
  src/frontend/CHANGELOG.md
Due: Frontend

Add error handling and improvements
  src/frontend/src/components/plugins/RemoteComponent.tsx
  src/frontend/src/hooks/UseRemotePlugin.tsx
Due: Frontend

Fix: Add search_fields to RepairOrder admins to resolve admin.E040
  src/backend/InvenTree/order/admin.py
Due: Backend Apps

Fix incorrect import.meta.hot access
  src/frontend/src/hooks/UseRemotePlugin.tsx
Due: Frontend

Fix: Add missing database migrations for RepairOrder models
  src/backend/InvenTree/order/migrations/0120_repairorder_repairorderlineitem_repairorderallocation.py
Due: Backend Apps

Fix: Regenerate OpenAPI schema to include RepairOrder endpoints
  src/backend/InvenTree/schema.yml
Due: none

Fix: Regenerate API schema with exact CI formatting to resolve EOFError
  src/backend/InvenTree/schema.yml
Due: none

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
