Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Setup: allow more python versions (#10615)
  .pkgr.yml
  contrib/packager.io/functions.sh
Due: none

make check and test more robust
  src/backend/InvenTree/InvenTree/mixins.py
  src/backend/InvenTree/InvenTree/test_serializers.py
Due: none

enable controlling query parameters per field
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/InvenTree/test_serializers.py
Due: none

ignore in coverage
  src/backend/InvenTree/InvenTree/test_serializers.py
Due: none

Adjust error message target
  src/backend/InvenTree/order/models.py
Due: Backend Apps

Hide UI actions if order is locked
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
Due: Frontend

Refactor salesorderdetail page
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
  src/frontend/src/tables/general/ExtraLineItemTable.tsx
Due: Frontend

Refactor PurchaseOrderDetail page
  src/frontend/src/pages/purchasing/PurchaseOrderDetail.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
Due: Frontend

Refactor ReturnOrderDetail
  src/frontend/src/pages/sales/ReturnOrderDetail.tsx
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
  src/frontend/src/tables/sales/ReturnOrderLineItemTable.tsx
Due: Frontend

Allocate Stock tweaks
  src/frontend/lib/components/ProgressBar.tsx
  src/frontend/src/forms/BuildForms.tsx
Due: Frontend

[docker] Allow HTTPS port to be specified for Caddy proxy
  contrib/container/docker-compose.yml
Due: none

[UI] Hide actions for completed orders (#10617)
  src/backend/InvenTree/order/models.py
  src/frontend/src/pages/purchasing/PurchaseOrderDetail.tsx
  src/frontend/src/pages/sales/ReturnOrderDetail.tsx
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
  src/frontend/src/tables/general/ExtraLineItemTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
  src/frontend/src/tables/sales/ReturnOrderLineItemTable.tsx
Due: Backend Apps, Frontend

Allocate Stock tweaks (#10618)
  src/frontend/lib/components/ProgressBar.tsx
  src/frontend/src/forms/BuildForms.tsx
Due: Frontend

Fix naming collision for INVENTREE_WEB_PORT
  contrib/container/docker-compose.yml
Due: none

Push InvenTree version first
  tasks.py
Due: none

Adjust Caddyfile
  contrib/container/Caddyfile
Due: none

Fix docstring
  contrib/container/Caddyfile
Due: none

[UI] Tweak tree display
  src/frontend/src/components/nav/NavigationTree.tsx
Due: Frontend

[UI] Consolidate text
  src/frontend/src/components/nav/MainMenu.tsx
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
  src/frontend/tests/pui_permissions.spec.ts
  src/frontend/tests/pui_settings.spec.ts
Due: Frontend

[UI] Tweak tree display (#10621)
  src/frontend/src/components/nav/NavigationTree.tsx
Due: Frontend

[UI] Tweak NavigationDrawer
  src/frontend/src/components/nav/NavigationDrawer.tsx
Due: Frontend

[UI] Tweak NavigationDrawer (#10623)
  src/frontend/src/components/nav/NavigationDrawer.tsx
Due: Frontend

[UI] Consolidate text (#10622)
  src/frontend/src/components/nav/MainMenu.tsx
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
  src/frontend/tests/pui_permissions.spec.ts
  src/frontend/tests/pui_settings.spec.ts
Due: Frontend

bump various deps
  .github/actions/setup/action.yaml
  contrib/container/requirements.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

align helpers deps
  contrib/dev_reqs/requirements.txt
Due: none

revert allauth change
  src/backend/requirements.txt
Due: none

fix style
  src/backend/requirements-dev.txt
Due: none

small refactor
  src/backend/InvenTree/InvenTree/schema.py
Due: none

add inventree vendor extension
  src/backend/InvenTree/InvenTree/schema.py
Due: none

Add enums for ordering fields
  src/backend/InvenTree/InvenTree/schema.py
Due: none

improve serializer text
  src/backend/InvenTree/machine/serializers.py
Due: Backend Apps

small type improvs
  src/backend/InvenTree/machine/models.py
  src/backend/InvenTree/machine/registry.py
Due: Backend Apps

more precise text (for API)
  src/backend/InvenTree/machine/machine_type.py
  src/backend/InvenTree/machine/serializers.py
Due: Backend Apps

bump api version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

more fixes
  src/backend/InvenTree/machine/api.py
  src/backend/InvenTree/machine/serializers.py
Due: Backend Apps

add version bump
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

updated pagination number check to a range instead of discreet values.
  src/frontend/tests/pui_tables.spec.ts
Due: Frontend

Add control over schema to settings
  docs/docs/start/config.md
  src/backend/InvenTree/InvenTree/schema.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/config_template.yaml
Due: none

bump allauth too
  src/backend/requirements.txt
Due: none
