Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

fix django
  contrib/container/requirements.txt
Due: none

Fix for string form fields (#10814)
  src/backend/InvenTree/InvenTree/metadata.py
  src/frontend/lib/types/Forms.tsx
  src/frontend/src/components/forms/ApiForm.tsx
Due: Frontend

adjust error boundary
  src/frontend/src/pages/Index/Settings/AccountSettings/SecurityContent.tsx
Due: Frontend

Update email docs (#10966)
  docs/docs/start/config.md
  src/backend/InvenTree/InvenTree/settings.py
Due: none

fix(backend): fix various vulns (#10967)
  contrib/container/requirements.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

fix(frontend): deps
  src/frontend/yarn.lock
Due: Frontend

update test
  src/backend/InvenTree/common/tests.py
Due: Backend General

Enable input controls in PDF reports
  src/backend/InvenTree/report/models.py
Due: Backend Apps

Changelog update for issue #10969.
  CHANGELOG.md
Due: none

Add usage notes for PDF forms to report docs (#10969).
  docs/docs/report/weasyprint.md
Due: none

fix(frontend): deps (#10970)
  src/frontend/yarn.lock
Due: Frontend

Enable input controls in PDF reports (#10969)
  CHANGELOG.md
  docs/docs/report/weasyprint.md
  src/backend/InvenTree/report/models.py
Due: Backend Apps

Docs spelling fixes
  docs/docs/manufacturing/allocate.md
  docs/docs/part/trackable.md
  docs/docs/project/resources.md
  docs/docs/settings/MFA.md
Due: none

Docs spelling fixes (#10972)
  docs/docs/manufacturing/allocate.md
  docs/docs/part/trackable.md
  docs/docs/project/resources.md
  docs/docs/settings/MFA.md
Due: none

Add barcode buttons to related fields
  src/frontend/lib/enums/ModelInformation.tsx
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
Due: Frontend

Add per-user settings for barcode support
  docs/docs/settings/user.md
  src/backend/InvenTree/common/setting/user.py
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
  src/frontend/src/components/nav/Header.tsx
  src/frontend/src/components/nav/NavigationDrawer.tsx
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
Due: Backend General, Frontend

Fill form field with scanned data
  src/frontend/src/components/barcodes/BarcodeScanDialog.tsx
  src/frontend/src/components/buttons/ScanButton.tsx
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
Due: Frontend

Updated docs
  docs/docs/assets/images/barcode/barcode_field.png
  docs/docs/assets/images/barcode/barcode_field_dialog.png
  docs/docs/assets/images/barcode/barcode_field_filled.png
  docs/docs/barcodes/index.md
Due: none

Fix duplicate setting
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
Due: Frontend

Add playwright tests
  src/frontend/src/components/buttons/ScanButton.tsx
  src/frontend/tests/pages/pui_scan.spec.ts
Due: Frontend

Fix duplicate setting in docs
  docs/docs/settings/user.md
Due: none

Fix broken link
  docs/docs/barcodes/index.md
Due: none

Fix memo deps
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
  src/frontend/src/components/nav/NavigationDrawer.tsx
Due: Frontend

Fix typo
  docs/docs/settings/global.md
Due: none

Remove setting
  docs/docs/settings/user.md
  src/backend/InvenTree/common/setting/user.py
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
  src/frontend/src/components/nav/Header.tsx
  src/frontend/src/components/nav/NavigationDrawer.tsx
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
Due: Backend General, Frontend

Updated playwright tests
  src/frontend/tests/pages/pui_purchase_order.spec.ts
  src/frontend/tests/pages/pui_scan.spec.ts
Due: Frontend

Improved typing
  src/frontend/tests/helpers.ts
  src/frontend/tests/login.ts
Due: Frontend

[UI] Barcode form inputs (#10973)
  docs/docs/assets/images/barcode/barcode_field.png
  docs/docs/assets/images/barcode/barcode_field_dialog.png
  docs/docs/assets/images/barcode/barcode_field_filled.png
  docs/docs/barcodes/index.md
  docs/docs/settings/global.md
  docs/docs/settings/user.md
  src/backend/InvenTree/common/setting/user.py
  src/frontend/lib/enums/ModelInformation.tsx
  src/frontend/src/components/barcodes/BarcodeScanDialog.tsx
  src/frontend/src/components/buttons/ScanButton.tsx
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
  src/frontend/tests/helpers.ts
  src/frontend/tests/login.ts
  src/frontend/tests/pages/pui_purchase_order.spec.ts
  src/frontend/tests/pages/pui_scan.spec.ts
Due: Backend General, Frontend

Default Supplier Support Missing in 1.X.X Fixes #10979
  src/frontend/src/forms/PartForms.tsx
  src/frontend/src/pages/part/PartDetail.tsx
Due: Frontend

bump precommit
  .pre-commit-config.yaml
Due: none

also bump gitleaks
  .pre-commit-config.yaml
Due: none

bump precommit (#10981)
  .pre-commit-config.yaml
Due: none

Improve docs for report merging
  docs/docs/assets/images/report/report_merge.png
  docs/docs/report/report.md
Due: none

fix type issue
  src/frontend/src/pages/part/PartStockHistoryDetail.tsx
Due: Frontend

Improve docs for report merging (#10984)
  docs/docs/assets/images/report/report_merge.png
  docs/docs/report/report.md
Due: none

ignore wrong type asseration by ty
  src/backend/InvenTree/part/models.py
Due: Backend Apps

bump api
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

allign docstring
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

add changelog entry
  CHANGELOG.md
Due: none

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
