Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

chore(backend): bump weasyprint
  src/backend/requirements-3.14.txt
  src/backend/requirements.in
  src/backend/requirements.txt
Due: none

remove extra conversion
  src/backend/InvenTree/InvenTree/auth_overrides.py
Due: none

ensure cirrect type is used
  src/backend/InvenTree/InvenTree/auth_overrides.py
Due: none

refactor(backend): SSO registration cleanup (#11239)
  docs/docs/settings/error_codes.md
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/InvenTree/auth_overrides.py
  src/backend/InvenTree/InvenTree/sso.py
Due: none

extend allowed headers
  contrib/container/Caddyfile
  src/backend/InvenTree/InvenTree/settings.py
Due: none

add endpoint to end the trace
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/common/api.py
Due: Backend General

end traces correctly in backend
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/src/App.tsx
  src/frontend/src/defaults/defaults.tsx
  src/frontend/src/pages/Auth/Login.tsx
  src/frontend/src/states/states.tsx
Due: Frontend

Add 'sub_part_active' filter for BOM list
  src/backend/InvenTree/part/api.py
Due: Backend Apps

Add UI filter
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

end trace
  src/backend/InvenTree/common/api.py
  src/frontend/src/App.tsx
Due: Backend General, Frontend

early cop-out if not tracing is enabled
  src/backend/InvenTree/common/api.py
Due: Backend General

refactor(frontend): load server and auth info in paralell
  src/frontend/src/states/ServerApiState.tsx
Due: Frontend

Update API version link for v447
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

refactor(frontend): load server and auth info in paralell (#11245)
  src/frontend/src/states/ServerApiState.tsx
Due: Frontend

[UI] Indicate over-allocation
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Frontend

[API] BOM active filter (#11242)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/part/api.py
  src/frontend/src/tables/bom/BomTable.tsx
Due: Backend Apps, Frontend

[UI] Indicate over-allocation (#11247)
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Frontend

also bump in normal reqs
  src/backend/requirements-dev.txt
Due: none

[UI] Fix SupplierPartTable
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
Due: Frontend

Updated playwright tests
  src/frontend/tests/pages/pui_purchase_order.spec.ts
Due: Frontend

[UI] Fix SupplierPartTable (#11253)
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
  src/frontend/tests/pages/pui_purchase_order.spec.ts
Due: Frontend

Allow part queryset to be passed to 'perform_stocktake' function
  src/backend/InvenTree/part/stocktake.py
Due: Backend Apps

Add new options to perform_stocktake
  src/backend/InvenTree/part/stocktake.py
Due: Backend Apps

Add parameter and attachment model options functions; remove image fields from company and part models
  src/backend/InvenTree/common/validators.py
  src/backend/InvenTree/company/migrations/0078_remove_company_image.py
  src/backend/InvenTree/part/migrations/0147_remove_part_image.py
Due: Backend Apps, Backend General

Allow download of part stocktake snapshot data
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/serializers.py
  src/frontend/src/pages/part/PartStockHistoryDetail.tsx
Due: Backend Apps, Frontend

API endpoint for generating a stocktake entry
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Simplify code
  src/backend/InvenTree/part/stocktake.py
Due: Backend Apps

Generate report output
  src/backend/InvenTree/data_exporter/mixins.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/part/stocktake.py
Due: Backend Apps

[UI] Add plugin website
  src/frontend/src/components/plugins/PluginDrawer.tsx
  src/frontend/src/tables/plugin/PluginListTable.tsx
Due: Frontend

[UI] Add plugin website (#11255)
  src/frontend/src/components/plugins/PluginDrawer.tsx
  src/frontend/src/tables/plugin/PluginListTable.tsx
Due: Frontend

Dashboard stocktake widget
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/part/stocktake.py
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/src/components/dashboard/DashboardWidgetLibrary.tsx
  src/frontend/src/components/dashboard/widgets/StocktakeDashboardWidget.tsx
Due: Backend Apps, Frontend

Force stocktake entry for part
  src/frontend/src/forms/PartForms.tsx
  src/frontend/src/pages/part/PartStockHistoryDetail.tsx
Due: Frontend

Add docs
  docs/docs/assets/images/part/part_stocktake_manual.png
  docs/docs/assets/images/part/stocktake_report_dashboard.png
  docs/docs/part/stocktake.md
  src/frontend/src/components/dashboard/widgets/StocktakeDashboardWidget.tsx
Due: Frontend

Cleanup docs
  docs/docs/part/stocktake.md
Due: none

Update API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Improve efficiency of stocktake generation
  src/backend/InvenTree/part/stocktake.py
Due: Backend Apps

Error handling
  src/backend/InvenTree/part/stocktake.py
Due: Backend Apps

Data migrations for StockItemTracking
  src/backend/InvenTree/stock/migrations/0117_stockitemtracking_part_alter_stockitemtracking_item.py
  src/backend/InvenTree/stock/migrations/0118_auto_20260205_1218.py
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
