Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Remove "address_count" field
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/company/serializers.py
Due: Backend Apps

Update API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Tweak docs page
  docs/docs/start/install.md
Due: none

Remove prefetch_related from parametric data filter
  src/backend/InvenTree/common/filters.py
Due: Backend General

Fix docs formatting
  docs/docs/start/install.md
Due: none

[refactor] cache custom states
  src/backend/InvenTree/generic/states/api.py
Due: Backend General

Fix docs formatting (#11008)
  docs/docs/start/install.md
Due: none

[refactor] Build list
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/serializers.py
Due: Backend Apps

Remove prefetch_related from parametric data filter (#11007)
  src/backend/InvenTree/common/filters.py
Due: Backend General

[refactor] Generic status API (#11009)
  src/backend/InvenTree/generic/states/api.py
Due: Backend General

[refactor] Build list (#11010)
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/serializers.py
Due: Backend Apps

Automatic prefetch of related fields for enable_filter
  src/backend/InvenTree/InvenTree/mixins.py
  src/backend/InvenTree/InvenTree/serializers.py
Due: none

Refactor "project_code_detail" filter into common component
  src/backend/InvenTree/InvenTree/mixins.py
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/common/filters.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/serializers.py
Due: Backend Apps, Backend General

Refactor 'parameters' annotation
  src/backend/InvenTree/InvenTree/mixins.py
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/common/filters.py
  src/backend/InvenTree/company/api.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps, Backend General

Refactor SupplierPartSerializer
  src/backend/InvenTree/company/serializers.py
Due: Backend Apps

Refactor serializer for ManufacturerPart
  src/backend/InvenTree/company/api.py
  src/backend/InvenTree/company/serializers.py
Due: Backend Apps

Refactor BuildSerializer
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/serializers.py
Due: Backend Apps

Refactor PurchaseOrderSerializer
  src/backend/InvenTree/common/filters.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/serializers.py
Due: Backend Apps, Backend General

Refactor SalesOrderSerializer
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/serializers.py
Due: Backend Apps

Refactor ReturnOrderSerializer
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/serializers.py
Due: Backend Apps

Improve the documentation installation instructions.
  docs/README.md
Due: none

Tweak unit tests
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

Improve the documentation installation instructions. (#11011)
  docs/README.md
Due: none

[refactor] Improve primary_address annotation for Company API (#11006)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/company/models.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

Remove debug statements
  src/backend/InvenTree/InvenTree/mixins.py
  src/backend/InvenTree/InvenTree/serializers.py
Due: none

Tweaks
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/common/filters.py
Due: Backend General

feat(backend): add performance test
  .github/workflows/qc_checks.yaml
  src/backend/InvenTree/InvenTree/unit_test.py
  src/backend/InvenTree/part/test_api.py
  src/backend/requirements-dev.in
  src/backend/requirements-dev.txt
  tasks.py
Due: Backend Apps

feat(backend): add performance test (#486)
  .github/workflows/qc_checks.yaml
  docs/README.md
  docs/docs/start/install.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/InvenTree/unit_test.py
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/common/filters.py
  src/backend/InvenTree/company/models.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/generic/states/api.py
  src/backend/InvenTree/part/test_api.py
  src/backend/requirements-dev.in
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
  tasks.py
Due: Backend Apps, Backend General

add oidc perm
  .github/workflows/qc_checks.yaml
Due: none

fix run setup
  pyproject.toml
  src/backend/InvenTree/part/test_api.py
  src/backend/requirements-dev.in
  src/backend/requirements-dev.txt
Due: Backend Apps

add gitignore
  .gitignore
Due: none

Simplify custom filterable fields
  src/backend/InvenTree/common/filters.py
  src/backend/InvenTree/company/serializers.py
Due: Backend Apps, Backend General

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Fix for data export
  src/backend/InvenTree/data_exporter/mixins.py
Due: Backend Apps

Additional unit tests
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/company/test_api.py
Due: Backend Apps

Remove unused "prefetch_func" option
  src/backend/InvenTree/InvenTree/serializers.py
Due: none

Refactor PurchaseOrderLineItemList
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
Due: Backend Apps

Refactor SalesOrderLineItemList
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/serializers.py
Due: Backend Apps

Refactor ReturnOrderLineItem
  src/backend/InvenTree/order/serializers.py
Due: Backend Apps
