Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

add mfa context
  src/frontend/src/functions/auth.tsx
  src/frontend/src/pages/Auth/MFA.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/SecurityContent.tsx
  src/frontend/src/states/ServerApiState.tsx
Due: Frontend

Update migration test
  src/backend/InvenTree/common/test_migrations.py
Due: Backend General

Add simple machine sample printer
  src/backend/InvenTree/plugin/samples/machines/__init__.py
  src/backend/InvenTree/plugin/samples/machines/sample_printer.py
Due: Backend Apps

Adds playwright tests for machine UI
  src/frontend/src/tables/machine/MachineListTable.tsx
  src/frontend/tests/pui_machines.spec.ts
Due: Frontend

Fix migration test
  src/backend/InvenTree/common/test_migrations.py
Due: Backend General

Fix typo
  .github/workflows/docker.yaml
Due: none

re-throw exception
  src/backend/InvenTree/machine/registry.py
Due: Backend Apps

Debug logging
  contrib/container/docker.dev.env
Due: none

Add log info
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Disable the test in docker
  contrib/container/docker.dev.env
  src/backend/InvenTree/plugin/installer.py
  src/backend/InvenTree/plugin/test_api.py
Due: Backend Apps

Remove debug prints
  src/backend/InvenTree/plugin/installer.py
Due: Backend Apps

refactor(backend): raise allauth (#10156)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/requirements.txt
Due: none

Revert docker ci test
  .github/workflows/docker.yaml
Due: none

Refactor image handling in Company and Part models; update serializers and API endpoints for new image architecture, and enhance related tests
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/common/test_api.py
  src/backend/InvenTree/company/migrations/0076_remove_company_image.py
  src/backend/InvenTree/company/models.py
  src/backend/InvenTree/part/migrations/0140_remove_part_image.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/test_api.py
  src/backend/InvenTree/part/test_part.py
Due: Backend Apps, Backend General

cleanup
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/urls.py
  src/frontend/src/pages/company/CompanyDetail.tsx
Due: Frontend

cleanup 2
  src/frontend/src/pages/purchasing/PurchaseOrderDetail.tsx
Due: Frontend

Run full docker build if full_run specified (#10153)
  .github/workflows/docker.yaml
  src/backend/InvenTree/common/test_migrations.py
  src/backend/InvenTree/plugin/installer.py
  src/backend/InvenTree/plugin/registry.py
  src/backend/InvenTree/plugin/test_api.py
Due: Backend Apps, Backend General

Define 'machine' plugin mixin class
  src/backend/InvenTree/plugin/base/integration/MachineMixin.py
  src/backend/InvenTree/plugin/plugin.py
Due: Backend Apps

Bug fix for BOM exporter
  src/backend/InvenTree/plugin/builtin/exporter/bom_exporter.py
Due: Backend Apps

Mark failed data exports
  src/backend/InvenTree/data_exporter/mixins.py
Due: Backend Apps

Bom export fix (#10163)
  src/backend/InvenTree/data_exporter/mixins.py
  src/backend/InvenTree/plugin/builtin/exporter/bom_exporter.py
Due: Backend Apps

Adjust machine discovery
  docs/docs/settings/error_codes.md
  src/backend/InvenTree/machine/registry.py
Due: Backend Apps

Improve instance rendering
  src/frontend/src/components/render/Instance.tsx
  src/frontend/src/components/render/Stock.tsx
Due: Frontend

Use plugin mixins for registering machine types and drivers
  src/backend/InvenTree/machine/apps.py
  src/backend/InvenTree/machine/registry.py
  src/backend/InvenTree/plugin/builtin/integration/machine_types.py
  src/backend/InvenTree/plugin/mixins/__init__.py
  src/backend/InvenTree/plugin/registry.py
  src/backend/InvenTree/plugin/samples/machines/sample_printer.py
Due: Backend Apps

fix: correct style object syntax in AttachmentCarousel component
  docs/docs/plugins/walkthrough.md
Due: none

Hover active filters
  src/frontend/src/tables/InvenTreeTableHeader.tsx
Due: Frontend

Hover active filters (#10168)
  src/frontend/src/tables/InvenTreeTableHeader.tsx
Due: Frontend

Improve instance rendering (#10165)
  src/frontend/src/components/render/Instance.tsx
  src/frontend/src/components/render/Stock.tsx
Due: Frontend

Update API version to 385 and remove deprecated 'image' field from Part model
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/part/migrations/0143_remove_part_image.py
  src/backend/InvenTree/part/test_part.py
Due: Backend Apps

Adjust unit test
  src/backend/InvenTree/plugin/test_plugin.py
Due: Backend Apps

Remove plugin static files when deactivating
  src/backend/InvenTree/plugin/models.py
Due: Backend Apps

Enhance 'count_queries' helper
  src/backend/InvenTree/InvenTree/unit_test.py
Due: none

Add threshold
  src/backend/InvenTree/InvenTree/unit_test.py
Due: none

Enhance CompanySerializer to use Prefetch for for better performance
  src/backend/InvenTree/company/serializers.py
Due: Backend Apps

Update typing
  src/backend/InvenTree/InvenTree/models.py
Due: none

Better rendering
  src/frontend/src/components/render/Part.tsx
  src/frontend/src/components/render/Stock.tsx
Due: Frontend

Improve StockItem
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

improve with_mixin
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Refactor receive_line_item
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/order/tests.py
Due: Backend Apps

Remove extraneous save call
  src/backend/InvenTree/order/serializers.py
Due: Backend Apps

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
