Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

fix assertation
  src/backend/InvenTree/common/test_emails.py
Due: Backend General

fix test to use post - this was refactored
  src/backend/InvenTree/common/tests.py
Due: Backend General

Bump InvenTree software version to 1.3.1
  src/backend/InvenTree/InvenTree/version.py
Due: none

Additional playwright tests
  src/frontend/tests/customization/customization.spec.ts
  src/frontend/tests/pages/pui_part.spec.ts
  src/frontend/tests/pui_settings.spec.ts
Due: Frontend

Revert formatting change
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Update API version and CHANGELOG
  CHANGELOG.md
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Updated docs
  docs/docs/manufacturing/bom.md
Due: none

Bump InvenTree software version to 1.3.1 (#11731)
  src/backend/InvenTree/InvenTree/version.py
Due: none

Fix docstring
  src/backend/InvenTree/part/migrations/0148_bomitem_raw_amount.py
Due: Backend Apps

Better handling of empty values
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Tweak unit tests
  src/backend/InvenTree/part/fixtures/bom.yaml
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

Move useFilterSet state to the @lib
  src/frontend/lib/hooks/UseFilterSet.tsx
  src/frontend/src/hooks/UseCalendar.tsx
  src/frontend/src/hooks/UseTable.tsx
Due: Frontend

Refactor string helper functions
  src/frontend/lib/functions/String.tsx
  src/frontend/lib/index.ts
  src/frontend/src/components/nav/PageDetail.tsx
  src/frontend/src/components/render/Instance.tsx
  src/frontend/src/components/render/Part.tsx
  src/frontend/src/components/render/Stock.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/settings/BarcodeScanHistoryTable.tsx
Due: Frontend

Refactor constructFormUrl func
  src/frontend/lib/functions/Forms.tsx
  src/frontend/lib/index.ts
  src/frontend/src/components/forms/ApiForm.tsx
  src/frontend/src/functions/forms.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Refactor Boundary component
  src/frontend/lib/components/Boundary.tsx
  src/frontend/lib/index.ts
  src/frontend/src/components/barcodes/BarcodeInput.tsx
  src/frontend/src/components/calendar/Calendar.tsx
  src/frontend/src/components/dashboard/DashboardWidget.tsx
  src/frontend/src/components/editors/TemplateEditor/TemplateEditor.tsx
  src/frontend/src/components/forms/ApiForm.tsx
  src/frontend/src/components/nav/Layout.tsx
  src/frontend/src/components/nav/NotificationDrawer.tsx
  src/frontend/src/components/nav/SearchDrawer.tsx
  src/frontend/src/components/panels/PanelGroup.tsx
  src/frontend/src/components/plugins/RemoteComponent.tsx
  src/frontend/src/components/settings/SettingItem.tsx
  src/frontend/src/components/wizards/WizardDrawer.tsx
  src/frontend/src/functions/forms.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/SecurityContent.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/InvenTreeTableHeader.tsx
Due: Frontend

Refactor StoredTableState
  src/frontend/lib/index.ts
  src/frontend/lib/states/StoredTableState.tsx
  src/frontend/src/contexts/LanguageContext.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

More refactoring
  src/frontend/lib/components/TableColumnSelect.tsx
  src/frontend/lib/functions/Notification.tsx
  src/frontend/lib/index.ts
  src/frontend/src/components/forms/ApiForm.tsx
  src/frontend/src/functions/forms.tsx
  src/frontend/src/functions/notifications.tsx
  src/frontend/src/pages/Index/Scan.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/SecurityContent.tsx
  src/frontend/src/tables/InvenTreeTableHeader.tsx
Due: Frontend

Refactor CopyButton and CopyableCell
  src/frontend/lib/components/CopyButton.tsx
  src/frontend/lib/components/CopyableCell.tsx
  src/frontend/lib/index.ts
  src/frontend/src/components/barcodes/QRCode.tsx
  src/frontend/src/components/details/Details.tsx
  src/frontend/src/components/modals/AboutInvenTreeModal.tsx
  src/frontend/src/components/wizards/OrderPartsWizard.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/MFASettings.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/QrRegistrationForm.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/settings/ApiTokenTable.tsx
  src/frontend/src/tables/settings/BarcodeScanHistoryTable.tsx
  src/frontend/src/tables/settings/ErrorTable.tsx
Due: Frontend

Tweak unit test
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/plugin/samples/integration/test_validation_sample.py
Due: Backend Apps

Fix unit test
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

Pass table render func to plugins
  src/frontend/lib/index.ts
  src/frontend/lib/types/Plugins.tsx
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/components/plugins/PluginContext.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Add redis database index support
  docs/docs/start/config.md
  src/backend/InvenTree/InvenTree/cache.py
Due: none

Pin python version for teyit hook
  .pre-commit-config.yaml
Due: none

Add redis database index support (#11732)
  docs/docs/start/config.md
  src/backend/InvenTree/InvenTree/cache.py
Due: none

Provide internal wrapper function, while allowing the "api" and "navigate" functions to be provided by the caller
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/components/plugins/PluginContext.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Adds <InvenTreeTable /> component which is exposed to plugins
  src/frontend/lib/components/InvenTreeTable.tsx
  src/frontend/lib/index.ts
Due: Frontend

Update frontend versioning
  src/frontend/CHANGELOG.md
  src/frontend/package.json
Due: Frontend

Update docs
  docs/docs/plugins/frontend.md
  src/frontend/lib/types/Plugins.tsx
Due: Frontend

Handle condition where UI does not provide table rendering function
  src/frontend/lib/components/InvenTreeTable.tsx
Due: Frontend

Move queryFilters out of custom state
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/InvenTreeTableHeader.tsx
Due: Frontend

Fix exported type
  src/frontend/lib/hooks/UseTable.tsx
Due: Frontend

Extract searchParams
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Bump UI version
  src/frontend/CHANGELOG.md
  src/frontend/package.json
Due: Frontend

Fix for right-click context menu
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/components/plugins/PluginContext.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Bump UI to 0.11.2
  src/frontend/CHANGELOG.md
  src/frontend/lib/index.ts
  src/frontend/package.json
Due: Frontend

Fix for SVG sanitizing
  src/backend/InvenTree/InvenTree/sanitizer.py
Due: none

Fix for SVG sanitizing (#11742)
  src/backend/InvenTree/InvenTree/sanitizer.py
Due: none

Update docker_install.md
  docs/docs/start/docker_install.md
Due: none
