Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add parameter support for build orders
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/serializers.py
  src/frontend/src/pages/build/BuildDetail.tsx
Due: Backend Apps, Frontend

Tweak frontend
  src/frontend/src/components/render/Instance.tsx
  src/frontend/src/components/render/Part.tsx
  src/frontend/src/components/wizards/ImportPartWizard.tsx
  src/frontend/src/forms/CompanyForms.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/Index.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/ParameterPanel.tsx
Due: Frontend

Add renderer
  src/frontend/src/components/render/Generic.tsx
  src/frontend/src/components/render/Instance.tsx
Due: Frontend

Remove defunct endpoints
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/src/components/wizards/ImportPartWizard.tsx
Due: Frontend

Check / uncheck shipments from table
  src/frontend/src/forms/SalesOrderForms.tsx
  src/frontend/src/pages/sales/SalesOrderShipmentDetail.tsx
  src/frontend/src/tables/sales/SalesOrderShipmentTable.tsx
Due: Frontend

Add migration requirement
  src/backend/InvenTree/common/migrations/0041_auto_20251028_1112.py
Due: Backend General

Require contenttypes to be updated
  src/backend/InvenTree/common/migrations/0041_auto_20251028_1112.py
Due: Backend General

Update migration
  src/backend/InvenTree/common/migrations/0041_auto_20251028_1112.py
Due: Backend General

Check / uncheck shipments from table (#10907)
  src/frontend/src/forms/SalesOrderForms.tsx
  src/frontend/src/pages/sales/SalesOrderShipmentDetail.tsx
  src/frontend/src/tables/sales/SalesOrderShipmentTable.tsx
Due: Frontend

Try using ID val
  src/backend/InvenTree/common/migrations/0041_auto_20251028_1112.py
Due: Backend General

Adjust migration dependencies
  src/backend/InvenTree/common/migrations/0040_parametertemplate_parameter.py
  src/backend/InvenTree/common/migrations/0041_auto_20251028_1112.py
  src/backend/InvenTree/part/migrations/0144_partcategoryparametertemplate_template.py
Due: Backend Apps, Backend General

fix params fixture
  src/backend/InvenTree/part/fixtures/params.yaml
Due: Backend Apps

fix schema export
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

fix modelset
  src/backend/InvenTree/users/ruleset.py
Due: Backend Apps

Fixes for data migration
  src/backend/InvenTree/common/migrations/0041_auto_20251028_1112.py
Due: Backend General

tweak table
  src/frontend/src/tables/purchasing/ManufacturerPartParametricTable.tsx
Due: Frontend

Fix for Category Parameters
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/serializers.py
  src/frontend/src/tables/part/PartCategoryTemplateTable.tsx
Due: Backend Apps, Frontend

Use branch of demo dataset for testing
  .github/workflows/qc_checks.yaml
  tasks.py
Due: none

Add parameteric build order table
  src/frontend/src/pages/build/BuildIndex.tsx
  src/frontend/src/tables/build/BuildOrderParametricTable.tsx
Due: Frontend

disable broken imports
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

remove old model from ruleset
  src/backend/InvenTree/users/ruleset.py
Due: Backend Apps

correct test
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

Table tweaks
  src/frontend/src/tables/purchasing/PurchaseOrderParametricTable.tsx
  src/frontend/src/tables/sales/ReturnOrderParametricTable.tsx
  src/frontend/src/tables/sales/SalesOrderParametricTable.tsx
Due: Frontend

fix test
  src/backend/InvenTree/part/test_category.py
Due: Backend Apps

Remove old model type
  src/backend/InvenTree/users/ruleset.py
Due: Backend Apps

fix test
  src/backend/InvenTree/common/tests.py
Due: Backend General

fix test
  src/backend/InvenTree/plugin/base/supplier/api.py
  src/backend/InvenTree/plugin/samples/supplier/test_supplier_sample.py
Due: Backend Apps

Refactor mixin to avoid specifying model type manually
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/company/api.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/users/ruleset.py
Due: Backend Apps, Backend General

fix test
  src/backend/InvenTree/part/test_param.py
Due: Backend Apps

fix resolve name
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

remove unneeded import
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Tweak unit testing
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/part/test_api.py
  src/backend/InvenTree/part/test_param.py
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps, Backend General

docs: relocate
  docs/docs/start/config.md
  docs/docs/start/docker_install.md
Due: none

docs: brief writeup for env-vars on webserver in Dockerfile (#10906)
  docs/docs/start/docker_install.md
Due: none

Fix unit test
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Enable bulk-create
  src/backend/InvenTree/common/api.py
Due: Backend General

More fixes
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/test_category.py
  src/backend/InvenTree/part/test_param.py
Due: Backend Apps

More unit test tweaks
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Enhancements
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/part/test_param.py
Due: Backend Apps

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
