Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
      - type: project
        target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
      - type: project
        target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
      - type: project
        target: 65%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Fix DB migration checks
  .github/workflows/qc_checks.yaml
Due: none

Fix for unit tests
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/tests.py
Due: Backend Apps

Refactor CompanySerializer to improve address handling and add schema fields
  src/backend/InvenTree/company/serializers.py
Due: Backend Apps

Fix return type
  src/backend/InvenTree/build/models.py
Due: Backend Apps

Fix serializer return type
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
Due: Backend Apps

Refactor part pricing updates
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Fix DB migration checks (#10175)
  .github/workflows/qc_checks.yaml
Due: none

UI tweaks
  src/frontend/src/components/render/Order.tsx
  src/frontend/src/pages/part/PartDetail.tsx
Due: Frontend

fix: The function should return early when in Docker environment
  contrib/container/Dockerfile
  tasks.py
Due: none

feature: add customization for admin.site.site_header
  docs/docs/start/config.md
  src/backend/InvenTree/InvenTree/urls.py
  src/backend/InvenTree/config_template.yaml
Due: none

feature: add pnpm package manager
  contrib/container/Dockerfile
  src/frontend/.gitignore
  src/frontend/.npmrc
Due: Frontend

Use bulk_create
  src/backend/InvenTree/order/models.py
Due: Backend Apps

Refactor API and endpoints
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Fix unit tests
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/plugin/samples/integration/test_api_caller.py
Due: Backend Apps

Add search shortcut
  src/frontend/src/components/nav/Header.tsx
  src/frontend/src/components/nav/Layout.tsx
Due: Frontend

Add user setting for spotlight
  docs/docs/settings/user.md
  src/backend/InvenTree/common/setting/user.py
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
Due: Backend General, Frontend

Hide spotlight if disabled
  src/frontend/src/components/nav/Header.tsx
  src/frontend/src/components/nav/Layout.tsx
Due: Frontend

Updated playwright tests
  src/frontend/tests/pui_general.spec.ts
Due: Frontend

Fix playwright tests
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Remove debug msg
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
Due: Frontend

Fix for table filter hover
  src/frontend/src/tables/InvenTreeTableHeader.tsx
Due: Frontend

[UI] Search shortcut (#10181)
  docs/docs/settings/user.md
  src/backend/InvenTree/common/setting/user.py
  src/frontend/src/components/nav/Header.tsx
  src/frontend/src/components/nav/Layout.tsx
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
  src/frontend/tests/pui_general.spec.ts
Due: Backend General, Frontend

Fix api_url for 'user' type
  src/backend/InvenTree/InvenTree/metadata.py
  src/frontend/src/components/render/User.tsx
Due: Frontend

Adjust unit test
  src/backend/InvenTree/plugin/base/integration/test_mixins.py
Due: Backend Apps

Added regression test
  src/backend/InvenTree/users/test_api.py
Due: Backend Apps

[refactor] PO receive fix (#10174)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/InvenTree/unit_test.py
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/order/test_api.py
  src/backend/InvenTree/order/tests.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/plugin/base/integration/test_mixins.py
  src/backend/InvenTree/plugin/registry.py
  src/backend/InvenTree/plugin/samples/integration/test_api_caller.py
  src/backend/InvenTree/stock/models.py
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
  src/frontend/src/components/render/Order.tsx
  src/frontend/src/components/render/Part.tsx
  src/frontend/src/components/render/Stock.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/tables/InvenTreeTableHeader.tsx
  src/frontend/tests/pages/pui_part.spec.ts
Due: Backend Apps, Frontend

fix login
  src/frontend/src/pages/Auth/MFA.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/SecurityContent.tsx
Due: Frontend

fix: style issue
  src/backend/InvenTree/InvenTree/urls.py
Due: none

Fix api_url for 'user' type (#10182)
  src/backend/InvenTree/InvenTree/metadata.py
  src/backend/InvenTree/users/test_api.py
  src/frontend/src/components/render/User.tsx
Due: Backend Apps, Frontend

Force machine reload when plugin registry changes
  src/backend/InvenTree/machine/registry.py
Due: Backend Apps

Add plugins specific to testing framework
  src/backend/InvenTree/machine/test_api.py
  src/backend/InvenTree/plugin/registry.py
  src/backend/InvenTree/plugin/testing/__init__.py
  src/backend/InvenTree/plugin/testing/label_machines.py
Due: Backend Apps

Add test for plugin loading sequence
  src/backend/InvenTree/machine/apps.py
  src/backend/InvenTree/machine/registry.py
Due: Backend Apps

Add session caching
  src/backend/InvenTree/machine/registry.py
Due: Backend Apps

Enhanced unit testing and test plugins
  src/backend/InvenTree/machine/registry.py
  src/backend/InvenTree/machine/tests.py
  src/backend/InvenTree/plugin/samples/machines/sample_printer.py
  src/backend/InvenTree/plugin/testing/label_machines.py
Due: Backend Apps

Refactor unit tests
  src/backend/InvenTree/machine/registry.py
  src/backend/InvenTree/machine/test_api.py
  src/backend/InvenTree/machine/tests.py
  src/backend/InvenTree/plugin/samples/machines/sample_printer.py
  src/backend/InvenTree/plugin/testing/label_machines.py
Due: Backend Apps

Further unit test fixes
  src/backend/InvenTree/machine/registry.py
  src/backend/InvenTree/machine/test_api.py
Due: Backend Apps

Adjust instance rendering
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
  src/frontend/src/components/render/Company.tsx
  src/frontend/src/components/render/Generic.tsx
  src/frontend/src/components/render/Part.tsx
  src/frontend/src/components/render/Plugin.tsx
  src/frontend/src/components/render/Report.tsx
  src/frontend/src/components/render/Stock.tsx
Due: Frontend

Display table of available drivers
  src/frontend/src/components/render/User.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/MachineManagementPanel.tsx
  src/frontend/src/tables/machine/MachineTypeTable.tsx
Due: Frontend

Cleanup
  src/frontend/src/tables/machine/MachineTypeTable.tsx
Due: Frontend
