Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

bump API version to 398 and update output options tests for PurchaseOrder endpoint
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

move tests to api mocking to remove jitter in ci closes #10446
  src/backend/InvenTree/plugin/base/integration/test_mixins.py
  src/backend/InvenTree/plugin/samples/integration/api_caller.py
  src/backend/InvenTree/plugin/samples/integration/test_api_caller.py
  src/backend/requirements-dev.in
  src/backend/requirements-dev.txt
Due: Backend Apps

refactor(backend): move serializer context enrichtment to mixin
  src/backend/InvenTree/InvenTree/mixins.py
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/company/api.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/stock/api.py
  src/backend/InvenTree/users/api.py
Due: Backend Apps

cleanup other get_serializer instances
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/part/api.py
Due: Backend Apps

fix style
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

fix style
  contrib/dev_reqs/requirements.txt
  docs/requirements.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

move tests to api mocking to remove jitter in ci (#10447)
  src/backend/InvenTree/plugin/base/integration/test_mixins.py
  src/backend/InvenTree/plugin/samples/integration/api_caller.py
  src/backend/InvenTree/plugin/samples/integration/test_api_caller.py
  src/backend/requirements-dev.in
  src/backend/requirements-dev.txt
Due: Backend Apps

[UI] Fix total price for Purchase Order table
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
Due: Frontend

Bump required query time for testing
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

[UI] Fix total price for Purchase Order table (#10450)
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
Due: Frontend

use record instance directly for actions
  .pre-commit-config.yaml
  src/frontend/src/tables/part/PartTable.tsx
Due: Frontend

Bump required query time for testing (#10451)
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

Refactor API endpoint: Build (2/6) (#10438)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/mixins.py
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/fixtures/build_line.yaml
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

feat(backend): releax protocol check
  docs/docs/start/config.md
  src/backend/InvenTree/InvenTree/middleware.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/test_middleware.py
Due: none

add changelog entry
  CHANGELOG.md
Due: none

fix variable name
  CHANGELOG.md
Due: none

chore: cleanup changelog for 1.0
  CHANGELOG.md
Due: none

Enhance NumericInFilter tests: add handling for non-existent IDs, empty strings, and invalid inputs
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

chore: pin images in workflows
  .github/workflows/qc_checks.yaml
Due: none

feat(backend): releax protocol check (#10454)
  CHANGELOG.md
  docs/docs/start/config.md
  src/backend/InvenTree/InvenTree/middleware.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/test_middleware.py
Due: none

chore: cleanup changelog for 1.0 (#10457)
  CHANGELOG.md
Due: none

chore: pin images in workflows (#10459)
  .github/workflows/qc_checks.yaml
Due: none

Refactor API endpoint: Part (3/6) (#10441)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/filters.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

Enhance error handling and add tests for stock_item and include_installed filters
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/stock/api.py
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps

add output options tests for SalesOrder and ReturnOrder detail endpoints
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

update changelog
  CHANGELOG.md
Due: none

add int and float type
  CHANGELOG.md
  src/backend/InvenTree/machine/machine_type.py
  src/backend/InvenTree/machine/serializers.py
  src/frontend/src/tables/machine/MachineListTable.tsx
Due: Backend Apps, Frontend

fix: log ENV key as it needs to be set
  src/backend/InvenTree/InvenTree/settings.py
Due: none

if we are in docker and empty - init db
  src/backend/InvenTree/InvenTree/apps.py
  src/backend/InvenTree/InvenTree/tasks.py
Due: none

use structlog
  src/backend/InvenTree/InvenTree/config.py
Due: none

fix mysql apply order
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

improve error message capabilites for InvenTreeAPITestCase
  src/backend/InvenTree/InvenTree/unit_test.py
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

Revert "fix mysql apply order"
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

fix message
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

removed defunct migrations
  src/backend/InvenTree/order/migrations/0112_salesorder_tax_configuration_reference_and_more.py
  src/backend/InvenTree/order/migrations/0113_purchaseorderextraline_tax_rate_and_more.py
Due: Backend Apps

Handle partial completion of build output
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

Add 'quantity' field to BuildOutputComplete API endpoint
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/serializers.py
Due: Backend Apps

Revert problematic parts of #10438 for now
  src/backend/InvenTree/build/fixtures/build_line.yaml
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
