Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

fix(backend): import session metadata (#12184)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/importer/migrations/0007_dataimportsession_completed_row_count_history_and_more.py
  src/backend/InvenTree/importer/models.py
  src/backend/InvenTree/importer/serializers.py
  src/frontend/src/pages/build/BuildDetail.tsx
  src/frontend/src/pages/purchasing/PurchaseOrderDetail.tsx
  src/frontend/src/pages/sales/ReturnOrderDetail.tsx
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
  src/frontend/src/pages/stock/TransferOrderDetail.tsx
  src/frontend/src/tables/settings/ImportSessionTable.tsx
  src/frontend/tests/pui_importing.spec.ts
Due: Backend Apps, Frontend

update attestations step
  .github/workflows/release.yaml
Due: none

build stable channel release seperatly
  .github/workflows/release.yaml
Due: none

fix(ci): improve release pipe stability (#12191)
  .github/workflows/release.yaml
Due: none

Adjust unit test
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Raise ValidaitonError
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Handle message parsing
  src/backend/InvenTree/report/models.py
Due: Backend Apps

Additional comment
  src/backend/InvenTree/report/models.py
Due: Backend Apps

Add worker health check invoke task
  src/backend/InvenTree/InvenTree/apps.py
  src/backend/InvenTree/InvenTree/tasks.py
  tasks.py
Due: none

Increase frequency of heartbeat task
  src/backend/InvenTree/InvenTree/tasks.py
  tasks.py
Due: none

Adjust default threshold for worker health check
  tasks.py
Due: none

Add server_health invoke func
  tasks.py
Due: none

Fix unit tests
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

System Health Checks (#12193)
  src/backend/InvenTree/InvenTree/apps.py
  src/backend/InvenTree/InvenTree/tasks.py
  tasks.py
Due: none

Report Generation Updates (#12187)
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/report/models.py
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
  src/frontend/src/components/editors/TemplateEditor/PdfPreview/PdfPreview.tsx
  src/frontend/src/components/editors/TemplateEditor/TemplateEditor.tsx
  src/frontend/tests/pui_printing.spec.ts
Due: Backend Apps, Frontend

Prevent double-save when creating an order
  src/backend/InvenTree/order/api.py
Due: Backend Apps

Prevent double-save for BuildOrder
  src/backend/InvenTree/build/api.py
Due: Backend Apps

More fixes
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/stock/api.py
Due: Backend Apps, Backend General

fix(ci): improve release pipe stability (#12191) (#12195)
  .github/workflows/release.yaml
Due: none

Additional unit tests
  src/backend/InvenTree/stock/api.py
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps

Fix order event name
  src/backend/InvenTree/order/events.py
Due: Backend Apps

[API] Adjust permissions for machine restart
  src/backend/InvenTree/machine/api.py
Due: Backend Apps

Fix import
  src/backend/InvenTree/machine/api.py
Due: Backend Apps

Wrong class
  src/backend/InvenTree/machine/api.py
Due: Backend Apps

Extend unit test
  src/backend/InvenTree/machine/test_api.py
Due: Backend Apps

Revert code, remove create method against StockTrackingList
  src/backend/InvenTree/stock/api.py
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps

Fix mixins
  src/backend/InvenTree/stock/api.py
Due: Backend Apps

Fix order event name (#12196)
  src/backend/InvenTree/order/events.py
Due: Backend Apps

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

[bug] Fix double save (#12194)
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/stock/api.py
Due: Backend Apps, Backend General

[API] Adjust permissions for machine restart (#12197)
  CHANGELOG.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/machine/api.py
  src/backend/InvenTree/machine/test_api.py
Due: Backend Apps

Bump software version to 1.3.7
  src/backend/InvenTree/InvenTree/version.py
Due: none

fix style
  src/backend/requirements.txt
Due: none

[UI] Fix status renderer functions
  src/frontend/src/components/render/Build.tsx
  src/frontend/src/components/render/Order.tsx
Due: Frontend

Hide expand icon for items without children
  src/frontend/src/components/nav/NavigationTree.tsx
Due: Frontend

Add searching to CategoryTree API
  src/backend/InvenTree/part/api.py
Due: Backend Apps

[UI] Fix status renderer functions (#12202)
  src/frontend/src/components/render/Build.tsx
  src/frontend/src/components/render/Order.tsx
Due: Frontend

Add "level" filter
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps
