Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

we are currently locking on olugin lease for 2 mins per ci setup; not good
  .github/actions/migration/action.yaml
  .github/actions/setup/action.yaml
Due: none

fix syntax
  .github/actions/migration/action.yaml
  .github/actions/setup/action.yaml
Due: none

move setting
  .github/actions/setup/action.yaml
Due: none

fix assign syntax
  .github/actions/migration/action.yaml
  .github/actions/setup/action.yaml
Due: none

reduce noice while setting up
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/plugin/lease.py
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

move atomic
  src/backend/InvenTree/common/models.py
Due: Backend General

Make client-secret nullable
  src/backend/InvenTree/common/serializers.py
Due: Backend General

Update api version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Fix admin search and autocomplete for Owner model
  src/backend/InvenTree/users/admin.py
  src/backend/InvenTree/users/tests.py
Due: Backend Apps

Update version.py
  src/backend/InvenTree/InvenTree/version.py
Due: none

Update version.py (#12988)
  src/backend/InvenTree/InvenTree/version.py
Due: none

Add Circuit Happy LLC as a sponsor
  README.md
Due: none

move the transaction safety to be migration specific
  src/backend/InvenTree/common/currency.py
  src/backend/InvenTree/common/migrations/0008_remove_inventreesetting_description_squashed_0039_emailthread_emailmessage.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/settings.py
Due: Backend General

reduce diff
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/settings.py
Due: Backend General

make write safe
  src/backend/InvenTree/common/migrations/0008_remove_inventreesetting_description_squashed_0039_emailthread_emailmessage.py
Due: Backend General

remove migration_safe_query again
  src/backend/InvenTree/common/currency.py
  src/backend/InvenTree/common/models.py
Due: Backend General

use a simpler approach in the squashed migration
  src/backend/InvenTree/common/migrations/0008_remove_inventreesetting_description_squashed_0039_emailthread_emailmessage.py
Due: Backend General

Add missing timeout to Slack notification plugin
  src/backend/InvenTree/plugin/builtin/integration/core_notifications.py
  src/backend/InvenTree/plugin/builtin/integration/test_core_notifications.py
Due: Backend Apps

fix style
  contrib/dev_reqs/requirements.txt
  docs/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

try using a manager
  src/backend/InvenTree/common/models.py
Due: Backend General

bump scim version
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none
