Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

feat(ci): add flakeiness (#12148)
  .github/workflows/frontend.yaml
  src/frontend/package.json
  src/frontend/playwright.config.ts
  src/frontend/yarn.lock
Due: Frontend

Fixed printing test assertion to avoid word boundary failure with concatenated text
  src/frontend/tests/pui_printing.spec.ts
Due: Frontend

fix style
  contrib/dev_reqs/requirements.txt
  docs/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

Remember last used label template and printer plugin per model type (#12146)
  src/frontend/src/components/buttons/PrintingActions.tsx
  src/frontend/src/states/LocalState.tsx
  src/frontend/tests/pui_printing.spec.ts
Due: Frontend

switch from n to nvm as that is an offical channel (#12140)
  contrib/container/Dockerfile
Due: none

[UI] Calendar month colors (#12157)
  src/frontend/src/components/calendar/Calendar.tsx
  src/frontend/src/styles/overrides.css
Due: Frontend

feat(frontend): add more general hotkeys (#12138)
  src/frontend/lib/functions/Events.tsx
  src/frontend/lib/types/Panel.tsx
  src/frontend/src/components/buttons/ScanButton.tsx
  src/frontend/src/components/items/ActionDropdown.tsx
  src/frontend/src/components/modals/HotkeyModal.tsx
  src/frontend/src/components/nav/PageDetail.tsx
  src/frontend/src/components/panels/AttachmentPanel.tsx
  src/frontend/src/components/panels/NotesPanel.tsx
  src/frontend/src/components/panels/PanelGroup.tsx
  src/frontend/src/components/panels/ParametersPanel.tsx
Due: Frontend

Fix delete call
  src/backend/InvenTree/common/models.py
Due: Backend General

Fix content mixin
  src/backend/InvenTree/common/serializers.py
Due: Backend General

Fix note duplication
  src/backend/InvenTree/InvenTree/models.py
Due: none

Make save method atomic
  src/backend/InvenTree/common/migrations/0044_note.py
  src/backend/InvenTree/common/models.py
Due: Backend General

Fix double-save
  src/backend/InvenTree/common/serializers.py
Due: Backend General

Add "template" field to Note model
  src/backend/InvenTree/common/admin.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/serializers.py
Due: Backend General

Adjust migrations
  src/backend/InvenTree/common/migrations/0044_note.py
  src/backend/InvenTree/common/models.py
Due: Backend General

Frontend updates
  src/frontend/src/components/editors/NotesEditor.tsx
  src/frontend/src/forms/CommonForms.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/Index.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/NoteTemplatePanel.tsx
Due: Frontend

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Adjust unit tests
  src/backend/InvenTree/common/tests.py
Due: Backend General

Add custom URL fetcher for PDF rendering
  src/backend/InvenTree/report/fetcher.py
Due: Backend Apps

Fix for report helper functions
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Use new fetcher
  src/backend/InvenTree/plugin/builtin/labels/label_sheet.py
  src/backend/InvenTree/report/fetcher.py
  src/backend/InvenTree/report/models.py
Due: Backend Apps

Additional unit tests
  src/backend/InvenTree/report/tests.py
Due: Backend Apps

Default include choices
  src/backend/InvenTree/common/serializers.py
Due: Backend General

Add new setting to control remote URL fetching
  docs/docs/settings/global.md
  src/backend/InvenTree/common/setting/system.py
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
Due: Backend General, Frontend

validate URLs against SSRF
  src/backend/InvenTree/report/fetcher.py
  src/backend/InvenTree/report/tests.py
Due: Backend Apps

Add global setting to disable URL fetching entirely
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/report/fetcher.py
  src/backend/InvenTree/report/tests.py
Due: Backend Apps, Backend General

Update docs
  docs/docs/report/index.md
  docs/docs/report/report.md
  src/backend/InvenTree/common/setting/system.py
Due: Backend General

Fix capitalization
  docs/docs/report/index.md
Due: none

Fix logging backend
  src/backend/InvenTree/report/fetcher.py
Due: Backend Apps

Update CHANGELOG
  CHANGELOG.md
Due: none

Updated playwright test
  src/frontend/tests/pui_settings.spec.ts
Due: Frontend

Adjust delay values
  src/frontend/src/components/calendar/Calendar.tsx
Due: Frontend

Add extra info to tooltip
  src/frontend/src/components/calendar/OrderCalendarToolTip.tsx
  src/frontend/src/pages/build/BuildIndex.tsx
Due: Frontend

Additional padding
  src/frontend/src/components/calendar/OrderCalendar.tsx
Due: Frontend

Adjust padding for scrollbar
  src/frontend/src/components/calendar/Calendar.tsx
Due: Frontend

Adjust month title as calendar scrolls
  src/frontend/src/components/calendar/Calendar.tsx
Due: Frontend

Fix for NotesEditor
  src/frontend/src/components/editors/NotesEditor.tsx
Due: Frontend

Render Note instance in forms
  src/frontend/lib/enums/ModelInformation.tsx
  src/frontend/lib/enums/ModelType.tsx
  src/frontend/src/components/render/Instance.tsx
  src/frontend/src/components/render/Note.tsx
  src/frontend/src/forms/CommonForms.tsx
Due: Frontend

Fix button-within-button
  src/frontend/src/components/editors/NotesEditor.tsx
Due: Frontend

[UI] Calendar Updates (#12161)
  src/frontend/src/components/calendar/Calendar.tsx
  src/frontend/src/components/calendar/OrderCalendar.tsx
  src/frontend/src/components/calendar/OrderCalendarToolTip.tsx
  src/frontend/src/pages/build/BuildIndex.tsx
Due: Frontend

Improve security posture of PDF reporting (#12160)
  CHANGELOG.md
  docs/docs/report/index.md
  docs/docs/report/report.md
  docs/docs/settings/global.md
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/plugin/builtin/labels/label_sheet.py
  src/backend/InvenTree/report/fetcher.py
  src/backend/InvenTree/report/models.py
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
  src/backend/InvenTree/report/tests.py
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
Due: Backend Apps, Backend General, Frontend

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
