Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

fix style
  src/backend/requirements-dev.txt
Due: none

Update docker_install.md (#11746)
  docs/docs/start/docker_install.md
Due: none

feat(currency): add native support for BRL (Brazilian Real)
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/common/currency.py
  src/backend/InvenTree/stock/tests.py
  tasks.py
Due: Backend Apps, Backend General

Fix migrations
  src/backend/InvenTree/order/migrations/0117_transferorder.py
  src/backend/InvenTree/order/migrations/0117_transferorder_updated_at.py
Due: Backend Apps

Frontend fixes
  src/frontend/src/tables/stock/TransferOrderAllocationTable.tsx
  src/frontend/src/tables/stock/TransferOrderLineItemTable.tsx
  src/frontend/src/tables/stock/TransferOrderTable.tsx
Due: Frontend

Implement required 'company' attribute
  src/backend/InvenTree/order/models.py
Due: Backend Apps

Tweaks
  docs/docs/start/advanced.md
  src/backend/InvenTree/InvenTree/setting/worker.py
  src/backend/InvenTree/InvenTree/settings.py
Due: none

Split tracing settings out into separate file
  docs/docs/start/advanced.md
  docs/docs/start/config.md
  src/backend/InvenTree/InvenTree/setting/tracing.py
  src/backend/InvenTree/InvenTree/settings.py
Due: none

Cleanup LDAP settings
  docs/docs/hooks.py
  docs/docs/start/advanced.md
  docs/docs/start/config.md
  src/backend/InvenTree/InvenTree/config.py
Due: none

Social providers docs
  docs/docs/settings/SSO.md
Due: none

More updates
  docs/docs/hooks.py
  docs/docs/start/config.md
Due: none

Refactor ldap setup into own module
  src/backend/InvenTree/InvenTree/setting/ldap.py
  src/backend/InvenTree/InvenTree/settings.py
Due: none

Tweaks
  docs/docs/hooks.py
  docs/docs/start/advanced.md
  docs/docs/start/config.md
Due: none

Formatting tweaks
  docs/docs/start/config.md
  docs/docs/start/docker_install.md
Due: none

Tweak logic
  src/backend/InvenTree/InvenTree/settings.py
Due: none

Fix INVENTREE_SESSION_COOKIE_SECURE setting
  docs/docs/start/config.md
  src/backend/InvenTree/InvenTree/settings.py
Due: none

Fix migration order
  src/backend/InvenTree/company/migrations/0080_remove_company_image.py
  src/backend/InvenTree/part/migrations/0148_remove_part_image.py
Due: Backend Apps

Image ref fixes
  src/frontend/src/pages/purchasing/PurchaseOrderDetail.tsx
  src/frontend/src/pages/sales/ReturnOrderDetail.tsx
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
Due: Frontend

Remove old comment
  src/backend/InvenTree/common/serializers.py
Due: Backend General

Cleanup migrations
  src/backend/InvenTree/common/migrations/0042_inventreeimage.py
  src/backend/InvenTree/common/migrations/0043_migrate_part_images.py
  src/backend/InvenTree/common/migrations/0044_migrate_company_images.py
  src/backend/InvenTree/common/migrations/0045_remove_inventreeimage_content_type_and_more.py
  src/backend/InvenTree/common/migrations/0046_alter_inventreeimage_model_type.py
Due: Backend General

Fix wrapping
  docs/main.py
Due: none

Add custom default
  docs/docs/start/config.md
Due: none

fix style
  src/backend/requirements.txt
Due: none

fix style
  contrib/container/requirements.txt
  docs/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

reduce diff
  src/backend/requirements-dev-3.14.txt
Due: none

add frontend cookie removal of mfa trust
  src/frontend/src/functions/auth.tsx
Due: Frontend

transfer order report context
  src/backend/InvenTree/order/models.py
Due: Backend Apps

feat(frontend): warn if notes are dirty
  src/frontend/src/components/editors/NotesEditor.tsx
  src/frontend/src/components/panels/NotesPanel.tsx
  src/frontend/src/components/panels/Panel.tsx
  src/frontend/src/components/panels/PanelGroup.tsx
Due: Frontend

fix type
  src/frontend/src/components/panels/PanelGroup.tsx
Due: Frontend

fix small style issues
  src/frontend/src/components/panels/PanelGroup.tsx
Due: Frontend

add changelog entry
  CHANGELOG.md
Due: none

add frontend cookie removal of mfa trust (#11768)
  src/frontend/src/functions/auth.tsx
Due: Frontend

Add docs for build order support in app
  docs/docs/app/build.md
  docs/docs/assets/images/app/build_detail.png
  docs/docs/assets/images/app/build_list.png
  docs/docs/assets/images/app/build_outputs.png
  docs/docs/assets/images/app/build_required_parts.png
  docs/mkdocs.yml
Due: none

stop closing tab
  src/frontend/src/components/panels/PanelGroup.tsx
Due: Frontend

feat(frontend): add inline create modal to PurchaseOrderLineItem dialog
  src/frontend/lib/types/Forms.tsx
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
  src/frontend/src/forms/PurchaseOrderForms.tsx
Due: Frontend

add changelog
  CHANGELOG.md
Due: none

implement suggested fix
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
Due: Frontend

feat(frontend): add inline component addition to BOM dialog
  src/frontend/src/forms/BomForms.tsx
Due: Frontend

Ensure a new BOM item triggers check_bom_valid
  src/backend/InvenTree/part/models.py
Due: Backend Apps
