Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

[UI] Manufacturer part updates (#10601)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/stock/api.py
  src/frontend/src/pages/company/CompanyDetail.tsx
  src/frontend/src/pages/company/ManufacturerPartDetail.tsx
  src/frontend/src/pages/part/PartSupplierDetail.tsx
  src/frontend/src/pages/purchasing/PurchasingIndex.tsx
  src/frontend/src/tables/purchasing/ManufacturerPartTable.tsx
Due: Backend Apps, Frontend

Maths tags updates
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Add modulo tag
  docs/docs/report/helpers.md
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Form Field updates:
  src/frontend/lib/types/Forms.tsx
Due: Frontend

Add ability to auto-fill text input with placeholder value
  src/frontend/lib/types/Forms.tsx
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/src/components/forms/fields/TextField.tsx
Due: Frontend

Simplify stock form
  src/frontend/src/forms/StockForms.tsx
Due: Frontend

Better serial number placeholders
  src/frontend/src/forms/StockForms.tsx
Due: Frontend

Update other generator fields
  src/frontend/src/forms/BuildForms.tsx
  src/frontend/src/forms/StockForms.tsx
Due: Frontend

Add default placeholder to DateInput
  src/frontend/src/components/forms/fields/DateField.tsx
Due: Frontend

add user docs
  docs/docs/assets/images/part/import_part.png
  docs/docs/assets/images/part/import_part_wizard.png
  docs/docs/assets/images/part/import_supplier_part.png
  docs/docs/part/import.md
  docs/mkdocs.yml
Due: none

Report maths tweaks (#10604)
  docs/docs/report/helpers.md
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Backup update (#10586)
  docs/docs/develop/contributing.md
  docs/docs/start/backup.md
  docs/docs/start/invoke.md
  docs/docs/start/migrate.md
  docs/main.py
  docs/mkdocs.yml
  src/backend/InvenTree/InvenTree/backup.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/requirements.in
  src/backend/requirements.txt
  tasks.py
Due: none

Enhance TextField
  src/frontend/src/components/forms/fields/TextField.tsx
Due: Frontend

Remove serial_numbers field for non-creation forms
  src/frontend/src/forms/StockForms.tsx
Due: Frontend

Update playwright tests
  src/frontend/tests/pages/pui_build.spec.ts
  src/frontend/tests/pages/pui_stock.spec.ts
  src/frontend/tests/pui_forms.spec.ts
Due: Frontend

Allow import of parts from file
  src/frontend/src/components/buttons/PrintingActions.tsx
  src/frontend/src/components/items/ActionDropdown.tsx
  src/frontend/src/tables/part/PartTable.tsx
Due: Frontend

Extend default values for part import
  src/frontend/src/tables/part/PartTable.tsx
  src/frontend/src/tables/part/PartVariantTable.tsx
Due: Frontend

Small visual tweaks
  src/frontend/src/components/wizards/ImportPartWizard.tsx
Due: Frontend

Update documentation
  docs/docs/assets/images/part/new_part.png
  docs/docs/assets/images/part/new_parts_dropdown.png
  docs/docs/part/create.md
  docs/docs/part/import.md
  docs/mkdocs.yml
Due: none

refactor(backend): shift filterable serializer responses to a more introspection friendly model (#10498)
  docs/docs/settings/error_codes.md
  src/backend/InvenTree/InvenTree/mixins.py
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/build/test_api.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/part/test_api.py
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/users/serializers.py
Due: Backend Apps

Update playwright test
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

BOM updates
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Check self.allow_variants
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Add comment
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Adjust playwright tests
  src/frontend/tests/pages/pui_build.spec.ts
  src/frontend/tests/pages/pui_company.spec.ts
  src/frontend/tests/pages/pui_part.spec.ts
  src/frontend/tests/pages/pui_purchase_order.spec.ts
  src/frontend/tests/pages/pui_sales_order.spec.ts
  src/frontend/tests/pages/pui_stock.spec.ts
  src/frontend/tests/pui_forms.spec.ts
  src/frontend/tests/pui_settings.spec.ts
Due: Frontend

BOM updates (#10611)
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Further playwright adjustments
  src/frontend/tests/pui_tables.spec.ts
Due: Frontend

Fix project code field for build serializer
  src/backend/InvenTree/build/serializers.py
Due: Backend Apps

Generator updates (#10605)
  src/backend/InvenTree/build/serializers.py
  src/frontend/lib/types/Forms.tsx
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/src/components/forms/fields/DateField.tsx
  src/frontend/src/components/forms/fields/TextField.tsx
  src/frontend/src/forms/BuildForms.tsx
  src/frontend/src/forms/StockForms.tsx
  src/frontend/tests/pages/pui_build.spec.ts
  src/frontend/tests/pages/pui_company.spec.ts
  src/frontend/tests/pages/pui_part.spec.ts
  src/frontend/tests/pages/pui_purchase_order.spec.ts
  src/frontend/tests/pages/pui_sales_order.spec.ts
  src/frontend/tests/pages/pui_stock.spec.ts
  src/frontend/tests/pui_forms.spec.ts
  src/frontend/tests/pui_settings.spec.ts
  src/frontend/tests/pui_tables.spec.ts
Due: Backend Apps, Frontend

[UI] Part import (#10609)
  docs/docs/assets/images/part/new_part.png
  docs/docs/assets/images/part/new_parts_dropdown.png
  docs/docs/part/create.md
  docs/docs/part/import.md
  docs/mkdocs.yml
  src/frontend/src/components/buttons/PrintingActions.tsx
  src/frontend/src/components/items/ActionDropdown.tsx
  src/frontend/src/components/wizards/ImportPartWizard.tsx
  src/frontend/src/tables/part/PartTable.tsx
  src/frontend/src/tables/part/PartVariantTable.tsx
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

test failure modes
  src/backend/InvenTree/InvenTree/test_serializers.py
Due: none

reduce diff
  src/backend/InvenTree/InvenTree/test_serializers.py
  src/backend/InvenTree/InvenTree/urls.py
Due: none

make check more robust
  src/backend/InvenTree/InvenTree/mixins.py
Due: none

add more INVE-I2 checks
  src/backend/InvenTree/InvenTree/test_serializers.py
Due: none

improve check
  src/backend/InvenTree/InvenTree/test_serializers.py
Due: none

Setup: allow more python versions (#10615)
  .pkgr.yml
  contrib/packager.io/functions.sh
Due: none

fix style
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
