Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Refactor ImporterDrawer
  src/frontend/src/components/importer/GlobalImporterDrawer.tsx
  src/frontend/src/components/nav/Layout.tsx
  src/frontend/src/states/ImporterState.tsx
  src/frontend/src/tables/bom/BomTable.tsx
  src/frontend/src/tables/general/ParameterTable.tsx
  src/frontend/src/tables/part/PartTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
  src/frontend/src/tables/settings/ImportSessionTable.tsx
Due: Frontend

Expose global importer state to the plugin interface
  src/frontend/lib/types/Plugins.tsx
  src/frontend/src/components/plugins/PluginContext.tsx
Due: Frontend

Improve registration of data import serializers
  src/backend/InvenTree/importer/registry.py
  src/backend/InvenTree/order/serializers.py
Due: Backend Apps

Update frontend version / docs
  src/frontend/CHANGELOG.md
  src/frontend/package.json
Due: Frontend

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Style fixes
  src/backend/InvenTree/InvenTree/helpers_model.py
  src/backend/InvenTree/part/helpers.py
Due: Backend Apps

Add an option to set sync=True to launch.json
  .vscode/launch.json
  docs/docs/develop/devcontainer.md
  src/backend/InvenTree/InvenTree/settings.py
Due: none

fix styles
  src/backend/InvenTree/InvenTree/helpers_model.py
  src/backend/InvenTree/part/helpers.py
Due: Backend Apps

fix style
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

fix test
  src/frontend/tests/pui_printing.spec.ts
Due: Frontend

Reintroduce unit tests
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/users/tests.py
Due: Backend Apps

[UI] Pass custom fields through to the importer session
  src/frontend/src/components/importer/GlobalImporterDrawer.tsx
  src/frontend/src/components/importer/ImportDataSelector.tsx
  src/frontend/src/components/importer/ImporterColumnSelector.tsx
  src/frontend/src/components/importer/ImporterDrawer.tsx
  src/frontend/src/states/ImporterState.tsx
Due: Frontend

Backport (#11686)
  docs/docs/plugins/install.md
  src/backend/InvenTree/InvenTree/helpers_model.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/part/helpers.py
  src/backend/InvenTree/plugin/api.py
  src/backend/InvenTree/plugin/installer.py
  src/backend/InvenTree/plugin/serializers.py
  src/backend/InvenTree/plugin/test_api.py
  src/backend/InvenTree/plugin/test_plugin.py
  src/backend/InvenTree/users/serializers.py
  src/backend/InvenTree/users/test_api.py
  src/frontend/src/tables/plugin/PluginListTable.tsx
  src/frontend/tests/pui_printing.spec.ts
Due: Backend Apps, Backend General, Frontend

Fix spelling error in api_version.py
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

fix style
  contrib/container/requirements.txt
Due: none

general bump
  src/frontend/yarn.lock
Due: Frontend

ignore warnings for now
  src/frontend/tsconfig.json
Due: Frontend

fix media queries
  src/frontend/src/main.css.ts
Due: Frontend

bump more
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

Update parameter report helper
  src/backend/InvenTree/report/templatetags/report.py
Due: Backend Apps

Add default value in case parameter is not found
  src/backend/InvenTree/report/templatetags/report.py
Due: Backend Apps

Add new report helper func
  docs/docs/report/helpers.md
  src/backend/InvenTree/report/templatetags/report.py
Due: Backend Apps

Add "line number" field for external orders
  src/backend/InvenTree/order/migrations/0116_purchaseorderextraline_line_and_more.py
  src/backend/InvenTree/order/models.py
Due: Backend Apps

Updated serializers
  src/backend/InvenTree/order/serializers.py
Due: Backend Apps

Add columns to UI tables
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/general/ExtraLineItemTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
  src/frontend/src/tables/sales/ReturnOrderLineItemTable.tsx
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
Due: Frontend

Update form fields
  src/frontend/src/forms/CommonForms.tsx
  src/frontend/src/forms/PurchaseOrderForms.tsx
  src/frontend/src/forms/ReturnOrderForms.tsx
  src/frontend/src/forms/SalesOrderForms.tsx
Due: Frontend

Adds API ordering
  src/backend/InvenTree/order/api.py
Due: Backend Apps

Update CHANGELOG.md
  CHANGELOG.md
Due: none

lower vitejs/plugin-react
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

Fix for ManufacturerPartList
  src/backend/InvenTree/company/api.py
Due: Backend Apps

Add playwright tests
  src/frontend/tests/pages/pui_purchasing.spec.ts
  src/frontend/tests/pages/pui_sales.spec.ts
Due: Frontend

Table icon fix
  src/frontend/src/tables/TableHoverCard.tsx
Due: Frontend

Support custom model rendering within the data import wizard
  src/frontend/src/components/importer/ImportDataSelector.tsx
  src/frontend/src/components/render/Instance.tsx
Due: Frontend

Update UI version
  src/frontend/CHANGELOG.md
  src/frontend/package.json
Due: Frontend

Fix typo
  docs/docs/start/config.md
  src/frontend/src/components/nav/Header.tsx
  src/frontend/src/main.tsx
Due: Frontend

Add playwright test
  src/frontend/tests/pui_permissions.spec.ts
Due: Frontend

Fix storage helpers
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/InvenTree/tests.py
Due: none

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
