Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

[UI] Fix NewsWidget (#12205)
  src/frontend/src/components/dashboard/widgets/NewsWidget.tsx
Due: Frontend

Refactoring:
  CHANGELOG.md
  docs/docs/report/helpers.md
  docs/docs/settings/global.md
  src/backend/InvenTree/InvenTree/format.py
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/common/tests.py
  src/backend/InvenTree/report/templatetags/report.py
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
Due: Backend Apps, Backend General, Frontend

Extend unit testing
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Refactor format_number
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Add unit tests for explicit format strings
  docs/docs/report/helpers.md
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Update examples for format_date
  docs/docs/report/helpers.md
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Updated unit tests
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Cleanup unit tests
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Fix more tests
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Adjust wording
  src/backend/InvenTree/common/setting/system.py
Due: Backend General

test(docker): verify compiled backend translations exist in image
  .github/workflows/docker.yaml
Due: none

build(docker): compile backend trasnlations during image build
  contrib/container/Dockerfile
  tasks.py
Due: none

test(docker): verify compiled frontend translations exist in image
  .github/workflows/docker.yaml
Due: none

fix style
  src/backend/requirements-3.14.txt
  src/backend/requirements.txt
Due: none

general bump
  contrib/dev_reqs/requirements.txt
  docs/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

bump dev tools
  contrib/container/requirements.txt
Due: none

bump ty
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
Due: none

various fixes
  src/backend/InvenTree/InvenTree/exceptions.py
  src/backend/InvenTree/report/apps.py
  src/backend/InvenTree/stock/api.py
Due: Backend Apps

fix settings
  pyproject.toml
Due: none

bump stubs
  src/backend/requirements-dev.txt
Due: none

update pre-commit setup
  .pre-commit-config.yaml
  src/backend/requirements-dev-3.14.txt
Due: none

Remove global setting - simplify code
  CHANGELOG.md
  docs/docs/report/helpers.md
  docs/docs/settings/global.md
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/common/tests.py
  src/backend/InvenTree/report/templatetags/report.py
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
Due: Backend Apps, Backend General, Frontend

Simplify unit tests
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Revert 'min_digits' to 'leading'
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

update ignore
  pyproject.toml
Due: none

Fix docs
  docs/docs/report/helpers.md
Due: none

Refactor the render_currency function
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Cleanup duplicate code
  src/backend/InvenTree/InvenTree/format.py
  src/backend/InvenTree/InvenTree/helpers_model.py
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/report/templatetags/report.py
Due: Backend Apps

Updated docs
  docs/docs/report/helpers.md
Due: none

Allow user to specify date_format
  docs/docs/report/helpers.md
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Add support for 'leading' digits in render_currency
  docs/docs/report/helpers.md
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Bug fix
  src/backend/InvenTree/report/templatetags/report.py
Due: Backend Apps

Fix unit test
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Add tests for "include_symbol"
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Report locale updates (#12208)
  CHANGELOG.md
  docs/docs/concepts/pricing.md
  docs/docs/report/helpers.md
  src/backend/InvenTree/InvenTree/format.py
  src/backend/InvenTree/InvenTree/helpers_model.py
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/common/validators.py
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps, Backend General

Add AGENTS project awareness
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
Due: none

Fix formatting
  CONTRIBUTING.md
Due: none

Additional info
  CONTRIBUTING.md
Due: none

Fix signup warning
  src/backend/InvenTree/InvenTree/auth_overrides.py
Due: none

Fix signup warning (#12213)
  src/backend/InvenTree/InvenTree/auth_overrides.py
Due: none
