Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Remove "review_needed" field
  src/backend/InvenTree/stock/migrations/0123_remove_stockitem_review_needed.py
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

Update CHANGELOG
  CHANGELOG.md
Due: none

Simplify test matrix
  .github/workflows/qc_checks.yaml
  src/frontend/playwright.config.ts
  src/frontend/tests/customization/customization.spec.ts
Due: Frontend

Fix for "can convert" logic (#12070)
  src/frontend/src/pages/stock/StockDetail.tsx
Due: Frontend

Remove "review_needed" field (#12071)
  CHANGELOG.md
  src/backend/InvenTree/stock/migrations/0123_remove_stockitem_review_needed.py
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

Fix env vars
  src/frontend/playwright.config.ts
Due: Frontend

Update API
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Update migration files
  src/backend/InvenTree/common/migrations/0045_auto_20260525_0956.py
  src/backend/InvenTree/stock/migrations/0124_remove_stockitem_review_needed.py
Due: Backend Apps, Backend General

Adjust matrix
  .github/workflows/qc_checks.yaml
Due: none

Adjust output names
  .github/workflows/qc_checks.yaml
Due: none

Fix paths
  .github/workflows/qc_checks.yaml
Due: none

Simplify qc_checks
  .github/workflows/qc_checks.yaml
Due: none

Revert missing line
  .github/workflows/qc_checks.yaml
Due: none

Feature: Add DB models and API scaffolding for Repair Orders (#12064)
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/order/status_codes.py
Due: Backend Apps

Simplify coverage calls
  .github/workflows/qc_checks.yaml
Due: none

Run firefox test against port 8000
  .github/workflows/qc_checks.yaml
  src/frontend/playwright.config.ts
Due: Frontend

Fix VITE_COVERAGE env var
  .github/workflows/qc_checks.yaml
Due: none

Small docs changes (formatting)
  docs/docs/develop/contributing.md
  docs/docs/faq.md
Due: none

Small docs changes (formatting) (#12073)
  docs/docs/develop/contributing.md
  docs/docs/faq.md
Due: none

Fix migrations
  src/backend/InvenTree/common/migrations/0045_auto_20260525_0956.py
  src/backend/InvenTree/stock/migrations/0123_remove_stockitem_review_needed.py
  src/backend/InvenTree/stock/migrations/0124_remove_stockitem_notes.py
Due: Backend Apps, Backend General

Capture browser name in report output
  .github/workflows/qc_checks.yaml
Due: none

Increase timeout again
  .github/workflows/qc_checks.yaml
Due: none

Enhanced feedback from playwright startup
  src/frontend/playwright.config.ts
Due: Frontend

Split UI checks into separate file
  .github/workflows/frontend.yaml
  .github/workflows/qc_checks.yaml
Due: none

Fix workflow deps
  .github/workflows/frontend.yaml
Due: none

Shard chromium build
  .github/workflows/frontend.yaml
Due: none

Adjust reporter type
  src/frontend/playwright.config.ts
Due: Frontend

Reduce uncessesary build steps
  .github/actions/setup/action.yaml
  .github/workflows/frontend.yaml
Due: none

Add Tag API endpoints
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/serializers.py
Due: Backend General

fix style with `prek run -a` locally
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
Due: Backend Apps

fix style
  src/backend/InvenTree/order/api.py
Due: Backend Apps

remove dup apis
  src/backend/InvenTree/order/api.py
Due: Backend Apps

Enable filtering by model type
  src/backend/InvenTree/common/api.py
Due: Backend General

Remove old tags filters against Part endpoint
  src/backend/InvenTree/part/api.py
Due: Backend Apps

Add generic tags filter for filtering against tagged items
  src/backend/InvenTree/common/filters.py
  src/backend/InvenTree/part/api.py
Due: Backend Apps, Backend General

Add API unit tests for the tags API endpoints
  src/backend/InvenTree/common/test_api.py
Due: Backend General

Create generic mixin class for adding tags support
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Update existing tagged models
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/company/models.py
  src/backend/InvenTree/stock/models.py
Due: Backend Apps, Backend General

Add tags to more model types
  src/backend/InvenTree/build/migrations/0059_build_tags.py
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/company/migrations/0080_company_tags.py
  src/backend/InvenTree/company/models.py
  src/backend/InvenTree/order/migrations/0120_purchaseorder_tags_returnorder_tags_salesorder_tags_and_more.py
  src/backend/InvenTree/order/models.py
Due: Backend Apps

Enable new tags API filtering for multiple models
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/company/api.py
  src/backend/InvenTree/order/api.py
Due: Backend Apps, Backend General

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
