Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

[bug] Allocated query fix (#12234)
  src/backend/InvenTree/build/api.py
Due: Backend Apps

!feat(backend): bump minimum python version (#12223)
  .devcontainer/Dockerfile
  .devops/test_stats.yml
  .github/workflows/check_translations.yaml
  .github/workflows/docker.yaml
  .github/workflows/frontend.yaml
  .github/workflows/import_export.yaml
  .github/workflows/qc_checks.yaml
  .github/workflows/release.yaml
  .github/workflows/translations.yaml
  .pkgr.yml
  .pre-commit-config.yaml
  .vscode/launch.json
  CHANGELOG.md
  codecov.yml
  contrib/packager.io/functions.sh
  contrib/packager.io/postinstall.sh
  docs/docs/hooks.py
  docs/docs/start/docker_install.md
  docs/mkdocs.yml
  pyproject.toml
  readthedocs.yml
  src/backend/InvenTree/InvenTree/version.py
  src/backend/InvenTree/common/setting/type.py
  src/backend/InvenTree/plugin/helpers.py
  src/backend/InvenTree/plugin/installer.py
  src/backend/InvenTree/plugin/plugin.py
  src/backend/InvenTree/plugin/registry.py
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
  src/frontend/netlify.toml
Due: Backend Apps, Backend General, Frontend

Update devcontainer Dockerfile (#12244)
  .devcontainer/Dockerfile
Due: none

Allow stock transfer to merge into existing stock (optional) #6951 (#12022)
  docs/docs/settings/global.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/stock/test_api.py
  src/backend/InvenTree/stock/tests.py
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
Due: Backend Apps, Backend General, Frontend

[report] Tweak datamatrix helper (#12240)
  src/backend/InvenTree/report/templatetags/barcode.py
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Skip "many" fields in DataExport (#12255)
  src/backend/InvenTree/data_exporter/mixins.py
Due: Backend Apps

fix js-yaml, esbuild vulns (#12190)
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

Bug fix for exception handler (#12257)
  src/backend/InvenTree/importer/models.py
Due: Backend Apps

Revert devcontainer to python 3.12 (#12249)
  .devcontainer/Dockerfile
Due: none

chore(backend): dep bump (#12258)
  contrib/container/requirements.in
  contrib/container/requirements.txt
  contrib/dev_reqs/requirements.in
  contrib/dev_reqs/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.in
  src/backend/requirements.txt
Due: none

[UI] Improve revision selector (#12254)
  src/frontend/src/pages/part/PartDetail.tsx
Due: Frontend

chore(backend): typing fixes (#12247)
  pyproject.toml
  src/backend/InvenTree/InvenTree/exceptions.py
  src/backend/InvenTree/plugin/broken/broken_file.py
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
Due: Backend Apps

Project code active (#12250)
  CHANGELOG.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/common/admin.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/migrations/0045_projectcode_active.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/common/tests.py
  src/frontend/src/forms/BuildForms.tsx
  src/frontend/src/forms/CommonFields.tsx
  src/frontend/src/forms/CommonForms.tsx
  src/frontend/src/forms/PurchaseOrderForms.tsx
  src/frontend/src/forms/ReturnOrderForms.tsx
  src/frontend/src/forms/SalesOrderForms.tsx
  src/frontend/src/forms/TransferOrderForms.tsx
  src/frontend/src/tables/settings/ProjectCodeTable.tsx
Due: Backend General, Frontend

chore(backend): harden gh setup (#12262)
  .github/workflows/frontend.yaml
  contrib/container/Dockerfile
Due: none

[UI] Stock column fix (#12268)
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/TableHoverCard.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Frontend

chore(backend): Remove devops (#12265)
  .devops/test_stats.yml
  CONTRIBUTING.md
  README.md
  docs/docs/project/sponsored_resources.md
  docs/mlc_config.json
Due: none

[UI] Table tweaks (#12271)
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/part/PartTable.tsx
Due: Frontend

[UI] Fix stock dates (#12272)
  src/frontend/src/pages/stock/StockDetail.tsx
Due: Frontend

[UI] Fix 'available' display (#12279)
  src/frontend/src/pages/stock/StockDetail.tsx
Due: Frontend

Fix dashboard issue (#12275)
  src/frontend/vite.config.ts
Due: Frontend

[UI] Table field refactor (#12274)
  CHANGELOG.md
  src/frontend/lib/types/Forms.tsx
  src/frontend/package.json
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
  src/frontend/src/components/forms/fields/TableField.tsx
  src/frontend/src/components/importer/ImportDataSelector.tsx
  src/frontend/src/forms/BomForms.tsx
  src/frontend/src/forms/BuildForms.tsx
  src/frontend/src/forms/PurchaseOrderForms.tsx
  src/frontend/src/forms/ReturnOrderForms.tsx
  src/frontend/src/forms/SalesOrderForms.tsx
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/forms/TransferOrderForms.tsx
  src/frontend/src/functions/debug.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
  src/frontend/src/states/LocalState.tsx
  src/frontend/src/tables/build/BuildAllocatedStockTable.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
  src/frontend/src/tables/settings/SelectionListDrawer.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
  src/frontend/src/tables/stock/TransferOrderAllocationTable.tsx
  src/frontend/tests/pages/pui_dashboard.spec.ts
Due: Frontend

Allow stock adjustment from "category" detail view (#12256)
  src/frontend/src/pages/part/CategoryDetail.tsx
Due: Frontend

Fix stocktake bug for counting serialized items (#12280)
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps

fix: preserve supplier import stock workflow (#12215)
  src/frontend/src/components/forms/ApiForm.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Frontend

Fix for STOCK_COUNT event (#12281)
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/tests.py
Due: Backend Apps

[UI] Tree select in form fields (#12217)
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/stock/test_api.py
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/src/components/forms/fields/TreeField.tsx
  src/frontend/src/components/render/ModelHoverCard.tsx
  src/frontend/src/components/render/Part.tsx
  src/frontend/src/components/render/Stock.tsx
  src/frontend/tests/pages/pui_build.spec.ts
  src/frontend/tests/pages/pui_part.spec.ts
  src/frontend/tests/pages/pui_purchasing.spec.ts
  src/frontend/tests/pages/pui_scan.spec.ts
  src/frontend/tests/pages/pui_stock.spec.ts
  src/frontend/tests/pui_forms.spec.ts
Due: Backend Apps, Frontend

Check build complete (#12289)
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/build/test_api.py
  src/backend/InvenTree/build/test_build.py
  src/backend/InvenTree/build/validators.py
  src/backend/InvenTree/common/settings.py
  src/frontend/src/components/forms/fields/TableField.tsx
Due: Backend Apps, Backend General, Frontend

[UI] Tweak unique keys (#12293)
  src/frontend/src/components/modals/AboutInvenTreeModal.tsx
  src/frontend/src/components/nav/SearchDrawer.tsx
Due: Frontend

fix test assumption (#12296)
  src/backend/InvenTree/web/tests.py
Due: Backend Apps

[UI] Fix imports (#12292)
  src/frontend/src/components/forms/fields/TreeField.tsx
  src/frontend/src/components/render/Instance.tsx
  src/frontend/src/components/render/ModelHoverCard.tsx
  src/frontend/src/main.tsx
  src/frontend/src/tables/bom/UsedInTable.tsx
  src/frontend/src/tables/general/ParameterTable.tsx
  src/frontend/src/tables/general/ParameterTemplateTable.tsx
  src/frontend/src/tables/machine/MachineListTable.tsx
  src/frontend/src/tables/settings/GroupTable.tsx
  src/frontend/src/tables/settings/UserTable.tsx
  src/frontend/src/tables/stock/TransferOrderLineItemTable.tsx
  src/frontend/src/window.tsx
Due: Frontend

fix pin syntax (#12287)
  .github/actions/setup/action.yaml
  .github/workflows/backport.yaml
  .github/workflows/docker.yaml
  .github/workflows/frontend.yaml
  .github/workflows/import_export.yaml
  .github/workflows/qc_checks.yaml
  .github/workflows/release.yaml
  .github/workflows/stale.yaml
  .github/workflows/translations.yaml
  .github/workflows/update.yml.disabled
Due: none

Add playwright test for part image upload (#11597)
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Display login errors to user (#12288)
  src/frontend/playwright.config.ts
  src/frontend/src/functions/auth.tsx
  src/frontend/tests/pui_login.spec.ts
Due: Frontend

[API] Refactor API for duplicating objects (#12294)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/data_exporter/mixins.py
  src/backend/InvenTree/importer/mixins.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/order/test_api.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/part/test_api.py
  src/frontend/src/forms/BuildForms.tsx
  src/frontend/src/forms/CommonFields.tsx
  src/frontend/src/forms/CompanyForms.tsx
  src/frontend/src/forms/PartForms.tsx
  src/frontend/src/forms/PurchaseOrderForms.tsx
  src/frontend/src/forms/ReturnOrderForms.tsx
  src/frontend/src/forms/SalesOrderForms.tsx
  src/frontend/src/forms/TransferOrderForms.tsx
  src/frontend/src/pages/build/BuildDetail.tsx
  src/frontend/src/pages/company/CompanyDetail.tsx
  src/frontend/src/pages/company/ManufacturerPartDetail.tsx
  src/frontend/src/pages/company/SupplierPartDetail.tsx
  src/frontend/src/tables/part/PartTable.tsx
  src/frontend/src/tables/purchasing/ManufacturerPartTable.tsx
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
Due: Backend Apps, Frontend

[UI] Add "IPN" column to installed items table (#12297)
  src/frontend/src/tables/stock/InstalledItemsTable.tsx
Due: Frontend

[feature] Consumable part (#12295)
  CHANGELOG.md
  docs/docs/manufacturing/bom.md
  docs/docs/part/consumable.md
  docs/docs/part/index.md
  docs/mkdocs.yml
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/build/test_api.py
  src/backend/InvenTree/build/test_build.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/migrations/0151_part_consumable.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/part/test_bom_item.py
  src/backend/InvenTree/plugin/builtin/events/auto_create_builds.py
  src/frontend/src/forms/PartForms.tsx
  src/frontend/src/functions/icons.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/part/PartTable.tsx
  src/frontend/src/tables/part/PartTableFilters.tsx
Due: Backend Apps, Frontend

[UI] Snippet editor (#12299)
  docs/docs/report/index.md
  docs/docs/report/report.md
  docs/docs/report/template_editor.md
  src/frontend/src/components/editors/TemplateEditor/PdfPreview/PdfPreview.tsx
  src/frontend/src/components/editors/TemplateEditor/TemplateEditor.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/Index.tsx
  src/frontend/src/tables/settings/AssetTable.tsx
  src/frontend/src/tables/settings/SnippetTable.tsx
  src/frontend/tests/pui_settings.spec.ts
Due: Frontend

reduce duplication (#12302)
  src/frontend/src/states/SettingsStates.tsx
Due: Frontend

Fix OpenAPI multipart file fields to use binary format (#12298)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/schema.py
  src/backend/InvenTree/InvenTree/tests.py
Due: none
