Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Fix rendering glitch in tables (#10041)
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderTable.tsx
Due: Frontend

[UI] Various fixes (#10038)
  docs/docs/settings/user.md
  src/backend/InvenTree/common/setting/user.py
  src/frontend/src/components/nav/Header.tsx
  src/frontend/src/components/nav/PageDetail.tsx
  src/frontend/src/hooks/UseModal.tsx
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/tables/FilterSelectDrawer.tsx
Due: Backend General, Frontend

Add "round_up_multiple" field
  src/backend/InvenTree/part/migrations/0137_bomitem_round_up_multiple.py
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Adjust field def
  src/backend/InvenTree/part/migrations/0137_bomitem_round_up_multiple.py
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Add serializer field
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Update frontend
  src/frontend/src/forms/BomForms.tsx
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

Nullify empty numerical values
  src/frontend/src/components/forms/fields/ApiFormField.tsx
Due: Frontend

Calculate round_up_multiple value
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Adjust table rendering
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

Update API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Add unit test
  src/backend/InvenTree/part/test_bom_item.py
Due: Backend Apps

Additional unit test
  src/backend/InvenTree/part/test_bom_item.py
Due: Backend Apps

Change name of value
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/part/migrations/0137_bomitem_rounding_multiple.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/part/test_bom_item.py
  src/frontend/src/forms/BomForms.tsx
  src/frontend/src/tables/bom/BomTable.tsx
Due: Backend Apps, Frontend

Update BOM docs
  docs/docs/manufacturing/bom.md
Due: none

Add new fields
  src/backend/InvenTree/part/migrations/0137_bomitem_attrition_bomitem_rounding_multiple_and_more.py
  src/backend/InvenTree/part/migrations/0137_bomitem_rounding_multiple.py
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Add data migration for new fields
  src/backend/InvenTree/part/migrations/0138_auto_20250718_2342.py
Due: Backend Apps

Bug fix for data migration
  src/backend/InvenTree/part/migrations/0138_auto_20250718_2342.py
Due: Backend Apps

Adjust API fields
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Bump API docs
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Update frontend
  src/backend/InvenTree/part/serializers.py
  src/frontend/src/forms/BomForms.tsx
  src/frontend/src/tables/bom/BomTable.tsx
Due: Backend Apps, Frontend

Remove old 'overage' field
  src/backend/InvenTree/part/migrations/0139_remove_bomitem_overage.py
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Updated BOM docs
  docs/docs/manufacturing/bom.md
Due: none

Docs tweak
  docs/docs/manufacturing/bom.md
Due: none

Fix required quantity calculation
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/test_bom_item.py
Due: Backend Apps

additional unit tests
  src/backend/InvenTree/part/test_bom_item.py
Due: Backend Apps

Tweak BOM table
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

Enhanced "can_build" serializer
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Refactor "can_build" calculations
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Code cleanup
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/InvenTree/validators.py
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/part/migrations/0001_initial.py
  src/backend/InvenTree/part/migrations/0064_auto_20210404_2016.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

Serializer fix
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Enhanced rendering
  src/frontend/src/tables/build/BuildLineTable.tsx
Due: Frontend

Updated playwright tests
  src/frontend/tests/pages/pui_build.spec.ts
Due: Frontend

Fix method name
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Update API unit test
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

Refactor 'can_build' calculation
  src/backend/InvenTree/part/filters.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Update src/backend/InvenTree/build/tasks.py
  src/backend/InvenTree/build/tasks.py
Due: Backend Apps

Update src/backend/InvenTree/plugin/base/integration/NotificationMixin.py
  src/backend/InvenTree/plugin/base/integration/NotificationMixin.py
Due: Backend Apps

Func updates
  src/backend/InvenTree/plugin/base/integration/NotificationMixin.py
  src/backend/InvenTree/plugin/builtin/integration/core_notifications.py
Due: Backend Apps

Format
  src/backend/InvenTree/build/tasks.py
Due: Backend Apps

Fix unit test
  src/backend/InvenTree/part/test_bom_item.py
Due: Backend Apps

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
