Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

update pr version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

fix settings serialisation
  src/backend/InvenTree/common/models.py
Due: Backend General

render security warnings
  src/frontend/src/components/settings/SettingItem.tsx
Due: Frontend

move Transfer Orders
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
Due: Frontend

respect return order hiding
  src/frontend/src/pages/sales/SalesIndex.tsx
Due: Frontend

almost all confirm texts will have a warning
  src/frontend/src/components/settings/SettingItem.tsx
Due: Frontend

add settings for sales, purchase and buildorder deactivation
  docs/docs/manufacturing/build.md
  docs/docs/purchasing/purchase_order.md
  docs/docs/sales/sales_order.md
  src/backend/InvenTree/common/setting/system.py
Due: Backend General

make permission check also ensure gloablsetting for view is available; reduce number of chained gates
  src/frontend/lib/enums/Roles.tsx
  src/frontend/lib/types/User.tsx
  src/frontend/src/components/nav/NavigationDrawer.tsx
  src/frontend/src/components/nav/SearchDrawer.tsx
  src/frontend/src/defaults/actions.tsx
  src/frontend/src/defaults/links.tsx
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
  src/frontend/src/pages/build/BuildDetail.tsx
  src/frontend/src/pages/build/BuildIndex.tsx
  src/frontend/src/pages/part/PartAllocationPanel.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/pages/part/PartPricingPanel.tsx
  src/frontend/src/pages/purchasing/PurchasingIndex.tsx
  src/frontend/src/pages/sales/SalesIndex.tsx
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
  src/frontend/src/states/UserState.tsx
  src/frontend/src/tables/part/PartBuildAllocationsTable.tsx
  src/frontend/src/tables/part/PartSalesAllocationsTable.tsx
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
  src/frontend/src/tables/sales/SalesOrderShipmentTable.tsx
Due: Frontend

document possible missing check
  src/frontend/src/pages/stock/StockDetail.tsx
Due: Frontend

ensure we can still show the sales tab
  src/frontend/src/pages/sales/SalesIndex.tsx
Due: Frontend

add additional warning to group cleanup
  src/backend/InvenTree/common/setting/system.py
Due: Backend General

hide more ui parts conditionally
  src/frontend/src/pages/company/CompanyDetail.tsx
  src/frontend/src/pages/sales/SalesIndex.tsx
Due: Frontend

Fix global search "view all results" omitting notes matches (#12482) (#12832)
  src/frontend/src/components/nav/SearchDrawer.tsx
Due: Frontend

Add user option to rotate table column headers (#12837)
  CHANGELOG.md
  docs/docs/settings/user.md
  src/backend/InvenTree/common/setting/user.py
  src/frontend/src/components/tables/InvenTreeTable.tsx
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
  src/frontend/src/styles/overrides.css
Due: Backend General, Frontend

strictly use internal actions
  .github/workflows/qc_checks.yaml
Due: none

and more pinning
  .github/actions/setup/action.yaml
  contrib/dev_reqs/requirements.in
  contrib/dev_reqs/requirements.txt
Due: none

add tests for new code and remove duplication
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/common/setting/tests.py
Due: Backend General

Fix external notification links
  src/frontend/src/components/nav/NotificationDrawer.tsx
Due: Frontend

Add notification link regression test
  src/frontend/tests/pui_notifications.spec.ts
Due: Frontend

Preserve fallback for empty notification links
  src/frontend/src/components/nav/NotificationDrawer.tsx
Due: Frontend

Satisfy Biome optional-chain check
  src/frontend/src/components/nav/NotificationDrawer.tsx
Due: Frontend

Apply Biome formatting
  src/frontend/src/components/nav/NotificationDrawer.tsx
Due: Frontend

fix test
  src/backend/InvenTree/common/setting/tests.py
Due: Backend General

fix style
  docs/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

fix issue when using registration endpoint
  src/backend/InvenTree/InvenTree/auth_overrides.py
  src/backend/InvenTree/users/models.py
Due: Backend Apps

remove duplicate code path; we now always do that
  src/backend/InvenTree/users/models.py
Due: Backend Apps

remove old test backfill that is not required anymore
  src/backend/InvenTree/part/test_notification_stale.py
Due: Backend Apps

fix: users created via Admin Center never receive password reset emails (#12839)
  src/backend/InvenTree/InvenTree/auth_overrides.py
  src/backend/InvenTree/part/test_notification_stale.py
  src/backend/InvenTree/users/models.py
  src/backend/InvenTree/users/test_api.py
Due: Backend Apps

Fix 12844 notification external link (#12845)
  src/frontend/src/components/nav/NotificationDrawer.tsx
  src/frontend/tests/pui_notifications.spec.ts
Due: Frontend

And more ci hardening (#12843)
  .github/actions/setup/action.yaml
  .github/workflows/qc_checks.yaml
  contrib/dev_reqs/requirements.in
  contrib/dev_reqs/requirements.txt
Due: none

fix: delete note image files after transaction commit
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/tests.py
Due: Backend General

feat: support immutable HTML, JSON and plain text note types
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/common/migrations/0053_note_content_type.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/notes.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/common/test_note_format_migrations.py
  src/backend/InvenTree/common/test_note_formats.py
  src/backend/InvenTree/report/templatetags/report.py
Due: Backend Apps, Backend General

docs: describe typed note formats and API compatibility
  CHANGELOG.md
  docs/docs/concepts/notes.md
Due: none

feat: add typed note creation and raw source editing
  src/frontend/src/components/editors/NoteContent.ts
  src/frontend/src/components/editors/NotesEditor.tsx
  src/frontend/src/forms/CommonForms.tsx
  src/frontend/src/locales/en/messages.po
  src/frontend/tests/pages/pui_note_formats.spec.ts
Due: Frontend

alternative approach to fix SSO path
  src/backend/InvenTree/InvenTree/auth_overrides.py
  src/backend/InvenTree/users/models.py
  src/backend/InvenTree/users/serializers.py
  src/backend/InvenTree/users/test_api.py
Due: Backend Apps

remove patch; now done in serializer
  src/backend/InvenTree/InvenTree/auth_overrides.py
  src/backend/InvenTree/users/models.py
Due: Backend Apps

Add 'bulkdumpdata' command
  .github/workflows/import_export.yaml
  src/backend/InvenTree/InvenTree/management/commands/bulkdumpdata.py
  src/backend/InvenTree/InvenTree/ready.py
  src/backend/InvenTree/InvenTree/test_commands.py
  tasks.py
Due: none
