Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

fix: preserve supplier import stock workflow
  src/frontend/src/components/forms/ApiForm.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Frontend

Add meaningful message on CSRF failure
  src/backend/InvenTree/InvenTree/middleware.py
  src/frontend/src/functions/auth.tsx
Due: Frontend

fix various issues
  pyproject.toml
  src/backend/InvenTree/InvenTree/schema.py
  src/backend/InvenTree/InvenTree/setting/ldap.py
  src/backend/InvenTree/company/migrations/0019_auto_20200413_0642.py
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/script/update_icons.py
  src/backend/InvenTree/users/models.py
  src/performance/tests.py
Due: Backend Apps

fix style
  src/performance/tests.py
Due: none

Update AGENTS.md
  AGENTS.md
Due: none

Update CLAUDE.md
  CLAUDE.md
Due: none

playing with ideas
  assets/images/logo/inventree.svg
Due: none

Add link to CSRF_FAILURE_VIEW
  src/backend/InvenTree/InvenTree/settings.py
Due: none

Agents (#12212)
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
Due: none

build(docker): compile backend translations during image build (#12203)
  .github/workflows/docker.yaml
  contrib/container/Dockerfile
  tasks.py
Due: none

Add unit test for new CSRF feedback
  src/backend/InvenTree/InvenTree/test_middleware.py
Due: none

Add meaningful message on CSRF failure (#12216)
  src/backend/InvenTree/InvenTree/middleware.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/test_middleware.py
  src/frontend/src/functions/auth.tsx
Due: Frontend

Simpler?
  assets/images/logo/inventree.svg
Due: none

Add TreeField component
  src/frontend/lib/types/Forms.tsx
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/src/components/forms/fields/TreeField.tsx
  src/frontend/src/forms/PartForms.tsx
Due: Frontend

Add chevrons in dropdown menu
  src/frontend/src/components/forms/fields/TreeField.tsx
Due: Frontend

Custom node rendering
  src/frontend/src/components/forms/fields/TreeField.tsx
Due: Frontend

Add childIdentifier
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/src/components/forms/fields/TreeField.tsx
Due: Frontend

Ensure full value gets displayed
  src/frontend/src/components/forms/fields/TreeField.tsx
Due: Frontend

Fix for search results
  src/frontend/src/components/forms/fields/TreeField.tsx
Due: Frontend

Refactor old renderers
  src/frontend/src/components/render/Part.tsx
  src/frontend/src/components/render/Stock.tsx
Due: Frontend

Override field types
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/src/forms/PartForms.tsx
Due: Frontend

use definition filters
  src/frontend/src/components/forms/fields/TreeField.tsx
Due: Frontend

Better location validation messages
  src/backend/InvenTree/stock/serializers.py
Due: Backend Apps

devops: upload Flakiness.io reports from PRs-from-forks
  .github/workflows/flakiness-upload-fork-prs.yaml
  .github/workflows/frontend.yaml
Due: none

devops: fix chromium test uploads to flakiness.io
  .github/workflows/frontend.yaml
Due: none

feat: display linked barcode on stock detail page
  src/backend/InvenTree/stock/serializers.py
  src/frontend/src/pages/stock/StockDetail.tsx
Due: Backend Apps, Frontend

devops: fix chromium test uploads to flakiness.io (#12219)
  .github/workflows/frontend.yaml
Due: none

fix ignores
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/plugin/samples/supplier/supplier_sample.py
Due: Backend Apps, Backend General

fix wrong ty warnings
  src/backend/InvenTree/order/models.py
Due: Backend Apps

ignore __class__ type checking errors see https://github.com/astral-sh/ty/issues/3122
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/plugin/base/action/mixins.py
  src/backend/InvenTree/plugin/base/barcodes/mixins.py
  src/backend/InvenTree/plugin/base/event/mixins.py
  src/backend/InvenTree/plugin/base/icons/mixins.py
  src/backend/InvenTree/plugin/base/integration/APICallMixin.py
  src/backend/InvenTree/plugin/base/integration/AppMixin.py
  src/backend/InvenTree/plugin/base/integration/CurrencyExchangeMixin.py
  src/backend/InvenTree/plugin/base/integration/DataExport.py
  src/backend/InvenTree/plugin/base/integration/MachineMixin.py
  src/backend/InvenTree/plugin/base/integration/NavigationMixin.py
  src/backend/InvenTree/plugin/base/integration/NotificationMixin.py
  src/backend/InvenTree/plugin/base/integration/ReportMixin.py
  src/backend/InvenTree/plugin/base/integration/ScheduleMixin.py
  src/backend/InvenTree/plugin/base/integration/SettingsMixin.py
  src/backend/InvenTree/plugin/base/integration/TransitionMixin.py
  src/backend/InvenTree/plugin/base/integration/UrlsMixin.py
  src/backend/InvenTree/plugin/base/integration/ValidationMixin.py
  src/backend/InvenTree/plugin/base/label/mixins.py
  src/backend/InvenTree/plugin/base/locate/mixins.py
  src/backend/InvenTree/plugin/base/mail/mixins.py
  src/backend/InvenTree/plugin/base/supplier/mixins.py
  src/backend/InvenTree/plugin/base/ui/mixins.py
  src/backend/InvenTree/plugin/broken/bad_actor.py
  src/backend/InvenTree/plugin/broken/broken_file.py
Due: Backend Apps

fix exception logging
  src/backend/InvenTree/InvenTree/exceptions.py
Due: none

update ignoring
  pyproject.toml
Due: none

update bump
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

Bump ty (#12211)
  .pre-commit-config.yaml
  pyproject.toml
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/InvenTree/exceptions.py
  src/backend/InvenTree/InvenTree/schema.py
  src/backend/InvenTree/InvenTree/setting/ldap.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/company/migrations/0019_auto_20200413_0642.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/plugin/samples/supplier/supplier_sample.py
  src/backend/InvenTree/report/apps.py
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/script/update_icons.py
  src/backend/InvenTree/stock/api.py
  src/backend/InvenTree/users/models.py
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
Due: Backend Apps, Backend General

check if pip exsists
  src/backend/InvenTree/plugin/installer.py
Due: Backend Apps

fix gate
  src/backend/InvenTree/plugin/installer.py
Due: Backend Apps

fix typo
  src/backend/InvenTree/plugin/test_api.py
Due: Backend Apps

bump ci versions
  .devops/test_stats.yml
  .github/workflows/check_translations.yaml
  .github/workflows/docker.yaml
  .github/workflows/frontend.yaml
  .github/workflows/import_export.yaml
  .github/workflows/qc_checks.yaml
  .github/workflows/release.yaml
  .github/workflows/translations.yaml
Due: none

bump installer version
  .pkgr.yml
  contrib/packager.io/functions.sh
  contrib/packager.io/postinstall.sh
Due: none

bump tooling version ref
  .devcontainer/Dockerfile
  .pre-commit-config.yaml
  pyproject.toml
  readthedocs.yml
  src/frontend/netlify.toml
Due: Frontend

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
