Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Update models and serializers for tenant handling and adjust plugin registry
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/plugin/registry.py
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/serializers.py
Due: Backend Apps, Backend General

fix style
  src/backend/requirements.txt
Due: none

use 2 step check
  .github/workflows/qc_checks.yaml
Due: none

use more verbose syntax
  .github/workflows/qc_checks.yaml
Due: none

run performance even if not needed otherwise
  .github/workflows/qc_checks.yaml
Due: none

fix possible injection
  .github/workflows/qc_checks.yaml
Due: none

another possible injection
  .github/workflows/qc_checks.yaml
Due: none

fix syntax
  .github/workflows/qc_checks.yaml
Due: none

run python api instead of backend perf test forced
  .github/workflows/qc_checks.yaml
Due: none

only submit tests when running in correct enviroment
  .github/workflows/qc_checks.yaml
Due: none

more transfer order tests
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

add transfer order consume test
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

bump django
  contrib/container/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

chore(frontend): resolution bump
  src/frontend/yarn.lock
Due: Frontend

bump nyc
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

bump vite-plugin-istanbul
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

bump @codecov/vite-plugin
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

bump @lingui
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

chore(deps): bump pypdf from 6.7.4 to 6.7.5 in /src/backend (#11454) (#11462)
  src/backend/requirements-3.14.txt
  src/backend/requirements.txt
Due: none

re-enable codspeed (#11457)
  .github/workflows/qc_checks.yaml
Due: none

fix typing
  src/frontend/lib/types/Icons.tsx
  src/frontend/src/pages/part/PartStockHistoryDetail.tsx
Due: Frontend

bump django (#11463)
  contrib/container/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

Update InvenTree models and adjust order API tests
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

wip, more tests
  src/backend/InvenTree/order/fixtures/transfer_order.yaml
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

fix tests
  src/frontend/tests/pages/pui_build.spec.ts
  src/frontend/tests/pui_importing.spec.ts
  src/frontend/tests/pui_permissions.spec.ts
Due: Frontend

make more robust
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

fix @codemirror
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

fix another switch
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Update unit test setup and adjust tenant tests
  src/backend/InvenTree/InvenTree/unit_test.py
  src/backend/InvenTree/tenant/tests.py
Due: none

more transfer order tests
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

had to refresh_from_db
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

fix style
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

fix again
  contrib/dev_reqs/requirements.txt
  docs/requirements.txt
Due: none

Rewrite keep form open feature as common form property
  src/frontend/lib/types/Forms.tsx
  src/frontend/src/components/forms/ApiForm.tsx
  src/frontend/src/forms/CommonForms.tsx
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/functions/forms.tsx
  src/frontend/src/hooks/UseForm.tsx
  src/frontend/src/tables/stock/StockLocationTable.tsx
Due: Frontend

fix: wrap create_default_labels in transaction.atomic() savepoint to prevent PostgreSQL transaction abort
  src/backend/InvenTree/report/apps.py
Due: Backend Apps

add more "give" to test
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Copy parameters when duplicating an order
  src/backend/InvenTree/order/serializers.py
  src/frontend/src/forms/PurchaseOrderForms.tsx
  src/frontend/src/forms/ReturnOrderForms.tsx
  src/frontend/src/forms/SalesOrderForms.tsx
Due: Backend Apps, Frontend

Add unit test for order parameter duplication
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps
