Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Purchase price ordering (#11379)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/stock/api.py
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Backend Apps, Frontend

[bug] fix short-circuit for isGeneratingSchema (#11378)
  src/backend/InvenTree/InvenTree/ready.py
Due: none

[UI] Bug fix for stock column ordering (#11376)
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Enhanced filtering for parameter templates
  src/backend/InvenTree/common/api.py
Due: Backend General

Enhanced filtering for ParameterTemplate
  src/backend/InvenTree/common/api.py
  src/frontend/src/tables/general/ParametricDataTable.tsx
  src/frontend/src/tables/part/ParametricPartTable.tsx
Due: Backend General, Frontend

[UI] Bug fix for stock column ordering (#11376) (#11380)
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Bump InvenTree software version to 1.2.3
  src/backend/InvenTree/InvenTree/version.py
Due: none

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Remove outdated comments
  src/backend/InvenTree/common/api.py
Due: Backend General

Fix typo
  src/backend/InvenTree/common/api.py
Due: Backend General

Remove debug statement
  src/backend/InvenTree/common/api.py
Due: Backend General

Added unit tests
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/test_api.py
Due: Backend General

Bump InvenTree software version to 1.2.3 (#11382)
  src/backend/InvenTree/InvenTree/version.py
Due: none

Playwright tests
  src/frontend/tests/helpers.ts
  src/frontend/tests/pages/pui_build.spec.ts
  src/frontend/tests/pages/pui_company.spec.ts
  src/frontend/tests/pages/pui_part.spec.ts
  src/frontend/tests/pages/pui_purchase_order.spec.ts
  src/frontend/tests/pages/pui_sales_order.spec.ts
Due: Frontend

Updated To Nested Debug Dictionary
  src/backend/InvenTree/plugin/base/barcodes/api.py
  src/backend/InvenTree/plugin/base/barcodes/mixins.py
Due: Backend Apps

Added notes to documentation
  docs/docs/app/barcode.md
Due: none

Update docs/docs/app/barcode.md
  docs/docs/app/barcode.md
Due: none

Fix unit test
  src/backend/InvenTree/common/test_api.py
Due: Backend General

Bump requirements
  src/backend/requirements.txt
Due: none

Revert
  src/backend/requirements-3.14.txt
  src/backend/requirements.txt
Due: none

[API] Enhanced filtering for generic parameters (#11383)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/test_api.py
  src/backend/requirements-3.14.txt
  src/frontend/src/tables/general/ParametricDataTable.tsx
  src/frontend/src/tables/part/ParametricPartTable.tsx
  src/frontend/tests/helpers.ts
  src/frontend/tests/pages/pui_build.spec.ts
  src/frontend/tests/pages/pui_company.spec.ts
  src/frontend/tests/pages/pui_part.spec.ts
  src/frontend/tests/pages/pui_purchase_order.spec.ts
  src/frontend/tests/pages/pui_sales_order.spec.ts
Due: Backend General, Frontend

fix change from #11387
  src/backend/requirements-3.14.txt
  src/backend/requirements.txt
Due: none

fix link
  CHANGELOG.md
Due: none

ensure tracing does not enagage while running backup ops
  src/backend/InvenTree/InvenTree/settings.py
Due: none

fix import
  src/backend/InvenTree/InvenTree/backup.py
Due: none

remove debugging string
  src/backend/InvenTree/InvenTree/backup.py
Due: none

add error codes
  docs/docs/settings/error_codes.md
  src/backend/InvenTree/InvenTree/backup.py
Due: none

fix change from #11387 (#11388)
  src/backend/requirements-3.14.txt
  src/backend/requirements.txt
Due: none

Handle multiple date formats
  src/backend/InvenTree/importer/models.py
Due: Backend Apps

Add playwright testing
  src/frontend/tests/fixtures/po_data_natural_keys.csv
  src/frontend/tests/pui_importing.spec.ts
Due: Frontend

[Enhancement] Import by natural key fields (#11288)
  CHANGELOG.md
  docs/docs/settings/import.md
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/company/models.py
  src/backend/InvenTree/importer/models.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/stock/models.py
  src/frontend/tests/fixtures/po_data_natural_keys.csv
  src/frontend/tests/pui_importing.spec.ts
Due: Backend Apps, Backend General, Frontend

Supplier Part Updates (#11303)
  CHANGELOG.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/company/api.py
  src/backend/InvenTree/company/migrations/0078_supplierpart_primary.py
  src/backend/InvenTree/company/migrations/0079_auto_20260212_1054.py
  src/backend/InvenTree/company/models.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/company/test_api.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/part/admin.py
  src/backend/InvenTree/part/migrations/0147_remove_part_default_supplier.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/plugin/base/supplier/api.py
  src/backend/InvenTree/plugin/base/supplier/mixins.py
  src/frontend/src/forms/CompanyForms.tsx
  src/frontend/src/forms/PartForms.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
  src/frontend/tests/pages/pui_company.spec.ts
  tasks.py
Due: Backend Apps, Frontend

make INVENTREE_WEB_PORT more usefull (#11352)
  contrib/container/.env
  contrib/container/Caddyfile
  contrib/container/docker-compose.yml
Due: none

Add custom logo and splash to playwright fixtures
  src/frontend/tests/fixtures/playwright_custom_logo.png
  src/frontend/tests/fixtures/playwright_custom_splash.png
Due: Frontend

Render custom logo in frontend
  src/frontend/src/components/items/InvenTreeLogo.tsx
Due: Frontend

Fix tenant fixtures, pricing precision, and ruleset model validation
  src/backend/InvenTree/part/test_param.py
  src/backend/InvenTree/part/test_part.py
  src/backend/InvenTree/part/test_pricing.py
  src/backend/InvenTree/users/ruleset.py
Due: Backend Apps

Add playwright tests for customization settings
  .github/workflows/qc_checks.yaml
  src/backend/InvenTree/.gitignore
  src/frontend/playwright.config.ts
  src/frontend/tests/customization/customization.spec.ts
Due: Frontend

Separate playwright run for customization
  .github/workflows/qc_checks.yaml
Due: none

Update ci file
  .github/workflows/qc_checks.yaml
Due: none

Update playwright config file
  src/frontend/playwright.config.ts
Due: Frontend
