Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

add backend stuff
  src/backend/InvenTree/users/api.py
  src/backend/InvenTree/users/migrations/0018_tippresult.py
  src/backend/InvenTree/users/migrations/0019_alter_tippresult_unique_together.py
  src/backend/InvenTree/users/models.py
  src/backend/InvenTree/users/serializers.py
  src/backend/InvenTree/web/tipps.py
Due: Backend Apps

fix fronten tests failing (#12976)
  src/backend/InvenTree/InvenTree/auth_overrides.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/test_auth.py
Due: none

update str method
  src/backend/InvenTree/users/models.py
Due: Backend Apps

add to admin
  src/backend/InvenTree/users/admin.py
Due: Backend Apps

use mixin instead of repeating patterns
  src/backend/InvenTree/InvenTree/admin.py
  src/backend/InvenTree/common/admin.py
  src/backend/InvenTree/common/admin_shared.py
  src/backend/InvenTree/machine/admin.py
  src/backend/InvenTree/plugin/admin.py
  src/backend/InvenTree/stock/admin.py
Due: Backend Apps, Backend General

[FR] Add FTUE Fixes #2907
  src/frontend/lib/types/User.tsx
  src/frontend/src/components/buttons/ScanButton.tsx
  src/frontend/src/components/buttons/SpotlightButton.tsx
  src/frontend/src/components/nav/FirstUseTour.tsx
  src/frontend/src/components/nav/Header.tsx
  src/frontend/src/components/nav/NavHoverMenu.tsx
  src/frontend/src/states/UserState.tsx
Due: Frontend

bump deps
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

bump api
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

add missing ruleset entry
  src/backend/InvenTree/users/ruleset.py
Due: Backend Apps

Extract allocated part difference tooltip
  src/frontend/src/locales/ar/messages.po
  src/frontend/src/locales/bg/messages.po
  src/frontend/src/locales/ca/messages.po
  src/frontend/src/locales/cs/messages.po
  src/frontend/src/locales/da/messages.po
  src/frontend/src/locales/de/messages.po
  src/frontend/src/locales/el/messages.po
  src/frontend/src/locales/en/messages.po
  src/frontend/src/locales/es/messages.po
  src/frontend/src/locales/es_MX/messages.po
  src/frontend/src/locales/et/messages.po
  src/frontend/src/locales/fa/messages.po
  src/frontend/src/locales/fi/messages.po
  src/frontend/src/locales/fr/messages.po
  src/frontend/src/locales/he/messages.po
  src/frontend/src/locales/hi/messages.po
  src/frontend/src/locales/hu/messages.po
  src/frontend/src/locales/it/messages.po
  src/frontend/src/locales/ja/messages.po
  src/frontend/src/locales/ko/messages.po
  src/frontend/src/locales/lt/messages.po
  src/frontend/src/locales/lv/messages.po
  src/frontend/src/locales/nl/messages.po
  src/frontend/src/locales/no/messages.po
  src/frontend/src/locales/pl/messages.po
  src/frontend/src/locales/pseudo-LOCALE/messages.po
  src/frontend/src/locales/pt/messages.po
  src/frontend/src/locales/pt_BR/messages.po
  src/frontend/src/locales/ro/messages.po
  src/frontend/src/locales/ru/messages.po
  src/frontend/src/locales/sk/messages.po
  src/frontend/src/locales/sl/messages.po
  src/frontend/src/locales/sr/messages.po
  src/frontend/src/locales/sv/messages.po
  src/frontend/src/locales/th/messages.po
  src/frontend/src/locales/tr/messages.po
  src/frontend/src/locales/uk/messages.po
  src/frontend/src/locales/vi/messages.po
  src/frontend/src/locales/zh_Hans/messages.po
  src/frontend/src/locales/zh_Hant/messages.po
Due: Frontend

bump docker to 3.14.8 (#12975)
  contrib/container/Dockerfile
Due: none

use mixin instead of repeating patterns (#12977)
  src/backend/InvenTree/InvenTree/admin.py
  src/backend/InvenTree/common/admin.py
  src/backend/InvenTree/common/admin_shared.py
  src/backend/InvenTree/machine/admin.py
  src/backend/InvenTree/plugin/admin.py
  src/backend/InvenTree/stock/admin.py
Due: Backend Apps, Backend General

Show allocated part full names when BOM parts differ
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/tests/pages/pui_build.spec.ts
Due: Frontend

fix init
  src/frontend/src/components/nav/FirstUseTour.tsx
Due: Frontend

add jumpoff to nav
  src/frontend/src/components/nav/FirstUseTour.tsx
  src/frontend/src/defaults/links.tsx
  src/frontend/src/functions/icons.tsx
Due: Frontend

try disableing specific test
  src/frontend/tests/login.ts
  src/frontend/tests/pui_login.spec.ts
Due: Frontend

fix lookup
  src/frontend/lib/types/User.tsx
  src/frontend/src/components/nav/FirstUseTour.tsx
  src/frontend/src/states/UserState.tsx
Due: Frontend

fix mounting
  src/frontend/src/components/nav/Header.tsx
  src/frontend/src/components/nav/Layout.tsx
  src/frontend/src/states/UserState.tsx
Due: Frontend

disable more
  src/frontend/tests/login.ts
Due: Frontend

make tour conditional
  src/frontend/src/components/nav/FirstUseTour.tsx
Due: Frontend

only show ftue once
  src/frontend/src/components/nav/FirstUseTour.tsx
  src/frontend/src/states/ServerApiState.tsx
Due: Frontend

remove temp disable
  src/frontend/tests/pui_login.spec.ts
Due: Frontend

add actual content
  src/frontend/src/components/nav/FirstUseTour.tsx
  src/frontend/src/components/nav/MainMenu.tsx
Due: Frontend

enable using the menu as well
  src/frontend/src/components/nav/FirstUseTour.tsx
  src/frontend/src/components/nav/MainMenu.tsx
Due: Frontend

reorder steps
  src/frontend/src/components/nav/FirstUseTour.tsx
Due: Frontend

finish propagation
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/lib/types/User.tsx
  src/frontend/src/components/nav/FirstUseTour.tsx
  src/frontend/src/states/UserState.tsx
Due: Frontend

only allow delete
  src/backend/InvenTree/users/admin.py
  src/backend/InvenTree/users/api.py
Due: Backend Apps

lower testing runtime for now
  src/frontend/playwright.config.ts
Due: Frontend

fix nitpicks
  src/backend/InvenTree/users/migrations/0018_tippresult.py
  src/backend/InvenTree/users/migrations/0019_alter_tippresult_unique_together.py
  src/backend/InvenTree/users/models.py
  src/backend/InvenTree/users/serializers.py
  src/backend/InvenTree/web/tipps.py
  src/frontend/src/components/nav/FirstUseTour.tsx
Due: Backend Apps, Frontend

revert frontend debug changes
  src/frontend/playwright.config.ts
  src/frontend/tests/login.ts
Due: Frontend

fix migration
  src/backend/InvenTree/users/migrations/0018_tippresult.py
Due: Backend Apps

Synchronize detail field nullable state with model user fields
  src/backend/InvenTree/users/serializers.py
Due: Backend Apps

Make me-user roles field nullable/non-required
  src/backend/InvenTree/users/serializers.py
Due: Backend Apps

patch out ftu behaviour on the backend
  src/frontend/tests/api.ts
  src/frontend/tests/login.ts
Due: Frontend

Fix data import with S3 storage backend (#12973)
  src/backend/InvenTree/importer/operations.py
Due: Backend Apps

mark setting when changed via API
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/machine/api.py
Due: Backend Apps, Backend General

add migration
  src/backend/InvenTree/common/migrations/0053_inventreesetting_touched_and_more.py
  src/backend/InvenTree/machine/migrations/0003_machinesetting_touched.py
  src/backend/InvenTree/plugin/migrations/0012_pluginsetting_touched_pluginusersetting_touched.py
Due: Backend Apps, Backend General

fix migration
  src/backend/InvenTree/common/migrations/0008_remove_inventreesetting_description_squashed_0039_emailthread_emailmessage.py
Due: Backend General

use atomic instead
  src/backend/InvenTree/common/migrations/0008_remove_inventreesetting_description_squashed_0039_emailthread_emailmessage.py
  src/backend/InvenTree/common/models.py
Due: Backend General
