Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Revert API string changes
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

[API] Category star fix (#11588)
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Add option to "asset" tag to control error raising
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Suffix the image upload dialog message with the clipboard paste capability
  src/frontend/src/components/details/DetailsImage.tsx
Due: Frontend

Added test case for "keep form open" feature
  src/frontend/tests/pui_forms.spec.ts
Due: Frontend

fix ty errors
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/InvenTree/setting/db_backend.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/plugin/helpers.py
  src/backend/InvenTree/plugin/plugin.py
Due: Backend Apps

lower allauth
  src/backend/requirements-3.14.txt
  src/backend/requirements.txt
Due: none

docs:clear up admin access
  docs/docs/settings/admin.md
Due: none

Add playwright test for image upload from clipboard
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

fix order
  src/frontend/package.json
Due: Frontend

general bump
  src/frontend/yarn.lock
Due: Frontend

allign @codemirror
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

lower vite
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

Restrict queryset for DataImportSession
  src/backend/InvenTree/importer/api.py
Due: Backend Apps

Remove unnecessary semicolon passed to FontFace constructor
  src/frontend/src/states/IconState.tsx
Due: Frontend

Add unit test
  src/backend/InvenTree/importer/tests.py
Due: Backend Apps

raise PermissionDenied if no user info available
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/importer/api.py
Due: Backend Apps, Backend General

Update DataExport functionality
  src/backend/InvenTree/plugin/base/integration/DataExport.py
Due: Backend Apps

Restrict queryset for DataImportSession (#11602)
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/importer/api.py
  src/backend/InvenTree/importer/tests.py
Due: Backend Apps, Backend General

Allow larger number of queries for chunked database fetching
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps

Handle possible exception in unit testing
  src/backend/InvenTree/common/tests.py
Due: Backend General

Fix typos
  src/backend/InvenTree/part/migrations/0149_auto_20250701_1334.py
Due: Backend Apps

Mark "part" field as nullable in migration
  src/backend/InvenTree/part/migrations/0148_parttest.py
  src/backend/InvenTree/part/migrations/0149_auto_20250701_1334.py
Due: Backend Apps

isGeneratingSchema fix
  src/backend/InvenTree/InvenTree/ready.py
Due: none

Debug output for reverse migration
  src/backend/InvenTree/part/migrations/0149_auto_20250701_1334.py
Due: Backend Apps

Refactor / simplify
  src/backend/InvenTree/part/admin.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/migrations/0148_parttest.py
  src/backend/InvenTree/part/migrations/0149_auto_20250701_1334.py
  src/backend/InvenTree/part/migrations/0150_remove_parttesttemplate_part.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/serializers.py
  src/frontend/src/pages/part/CategoryDetail.tsx
  src/frontend/src/tables/part/PartTestTable.tsx
  src/frontend/src/tables/part/PartTestTemplateTable.tsx
Due: Backend Apps, Frontend

Add playwright test for "Test Template" page in admin
  src/frontend/tests/pui_settings.spec.ts
Due: Frontend

Playwright tests for inherited part test templates
  src/backend/InvenTree/users/ruleset.py
  src/frontend/tests/pages/pui_part.spec.ts
Due: Backend Apps, Frontend

Who fixes the fixtures?
  src/backend/InvenTree/part/fixtures/test_templates.yaml
Due: Backend Apps

fix style
  src/frontend/yarn.lock
Due: Frontend

Adjust part functions for extract test and template information
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Fixes
  src/backend/InvenTree/part/models.py
  src/frontend/src/tables/stock/StockItemTestResultTable.tsx
Due: Backend Apps, Frontend

style fix
  contrib/dev_reqs/requirements.in
  contrib/dev_reqs/requirements.txt
  docs/requirements.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

reduce diff
  src/backend/requirements-dev.txt
Due: none

fix style
  src/backend/requirements.txt
Due: none

add playwright test
  src/frontend/tests/pui_printing.spec.ts
Due: Frontend

Revert "add playwright test"
  src/frontend/tests/pui_printing.spec.ts
Due: Frontend

Changed switch selector in keep form open feature test
  src/frontend/tests/pui_forms.spec.ts
Due: Frontend

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
