Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
      - type: project
        target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
      - type: project
        target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
      - type: project
        target: 65%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

[bug] Data import fix (#9962)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/importer/api.py
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/tests/fixtures/bom_data.csv
  src/frontend/tests/fixtures/po_data.csv
  src/frontend/tests/login.ts
  src/frontend/tests/pui_importing.spec.ts
Due: Backend Apps, Frontend

Use the Location Path setting also for Default Location in the PartTable
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/part/PartTable.tsx
Due: Frontend

Add setting to show PartCategoty as plain text
  docs/docs/settings/user.md
  src/backend/InvenTree/common/setting/user.py
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
  src/frontend/src/tables/ColumnRenderers.tsx
Due: Backend General, Frontend

Set DefaultLocationColumn defaultVisible to false
  src/frontend/src/tables/ColumnRenderers.tsx
Due: Frontend

fixed bug in AppMixin for plugin deactivation
  src/backend/InvenTree/plugin/base/integration/AppMixin.py
Due: Backend Apps

Fix useEffect dependencies
  src/frontend/src/forms/BomForms.tsx
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

Fix useEffect dependencies (#9967)
  src/frontend/src/forms/BomForms.tsx
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

Add "serialize" form to build output table
  src/frontend/src/pages/stock/StockDetail.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
Due: Frontend

Fix dependencies for useGenerator hook
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/hooks/UseGenerator.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
Due: Frontend

Improve serializing of stock
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

Fix rendering for StockItemTestResultTable
  src/frontend/src/tables/stock/StockItemTestResultTable.tsx
Due: Frontend

Enhanced playwright test
  src/frontend/tests/pages/pui_stock.spec.ts
Due: Frontend

Fix code
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

Fix for unit test
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

Return list on StockItem creation
  src/backend/InvenTree/InvenTree/schema.py
  src/backend/InvenTree/stock/api.py
Due: Backend Apps

Add (to schema) field to specify serial numbers on create for stock item
  src/backend/InvenTree/stock/serializers.py
Due: Backend Apps

Update api version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Fix annotations/pagination on StockApi itemSerialize and BuildApi outputCreate
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/stock/api.py
Due: Backend Apps

Update test to expect list return when creating stock items
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps

StockItem Serialization Improvements (#9968)
  src/backend/InvenTree/stock/models.py
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/hooks/UseGenerator.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/src/tables/stock/StockItemTestResultTable.tsx
  src/frontend/tests/pages/pui_stock.spec.ts
Due: Backend Apps, Frontend

Hide row actions if not in production
  src/frontend/src/tables/build/BuildOutputTable.tsx
Due: Frontend

Refetch allocations on change
  src/frontend/src/tables/build/BuildOutputTable.tsx
Due: Frontend

Wrap filter in list
  src/backend/InvenTree/build/models.py
Due: Backend Apps

Add unit test for auto_allocate functionality
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

[UI] Allocation tweaks (#9970)
  src/frontend/src/tables/build/BuildOutputTable.tsx
Due: Frontend

[bug] Build output fix (#9971)
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

Allow sub-builds to be created for pending builds
  src/frontend/src/tables/build/BuildLineTable.tsx
Due: Frontend

Allow sub-builds to be created for pending builds (#9972)
  src/frontend/src/tables/build/BuildLineTable.tsx
Due: Frontend

Fix return types
  src/frontend/src/hooks/UseImportSession.tsx
  src/frontend/src/hooks/UseInstance.tsx
  src/frontend/vite.config.ts
Due: Frontend

Add getStatusCodeLabel func
  src/frontend/src/components/render/StatusRenderer.tsx
Due: Frontend

Fix logic for import session drawer
  src/frontend/src/components/importer/ImporterDrawer.tsx
  src/frontend/src/components/importer/ImporterImportProgress.tsx
  src/frontend/src/components/importer/ImporterStatus.tsx
Due: Frontend

Fix icon
  src/frontend/src/components/importer/ImporterDrawer.tsx
Due: Frontend

Fix typo
  src/frontend/src/tables/ColumnRenderers.tsx
Due: Frontend

Simplify settings keys
  docs/docs/settings/user.md
  src/backend/InvenTree/common/setting/user.py
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
  src/frontend/src/tables/ColumnRenderers.tsx
Due: Backend General, Frontend

API permission fixes
  src/backend/InvenTree/importer/api.py
Due: Backend Apps

Enhanced playwright testing
  src/frontend/tests/pui_importing.spec.ts
Due: Frontend

Fix playwright tests
  src/frontend/tests/helpers.ts
  src/frontend/tests/pui_importing.spec.ts
Due: Frontend

Fix for unit test
  src/backend/InvenTree/plugin/builtin/suppliers/test_supplier_barcodes.py
Due: Backend Apps

Add note about breaking changes to api version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none
