Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Enhance version check regex
  .github/scripts/version_check.py
Due: none

Fix MySQL test failure caused by self-referential FK constraint in StockItem
  src/backend/InvenTree/part/test_notification_stale.py
Due: Backend Apps

Data import fix (#10298)
  src/backend/InvenTree/importer/models.py
  src/frontend/src/components/importer/ImportDataSelector.tsx
Due: Backend Apps, Frontend

Refactor (backend): Improve BuildItemList API filters (#10279)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/part/test_notification_stale.py
  src/backend/InvenTree/stock/api.py
  src/backend/InvenTree/stock/fixtures/stock.yaml
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps

Refactor version_check.py
  .github/scripts/version_check.py
  .github/workflows/qc_checks.yaml
Due: none

Enhanced debug output
  .github/scripts/version_check.py
Due: none

Stringify and strip
  .github/scripts/version_check.py
Due: none

Display version tuple in log
  .github/scripts/version_check.py
Due: none

Tweak CI logs
  .github/workflows/qc_checks.yaml
Due: none

fix style
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

feat(forntend): Add sampels to dashboard Closes #9990
  src/frontend/src/components/dashboard/DashboardLayout.tsx
Due: Frontend

Release version checker (#10304)
  .github/scripts/version_check.py
  .github/workflows/qc_checks.yaml
Due: none

Fix link rendering for RenderInlineModel
  src/frontend/src/components/render/Instance.tsx
Due: Frontend

Release version checker (#10304) (#10310)
  .github/scripts/version_check.py
  .github/workflows/qc_checks.yaml
Due: none

1.0.0 rc0
  src/backend/InvenTree/InvenTree/version.py
Due: none

Fix link rendering for RenderInlineModel (#10311)
  src/frontend/src/components/render/Instance.tsx
Due: Frontend

1.0.0 rc0 (#10312)
  src/backend/InvenTree/InvenTree/version.py
Due: none

add sessions storage to disable sample dash once cleared/removed
  src/frontend/src/components/dashboard/DashboardLayout.tsx
  src/frontend/src/states/LocalState.tsx
Due: Frontend

fix test
  src/backend/InvenTree/plugin/samples/supplier/test_supplier_sample.py
Due: Backend Apps

refactor part parameter bulk creation
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/part/test_param.py
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/src/components/wizards/ImportPartWizard.tsx
Due: Backend Apps, Frontend

fix style
  docs/requirements.txt
  src/backend/requirements.txt
Due: none

try to fix test
  src/backend/InvenTree/plugin/samples/supplier/supplier_sample.py
Due: Backend Apps

Add duplicatePart to parts list
  src/frontend/src/tables/part/PartTable.tsx
Due: Frontend

fix tests
  src/backend/InvenTree/plugin/samples/supplier/supplier_sample.py
Due: Backend Apps

fix test for mysql
  src/backend/InvenTree/plugin/samples/supplier/test_supplier_sample.py
Due: Backend Apps

added schema to gitignore
  .gitignore
Due: none

added tax configuration and updates salesorders to include tax information in the backend
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/urls.py
  src/backend/InvenTree/order/admin.py
  src/backend/InvenTree/order/migrations/0112_salesorder_tax_configuration_reference_and_more.py
  src/backend/InvenTree/order/migrations/0113_purchaseorderextraline_tax_rate_and_more.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/tax/__init__.py
  src/backend/InvenTree/tax/admin.py
  src/backend/InvenTree/tax/api.py
  src/backend/InvenTree/tax/apps.py
  src/backend/InvenTree/tax/migrations/0001_initial.py
  src/backend/InvenTree/tax/migrations/__init__.py
  src/backend/InvenTree/tax/models.py
  src/backend/InvenTree/tax/serializers.py
Due: Backend Apps

feat(frontend): Add samples for dashboard (#10306)
  src/frontend/src/components/dashboard/DashboardLayout.tsx
  src/frontend/src/states/LocalState.tsx
Due: Frontend

Update software version to 1.1.0 dev
  src/backend/InvenTree/InvenTree/version.py
Due: none

Update InvenTree software version to 1.0.0
  src/backend/InvenTree/InvenTree/version.py
Due: none

Update InvenTree software version to 1.0.0 (#10319)
  src/backend/InvenTree/InvenTree/version.py
Due: none

fix test
  src/frontend/src/forms/StockForms.tsx
Due: Frontend

support multiple suppliers by a single plugin
  docs/docs/plugins/mixins/supplier.md
  src/backend/InvenTree/plugin/base/supplier/api.py
  src/backend/InvenTree/plugin/base/supplier/helpers.py
  src/backend/InvenTree/plugin/base/supplier/mixins.py
  src/backend/InvenTree/plugin/base/supplier/serializers.py
  src/backend/InvenTree/plugin/mixins/__init__.py
  src/backend/InvenTree/plugin/samples/supplier/supplier_sample.py
  src/backend/InvenTree/plugin/samples/supplier/test_supplier_sample.py
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/src/components/wizards/ImportPartWizard.tsx
Due: Backend Apps, Frontend

hide import button if there is no supplier import plugin
  src/backend/InvenTree/plugin/samples/supplier/test_supplier_sample.py
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/tables/part/PartTable.tsx
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
Due: Backend Apps, Frontend

make form submitable via enter
  src/frontend/src/components/wizards/ImportPartWizard.tsx
Due: Frontend

add pui test
  src/frontend/src/components/wizards/ImportPartWizard.tsx
  src/frontend/tests/pages/pui_part.spec.ts
  src/frontend/tests/settings.ts
Due: Frontend
