Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: apps, general

fix style
  src/backend/requirements.txt
Due: none

fix default
  src/backend/InvenTree/common/setting/system.py
Due: general

Fixed report test path
  src/backend/InvenTree/report/tests.py
Due: apps

Report merge (#9532)
  docs/docs/api/schema.md
  docs/docs/report/context_variables.md
  docs/docs/report/report.md
  docs/docs/report/samples.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/report/apps.py
  src/backend/InvenTree/report/migrations/0031_reporttemplate_merge.py
  src/backend/InvenTree/report/models.py
  src/backend/InvenTree/report/serializers.py
  src/backend/InvenTree/report/templates/report/inventree_stock_report_merge.html
  src/backend/InvenTree/report/tests.py
  src/frontend/src/pages/Index/Settings/AdminCenter/ReportTemplatePanel.tsx
Due: apps

Improve handling of plugin metadata reading
  src/backend/InvenTree/plugin/plugin.py
Due: apps

Accessor fix
  src/backend/InvenTree/plugin/plugin.py
Due: apps

Improve handling of plugin metadata reading (#9816)
  src/backend/InvenTree/plugin/plugin.py
Due: apps

Remove check for old tab
  src/frontend/tests/pages/pui_part.spec.ts
Due: none

Support report generation against company
  docs/docs/report/context_variables.md
  src/backend/InvenTree/company/models.py
  src/backend/InvenTree/part/models.py
Due: apps

Add "print report" to Company table
  src/frontend/src/tables/company/CompanyTable.tsx
Due: none

Add printing button to Company detail page
  src/frontend/src/pages/company/CompanyDetail.tsx
Due: none

Small UI improvement to SecurityContext
  src/frontend/src/pages/Index/Settings/AccountSettings/SecurityContent.tsx
Due: none

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Fix translated string
  src/frontend/src/tables/plugin/PluginListTable.tsx
Due: none

[Breaking] Remove part scheduling feature (#9811)
  docs/docs/part/scheduling.md
  docs/docs/part/views.md
  docs/docs/settings/user.md
  docs/mkdocs.yml
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/common/setting/user.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/part/test_api.py
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/pages/part/PartSchedulingDetail.tsx
  src/frontend/tests/pages/pui_part.spec.ts
Due: apps, general

Small UI improvement to SecurityContext (#9818)
  src/frontend/src/pages/Index/Settings/AccountSettings/SecurityContent.tsx
  src/frontend/src/tables/plugin/PluginListTable.tsx
Due: none

ensure secret_key/get_config_file is tested fully
  src/backend/InvenTree/InvenTree/config.py
  src/backend/InvenTree/InvenTree/tests.py
Due: none

chore(backend): update-osv-file
  src/backend/osv-scanner.toml
Due: none

Company reports (#9817)
  docs/docs/report/context_variables.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/company/models.py
  src/backend/InvenTree/part/models.py
  src/frontend/src/pages/company/CompanyDetail.tsx
  src/frontend/src/tables/company/CompanyTable.tsx
Due: apps

Fix missing context items
  src/backend/InvenTree/company/models.py
Due: apps

Fix typo in docstring
  src/backend/InvenTree/InvenTree/models.py
Due: none

try fixing path on docker
  src/backend/InvenTree/InvenTree/tests.py
Due: none

chore(backend): update-osv-file (#9821)
  src/backend/osv-scanner.toml
Due: none

Tweak unit test
  src/backend/InvenTree/InvenTree/unit_test.py
Due: none

Tweak unit test
  src/backend/InvenTree/machine/tests.py
Due: apps

Increased allowed queries
  src/backend/InvenTree/machine/test_api.py
Due: apps

Fix missing context items (#9819)
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/company/models.py
Due: apps

[0.17.x] feat: add cluster monitor task (#9812) (#9815)
  src/backend/requirements.in
  src/backend/requirements.txt
  tasks.py
Due: none

Refactor mixin_enabled calls
  src/backend/InvenTree/plugin/base/event/events.py
  src/backend/InvenTree/plugin/base/integration/AppMixin.py
  src/backend/InvenTree/plugin/base/integration/ScheduleMixin.py
  src/backend/InvenTree/plugin/base/integration/SettingsMixin.py
  src/backend/InvenTree/plugin/base/integration/UrlsMixin.py
  src/backend/InvenTree/plugin/urls.py
  src/backend/InvenTree/report/api.py
Due: apps

Refactor mixin_enabled calls (#9825)
  src/backend/InvenTree/plugin/base/event/events.py
  src/backend/InvenTree/plugin/base/integration/AppMixin.py
  src/backend/InvenTree/plugin/base/integration/ScheduleMixin.py
  src/backend/InvenTree/plugin/base/integration/SettingsMixin.py
  src/backend/InvenTree/plugin/base/integration/UrlsMixin.py
  src/backend/InvenTree/plugin/urls.py
  src/backend/InvenTree/report/api.py
Due: apps

Fix logic for registry mutex lock
  src/backend/InvenTree/plugin/registry.py
Due: apps

Handle potential errors during UsersConfig launch
  src/backend/InvenTree/users/apps.py
Due: apps

Remove debug statement
  src/backend/InvenTree/plugin/registry.py
Due: apps

Revert to_raise value
  src/backend/InvenTree/plugin/registry.py
Due: apps

Clear plugin errors on reload
  src/backend/InvenTree/plugin/registry.py
Due: apps

Better method of avoiding duplicates
  src/backend/InvenTree/plugin/registry.py
  src/backend/InvenTree/plugin/serializers.py
Due: apps

[bug] Fixes for plugin loading mechanism (#9826)
  src/backend/InvenTree/plugin/registry.py
  src/backend/InvenTree/plugin/serializers.py
  src/backend/InvenTree/users/apps.py
Due: apps

Path conditions:
  apps: any of: src/backend/InvenTree/build, src/backend/InvenTree/company, src/backend/InvenTree/data_exporter, src/backend/InvenTree/importer, src/backend/InvenTree/machine, src/backend/InvenTree/order, src/backend/InvenTree/part, src/backend/InvenTree/plugin, src/backend/InvenTree/report, src/backend/InvenTree/stock, src/backend/InvenTree/users, src/backend/InvenTree/web
  general: any of: src/backend/InvenTree/generic, src/backend/InvenTree/common
