Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Fix test class
  src/backend/InvenTree/InvenTree/test_tasks.py
Due: none

Further updates
  src/backend/InvenTree/build/test_build.py
  src/backend/InvenTree/order/test_sales_order.py
Due: Backend Apps

Adjust info view
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/InvenTree/test_api.py
  src/backend/InvenTree/InvenTree/unit_test.py
Due: none

Test refactoring
  src/backend/InvenTree/build/test_build.py
  src/backend/InvenTree/order/test_sales_order.py
  src/backend/InvenTree/order/tests.py
  src/backend/InvenTree/plugin/registry.py
  src/backend/InvenTree/plugin/test_plugin.py
Due: Backend Apps

Fix recursion issue in machine registry
  src/backend/InvenTree/machine/registry.py
  src/backend/InvenTree/machine/test_api.py
Due: Backend Apps

Force cache behavior
  src/backend/InvenTree/common/tests.py
Due: Backend General

Reduce API query limits in testing
  src/backend/InvenTree/machine/test_api.py
  src/backend/InvenTree/report/tests.py
Due: Backend Apps

Handle potential error case in with_mixin
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

remove custom query time code
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps

Prevent override of is_mandatory()
  src/backend/InvenTree/plugin/plugin.py
  src/backend/InvenTree/plugin/test_plugin.py
Due: Backend Apps

Prevent unnecessary reloads
  src/backend/InvenTree/plugin/builtin/barcodes/test_inventree_barcode.py
  src/backend/InvenTree/plugin/models.py
Due: Backend Apps

Tweak unit tests
  src/backend/InvenTree/plugin/base/label/test_label_mixin.py
  src/backend/InvenTree/plugin/test_plugin.py
Due: Backend Apps

Tweak mandatory active save
  src/backend/InvenTree/InvenTree/unit_test.py
  src/backend/InvenTree/plugin/base/label/test_label_mixin.py
  src/backend/InvenTree/plugin/models.py
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Tweak unit test
  src/backend/InvenTree/plugin/test_api.py
Due: Backend Apps

Enhanced unit testing
  src/backend/InvenTree/plugin/models.py
  src/backend/InvenTree/plugin/test_api.py
Due: Backend Apps

feat(docs): Add (high level) Changelog (#9841)
  CHANGELOG.md
Due: none

Exclude lines from coverage
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

(final)? cleanup
  src/backend/InvenTree/InvenTree/unit_test.py
  src/backend/InvenTree/plugin/plugin.py
Due: Backend Apps

Prevent recursive reloads
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

[plugin] Mandatory plugins (#10094)
  docs/docs/plugins/develop.md
  docs/docs/plugins/index.md
  docs/docs/plugins/integrate.md
  docs/docs/start/config.md
  docs/mkdocs.yml
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/test_api.py
  src/backend/InvenTree/InvenTree/test_tasks.py
  src/backend/InvenTree/InvenTree/unit_test.py
  src/backend/InvenTree/build/test_build.py
  src/backend/InvenTree/common/tests.py
  src/backend/InvenTree/machine/registry.py
  src/backend/InvenTree/machine/test_api.py
  src/backend/InvenTree/order/test_sales_order.py
  src/backend/InvenTree/order/tests.py
  src/backend/InvenTree/plugin/api.py
  src/backend/InvenTree/plugin/base/integration/ScheduleMixin.py
  src/backend/InvenTree/plugin/base/label/test_label_mixin.py
  src/backend/InvenTree/plugin/broken/bad_actor.py
  src/backend/InvenTree/plugin/builtin/barcodes/test_inventree_barcode.py
  src/backend/InvenTree/plugin/installer.py
  src/backend/InvenTree/plugin/models.py
  src/backend/InvenTree/plugin/plugin.py
  src/backend/InvenTree/plugin/registry.py
  src/backend/InvenTree/plugin/serializers.py
  src/backend/InvenTree/plugin/test_api.py
  src/backend/InvenTree/plugin/test_plugin.py
  src/backend/InvenTree/report/api.py
  src/backend/InvenTree/report/tests.py
  src/backend/InvenTree/stock/test_api.py
  src/frontend/playwright.config.ts
  src/frontend/tests/pui_plugins.spec.ts
Due: Backend Apps, Backend General, Frontend

Format <BuildLineTable />
  src/frontend/src/tables/build/BuildLineTable.tsx
Due: Frontend

More formatting
  src/frontend/src/tables/bom/BomTable.tsx
  src/frontend/src/tables/build/BuildAllocatedStockTable.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/part/PartTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Frontend

Check for expected message
  src/backend/InvenTree/generic/states/test_transition.py
Due: Backend General

Tests for various failure modes
  src/backend/InvenTree/generic/states/test_transition.py
  src/backend/InvenTree/generic/states/transition.py
  src/backend/InvenTree/plugin/samples/integration/transition.py
Due: Backend Apps, Backend General

Add helper function for running playwright tests
  tasks.py
Due: none

Fix playwright test
  src/frontend/tests/pages/pui_build.spec.ts
Due: Frontend

Tweak query count limit
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

Further formatting updates
  src/frontend/src/pages/company/SupplierPartDetail.tsx
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
  src/frontend/src/tables/stock/StockTrackingTable.tsx
Due: Frontend

Adjust order tables
  src/frontend/src/tables/general/ExtraLineItemTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
Due: Frontend

Table formatting (#10104)
  src/frontend/src/pages/company/SupplierPartDetail.tsx
  src/frontend/src/tables/bom/BomTable.tsx
  src/frontend/src/tables/build/BuildAllocatedStockTable.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/general/ExtraLineItemTable.tsx
  src/frontend/src/tables/part/PartTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
  src/frontend/src/tables/sales/SalesOrderLineItemTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
  src/frontend/src/tables/stock/StockTrackingTable.tsx
  src/frontend/tests/pages/pui_build.spec.ts
  tasks.py
Due: Frontend

Exclude lines from coverage
  src/backend/InvenTree/generic/states/transition.py
Due: Backend General

Remove debug code
  src/backend/InvenTree/generic/states/test_transition.py
Due: Backend General

chore(backend): increase coverage
  src/backend/InvenTree/common/apps.py
  src/backend/InvenTree/common/migrations/0001_initial.py
  src/backend/InvenTree/common/migrations/0023_auto_20240602_1332.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/test_migrations.py
Due: Backend General

feat(cache): Add support for cache password in Redis configuration
  src/backend/InvenTree/InvenTree/cache.py
Due: none

Add cache password configuration option to documentation
  docs/docs/start/config.md
Due: none

Fix the complaints from CI checks
  src/backend/InvenTree/InvenTree/cache.py
Due: none

Transition plugin (#10088)
  docs/docs/plugins/mixins/transition.md
  docs/mkdocs.yml
  src/backend/InvenTree/InvenTree/apps.py
  src/backend/InvenTree/build/test_api.py
  src/backend/InvenTree/generic/states/__init__.py
  src/backend/InvenTree/generic/states/test_transition.py
  src/backend/InvenTree/generic/states/transition.py
  src/backend/InvenTree/plugin/base/integration/TransitionMixin.py
  src/backend/InvenTree/plugin/mixins/__init__.py
  src/backend/InvenTree/plugin/plugin.py
  src/backend/InvenTree/plugin/samples/integration/transition.py
Due: Backend Apps, Backend General

Additional unit tests
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

Fix search field
  src/backend/InvenTree/order/api.py
Due: Backend Apps

Additional unit test to apply search term
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
