Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

fix: wrap carousel code in raw tags for proper rendering
  docs/docs/plugins/walkthrough.md
Due: none

add output filter to BuildItemFilter and optimize queryset retrieval
  src/backend/InvenTree/build/api.py
Due: Backend Apps

fix(api): enhance SupplierPartMixin queryset to include manufacturer part tags
  src/backend/InvenTree/company/api.py
Due: Backend Apps

fix(api): enhance SupplierPartMixin queryset to include manufacturer part tags (#10215)
  src/backend/InvenTree/company/api.py
Due: Backend Apps

Walkthrough Update for v1.0 release (#10159)
  docs/docs/assets/images/plugin/plugin_attachment_carousel.png
  docs/docs/assets/images/plugin/plugin_attachment_carousel_icon.png
  docs/docs/assets/images/plugin/plugin_attachment_carousel_icon_wrong.png
  docs/docs/assets/images/plugin/plugin_vite_dev_site.png
  docs/docs/assets/images/plugin/plugin_vite_mantine_carousel.png
  docs/docs/assets/images/plugin/plugin_vite_running.png
  docs/docs/assets/images/plugin/plugin_vscode_layout.png
  docs/docs/assets/images/plugin/plugin_walkthrough_admin_interface.png
  docs/docs/assets/images/plugin/plugin_walkthrough_attachment_carousel.png
  docs/docs/assets/images/plugin/plugin_walkthrough_attachment_carousel_picsum.png
  docs/docs/assets/images/plugin/plugin_walkthrough_default.png
  docs/docs/assets/images/plugin/plugin_walkthrough_icon_default.png
  docs/docs/assets/images/plugin/plugin_walkthrough_interface_integration.png
  docs/docs/assets/images/plugin/plugin_walkthrough_vscode_layout.png
  docs/docs/plugins/walkthrough.md
Due: none

Disable paging on purchaseOrderReceive API call (#10213)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/order/api.py
Due: Backend Apps

style fixes
  docs/docs/plugins/walkthrough.md
Due: none

fix style
  docs/docs/plugins/walkthrough.md
Due: none

fix style (#10216)
  docs/docs/plugins/walkthrough.md
Due: none

Handle null line items
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Handle null line items (#10217)
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Tweak 'description' column for build table
  src/frontend/src/tables/build/BuildOrderTable.tsx
Due: Frontend

Tweak 'description' column for build table (#10218)
  src/frontend/src/tables/build/BuildOrderTable.tsx
Due: Frontend

chore(frontend): upgrade react to 19 (#10202)
  src/frontend/package.json
  src/frontend/src/components/editors/TemplateEditor/TemplateEditor.tsx
  src/frontend/src/components/plugins/PluginUIFeature.tsx
  src/frontend/src/components/plugins/RemoteComponent.tsx
  src/frontend/yarn.lock
Due: Frontend

Bump frontend lib version
  src/frontend/CHANGELOG.md
  src/frontend/package.json
Due: Frontend

chore(backend):mfa e2e testing (#10206)
  src/backend/InvenTree/InvenTree/auth_overrides.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/users/tests.py
Due: Backend Apps

Bump frontend lib version (#10219)
  src/frontend/CHANGELOG.md
  src/frontend/package.json
Due: Frontend

remove unneeded helper
  src/backend/InvenTree/users/serializers.py
Due: Backend Apps

remove unnecessary coverage
  src/backend/InvenTree/users/serializers.py
Due: Backend Apps

ignore catch-all pervisions in app setup
  src/backend/InvenTree/users/apps.py
Due: Backend Apps

remove unused function
  src/backend/InvenTree/users/models.py
Due: Backend Apps

Display build source location
  src/frontend/src/pages/build/BuildDetail.tsx
Due: Frontend

this was replaced by get_model_permission_string
  src/backend/InvenTree/users/permissions.py
Due: Backend Apps

Fix docstring
  src/backend/InvenTree/part/filters.py
Due: Backend Apps

Enhance build availability filter
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/part/filters.py
Due: Backend Apps

Enhance type annotations
  src/backend/InvenTree/part/filters.py
Due: Backend Apps

Build source location (#10220)
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/part/filters.py
  src/frontend/src/pages/build/BuildDetail.tsx
Due: Backend Apps, Frontend

Update dockerfile
  contrib/container/Dockerfile
Due: none

Debian docker image
  .devcontainer/Dockerfile
  contrib/container/Dockerfile
  contrib/container/dev-docker-compose.yml
  contrib/container/docker-compose.yml
  contrib/container/install_build_packages.sh
  src/frontend/package.json
Due: Frontend

Tweak plugin-react version
  src/frontend/package.json
Due: Frontend

Remove commented-out lines
  contrib/container/Dockerfile
Due: none

Ensure invoke is installed
  contrib/container/Dockerfile
Due: none

Fix Dockerfile
  contrib/container/Dockerfile
Due: none

Adjust Dockerfile
  contrib/container/Dockerfile
Due: none

Update dockerfile (#10225)
  contrib/container/Dockerfile
  src/frontend/package.json
Due: Frontend

Display error message in email table
  src/frontend/src/tables/settings/EmailTable.tsx
Due: Frontend

Update react-window
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

Display error message in email table (#10231)
  src/frontend/src/tables/settings/EmailTable.tsx
Due: Frontend

Update react-window (#10232)
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

Fix for returning expired token during authentication (#10228)
  src/backend/InvenTree/users/api.py
  src/backend/InvenTree/users/models.py
Due: Backend Apps

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
