Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

[UI] Pricing override (#12306)
  src/frontend/src/pages/part/pricing/PricingOverviewPanel.tsx
Due: Frontend

[docs] Report helper docs (#12300)
  docs/docs/plugins/mixins/report.md
  docs/docs/report/assets.md
  docs/docs/report/context_variables.md
  docs/docs/report/helpers.md
  docs/docs/report/index.md
  docs/docs/report/labels.md
  docs/docs/report/report.md
  docs/docs/report/samples.md
  docs/docs/report/snippets.md
  docs/mkdocs.yml
Due: none

Order click-through on pricing panel (#12307)
  src/frontend/src/pages/part/pricing/PurchaseHistoryPanel.tsx
  src/frontend/src/pages/part/pricing/SaleHistoryPanel.tsx
Due: Frontend

[db] Fix for UUID fields (#12301)
  src/backend/InvenTree/InvenTree/fields.py
  src/backend/InvenTree/common/migrations/0046_alter_emailmessage_global_id_and_more.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/machine/migrations/0002_alter_machineconfig_id.py
  src/backend/InvenTree/machine/models.py
Due: Backend Apps, Backend General

Pricing bugs (#12305)
  src/backend/InvenTree/common/currency.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/part/models.py
Due: Backend Apps, Backend General

Add --keep option to setup-test task (#12308)
  tasks.py
Due: none

Fix currency choices for PartPricing model (#12336)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/test_commands.py
  src/backend/InvenTree/part/migrations/0152_alter_partpricing_currency.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Fix notes on part creation (#12332)
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

Adjust default behavior of "migrate" command (#12320)
  .github/workflows/check_translations.yaml
  .github/workflows/qc_checks.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  docs/docs/develop/contributing.md
  tasks.py
Due: none

Fix for stocktake exporter (#12324)
  src/backend/InvenTree/plugin/builtin/exporter/stocktake_exporter.py
Due: Backend Apps

Import internal price (#12341)
  CHANGELOG.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/part/migrations/0067_partinternalpricebreak.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/serializers.py
  src/frontend/src/pages/part/pricing/PriceBreakPanel.tsx
  src/frontend/src/pages/part/pricing/SupplierPricingPanel.tsx
Due: Backend Apps, Frontend

[bug] Plugin load fix (#12329)
  src/backend/InvenTree/plugin/registry.py
  src/frontend/src/tables/plugin/PluginListTable.tsx
Due: Backend Apps, Frontend

[bug] Barcode bug fix (#12319)
  src/backend/InvenTree/plugin/base/barcodes/mixins.py
  src/backend/InvenTree/plugin/builtin/suppliers/test_supplier_barcodes.py
Due: Backend Apps

Robustify playwright tests (#12331)
  src/frontend/tests/pages/pui_company.spec.ts
  src/frontend/tests/pages/pui_part.spec.ts
  src/frontend/tests/pui_login.spec.ts
Due: Frontend

[UI] Add form submission shortcut (#12328)
  docs/docs/concepts/user_interface.md
  src/frontend/lib/functions/Events.tsx
  src/frontend/src/components/forms/ApiForm.tsx
Due: Frontend

[UI] Docs links (#12342)
  src/backend/InvenTree/InvenTree/version.py
  src/frontend/src/components/modals/AboutInvenTreeModal.tsx
  src/frontend/src/components/nav/NavigationDrawer.tsx
  src/frontend/src/components/settings/QuickAction.tsx
  src/frontend/src/defaults/links.tsx
Due: Frontend

chore: bump API version to 520 for barcode_data field (#11745)
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Bug fixes for PO receive (#12349)
  src/backend/InvenTree/order/models.py
Due: Backend Apps

feat: show linked barcode on all detail pages via shared helper (#11745)
  src/frontend/src/components/details/Details.tsx
  src/frontend/src/pages/build/BuildDetail.tsx
  src/frontend/src/pages/company/ManufacturerPartDetail.tsx
  src/frontend/src/pages/company/SupplierPartDetail.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/pages/purchasing/PurchaseOrderDetail.tsx
  src/frontend/src/pages/sales/ReturnOrderDetail.tsx
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
  src/frontend/src/pages/stock/TransferOrderDetail.tsx
Due: Frontend

feat: expose read-only barcode_data on all barcode-supporting serializers (#11745)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/InvenTree/test_serializers.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/stock/serializers.py
Due: Backend Apps

Fix data import bug (#12355)
  src/backend/InvenTree/importer/models.py
  src/backend/InvenTree/importer/operations.py
  src/backend/InvenTree/importer/tests.py
Due: Backend Apps

Add IPN column to BOM pricing panel (#12344)
  src/frontend/src/pages/part/pricing/BomPricingPanel.tsx
Due: Frontend

[docs] Admin docs (#12345)
  docs/docs/api/index.md
  docs/docs/barcodes/index.md
  docs/docs/concepts/data_import.md
  docs/docs/concepts/parameters.md
  docs/docs/concepts/user_interface.md
  docs/docs/part/create.md
  docs/docs/plugins/develop.md
  docs/docs/plugins/walkthrough.md
  docs/docs/report/context_variables.md
  docs/docs/report/index.md
  docs/docs/settings/MFA.md
  docs/docs/settings/SSO.md
  docs/docs/settings/admin.md
  docs/docs/settings/db_admin.md
  docs/docs/settings/logs.md
  docs/docs/settings/permissions.md
  docs/docs/settings/tasks.md
  docs/docs/start/config.md
  docs/mkdocs.yml
Due: none

test: cover linked barcode display on stock detail (#11745)
  src/backend/InvenTree/stock/test_api.py
  src/frontend/tests/pages/pui_stock.spec.ts
Due: Backend Apps, Frontend

[UI] Form fix (#12348)
  src/frontend/src/components/forms/ApiForm.tsx
  src/frontend/src/components/forms/DateTimeField.tsx
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/src/components/forms/fields/BooleanField.tsx
  src/frontend/src/components/forms/fields/ChoiceField.tsx
  src/frontend/src/components/forms/fields/DateField.tsx
  src/frontend/src/components/forms/fields/DependentField.tsx
  src/frontend/src/components/forms/fields/IconField.tsx
  src/frontend/src/components/forms/fields/NestedObjectField.tsx
  src/frontend/src/components/forms/fields/NumberField.tsx
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
  src/frontend/src/components/forms/fields/TableField.tsx
  src/frontend/src/components/forms/fields/TagsField.tsx
  src/frontend/src/components/forms/fields/TextField.tsx
  src/frontend/src/components/forms/fields/TreeField.tsx
  src/frontend/src/functions/comparison.tsx
  src/frontend/tests/pages/pui_purchasing.spec.ts
  src/frontend/tests/pui_forms.spec.ts
Due: Frontend

Currency options fix (#12343)
  src/backend/InvenTree/InvenTree/fields.py
Due: none

Improved error context (#12350)
  src/backend/InvenTree/InvenTree/models.py
Due: none

[UI] Page Load Improvements (#12334)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/users/api.py
  src/backend/InvenTree/users/serializers.py
  src/frontend/src/components/buttons/ScanButton.tsx
  src/frontend/src/components/importer/GlobalImporterDrawer.tsx
  src/frontend/src/components/plugins/PluginContext.tsx
  src/frontend/src/contexts/LanguageContext.tsx
  src/frontend/src/functions/auth.tsx
  src/frontend/src/functions/loading.tsx
  src/frontend/src/functions/localeReady.ts
  src/frontend/src/pages/Auth/LoggedIn.tsx
  src/frontend/src/pages/Auth/Login.tsx
  src/frontend/src/router.tsx
  src/frontend/src/states/ServerApiState.tsx
  src/frontend/src/states/UserState.tsx
  src/frontend/src/states/states.tsx
  src/frontend/src/views/MainView.tsx
  src/frontend/tests/defaults.ts
  src/frontend/tests/pui_login.spec.ts
Due: Backend Apps, Frontend

feat: validate BarcodeSerializerMixin configuration on init (#11745)
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/InvenTree/test_serializers.py
Due: none

Remove dead pricing code on Part model (#12357)
  src/backend/InvenTree/company/tests.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/test_bom_item.py
  src/backend/InvenTree/part/test_part.py
Due: Backend Apps

[refactor] Refactor StockItem methods (#12358)
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/serializers.py
Due: Backend Apps

fix style
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

fix style
  docs/requirements.txt
Due: none

reset errors on update
  src/backend/InvenTree/importer/serializers.py
Due: Backend Apps

fix: handle empty-string group_search_dn same as None
  src/backend/InvenTree/InvenTree/setting/ldap.py
  src/backend/InvenTree/setting/tests/test_ldap_config.py
Due: none

Added HTTP host check to server health check
  tasks.py
  test_tasks.py
Due: none

Fix permissions for group and RuleSet endpoints
  src/backend/InvenTree/users/api.py
  src/backend/InvenTree/users/test_api.py
Due: Backend Apps

Fix permissions for group and RuleSet endpoints (#12563)
  src/backend/InvenTree/users/api.py
  src/backend/InvenTree/users/test_api.py
Due: Backend Apps

Deduplicate part pricing updates per session
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
