Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

fix: MFA enforce flows / interactions (#10796)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/common/setting/type.py
  src/backend/InvenTree/common/tests.py
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/lib/types/Auth.tsx
  src/frontend/lib/types/Settings.tsx
  src/frontend/src/components/Boundary.tsx
  src/frontend/src/components/settings/SettingItem.tsx
  src/frontend/src/components/settings/SettingList.tsx
  src/frontend/src/functions/auth.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/MFASettings.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/SecurityContent.tsx
  src/frontend/src/states/states.tsx
Due: Backend General, Frontend

Enhance stock merge
  src/frontend/src/forms/StockForms.tsx
Due: Frontend

[UI] Fix "default supplier" form
  src/frontend/src/forms/PartForms.tsx
  src/frontend/src/pages/part/PartDetail.tsx
Due: Frontend

Hide field if part is not purchaseable
  src/frontend/src/forms/PartForms.tsx
Due: Frontend

Fix supplier part display
  src/frontend/src/pages/part/PartDetail.tsx
Due: Frontend

Enhance stock merge (#11141)
  src/frontend/src/forms/StockForms.tsx
Due: Frontend

[UI] Fix "Owner" detail badge using wrong id
  src/frontend/src/components/details/Details.tsx
Due: Frontend

[ui] Show generated serial numbers as placeholder when receving stock
  src/frontend/src/forms/PurchaseOrderForms.tsx
Due: Frontend

fix style
  src/backend/requirements.txt
Due: none

[UI] Default supplier fix (#11142)
  src/frontend/src/forms/PartForms.tsx
  src/frontend/src/pages/part/PartDetail.tsx
Due: Frontend

[UI] Fix "Owner" detail badge using wrong id (#11144)
  src/frontend/src/components/details/Details.tsx
Due: Frontend

[UI] Fix "assign to customer"
  src/frontend/src/pages/stock/StockDetail.tsx
Due: Frontend

Enable export of supplier price break data
  src/backend/InvenTree/company/api.py
  src/backend/InvenTree/company/serializers.py
  src/frontend/src/tables/purchasing/SupplierPriceBreakTable.tsx
Due: Backend Apps, Frontend

[UI] Fix "assign to customer" (#11151)
  src/frontend/src/pages/stock/StockDetail.tsx
Due: Frontend

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Bump software version to 1.1.9
  src/backend/InvenTree/InvenTree/version.py
Due: none

Enable export of supplier price break data (#11153)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/company/api.py
  src/backend/InvenTree/company/serializers.py
  src/frontend/src/tables/purchasing/SupplierPriceBreakTable.tsx
Due: Backend Apps, Frontend

Bump software version to 1.1.9 (#11154)
  src/backend/InvenTree/InvenTree/version.py
Due: none

l2模型：修复InvenTree库存数据同步问题
  ourcesappoutvsworkbenchcontribterminalcommonscriptsshellIntegration.ps1 } catch{} }; Write-Oclear
  src/backend/InvenTree/stock/models.py
  src/frontend/src/hooks/UseForm.tsx
Due: Backend Apps, Frontend

l2模型：修复InvenTree库存数据同步问题
  src/backend/InvenTree/stock/models.py
  src/frontend/lib/types/Forms.tsx
Due: Backend Apps, Frontend

Fix typos identified by translators
  src/backend/InvenTree/build/migrations/0012_build_sales_order.py
  src/backend/InvenTree/build/migrations/0014_auto_20200425_1243.py
  src/backend/InvenTree/build/migrations/0021_auto_20201020_0908_squashed_0026_auto_20201023_1228.py
  src/backend/InvenTree/build/migrations/0024_auto_20201201_1023.py
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/order/migrations/0085_auto_20230322_1056.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/plugin/builtin/integration/core_notifications.py
  src/backend/InvenTree/plugin/migrations/0001_initial.py
  src/backend/InvenTree/plugin/models.py
  src/backend/InvenTree/plugin/serializers.py
  src/backend/InvenTree/plugin/test_api.py
Due: Backend Apps

bump api version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Fix typos identified by translators (#11157)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/build/migrations/0012_build_sales_order.py
  src/backend/InvenTree/build/migrations/0014_auto_20200425_1243.py
  src/backend/InvenTree/build/migrations/0021_auto_20201020_0908_squashed_0026_auto_20201023_1228.py
  src/backend/InvenTree/build/migrations/0024_auto_20201201_1023.py
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/order/migrations/0085_auto_20230322_1056.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/plugin/builtin/integration/core_notifications.py
  src/backend/InvenTree/plugin/migrations/0001_initial.py
  src/backend/InvenTree/plugin/models.py
  src/backend/InvenTree/plugin/serializers.py
  src/backend/InvenTree/plugin/test_api.py
Due: Backend Apps

[docs] Fix docker command
  docs/docs/start/accounts.md
Due: none

[docs] Fix docker command (#11159)
  docs/docs/start/accounts.md
Due: none

docs: email: Improve TLS / SSL descriptions
  docs/docs/start/config.md
Due: none

docs: email: Improve TLS / SSL descriptions (#11161)
  docs/docs/start/config.md
Due: none

remove cache for now
  .github/actions/setup/action.yaml
Due: none

bump pyasn1 https://github.com/inventree/InvenTree/security/dependabot/292
  contrib/container/requirements.txt
Due: none

move to 3.14?
  docs/requirements.txt
  pyproject.toml
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

make version specific install req
  .pre-commit-config.yaml
  docs/requirements.txt
  pyproject.toml
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev.txt
  tasks.py
Due: none

re-add hashes
  contrib/container/requirements.txt
  contrib/dev_reqs/requirements.txt
  docs/requirements.txt
  pyproject.toml
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

fix(auth): Use correct data for SSO group sync
  src/backend/InvenTree/InvenTree/sso.py
  src/backend/InvenTree/InvenTree/test_auth.py
Due: none

fix(auth): Use correct data for SSO group sync (#11164)
  src/backend/InvenTree/InvenTree/sso.py
  src/backend/InvenTree/InvenTree/test_auth.py
Due: none

bump pyasn1 (#11163)
  contrib/container/requirements.txt
Due: none
