Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Adjust config template file
  src/backend/InvenTree/config_template.yaml
Due: none

Check UPPERCASE value as backup
  src/backend/InvenTree/InvenTree/config.py
  src/backend/InvenTree/InvenTree/setting/db_backend.py
Due: none

bump deps (#11812)
  contrib/container/requirements.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
Due: none

Smooth image loading
  src/frontend/src/components/details/DetailsImage.tsx
  src/frontend/src/components/images/ApiImage.tsx
  src/frontend/src/components/nav/PageDetail.tsx
  src/frontend/src/pages/part/PartDetail.tsx
Due: Frontend

Add "thumbnail" prop
  src/frontend/src/components/images/ApiImage.tsx
Due: Frontend

Fix "issued_by" for BuildOrder model
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/serializers.py
  src/frontend/src/forms/BuildForms.tsx
Due: Backend Apps, Frontend

Add "created_by" property
  src/backend/InvenTree/build/models.py
Due: Backend Apps

Update unit test
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

Update API and CHANGELOG
  CHANGELOG.md
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Further adjustments to unit tests
  src/backend/InvenTree/users/test_api.py
Due: Backend Apps

[UI] Invalid BOM warning
  src/frontend/src/pages/build/BuildDetail.tsx
Due: Frontend

Hide thumbnail once loaded
  src/frontend/src/components/images/ApiImage.tsx
Due: Frontend

Add similar warning to BOM table
  src/frontend/src/pages/part/PartDetail.tsx
Due: Frontend

Adjust bom subassembly table
  src/frontend/src/tables/bom/BomSubassemblyTable.tsx
Due: Frontend

[UI] Reimplement "convert stock" action
  src/backend/InvenTree/part/models.py
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
Due: Backend Apps, Frontend

Add playwright tests
  src/frontend/tests/pages/pui_stock.spec.ts
Due: Frontend

Adjust BomSubassemblyTable
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/bom/BomSubassemblyTable.tsx
Due: Frontend

fix typing issue
  src/backend/InvenTree/InvenTree/config.py
  src/backend/InvenTree/plugin/plugin.py
Due: Backend Apps

ignore ty issues for now
  pyproject.toml
Due: none

Add BOM role
  src/backend/InvenTree/users/ruleset.py
  src/frontend/lib/enums/Roles.tsx
Due: Backend Apps, Frontend

Adjust UI permissions
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

Adjust docs
  docs/docs/settings/permissions.md
Due: none

Add data migratoin
  src/backend/InvenTree/part/migrations/0148_auto_20260427_2233.py
Due: Backend Apps

Specify role for BOM validation
  src/backend/InvenTree/part/api.py
Due: Backend Apps

Tweak old migrati
  src/backend/InvenTree/users/migrations/0011_auto_20240523_1640.py
Due: Backend Apps

fix compile setup
  src/frontend/tsconfig.json
Due: Frontend

api change fixes
  src/frontend/src/components/editors/TemplateEditor/PdfPreview/PdfPreview.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/UserPanel.tsx
Due: Frontend

fix css syntax
  src/frontend/src/main.css.ts
Due: Frontend

Fix role_required
  src/backend/InvenTree/part/api.py
Due: Backend Apps

Update API version and CHANGELOG
  CHANGELOG.md
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

also expose TableState
  src/frontend/lib/index.ts
Due: Frontend

feat(frontend): lib make Detaildrawer available
  src/frontend/lib/components/nav/DetailDrawer.css.ts
  src/frontend/lib/components/nav/DetailDrawer.tsx
  src/frontend/lib/index.ts
  src/frontend/lib/states/LocalLibState.tsx
  src/frontend/src/components/items/InfoItem.tsx
  src/frontend/src/states/LocalState.tsx
  src/frontend/src/tables/machine/MachineListTable.tsx
  src/frontend/src/tables/machine/MachineTypeTable.tsx
  src/frontend/src/tables/plugin/PluginListTable.tsx
  src/frontend/src/tables/settings/ErrorTable.tsx
  src/frontend/src/tables/settings/GroupTable.tsx
  src/frontend/src/tables/settings/TemplateTable.tsx
  src/frontend/src/tables/settings/UserTable.tsx
Due: Frontend

Update unit tests
  src/backend/InvenTree/part/test_api.py
  src/backend/InvenTree/users/oauth2_scopes.py
Due: Backend Apps

add changelog entry
  src/frontend/CHANGELOG.md
  src/frontend/package.json
Due: Frontend

fix import path
  src/frontend/lib/components/nav/DetailDrawer.tsx
Due: Frontend

bump vite, lodash, postcss
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

Fix: preserve existing widget sizes when adding a dashboard widget
  src/frontend/src/components/dashboard/DashboardLayout.tsx
  src/frontend/tests/pages/pui_dashboard.spec.ts
Due: Frontend

Make widget-resize regression test reliable
  src/frontend/tests/pages/pui_dashboard.spec.ts
Due: Frontend

Apply biome formatting
  src/frontend/tests/pages/pui_dashboard.spec.ts
Due: Frontend
