Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Better clipboard copy
  src/frontend/src/pages/Index/Settings/AccountSettings/MFASettings.tsx
Due: Frontend

[UI] MFA Refactor (#10775)
  src/frontend/package.json
  src/frontend/src/pages/Index/Settings/AccountSettings/MFASettings.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/QrRegistrationForm.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/SecurityContent.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/useConfirm.tsx
  src/frontend/tests/baseFixtures.ts
  src/frontend/tests/pui_login.spec.ts
  src/frontend/yarn.lock
Due: Frontend

Remove custom token middleware
  src/backend/InvenTree/InvenTree/middleware.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/test_middleware.py
Due: none

reduce showing of wrong info boxes
  src/frontend/src/pages/Index/Settings/AccountSettings/MFASettings.tsx
Due: Frontend

stop waiting 30 sec when there is an error
  src/frontend/src/pages/Index/Settings/AccountSettings/MFASettings.tsx
Due: Frontend

add changes from review
  src/backend/InvenTree/InvenTree/apps.py
  src/backend/InvenTree/InvenTree/tasks.py
Due: none

improve docker dx with empty migration set (#10774)
  src/backend/InvenTree/InvenTree/apps.py
  src/backend/InvenTree/InvenTree/tasks.py
Due: none

refactor (frontend): reduce message and time in recovery codes (#10778)
  src/frontend/src/pages/Index/Settings/AccountSettings/MFASettings.tsx
Due: Frontend

fix style
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

also bump docker version
  contrib/container/requirements.txt
Due: none

simplify
  src/backend/InvenTree/InvenTree/middleware.py
Due: none

fix return type
  src/backend/InvenTree/InvenTree/middleware.py
Due: none

handle token (app access)
  src/backend/InvenTree/InvenTree/middleware.py
Due: none

reduce lookup amount
  src/backend/InvenTree/InvenTree/middleware.py
Due: none

add positive test again
  src/backend/InvenTree/InvenTree/test_middleware.py
Due: none

add poisitive test
  src/backend/InvenTree/InvenTree/test_api.py
Due: none

move out settings
  src/backend/InvenTree/InvenTree/middleware.py
Due: none

add tests for Check2FAMiddleware
  src/backend/InvenTree/InvenTree/middleware.py
  src/backend/InvenTree/InvenTree/test_middleware.py
Due: none

add test for auth_request
  src/backend/InvenTree/InvenTree/test_middleware.py
Due: none

add a reverse name for auth_request
  src/backend/InvenTree/InvenTree/middleware.py
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/InvenTree/urls.py
Due: none

auth tests refactors
  src/backend/InvenTree/InvenTree/test_auth.py
  src/backend/InvenTree/InvenTree/test_middleware.py
Due: none

move test
  src/backend/InvenTree/InvenTree/middleware.py
  src/backend/InvenTree/InvenTree/test_auth.py
  src/backend/InvenTree/InvenTree/test_middleware.py
Due: none

disable check for things that do not trigger
  src/backend/InvenTree/InvenTree/test_auth.py
Due: none

fix typing for python 3.9
  src/backend/InvenTree/InvenTree/middleware.py
Due: none

bump to newer versions
  contrib/container/requirements.in
  contrib/container/requirements.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

Bump software version to 1.1.4
  src/backend/InvenTree/InvenTree/version.py
Due: none

Bump software version to 1.1.4 (#10792)
  src/backend/InvenTree/InvenTree/version.py
Due: none

make names clearer and add comments
  src/backend/InvenTree/InvenTree/middleware.py
Due: none

Refactor: Simplify image handling in InvenTreeImageMixin and update image serializer field
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/common/test_api.py
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps, Backend General

finish tests
  src/backend/InvenTree/InvenTree/helpers_mfa.py
  src/backend/InvenTree/InvenTree/test_middleware.py
Due: none

fix call
  src/backend/InvenTree/InvenTree/helpers_mfa.py
Due: none

re-enable mfa test without the timing component
  src/backend/InvenTree/users/tests.py
Due: Backend Apps

bump deps
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

cleanup helper
  src/backend/InvenTree/InvenTree/helpers_mfa.py
Due: none

ignore easy out
  src/backend/InvenTree/InvenTree/middleware.py
Due: none

ignore scenario that can not happen
  src/backend/InvenTree/InvenTree/views.py
Due: none

refactor(migrations): rename reverse migration functions for clarity
  src/backend/InvenTree/common/migrations/0041_migrate_company_images.py
  src/backend/InvenTree/common/migrations/0042_migrate_part_images.py
  src/backend/InvenTree/common/test_migrations.py
Due: Backend General

fix assertation
  src/frontend/tests/pui_modals.spec.ts
Due: Frontend

fix(backend): auth check middleware for specific media access (#10784)
  src/backend/InvenTree/InvenTree/helpers_mfa.py
  src/backend/InvenTree/InvenTree/middleware.py
  src/backend/InvenTree/InvenTree/test_api.py
  src/backend/InvenTree/InvenTree/test_auth.py
  src/backend/InvenTree/InvenTree/test_middleware.py
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/InvenTree/urls.py
  src/backend/InvenTree/InvenTree/views.py
  src/backend/InvenTree/users/tests.py
Due: Backend Apps

Add a explicit confirm when MFA Enforcing is turned on
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/common/setting/type.py
Due: Backend General

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
