Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Use IMMEDIATE mode for background worker thread
  CHANGELOG.md
  docs/docs/start/config.md
  src/backend/InvenTree/InvenTree/setting/db_backend.py
Due: none

Use config to set WAL rather than custom hook
  src/backend/InvenTree/InvenTree/apps.py
  src/backend/InvenTree/InvenTree/setting/db_backend.py
Due: none

Tweak pyproject settings
  pyproject.toml
Due: none

refactor(frontend): use central user creds (#11520)
  src/frontend/playwright/global-setup.ts
  src/frontend/tests/api.ts
  src/frontend/tests/customization/customization.spec.ts
  src/frontend/tests/defaults.ts
  src/frontend/tests/login.ts
  src/frontend/tests/pages/pui_company.spec.ts
  src/frontend/tests/pages/pui_part.spec.ts
  src/frontend/tests/pages/pui_purchase_order.spec.ts
  src/frontend/tests/pages/pui_scan.spec.ts
  src/frontend/tests/pages/pui_stock.spec.ts
  src/frontend/tests/pui_exporting.spec.ts
  src/frontend/tests/pui_forms.spec.ts
  src/frontend/tests/pui_general.spec.ts
  src/frontend/tests/pui_importing.spec.ts
  src/frontend/tests/pui_login.spec.ts
  src/frontend/tests/pui_machines.spec.ts
  src/frontend/tests/pui_modals.spec.ts
  src/frontend/tests/pui_permissions.spec.ts
  src/frontend/tests/pui_plugins.spec.ts
  src/frontend/tests/pui_printing.spec.ts
  src/frontend/tests/pui_settings.spec.ts
  src/frontend/tests/pui_tables.spec.ts
Due: Frontend

Tweak code
  pyproject.toml
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/InvenTree/config.py
  src/backend/InvenTree/InvenTree/exceptions.py
Due: none

[CI] Add unit test for large shipment (#11503)
  src/backend/InvenTree/order/test_sales_order.py
Due: Backend Apps

Fix stuck-in-past expiry date filter (#11518)
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/stock/api.py
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/serializers.py
Due: Backend Apps

Fix table for s3 backup in docs (#11512)
  docs/docs/start/config.md
Due: none

bump build tooling (#11505)
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

Fix complete_sales_order_shipment task
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/tasks.py
Due: Backend Apps

Add unit test
  src/backend/InvenTree/order/test_sales_order.py
Due: Backend Apps

bump undici
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

Enhance docstring
  src/backend/InvenTree/InvenTree/tasks.py
Due: none

Return the ID of an offloaded task
  src/backend/InvenTree/InvenTree/tasks.py
Due: none

Add API endpoint for background task detail
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/serializers.py
Due: Backend General

Add UI hook for monitoring background task progress
  src/frontend/lib/hooks/MonitorBackgroundTask.tsx
Due: Frontend

Handle queued tasks (not yet started)
  src/backend/InvenTree/common/api.py
Due: Backend General

Improve UX
  src/frontend/lib/hooks/MonitorBackgroundTask.tsx
Due: Frontend

bump undici (#11526)
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend

Update frontend lib version
  src/frontend/CHANGELOG.md
  src/frontend/package.json
Due: Frontend

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Fix notification
  src/frontend/lib/hooks/MonitorBackgroundTask.tsx
Due: Frontend

Simplify UI interface
  src/frontend/lib/hooks/MonitorBackgroundTask.tsx
Due: Frontend

Implement internal hook
  src/frontend/src/hooks/UseBackgroundTask.tsx
Due: Frontend

Removed unused artefact from previous implementation
  src/frontend/src/components/forms/ApiForm.tsx
Due: Frontend

keepOpenOption removed as default option for all create forms. Instead it's enabled on selected forms.
  src/frontend/src/components/forms/ApiForm.tsx
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/hooks/UseForm.tsx
  src/frontend/src/tables/build/BuildOrderTable.tsx
  src/frontend/src/tables/company/CompanyTable.tsx
  src/frontend/src/tables/part/PartCategoryTable.tsx
  src/frontend/src/tables/part/PartTable.tsx
  src/frontend/src/tables/purchasing/ManufacturerPartTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderTable.tsx
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
  src/frontend/src/tables/sales/ReturnOrderTable.tsx
  src/frontend/src/tables/sales/SalesOrderTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
  src/frontend/src/tables/stock/StockLocationTable.tsx
Due: Frontend

keepOpenOption field speed improvement
  src/frontend/src/components/forms/ApiForm.tsx
  src/frontend/src/components/forms/KeepFormOpenSwitch.tsx
  src/frontend/src/hooks/UseForm.tsx
Due: Frontend

Fix API path sequence
  src/backend/InvenTree/common/api.py
Due: Backend General

Add unit tests for task detail endpoint
  src/backend/InvenTree/common/tests.py
Due: Backend General

Refactor code into reusable model
  src/backend/InvenTree/InvenTree/tasks.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/serializers.py
Due: Backend General

Explicit operation_id for API endpoints
  src/backend/InvenTree/common/api.py
Due: Backend General

Further refactoring
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/common/tests.py
Due: Backend General

Use 200 response code
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/common/tests.py
Due: Backend General

Return task response for validation of part BOM
  src/backend/InvenTree/part/api.py
  src/frontend/lib/hooks/MonitorBackgroundTask.tsx
  src/frontend/src/pages/part/PartDetail.tsx
Due: Backend Apps, Frontend

Fix schema
  src/backend/InvenTree/common/api.py
Due: Backend General

Cleanup
  src/frontend/src/pages/part/PartDetail.tsx
Due: Frontend

Run background worker during playwright tests
  src/frontend/playwright.config.ts
  src/frontend/src/pages/Index/Settings/AdminCenter/TaskManagementPanel.tsx
  src/frontend/tests/pui_settings.spec.ts
Due: Frontend

Improve hooks and unit testing
  src/frontend/lib/hooks/MonitorBackgroundTask.tsx
  src/frontend/lib/index.ts
  src/frontend/src/hooks/UseBackgroundTask.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend
