Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Fix for useFilterSet hook
  src/frontend/lib/hooks/UseFilterSet.tsx
Due: Frontend

Fix unique key error
  src/frontend/src/components/panels/PanelGroup.tsx
Due: Frontend

Fix rendering issues when opening edit forms
  src/frontend/src/components/nav/PageDetail.tsx
  src/frontend/src/hooks/UseForm.tsx
Due: Frontend

reduce console errors
  src/frontend/src/components/forms/fields/ApiFormField.tsx
Due: Frontend

Fix unique key issues in search drawer
  src/frontend/src/components/nav/SearchDrawer.tsx
Due: Frontend

Refactor: Rename setting to DISPLAY_ITEMS_FINAL_LEVEL to apply generically to both locations and categories per review
  docs/docs/settings/user.md
  src/backend/InvenTree/common/setting/user.py
  src/frontend/src/pages/part/CategoryDetail.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
Due: Backend General, Frontend

Update frontend CHANGELOG.md
  src/frontend/CHANGELOG.md
Due: Frontend

More form tweaks
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
Due: Frontend

Feature: Auto-select items tab for final stock locations (#11766) (#11955)
  docs/docs/settings/user.md
  src/backend/InvenTree/common/setting/user.py
  src/frontend/src/components/panels/PanelGroup.tsx
  src/frontend/src/pages/part/CategoryDetail.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
Due: Backend General, Frontend

[UI] Mantine 9 (#11947)
  src/frontend/CHANGELOG.md
  src/frontend/lib/components/RowActions.tsx
  src/frontend/lib/hooks/UseFilterSet.tsx
  src/frontend/lib/types/Tables.tsx
  src/frontend/package.json
  src/frontend/src/components/dashboard/widgets/QueryCountDashboardWidget.tsx
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
  src/frontend/src/components/nav/Header.tsx
  src/frontend/src/components/nav/PageDetail.tsx
  src/frontend/src/components/nav/SearchDrawer.tsx
  src/frontend/src/components/panels/PanelGroup.tsx
  src/frontend/src/hooks/UseForm.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/UserPanel.tsx
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/tests/login.ts
  src/frontend/tests/pages/pui_build.spec.ts
  src/frontend/tests/pages/pui_dashboard.spec.ts
  src/frontend/tests/pages/pui_part.spec.ts
  src/frontend/tests/pages/pui_purchasing.spec.ts
  src/frontend/tests/pages/pui_return.spec.ts
  src/frontend/tests/pages/pui_stock.spec.ts
  src/frontend/tests/pui_exporting.spec.ts
  src/frontend/tests/pui_importing.spec.ts
  src/frontend/tests/pui_machines.spec.ts
  src/frontend/tests/pui_settings.spec.ts
  src/frontend/yarn.lock
Due: Frontend

Fix for dashboard item logic
  src/frontend/src/components/dashboard/widgets/QueryCountDashboardWidget.tsx
Due: Frontend

Fix for dashboard item logic (#11960)
  src/frontend/src/components/dashboard/widgets/QueryCountDashboardWidget.tsx
Due: Frontend

Simplify attachment renaming
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/serializers.py
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/src/tables/general/AttachmentTable.tsx
Due: Backend General, Frontend

Capture the actual saved path
  src/backend/InvenTree/common/models.py
Due: Backend General

Tweak attachment table fields
  src/frontend/src/tables/general/AttachmentTable.tsx
Due: Frontend

add support for icons and colors in primary actions
  src/backend/InvenTree/plugin/samples/integration/user_interface_sample.py
  src/frontend/src/components/buttons/PrimaryActionButton.tsx
  src/frontend/src/components/nav/PageDetail.tsx
Due: Backend Apps, Frontend

add changelog entry
  CHANGELOG.md
Due: none

add docs
  docs/docs/plugins/mixins/ui.md
Due: none

add more detailed sample text
  src/backend/InvenTree/plugin/base/ui/mixins.py
Due: Backend Apps

pass location into context
  src/frontend/src/components/nav/PageDetail.tsx
Due: Frontend

Use built-in validation
  src/backend/InvenTree/common/models.py
Due: Backend General

Update docs
  docs/docs/concepts/attachments.md
Due: none

Unit testing
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/test_api.py
Due: Backend General

Ignore some lines from coverage
  src/backend/InvenTree/common/models.py
Due: Backend General

Check if file exists before deleting
  src/backend/InvenTree/common/models.py
Due: Backend General

[feature] Rename attachments (#11920)
  CHANGELOG.md
  docs/docs/concepts/attachments.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/common/test_api.py
  src/frontend/src/tables/general/AttachmentTable.tsx
Due: Backend General, Frontend

Add new Attachment model fields:
  src/backend/InvenTree/common/migrations/0042_attachment_is_image_attachment_thumbnail.py
  src/backend/InvenTree/common/models.py
Due: Backend General

Cache if the attachment is an image
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/serializers.py
  src/frontend/src/tables/general/AttachmentTable.tsx
Due: Backend General, Frontend

Add new setting for controlling max upload size
  docs/docs/settings/global.md
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/common/setting/system.py
  src/frontend/src/components/items/AttachmentLink.tsx
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
  src/frontend/src/tables/general/AttachmentTable.tsx
Due: Backend General, Frontend

Validate uploaded attachment file
  src/backend/InvenTree/common/migrations/0042_attachment_is_image_attachment_thumbnail.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/validators.py
Due: Backend General

Add tqdm for progress bars
  src/backend/requirements-3.14.txt
  src/backend/requirements.in
  src/backend/requirements.txt
Due: none

Refactor migrations
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/migrations/0042_attachment_is_image_attachment_thumbnail.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/serializers.py
  src/frontend/src/tables/general/AttachmentTable.tsx
Due: Backend General, Frontend

Data migration for existing attachments
  src/backend/InvenTree/common/migrations/0043_auto_20260518_1206.py
Due: Backend General

Fix build issue
  src/frontend/src/pages/stock/TransferOrderDetail.tsx
Due: Frontend

Remove image download support
  docs/docs/settings/global.md
  src/backend/InvenTree/InvenTree/helpers_model.py
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/part/serializers.py
  src/frontend/src/components/details/DetailsImage.tsx
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
Due: Backend Apps, Backend General, Frontend

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Update tests and validators
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/tests.py
  src/backend/InvenTree/common/validators.py
Due: Backend General

Install packages for blocknote
  src/frontend/package.json
  src/frontend/yarn.lock
Due: Frontend
