Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Remove dud line
  src/backend/InvenTree/InvenTree/config.py
Due: none

[bug] Media url fix (#10855)
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/tests.py
Due: Backend General

Better handling of an invalid config file (#10857)
  src/backend/InvenTree/InvenTree/config.py
Due: none

add filter for all
  src/backend/InvenTree/web/api.py
  src/backend/InvenTree/web/serializers.py
Due: Backend Apps

Refactor NumberField into separate component
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/src/components/forms/fields/AutoFillRightSection.tsx
  src/frontend/src/components/forms/fields/NumberField.tsx
  src/frontend/src/components/forms/fields/TextField.tsx
Due: Frontend

Add helper func to ensure a number is a number
  src/frontend/lib/functions/Conversion.tsx
Due: Frontend

Use placeholder value for suggested sale price
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/src/forms/SalesOrderForms.tsx
Due: Frontend

Fix for auto-fill
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/src/components/forms/fields/AutoFillRightSection.tsx
  src/frontend/src/components/forms/fields/NumberField.tsx
  src/frontend/src/components/forms/fields/TextField.tsx
Due: Frontend

Tweak price calculation
  src/frontend/src/forms/SalesOrderForms.tsx
Due: Frontend

Add UI testing for sales order price breaks
  src/frontend/src/forms/SalesOrderForms.tsx
  src/frontend/tests/pages/pui_build.spec.ts
  src/frontend/tests/pages/pui_sales_order.spec.ts
Due: Frontend

Fix aria label name
  src/frontend/src/components/forms/fields/AutoFillRightSection.tsx
Due: Frontend

Annotate price breaks to supplier part
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/part/serializers.py
  src/frontend/src/forms/PurchaseOrderForms.tsx
Due: Backend Apps, Frontend

Fetch price break data
  src/frontend/src/forms/PurchaseOrderForms.tsx
  src/frontend/src/forms/SalesOrderForms.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
Due: Frontend

Support price breaks for purchase order pricing
  src/frontend/src/forms/PurchaseOrderForms.tsx
  src/frontend/src/forms/SalesOrderForms.tsx
Due: Frontend

Fix required to prevent circular imports
  src/backend/InvenTree/company/api.py
  src/backend/InvenTree/company/serializers.py
Due: Backend Apps

Add playwright tests for purchase order price breaks
  src/frontend/tests/pages/pui_purchase_order.spec.ts
Due: Frontend

Add helper func getOverviewUrl
  src/frontend/lib/functions/Navigation.tsx
Due: Frontend

Redirect to parent page when stock item is counted to zero
  src/frontend/src/pages/stock/StockDetail.tsx
Due: Frontend

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Re-add output options for SupplierPriceBreakList
  src/backend/InvenTree/company/api.py
Due: Backend Apps

Update tasks.py
  tasks.py
Due: none

fix style
  src/backend/InvenTree/web/types.py
Due: Backend Apps

[UI] Delete stock fix (#10868)
  src/frontend/lib/functions/Navigation.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
Due: Frontend

fix install issues
  src/backend/InvenTree/web/apps.py
Due: Backend Apps

fix bool
  src/backend/InvenTree/web/apps.py
Due: Backend Apps

Implement caching for unit registry:
  src/backend/InvenTree/InvenTree/conversion.py
Due: none

Simplify code
  src/backend/InvenTree/InvenTree/conversion.py
Due: none

Revert change
  src/frontend/src/components/forms/fields/ApiFormField.tsx
Due: Frontend

Simplify unit test
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Implement caching for unit registry: (#10870)
  src/backend/InvenTree/InvenTree/conversion.py
Due: none

[UI] Suggested pricing (#10867)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/company/api.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/part/serializers.py
  src/frontend/lib/functions/Conversion.tsx
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/src/components/forms/fields/AutoFillRightSection.tsx
  src/frontend/src/components/forms/fields/NumberField.tsx
  src/frontend/src/components/forms/fields/TextField.tsx
  src/frontend/src/forms/PurchaseOrderForms.tsx
  src/frontend/src/forms/SalesOrderForms.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
  src/frontend/tests/pages/pui_build.spec.ts
  src/frontend/tests/pages/pui_part.spec.ts
  src/frontend/tests/pages/pui_purchase_order.spec.ts
  src/frontend/tests/pages/pui_sales_order.spec.ts
Due: Backend Apps, Frontend

[plugin] Add printing delay to sample machines
  src/backend/InvenTree/plugin/samples/machines/sample_printer.py
Due: Backend Apps

Add backup_value to MachineSetting.get_setting
  src/backend/InvenTree/machine/machine_type.py
Due: Backend Apps

Fix call to machine.get_setting
  src/backend/InvenTree/plugin/samples/machines/sample_printer.py
Due: Backend Apps

Fix for printing logic
  src/backend/InvenTree/plugin/samples/machines/sample_printer.py
Due: Backend Apps

Reverted tasks.py, disabled signals in user model when importing data
  src/backend/InvenTree/users/models.py
  tasks.py
Due: Backend Apps

Fix for sales order allocations:
  src/frontend/src/hooks/UseForm.tsx
  src/frontend/src/tables/sales/SalesOrderAllocationTable.tsx
Due: Frontend

Same fix for build order
  src/frontend/src/tables/build/BuildAllocatedStockTable.tsx
Due: Frontend

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
