Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Enable event batching for BulkdCreate API mixin
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/common/test_api.py
Due: Backend General

Fix duplicate save event for Parameter
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/common/test_api.py
  src/backend/InvenTree/report/serializers.py
Due: Backend Apps, Backend General

Update version.py
  src/backend/InvenTree/InvenTree/version.py
Due: none

Apply event batching for bulk_update
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

Similar testing for bulk_delete
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps

prevent duplicate save event when creating a part
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

prevent duplicate save event when creating a part (#12406)
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Bulk create events (#12405)
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/common/test_api.py
  src/backend/InvenTree/part/test_api.py
  src/backend/InvenTree/report/serializers.py
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps, Backend General

Update version.py (#12404)
  src/backend/InvenTree/InvenTree/version.py
Due: none

[UI] Display error information in boundary (#12403)
  src/frontend/lib/components/Boundary.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/SecurityContent.tsx
Due: Frontend

adding
  documentacao/diagrams/classDiagram.md
  documentacao/diagrams/componentsDiagram.md
  documentacao/diagrams/sequenceDiagram.md
  documentacao/discovery/JTBD.md
  documentacao/requirements/MVP.md
Due: none

bump soupsieve
  docs/requirements.txt
Due: none

general deps bump
  docs/requirements.txt
Due: none

fix style
  contrib/container/requirements.txt
  docs/requirements.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

master bump
  contrib/container/requirements.txt
  contrib/dev_reqs/requirements.txt
  docs/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

fix docs reqs (#12407)
  docs/requirements.txt
Due: none

Adjust unit test
  src/backend/InvenTree/InvenTree/test_helpers_db.py
Due: none

fix(reports): read file as binary so content and content size matches
  src/backend/InvenTree/report/apps.py
Due: Backend Apps

Reorganize and consolidate documentation
  documentacao/ai_usage/uso_de_ia.md
  documentacao/cenarios_de_teste.md
  documentacao/diagrams/classDiagram.md
  documentacao/diagrams/componentsDiagram.md
  documentacao/diagrams/diagrams.md
  documentacao/diagrams/sequenceDiagram.md
  documentacao/discovery/definicao_do_mvp.md
  documentacao/discovery/design_thinking.md
  documentacao/discovery/priorizacao_mvp.md
  documentacao/requirements/MVP.md
  documentacao/requirements/backlog.md
Due: none

feat(ui): show variant stock indicator in parts table (#5959)
  src/frontend/src/components/tables/PartStockCell.tsx
  src/frontend/src/tables/part/ParametricPartTable.tsx
  src/frontend/src/tables/part/PartTable.tsx
Due: Frontend

`feat(cli): categorizar erros da CLI com sugestão de correção (US01/US02)`
  ai-usage/design_thinking_prompts.md
  cli_error_handling.py
  tasks.py
  test_cli_error_handling.py
Due: none

`feat(cli): categorizar erros da CLI com sugestão de correção (US01/US02)`
  cli_error_handling.py
  documentacao/ai-usage/design_thinking_prompts.md
  documentacao/ai-usage/uso_de_ia.md
  documentacao/diagrams/classDiagram.md
  documentacao/diagrams/componentsDiagram.md
  documentacao/diagrams/sequenceDiagram.md
  documentacao/discovery/definicao_do_mvp.md
  documentacao/discovery/design_thinking.md
  documentacao/discovery/priorizacao_mvp.md
  documentacao/requirements/backlog.md
  documentacao/requirements/cenarios_de_teste.md
  tasks.py
  test_cli_error_handling.py
Due: none

Update tasks.py
  tasks.py
Due: none

api bump
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Delete documentacao directory
  documentacao/ai-usage/design_thinking_prompts.md
  documentacao/ai-usage/uso_de_ia.md
  documentacao/discovery/JTBD.md
  documentacao/discovery/definicao_do_mvp.md
  documentacao/discovery/design_thinking.md
  documentacao/discovery/priorizacao_mvp.md
  documentacao/requirements/MVP.md
  documentacao/requirements/backlog.md
  documentacao/requirements/cenarios_de_teste.md
Due: none

fix(ui): show initial stock fields when PART_CREATE_INITIAL enabled (#12266)
  src/frontend/src/forms/PartForms.tsx
  src/frontend/tests/pui_forms.spec.ts
Due: Frontend

fix: resolve update_available notification dedup and link (#12399)
  src/backend/InvenTree/InvenTree/tasks.py
  src/backend/InvenTree/InvenTree/test_tasks.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/notifications.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/common/tests.py
  src/frontend/src/components/nav/NotificationDrawer.tsx
Due: Backend General, Frontend

Fix Docker setup for local Windows deployment.
  contrib/container/.env
  contrib/container/docker-compose.yml
Due: none

Fix Redis write failures on Windows Docker bind mounts.
  contrib/container/docker-compose.yml
Due: none

Add Docker Compose healthchecks for production stack
  contrib/container/docker-compose.yml
Due: none

Document Docker Compose container health checks
  CHANGELOG.md
  docs/docs/start/docker_install.md
Due: none

fix: trigger pricing recalculation when SupplierPart is saved or deleted
  src/backend/InvenTree/company/models.py
  src/backend/InvenTree/part/test_pricing.py
Due: Backend Apps

feat: add piece_count and piece_size fields to BomItem for cut-to-length parts
  src/backend/InvenTree/part/migrations/0153_bomitem_piece_count_bomitem_piece_size.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/serializers.py
  src/frontend/src/forms/BomForms.tsx
  src/frontend/src/tables/bom/BomTable.tsx
Due: Backend Apps, Frontend

Fix creation date formatting on part detail page
  src/frontend/src/pages/part/PartDetailsPanel.tsx
Due: Frontend

feat(ui): show variant stock indicator in parts table (#5959) (#12413)
  src/frontend/src/components/tables/PartStockCell.tsx
  src/frontend/src/tables/part/ParametricPartTable.tsx
  src/frontend/src/tables/part/PartTable.tsx
Due: Frontend

Fix update notification deduplication and release link
  src/backend/InvenTree/InvenTree/tasks.py
  src/backend/InvenTree/InvenTree/test_tasks.py
  src/backend/InvenTree/common/migrations/0048_notificationmessage_link.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/notifications.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/plugin/builtin/integration/core_notifications.py
Due: Backend Apps, Backend General

Remove 'total_price' annotation
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

Fix update notification deduplication and release link (#12424)
  src/backend/InvenTree/InvenTree/tasks.py
  src/backend/InvenTree/InvenTree/test_tasks.py
  src/backend/InvenTree/common/migrations/0048_notificationmessage_link.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/notifications.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/plugin/builtin/integration/core_notifications.py
Due: Backend Apps, Backend General

Apply fix for migration testing
  src/backend/InvenTree/generic/states/fields.py
Due: Backend General

Revert "Apply fix for migration testing"
  src/backend/InvenTree/generic/states/fields.py
Due: Backend General

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
