Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

fix(backend): auth check middleware for specific media access (#10784)
  src/backend/InvenTree/InvenTree/helpers_mfa.py
  src/backend/InvenTree/InvenTree/middleware.py
  src/backend/InvenTree/InvenTree/test_api.py
  src/backend/InvenTree/InvenTree/test_auth.py
  src/backend/InvenTree/InvenTree/test_middleware.py
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/InvenTree/urls.py
  src/backend/InvenTree/InvenTree/views.py
  src/backend/InvenTree/users/tests.py
Due: Backend Apps

fix merge
  src/backend/InvenTree/InvenTree/middleware.py
Due: none

add error boundary for the case of a login enforcement
  src/frontend/src/components/Boundary.tsx
  src/frontend/src/pages/Index/Settings/AccountSettings/SecurityContent.tsx
Due: Frontend

[1.1.x] fix(backend): auth check middleware for specific media access (#10784) (#10795)
  src/backend/InvenTree/InvenTree/helpers_mfa.py
  src/backend/InvenTree/InvenTree/middleware.py
  src/backend/InvenTree/InvenTree/test_api.py
  src/backend/InvenTree/InvenTree/test_auth.py
  src/backend/InvenTree/InvenTree/test_middleware.py
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/InvenTree/urls.py
  src/backend/InvenTree/InvenTree/views.py
  src/backend/InvenTree/users/tests.py
Due: Backend Apps

ensure registration setup is redirected to
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/src/functions/auth.tsx
Due: Frontend

Add validator for ParameterTemplate model type
  src/backend/InvenTree/common/migrations/0040_parametertemplate.py
  src/backend/InvenTree/common/migrations/0041_auto_20251028_1112.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/common/validators.py
Due: Backend General

API updates
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/common/validators.py
  src/backend/InvenTree/part/models.py
Due: Backend Apps, Backend General

Add definition for Parameter model
  src/backend/InvenTree/common/migrations/0040_parametertemplate.py
  src/backend/InvenTree/common/migrations/0040_parametertemplate_parameter.py
  src/backend/InvenTree/common/migrations/0041_auto_20251028_1112.py
  src/backend/InvenTree/common/models.py
Due: Backend General

Add django admin site integration
  src/backend/InvenTree/common/admin.py
Due: Backend General

Update InvenTreeParameterMixin class
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/serializers.py
Due: Backend General

API endpoints for Parameter instances
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/common/validators.py
Due: Backend General

Refactor UI table for parameter templates
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/PartParameterPanel.tsx
  src/frontend/src/tables/general/ParameterTable.tsx
  src/frontend/src/tables/general/ParameterTemplateTable.tsx
  src/frontend/src/tables/part/PartParameterTemplateTable.tsx
Due: Frontend

fix auth url
  src/frontend/lib/enums/ApiEndpoints.tsx
Due: Frontend

add way to dismiss tests
  src/frontend/lib/components/Tipp.tsx
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/src/states/GuideState.tsx
Due: Frontend

Auto-fill supplier parts in order wizard
  src/frontend/src/components/wizards/OrderPartsWizard.tsx
Due: Frontend

Copy supplier part SKU from order parts wizard
  src/frontend/src/components/buttons/CopyButton.tsx
  src/frontend/src/components/wizards/OrderPartsWizard.tsx
Due: Frontend

Add "on_order" filter to BuildLine table
  src/backend/InvenTree/build/api.py
  src/frontend/src/tables/build/BuildLineTable.tsx
Due: Backend Apps, Frontend

Allow ordering by production and ordering quantities
  src/backend/InvenTree/build/api.py
  src/frontend/src/tables/build/BuildLineTable.tsx
Due: Backend Apps, Frontend

Allow specification of purchase price
  src/frontend/src/components/wizards/OrderPartsWizard.tsx
  src/frontend/src/forms/PurchaseOrderForms.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
Due: Frontend

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Reduce log output for Pint library
  src/backend/InvenTree/InvenTree/conversion.py
Due: none

Reduce log output for Pint library (#10803)
  src/backend/InvenTree/InvenTree/conversion.py
Due: none

Fix for pricing display
  src/frontend/src/pages/part/pricing/BomPricingPanel.tsx
Due: Frontend

Fix for pricing display (#10804)
  src/frontend/src/pages/part/pricing/BomPricingPanel.tsx
Due: Frontend

Adjust UI testings
  src/frontend/tests/pages/pui_purchase_order.spec.ts
Due: Frontend

Extract note field when receiving stock items against PO
  src/backend/InvenTree/order/models.py
Due: Backend Apps

Fix tracking entry when receiving item
  src/backend/InvenTree/order/models.py
Due: Backend Apps

PO receive fix (#10807)
  src/backend/InvenTree/order/models.py
Due: Backend Apps

[UI] Order form improvements (#10802)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/build/api.py
  src/frontend/src/components/buttons/CopyButton.tsx
  src/frontend/src/components/wizards/OrderPartsWizard.tsx
  src/frontend/src/forms/PurchaseOrderForms.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/tests/pages/pui_purchase_order.spec.ts
Due: Backend Apps, Frontend

Allow duplication of supplier part
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
Due: Frontend

Bug fix for pack quantity display
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
Due: Frontend

Allow duplication of ManufacturerPart
  src/frontend/src/tables/purchasing/ManufacturerPartTable.tsx
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
Due: Frontend

Add "item_type" to BuildAutoAllocationSerializer
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/serializers.py
Due: Backend Apps

Update frontend to allow selection
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/serializers.py
  src/frontend/src/forms/BuildForms.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
Due: Backend Apps, Frontend

Stub for allocating tracked items
  src/backend/InvenTree/build/models.py
Due: Backend Apps

[UI] Duplicate supplier part (#10809)
  src/frontend/src/tables/purchasing/ManufacturerPartTable.tsx
  src/frontend/src/tables/purchasing/SupplierPartTable.tsx
Due: Frontend
