Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Add explicit permission checks for barcode scanning
  src/backend/InvenTree/plugin/base/barcodes/api.py
Due: Backend Apps

Additional unit tests
  src/backend/InvenTree/plugin/base/barcodes/test_barcode.py
  src/backend/InvenTree/plugin/builtin/suppliers/test_supplier_barcodes.py
Due: Backend Apps

Handle missing part
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Handle missing part (#12566)
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Deduplicate part pricing updates per session (#12564)
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Specify JSON encoder for data import fields
  src/backend/InvenTree/importer/migrations/0008_alter_dataimportrow_data_alter_dataimportrow_errors_and_more.py
  src/backend/InvenTree/importer/models.py
Due: Backend Apps

Add regression test
  src/backend/InvenTree/importer/tests.py
Due: Backend Apps

[API] Restrict barcode scan history
  src/backend/InvenTree/plugin/base/barcodes/api.py
  src/backend/InvenTree/plugin/base/barcodes/test_barcode.py
Due: Backend Apps

Fix faulty error handler
  src/backend/InvenTree/importer/models.py
  src/backend/InvenTree/importer/tests.py
Due: Backend Apps

[bug] Validate location when completing build outputs
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

Barcode API bugs (#12565)
  src/backend/InvenTree/plugin/base/barcodes/api.py
  src/backend/InvenTree/plugin/base/barcodes/test_barcode.py
  src/backend/InvenTree/plugin/builtin/suppliers/test_supplier_barcodes.py
Due: Backend Apps

[API] Handle AppRegistryNotReady
  src/backend/InvenTree/InvenTree/exceptions.py
  src/backend/InvenTree/InvenTree/test_api.py
  src/backend/InvenTree/plugin/base/ui/tests.py
Due: Backend Apps

[refactor] Improve efficiency of check_missing_pricing
  src/backend/InvenTree/part/tasks.py
  src/backend/InvenTree/part/test_pricing.py
Due: Backend Apps

[API] Handle AppRegistryNotReady (#12571)
  src/backend/InvenTree/InvenTree/exceptions.py
  src/backend/InvenTree/InvenTree/test_api.py
  src/backend/InvenTree/plugin/base/ui/tests.py
Due: Backend Apps

[bug] Fix part duplicate checks
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

Additional unit tests
  src/backend/InvenTree/part/test_part.py
Due: Backend Apps

[bug] Fix post-delete actions
  src/backend/InvenTree/company/models.py
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

[bug] excel encoding for data import
  src/backend/InvenTree/importer/operations.py
  src/backend/InvenTree/importer/tests.py
Due: Backend Apps

[bug] Fix getLogoImage helper
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

[refactor] Improve efficiency of check_missing_pricing (#12572)
  src/backend/InvenTree/part/tasks.py
  src/backend/InvenTree/part/test_pricing.py
Due: Backend Apps

cleanup code
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/report/helpers.py
  src/backend/InvenTree/report/templatetags/report.py
Due: Backend Apps

[bug] Handle deleted Part
  src/backend/InvenTree/part/models.py
Due: Backend Apps

[bug] excel encoding for data import (#12576)
  src/backend/InvenTree/importer/operations.py
  src/backend/InvenTree/importer/tests.py
Due: Backend Apps

[bug] Fix post-delete actions (#12575)
  src/backend/InvenTree/company/models.py
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

[bug] Fix getLogoImage helper (#12577)
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/report/helpers.py
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

[bug] Fix part duplicate checks (#12574)
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/test_api.py
  src/backend/InvenTree/part/test_part.py
Due: Backend Apps

Fix flaky test on sqlite
  src/backend/InvenTree/plugin/samples/integration/test_scheduled_task.py
Due: Backend Apps

[docker] Include pip license file
  contrib/container/Dockerfile
  tasks.py
Due: none

Add CI test
  .github/workflows/docker.yaml
Due: none

[sentry] Do not report MethodNotAllowed
  src/backend/InvenTree/InvenTree/sentry.py
Due: none

Fix frontend formatting
  src/frontend/src/tables/stock/StockItemTestResultTable.tsx
Due: Frontend

Fix flaky test on sqlite (#12582)
  src/backend/InvenTree/plugin/samples/integration/test_scheduled_task.py
Due: Backend Apps

Avoid mutating test result records
  src/frontend/src/tables/stock/StockItemTestResultTable.tsx
Due: Frontend

[sentry] Do not report MethodNotAllowed (#12584)
  src/backend/InvenTree/InvenTree/sentry.py
Due: none

Add filtered detail navigation
  src/frontend/src/components/nav/PageDetail.tsx
  src/frontend/src/components/panels/PanelGroup.tsx
  src/frontend/src/components/tables/InvenTreeTable.tsx
  src/frontend/src/functions/DetailNavigation.ts
  src/frontend/src/hooks/UseDetailNavigation.tsx
Due: Frontend

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
