Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Enable filtering of stock tracking entries by part
  src/backend/InvenTree/stock/api.py
  src/backend/InvenTree/stock/serializers.py
Due: Backend Apps

Enable filtering by date range
  src/backend/InvenTree/stock/api.py
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/status_codes.py
  src/frontend/src/tables/stock/StockTrackingTable.tsx
Due: Backend Apps, Frontend

Add simple playwright test
  src/frontend/tests/pages/pui_dashboard.spec.ts
Due: Frontend

Fix typing
  src/frontend/tests/pages/pui_dashboard.spec.ts
Due: Frontend

Display stock tracking for part
  src/frontend/src/pages/part/PartStockHistoryDetail.tsx
Due: Frontend

Table enhancements
  src/frontend/src/tables/stock/StockTrackingTable.tsx
Due: Frontend

[enhancement] Stocktake updates (#11257)
  docs/docs/assets/images/part/part_stocktake_manual.png
  docs/docs/assets/images/part/stocktake_report_dashboard.png
  docs/docs/part/stocktake.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/data_exporter/mixins.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/part/stocktake.py
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/src/components/dashboard/DashboardWidgetLibrary.tsx
  src/frontend/src/components/dashboard/widgets/StocktakeDashboardWidget.tsx
  src/frontend/src/forms/PartForms.tsx
  src/frontend/src/pages/part/PartStockHistoryDetail.tsx
  src/frontend/tests/pages/pui_dashboard.spec.ts
Due: Backend Apps, Frontend

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Display stock item column
  src/frontend/src/pages/part/PartStockHistoryDetail.tsx
  src/frontend/src/tables/stock/StockTrackingTable.tsx
Due: Frontend

Ensure 'quantity' is recorded for stock tracking entries
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

Add new global settings
  src/backend/InvenTree/common/setting/system.py
  src/frontend/src/components/settings/SettingList.tsx
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
  src/frontend/src/tables/stock/StockTrackingTable.tsx
Due: Backend General, Frontend

Adds background task for deleting old stock tracking entries
  src/backend/InvenTree/stock/tasks.py
Due: Backend Apps

Docs updates
  docs/docs/api/schema.md
  docs/docs/hooks.py
  docs/docs/part/stocktake.md
  docs/docs/stock/index.md
  docs/docs/stock/status.md
  docs/docs/stock/traceability.md
  docs/docs/stock/tracking.md
  docs/mkdocs.yml
  src/backend/InvenTree/part/tasks.py
Due: Backend Apps

Enhanced docs
  docs/docs/assets/images/stock/part_tracking_history.png
  docs/docs/assets/images/stock/stock_item_tracking_history.png
  docs/docs/stock/index.md
  docs/docs/stock/tracking.md
Due: none

Rough in UI docs
  docs/docs/assets/images/concepts/ui_breadcrumbs.png
  docs/docs/assets/images/concepts/ui_dashboard.png
  docs/docs/assets/images/concepts/ui_dashboard_edit.png
  docs/docs/assets/images/concepts/ui_main_menu.png
  docs/docs/assets/images/concepts/ui_navigation_menu.png
  docs/docs/assets/images/concepts/ui_navigation_tree.png
  docs/docs/assets/images/concepts/ui_panels.png
  docs/docs/assets/images/concepts/ui_user_menu.png
  docs/docs/concepts/user_interface.md
  docs/mkdocs.yml
Due: none

Fix links
  docs/docs/concepts/user_interface.md
Due: none

Table documentation
  docs/docs/assets/images/concepts/ui_calendar_select.png
  docs/docs/assets/images/concepts/ui_calendar_view.png
  docs/docs/assets/images/concepts/ui_parametric_select.png
  docs/docs/assets/images/concepts/ui_parametric_view.png
  docs/docs/assets/images/concepts/ui_table.png
  docs/docs/assets/images/concepts/ui_table_actions.png
  docs/docs/assets/images/concepts/ui_table_column_selection.png
  docs/docs/assets/images/concepts/ui_table_context_menu.png
  docs/docs/assets/images/concepts/ui_table_download.png
  docs/docs/assets/images/concepts/ui_table_filter_button.png
  docs/docs/assets/images/concepts/ui_table_filter_menu.png
  docs/docs/assets/images/concepts/ui_table_row_actions.png
  docs/docs/assets/images/concepts/ui_table_row_selection.png
  docs/docs/assets/images/concepts/ui_table_search.png
  docs/docs/assets/images/concepts/ui_table_sorting.png
  docs/docs/concepts/user_interface.md
  docs/docs/plugins/builtin/inventree_exporter.md
  src/frontend/src/components/calendar/Calendar.tsx
  src/frontend/src/tables/InvenTreeTableHeader.tsx
Due: Frontend

Forms
  docs/docs/assets/images/concepts/ui_form_add_part.png
  docs/docs/assets/images/concepts/ui_form_edit_po.png
  docs/docs/assets/images/concepts/ui_form_hold_po.png
  docs/docs/concepts/user_interface.md
Due: none

search
  docs/docs/assets/images/concepts/ui_global_search.png
  docs/docs/assets/images/concepts/ui_global_search_view_all.png
  docs/docs/concepts/user_interface.md
Due: none

Notifications
  docs/docs/assets/images/concepts/ui_notifications_menu.png
  docs/docs/assets/images/concepts/ui_spotlight.png
Due: none

[build] Check for allocated items which are in production
  src/backend/InvenTree/build/models.py
Due: Backend Apps

Cast quantity to float
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

Rever data migration
  src/backend/InvenTree/stock/migrations/0118_auto_20260205_1218.py
Due: Backend Apps

Ensure part link gets created
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

Improved prefetch for API
  src/backend/InvenTree/stock/serializers.py
Due: Backend Apps

UI documentation (#11262)
  docs/docs/assets/images/concepts/ui_breadcrumbs.png
  docs/docs/assets/images/concepts/ui_calendar_select.png
  docs/docs/assets/images/concepts/ui_calendar_view.png
  docs/docs/assets/images/concepts/ui_dashboard.png
  docs/docs/assets/images/concepts/ui_dashboard_edit.png
  docs/docs/assets/images/concepts/ui_form_add_part.png
  docs/docs/assets/images/concepts/ui_form_edit_po.png
  docs/docs/assets/images/concepts/ui_form_hold_po.png
  docs/docs/assets/images/concepts/ui_global_search.png
  docs/docs/assets/images/concepts/ui_global_search_view_all.png
  docs/docs/assets/images/concepts/ui_main_menu.png
  docs/docs/assets/images/concepts/ui_navigation_menu.png
  docs/docs/assets/images/concepts/ui_navigation_tree.png
  docs/docs/assets/images/concepts/ui_notifications_menu.png
  docs/docs/assets/images/concepts/ui_panels.png
  docs/docs/assets/images/concepts/ui_parametric_select.png
  docs/docs/assets/images/concepts/ui_parametric_view.png
  docs/docs/assets/images/concepts/ui_spotlight.png
  docs/docs/assets/images/concepts/ui_table.png
  docs/docs/assets/images/concepts/ui_table_actions.png
  docs/docs/assets/images/concepts/ui_table_column_selection.png
  docs/docs/assets/images/concepts/ui_table_context_menu.png
  docs/docs/assets/images/concepts/ui_table_download.png
  docs/docs/assets/images/concepts/ui_table_filter_button.png
  docs/docs/assets/images/concepts/ui_table_filter_menu.png
  docs/docs/assets/images/concepts/ui_table_row_actions.png
  docs/docs/assets/images/concepts/ui_table_row_selection.png
  docs/docs/assets/images/concepts/ui_table_search.png
  docs/docs/assets/images/concepts/ui_table_sorting.png
  docs/docs/assets/images/concepts/ui_user_menu.png
  docs/docs/concepts/user_interface.md
  docs/docs/plugins/builtin/inventree_exporter.md
  docs/mkdocs.yml
  src/frontend/src/components/calendar/Calendar.tsx
  src/frontend/src/tables/InvenTreeTableHeader.tsx
Due: Frontend

[build] Check for allocated items which are in production (#11263)
  src/backend/InvenTree/build/models.py
Due: Backend Apps

Playwright testing
  src/frontend/tests/pages/pui_stock.spec.ts
Due: Frontend

feat(images): implement InvenTreeImage model and migration for part and company images
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/common/migrations/0042_inventreeimage.py
  src/backend/InvenTree/common/migrations/0043_migrate_part_images.py
  src/backend/InvenTree/common/migrations/0044_migrate_company_images.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/company/migrations/0076_remove_company_image.py
  src/backend/InvenTree/company/migrations/0078_remove_company_image.py
  src/backend/InvenTree/part/migrations/0143_remove_part_image.py
  src/backend/InvenTree/part/migrations/0147_remove_part_image.py
Due: Backend Apps, Backend General

initial skel commit for transfer orders
  src/frontend/src/pages/stock/LocationDetail.tsx
Due: Frontend

initial transfer order backend model
  src/backend/InvenTree/order/admin.py
  src/backend/InvenTree/order/migrations/0115_transferorder.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/status_codes.py
  src/backend/InvenTree/order/validators.py
Due: Backend Apps

adding from admin console works
  src/backend/InvenTree/order/admin.py
  src/backend/InvenTree/order/models.py
Due: Backend Apps

add some serializers, rename PLACED to ISSUED for TransferOrders
  src/backend/InvenTree/order/events.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/order/status_codes.py
Due: Backend Apps

add other cols to table
  src/frontend/src/tables/stock/TransferOrderTable.tsx
Due: Frontend

simple table list almost working, but we need to add order line items....
  src/backend/InvenTree/order/api.py
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/lib/enums/ModelType.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
  src/frontend/src/tables/stock/TransferOrderTable.tsx
Due: Backend Apps, Frontend

allocations table actions
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/serializers.py
  src/frontend/src/forms/TransferOrderForms.tsx
  src/frontend/src/pages/stock/TransferOrderDetail.tsx
  src/frontend/src/tables/stock/TransferOrderAllocationTable.tsx
Due: Backend Apps, Frontend

edit/duplicate transfer order
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/serializers.py
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/src/functions/icons.tsx
  src/frontend/src/pages/stock/TransferOrderDetail.tsx
Due: Backend Apps, Frontend

disable edit allocations when completed
  src/frontend/src/pages/stock/TransferOrderDetail.tsx
  src/frontend/src/tables/stock/TransferOrderLineItemTable.tsx
Due: Frontend

add other detail grid items
  src/frontend/src/pages/stock/TransferOrderDetail.tsx
Due: Frontend

allocate serials
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/serializers.py
  src/frontend/src/forms/TransferOrderForms.tsx
  src/frontend/src/tables/stock/TransferOrderLineItemTable.tsx
Due: Backend Apps, Frontend
