Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Refactor conversion func
  src/backend/InvenTree/common/currency.py
  src/backend/InvenTree/part/models.py
Due: Backend Apps, Backend General

Add type hints to plugin stubs
  src/backend/InvenTree/InvenTree/helpers.py
  src/backend/InvenTree/common/pricing.py
  src/backend/InvenTree/plugin/base/integration/PricingMixin.py
Due: Backend Apps, Backend General

Raise MixinNotImplementedError
  src/backend/InvenTree/plugin/builtin/integration/inventree_pricing.py
  src/backend/InvenTree/plugin/builtin/integration/pricing.py
Due: Backend Apps

Copy pricing related settings to the default plugin
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/plugin/builtin/integration/inventree_pricing.py
Due: Backend Apps, Backend General

Migrate some functionality
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/plugin/builtin/integration/inventree_pricing.py
Due: Backend Apps

Migrate calculation of variant cost
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/plugin/builtin/integration/inventree_pricing.py
Due: Backend Apps

Implement internal pricing
  src/backend/InvenTree/plugin/builtin/integration/inventree_pricing.py
Due: Backend Apps

Remove junk file
  =0.9.4
Due: none

Remove junk file (#10671)
  =0.9.4
Due: none

Cleaner handling of inputs
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/stock/api.py
Due: Backend Apps

Fix for frontend form:
  src/frontend/src/pages/stock/LocationDetail.tsx
Due: Frontend

Tweak part category delete form
  src/frontend/src/pages/part/CategoryDetail.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
Due: Frontend

Add frontend tests
  src/frontend/src/pages/part/CategoryDetail.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
  src/frontend/tests/pages/pui_stock.spec.ts
Due: Frontend

Improve rendering of SupplierPart in forms
  src/frontend/src/components/render/Company.tsx
Due: Frontend

Ensure boolean values have default
  src/frontend/src/components/forms/fields/BooleanField.tsx
Due: Frontend

Bump software version to 1.0.9
  src/backend/InvenTree/InvenTree/version.py
Due: none

Display PendingShipments panel
  src/backend/InvenTree/order/serializers.py
  src/frontend/src/forms/SalesOrderForms.tsx
  src/frontend/src/pages/sales/SalesIndex.tsx
  src/frontend/src/tables/sales/SalesOrderShipmentTable.tsx
Due: Backend Apps, Frontend

Update UI tests
  src/frontend/tests/pages/pui_sales_order.spec.ts
Due: Frontend

add separate page for troubleshooting
  docs/docs/faq.md
  docs/docs/troubleshooting.md
  docs/mkdocs.yml
Due: none

Bump software version to 1.0.9 (#10674)
  src/backend/InvenTree/InvenTree/version.py
Due: none

Restructure menus a bit
  docs/mkdocs.yml
Due: none

Fix top-level page for mobile app
  docs/mkdocs.yml
Due: none

Add option to override default value in docs
  docs/main.py
Due: none

Update global.md
  docs/docs/settings/global.md
Due: none

Formatting updates
  docs/docs/assets/images/admin/export.png
  docs/docs/assets/images/admin/export_options.png
  docs/docs/settings/admin.md
  docs/docs/settings/export.md
  docs/docs/settings/permissions.md
  docs/mkdocs.yml
Due: none

Delete locations fix (#10672)
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/stock/api.py
  src/frontend/src/pages/part/CategoryDetail.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
  src/frontend/tests/pages/pui_stock.spec.ts
Due: Backend Apps, Frontend

Stock form fixes (#10673)
  src/frontend/src/components/forms/fields/BooleanField.tsx
  src/frontend/src/components/render/Company.tsx
Due: Frontend

Update sales pages
  docs/docs/assets/images/sales/complete_shipment.png
  docs/docs/assets/images/sales/completed_shipments.png
  docs/docs/assets/images/sales/customers.png
  docs/docs/assets/images/sales/edit_shipment.png
  docs/docs/assets/images/sales/pending_shipments.png
  docs/docs/assets/images/sales/return_order_create.png
  docs/docs/assets/images/sales/return_order_detail.png
  docs/docs/assets/images/sales/return_order_enable.png
  docs/docs/assets/images/sales/return_order_index.png
  docs/docs/assets/images/sales/return_order_navbar.png
  docs/docs/assets/images/sales/ro_calendar.png
  docs/docs/assets/images/sales/ro_display.png
  docs/docs/assets/images/sales/ro_list.png
  docs/docs/assets/images/sales/so_calendar.png
  docs/docs/assets/images/sales/so_display.png
  docs/docs/assets/images/sales/so_list.png
  docs/docs/assets/images/sales/so_shipment_check.png
  docs/docs/sales/customer.md
  docs/docs/sales/return_order.md
  docs/docs/sales/sales_order.md
Due: none

Move order images to "purchasing"
  docs/docs/assets/images/purchasing/assign_project_code.png
  docs/docs/assets/images/purchasing/company_disable.png
  docs/docs/assets/images/purchasing/contact_list.png
  docs/docs/assets/images/purchasing/disable_supplier_part.png
  docs/docs/assets/images/purchasing/disable_supplier_part_edit.png
  docs/docs/assets/images/purchasing/filter_by_project.png
  docs/docs/assets/images/purchasing/manufacturer_list.png
  docs/docs/assets/images/purchasing/po_calendar.png
  docs/docs/assets/images/purchasing/po_display.png
  docs/docs/assets/images/purchasing/po_duplicate.png
  docs/docs/assets/images/purchasing/po_duplicate_2.png
  docs/docs/assets/images/purchasing/po_duplicate_3.png
  docs/docs/assets/images/purchasing/po_list.png
  docs/docs/assets/images/purchasing/supplier_list.png
  docs/docs/assets/images/purchasing/supplier_part_availability.png
  docs/docs/assets/images/purchasing/update_availability.png
  docs/docs/concepts/company.md
  docs/docs/concepts/project_codes.md
  docs/docs/purchasing/manufacturer.md
  docs/docs/purchasing/purchase_order.md
  docs/docs/purchasing/supplier.md
Due: none

Small tweaks
  docs/docs/part/trackable.md
  docs/docs/purchasing/manufacturer.md
  docs/docs/stock/index.md
Due: none

Make "Concepts" a top-level documentation item
  docs/mkdocs.yml
Due: none

Update image
  docs/docs/assets/images/settings/project_codes.png
  docs/docs/concepts/threat_model.md
  docs/docs/stock/owner.md
Due: none

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

[UI] Shipments table (#10675)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/order/serializers.py
  src/frontend/src/forms/SalesOrderForms.tsx
  src/frontend/src/pages/sales/SalesIndex.tsx
  src/frontend/src/tables/sales/SalesOrderShipmentTable.tsx
  src/frontend/tests/pages/pui_sales_order.spec.ts
Due: Backend Apps, Frontend

[UI] Shipments dashboard widget
  src/frontend/lib/enums/ModelInformation.tsx
  src/frontend/src/components/dashboard/DashboardWidgetLibrary.tsx
Due: Frontend

[UI] Shipments dashboard widget (#10679)
  src/frontend/lib/enums/ModelInformation.tsx
  src/frontend/src/components/dashboard/DashboardWidgetLibrary.tsx
Due: Frontend

Better quantity rendering
  src/frontend/src/tables/part/PartPurchaseOrdersTable.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderLineItemTable.tsx
Due: Frontend

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
