Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Ensure BOM validation is properly recomputed on a BOM item update
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Add unit tests
  src/backend/InvenTree/part/test_bom_item.py
Due: Backend Apps

Tweak unit tests
  src/backend/InvenTree/part/test_bom_item.py
Due: Backend Apps

Update 'clear_bom' method
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Fix ApiFormFIeldType docstring
  src/frontend/lib/types/Forms.tsx
Due: Frontend

Case fix
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
Due: Frontend

Add sub-forms for company creation
  src/frontend/src/forms/PurchaseOrderForms.tsx
  src/frontend/src/forms/SalesOrderForms.tsx
Due: Frontend

Tweak component def
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
Due: Frontend

Add new company for manufacturer-part and supplier-part
  src/frontend/src/forms/CompanyForms.tsx
Due: Frontend

Create new parameter template directly from parameter view
  src/frontend/src/forms/CommonForms.tsx
  src/frontend/src/tables/general/ParameterTemplateTable.tsx
Due: Frontend

Add tooltip
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
Due: Frontend

[bug] BOM validation fixes (#11783)
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/test_bom_item.py
Due: Backend Apps

Add playwright tests
  src/frontend/src/forms/CommonForms.tsx
  src/frontend/tests/pages/pui_purchasing.spec.ts
Due: Frontend

Consolidate translation
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
Due: Frontend

feat(frontend): add more generic plugin support on PanelGroup
  src/frontend/src/components/panels/PanelGroup.tsx
Due: Frontend

refactor exsisting use cases
  src/frontend/src/pages/Index/Settings/AdminCenter/Index.tsx
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
  src/frontend/src/pages/build/BuildIndex.tsx
  src/frontend/src/pages/purchasing/PurchasingIndex.tsx
  src/frontend/src/pages/sales/SalesIndex.tsx
Due: Frontend

add plugin panel support to StockLocation closes https://github.com/inventree/InvenTree/issues/11782
  src/frontend/src/pages/stock/LocationDetail.tsx
Due: Frontend

stop re-using model field
  src/frontend/lib/enums/ModelType.tsx
  src/frontend/src/components/panels/PanelGroup.tsx
  src/frontend/src/hooks/UsePluginPanels.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/Index.tsx
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
  src/frontend/src/pages/build/BuildIndex.tsx
  src/frontend/src/pages/purchasing/PurchasingIndex.tsx
  src/frontend/src/pages/sales/SalesIndex.tsx
Due: Frontend

style fix
  src/backend/InvenTree/plugin/installer.py
Due: Backend Apps

adapt to new var name
  src/frontend/src/forms/BomForms.tsx
Due: Frontend

re-order types
  src/frontend/lib/enums/ModelType.tsx
Due: Frontend

add panel support for core
  src/frontend/lib/enums/ModelType.tsx
  src/frontend/src/pages/core/CoreIndex.tsx
Due: Frontend

Revert to left side
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
Due: Frontend

Model permission tweaks
  src/backend/InvenTree/users/permissions.py
Due: Backend Apps

Update CHANGELOG
  CHANGELOG.md
Due: none

Update plugin docs
  docs/docs/plugins/mixins/app.md
Due: none

Add warning
  docs/docs/plugins/mixins/app.md
Due: none

Prevent validation at API level
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/plugin/base/integration/ValidationMixin.py
Due: Backend Apps

Update sample plugin
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/plugin/samples/integration/validation_sample.py
Due: Backend Apps

Add new global setting to assign a BOM validation group
  docs/docs/settings/global.md
  src/backend/InvenTree/common/setting/system.py
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
Due: Backend General, Frontend

Fix title case
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
Due: Frontend

Use new setting
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/plugin/samples/integration/validation_sample.py
  src/frontend/src/components/settings/SettingList.tsx
Due: Backend Apps, Frontend

Simplify BOM table rendering
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

change keys
  src/frontend/src/components/panels/PanelGroup.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/Index.tsx
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
  src/frontend/src/pages/Index/Settings/UserSettings.tsx
  src/frontend/src/pages/build/BuildIndex.tsx
  src/frontend/src/pages/core/CoreIndex.tsx
  src/frontend/src/pages/purchasing/PurchasingIndex.tsx
  src/frontend/src/pages/sales/SalesIndex.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
Due: Frontend

attempt to fix tests
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/models.py
Due: Backend Apps

Fix typecast for db settings
  src/backend/InvenTree/InvenTree/setting/db_backend.py
Due: none

[UI] Create manufacturer part
  src/frontend/src/forms/CompanyForms.tsx
Due: Frontend

Docs updates
  docs/docs/manufacturing/bom.md
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/plugin/base/integration/ValidationMixin.py
  src/backend/InvenTree/plugin/samples/integration/validation_sample.py
Due: Backend Apps

delete transfer order allocations on cancel
  src/backend/InvenTree/order/models.py
Due: Backend Apps

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
