Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Satisfy navigation lint checks
  src/frontend/src/components/nav/PageDetail.tsx
  src/frontend/src/functions/DetailNavigation.ts
Due: Frontend

[bug] Handle deleted Part (#12578)
  src/backend/InvenTree/part/models.py
Due: Backend Apps

[API] Restrict barcode scan history (#12569)
  src/backend/InvenTree/plugin/base/barcodes/api.py
  src/backend/InvenTree/plugin/base/barcodes/test_barcode.py
Due: Backend Apps

Fix missing Fragment import in PageDetail
  src/frontend/src/components/nav/PageDetail.tsx
Due: Frontend

Update contrib/container/Dockerfile
  contrib/container/Dockerfile
Due: none

Fix unit test
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

Fix typo
  .github/workflows/docker.yaml
Due: none

[bug] Fix PartStocktakeSerializer
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

path fix
  .github/workflows/docker.yaml
Due: none

More pathing fixes
  .github/workflows/docker.yaml
  contrib/container/Dockerfile
Due: none

[docs] Updated docs for complex server setups
  contrib/container/.env
  docs/docs/start/config.md
  docs/docs/start/docker.md
  docs/docs/start/docker_install.md
  docs/docs/start/processes.md
Due: none

Add FAQ entry
  docs/docs/faq.md
Due: none

[bug] Validate location when completing build outputs (#12570)
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

Fix for unit test
  src/backend/InvenTree/importer/tests.py
Due: Backend Apps

[bug] Fix for plugin fetching
  src/backend/InvenTree/plugin/api.py
Due: Backend Apps

Add migration for test result ordering
  src/backend/InvenTree/stock/migrations/0127_alter_stockitemtestresult_options.py
Due: Backend Apps

[bug] Fix PartStocktakeSerializer (#12587)
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

[docs] Improve setup guide for non-standard hosting (#12588)
  contrib/container/.env
  docs/docs/faq.md
  docs/docs/start/config.md
  docs/docs/start/docker.md
  docs/docs/start/docker_install.md
  docs/docs/start/processes.md
Due: none

[docker] Include pip license file (#12583)
  .github/workflows/docker.yaml
  contrib/container/Dockerfile
  tasks.py
Due: none

[bug] Fix for plugin fetching (#12590)
  src/backend/InvenTree/plugin/api.py
Due: Backend Apps

Data import fix (#12568)
  src/backend/InvenTree/importer/migrations/0008_alter_dataimportrow_data_alter_dataimportrow_errors_and_more.py
  src/backend/InvenTree/importer/models.py
  src/backend/InvenTree/importer/tests.py
Due: Backend Apps

Fix test result ordering by test timestamps (#12533)
  src/backend/InvenTree/stock/migrations/0127_alter_stockitemtestresult_options.py
  src/backend/InvenTree/stock/models.py
  src/frontend/src/functions/comparison.tsx
  src/frontend/src/tables/build/BuildOutputTable.tsx
  src/frontend/src/tables/stock/StockItemTestResultTable.tsx
Due: Backend Apps, Frontend

[security] Additional SSRF protections
  src/backend/InvenTree/InvenTree/helpers_model.py
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/report/fetcher.py
  src/backend/InvenTree/report/tests.py
Due: Backend Apps

Fix Install Stock Items shows only selected parts (#12596)
  src/backend/InvenTree/stock/test_api.py
  src/frontend/src/forms/StockForms.tsx
Due: Backend Apps, Frontend

Add shareable detail navigation
  src/frontend/src/components/nav/PageDetail.tsx
  src/frontend/src/components/panels/PanelGroup.tsx
  src/frontend/src/components/tables/InvenTreeTable.tsx
  src/frontend/src/functions/DetailNavigation.ts
  src/frontend/src/hooks/UseDetailNavigation.tsx
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Bump InvenTree software version to 1.4.5
  src/backend/InvenTree/InvenTree/version.py
Due: none

Add optional filtering for bulkDelete
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/components/tables/InvenTreeTableHeader.tsx
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

Enhanced pre-form content
  src/frontend/src/components/tables/InvenTreeTableHeader.tsx
Due: Frontend

fix style
  src/backend/requirements.txt
Due: none

fix style
  docs/requirements.txt
Due: none

fix style
  docs/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

[UI] Bulk Delete Enhancements (#12601)
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/components/tables/InvenTreeTableHeader.tsx
  src/frontend/src/tables/bom/BomTable.tsx
Due: Frontend

Bump InvenTree software version to 1.4.5 (#12600)
  src/backend/InvenTree/InvenTree/version.py
Due: none

[security] Additional SSRF protections (#12595)
  src/backend/InvenTree/InvenTree/helpers_model.py
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/report/fetcher.py
  src/backend/InvenTree/report/tests.py
Due: Backend Apps

feat(backend): add throtteling by default (#11951)
  CHANGELOG.md
  docs/docs/start/config.md
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/config_template.yaml
Due: none

Bump version number to 1.5.0
  src/backend/InvenTree/InvenTree/version.py
Due: none

Bump version number to 1.6.0-rev
  src/backend/InvenTree/InvenTree/version.py
Due: none

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
