Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Add release date
  CHANGELOG.md
Due: none

Add next version entry
  CHANGELOG.md
Due: none

Fix for API exception_handler
  src/backend/InvenTree/InvenTree/exceptions.py
Due: none

Bump version number to 1.5.0 (#12602)
  CHANGELOG.md
  src/backend/InvenTree/InvenTree/version.py
Due: none

Bump version number to 1.6.0-rev (#12603)
  CHANGELOG.md
  src/backend/InvenTree/InvenTree/version.py
Due: none

add empty line
  src/backend/InvenTree/importer/serializers.py
Due: Backend Apps

Fix for API exception_handler (#12604)
  src/backend/InvenTree/InvenTree/exceptions.py
Due: none

Address review feedback: api_version bump, changelog, style fix
  CHANGELOG.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

fix: resolve PartPricing.DoesNotExist in pack_quantity test
  src/backend/InvenTree/part/test_pricing.py
Due: Backend Apps

Update version for @inventreedb/ui
  src/frontend/CHANGELOG.md
  src/frontend/yarn.lock
Due: Frontend

[CI] Improve robustness for playwright test
  src/frontend/tests/pui_forms.spec.ts
Due: Frontend

Revert yarn.lock changes
  src/frontend/yarn.lock
Due: Frontend

[CI] Improve robustness for playwright test (#12612)
  src/frontend/tests/pui_forms.spec.ts
Due: Frontend

Update version for @inventreedb/ui (#12611)
  src/frontend/CHANGELOG.md
Due: Frontend

Bump version number for UI
  src/frontend/package.json
Due: Frontend

Bump version number for UI (#12615)
  src/frontend/package.json
Due: Frontend

fix: support UUID notification references
  src/backend/InvenTree/common/migrations/0049_notificationentry_charfield_uid.py
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/tests.py
Due: Backend General

small improvements to reduce flakiness
  src/frontend/tests/pages/pui_transfer.spec.ts
  src/frontend/tests/pui_forms.spec.ts
  src/frontend/tests/pui_settings.spec.ts
Due: Frontend

disable throtteling to fix flaking tests
  .github/workflows/frontend.yaml
Due: none

test: update notification uid expectation
  src/backend/InvenTree/InvenTree/test_tasks.py
Due: none

Fix readonly_fields typos and add search_fields in admin classes
  src/backend/InvenTree/build/admin.py
  src/backend/InvenTree/build/tests.py
  src/backend/InvenTree/machine/admin.py
  src/backend/InvenTree/machine/tests.py
  src/backend/InvenTree/order/admin.py
  src/backend/InvenTree/plugin/admin.py
  src/backend/InvenTree/plugin/test_plugin.py
  src/backend/InvenTree/report/admin.py
Due: Backend Apps

fix: make detail navigation tests and formatting pass
  src/frontend/src/components/nav/PageDetail.tsx
  src/frontend/src/components/tables/InvenTreeTable.tsx
  src/frontend/src/hooks/UseDetailNavigation.tsx
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

fix(frontend): Improve flakiness issues (#12617)
  .github/workflows/frontend.yaml
  src/frontend/tests/pages/pui_transfer.spec.ts
  src/frontend/tests/pui_forms.spec.ts
  src/frontend/tests/pui_settings.spec.ts
Due: Frontend

Bump InvenTree software version to 1.5.1
  src/backend/InvenTree/InvenTree/version.py
Due: none

Fix conflicting migration
  src/backend/InvenTree/InvenTree/sentry.py
  src/backend/InvenTree/stock/migrations/0128_remove_stockitem_notes.py
Due: Backend Apps

[bug] Handle duplicate email addresses for magic links
  src/backend/InvenTree/InvenTree/magic_login.py
  src/backend/InvenTree/InvenTree/tests.py
Due: none

Bump InvenTree software version to 1.5.1 (#12620)
  src/backend/InvenTree/InvenTree/version.py
Due: none

Remove extraneous unit test
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

[bug] Handle duplicate email addresses for magic links (#12621)
  src/backend/InvenTree/InvenTree/magic_login.py
  src/backend/InvenTree/InvenTree/tests.py
Due: none

Address detail navigation review feedback
  src/frontend/src/components/nav/PageDetail.tsx
  src/frontend/src/functions/DetailNavigation.tsx
  src/frontend/src/hooks/UseDetailNavigation.tsx
  src/frontend/tests/pui_tables.spec.ts
Due: Frontend

Docs: Add comprehensive documentation for Repair Orders feature
  docs/docs/manufacturing/index.md
  docs/docs/manufacturing/repair.md
  docs/mkdocs.yml
Due: none

refactor fail limit to match allauth defaults more closely
  .github/workflows/frontend.yaml
  src/backend/InvenTree/InvenTree/settings.py
Due: none

refactor(backend): remove network dep from test
  src/backend/InvenTree/InvenTree/tests.py
Due: none

refactor(backend): remove network dep from test (#12624)
  src/backend/InvenTree/InvenTree/tests.py
Due: none

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
