Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Add bulkloaddata option
  src/backend/InvenTree/InvenTree/management/commands/bulkloaddata.py
  src/backend/InvenTree/InvenTree/ready.py
  src/backend/InvenTree/InvenTree/test_commands.py
  tasks.py
Due: none

Skip signals if importing
  src/backend/InvenTree/order/models.py
Due: Backend Apps

Improve barcode scanning with native BarcodeDetector
  src/frontend/src/components/barcodes/BarcodeCameraInput.tsx
Due: Frontend

Honor selected camera instead of forcing rear camera
  src/frontend/src/components/barcodes/BarcodeCameraInput.tsx
Due: Frontend

Adjust camera input settings for barcode scanning
  src/frontend/src/components/barcodes/BarcodeCameraInput.tsx
Due: Frontend

BOM Validation Improvements (#12780)
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/test_bom_item.py
Due: Backend Apps

BOM Validation Improvements (#12780)
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Refactor part pricing updates
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Improve bulkloaddata command
  src/backend/InvenTree/InvenTree/management/commands/bulkloaddata.py
Due: none

Optionally rebuild thumbnails
  tasks.py
Due: none

BOM Validation Improvements (#12780) (#12786)
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Add regression tests
  src/backend/InvenTree/part/test_pricing.py
Due: Backend Apps

enhancements for import_records task
  tasks.py
Due: none

Enhanced error message on CSRF failure
  src/backend/InvenTree/InvenTree/middleware.py
  src/backend/InvenTree/InvenTree/test_middleware.py
Due: none

Defer to 'detail' field if exists
  src/frontend/src/functions/api.tsx
Due: Frontend

cache natural key references in bulkloaddata
  src/backend/InvenTree/InvenTree/management/commands/bulkloaddata.py
Due: none

wrap export_records in @state_logger
  tasks.py
Due: none

Add error message for missing TLD
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/validators.py
Due: none

[CI] Allow more query time
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

Refactor part pricing updates (#12787)
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/test_pricing.py
Due: Backend Apps

feat(backend): enable OIDC/oAuth2 provider by default (#12731)
  docs/docs/api/index.md
  docs/docs/settings/experimental.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/apps.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/test_api.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/plugin/builtin/integration/core_wellknown.py
  src/backend/InvenTree/users/authentication.py
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/IdentityManagementPanel.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/Index.tsx
  src/frontend/src/pages/Index/Settings/AdminCenter/ScimManagementPanel.tsx
Due: Backend Apps, Backend General, Frontend

Reduce file size of exported data
  tasks.py
Due: none

Added docs
  docs/docs/start/migrate.md
Due: none

Test bulk workflow as part of CI
  .github/workflows/import_export.yaml
Due: none

Add progress bar for data import
  src/backend/InvenTree/InvenTree/management/commands/bulkloaddata.py
Due: none

Format files with ruff preview style and fix StockList try-except
  src/backend/InvenTree/importer/api.py
  src/backend/InvenTree/machine/api.py
  src/backend/InvenTree/report/api.py
  src/backend/InvenTree/stock/api.py
Due: Backend Apps

Enhanced error message on CSRF failure (#12788)
  src/backend/InvenTree/InvenTree/middleware.py
  src/backend/InvenTree/InvenTree/test_middleware.py
  src/frontend/src/functions/api.tsx
Due: Frontend

[CI] Allow more query time (#12790)
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

Update version.py
  src/backend/InvenTree/InvenTree/version.py
Due: none

fix for import workflow bug
  .github/workflows/import_export.yaml
  src/backend/InvenTree/InvenTree/ready.py
  tasks.py
Due: none

Separately test bulk import workflow
  .github/workflows/import_export.yaml
Due: none

Exercise --prettify option
  .github/workflows/import_export.yaml
Due: none

Additional CI checks for content excludes
  .github/scripts/check_exported_data.py
  .github/scripts/seed_content_excludes_data.py
  .github/workflows/import_export.yaml
Due: none

Allow plugin loading for list_apps
  src/backend/InvenTree/InvenTree/ready.py
Due: none

add error code for missing TLD
  docs/docs/settings/error_codes.md
  src/backend/InvenTree/InvenTree/validators.py
Due: none

kt make optional
  src/backend/InvenTree/costcard/models.py
Due: none

kt make optional
  src/backend/InvenTree/costcard/migrations/0004_alter_costcard_karat.py
Due: none

Additional CI unit tests
  .github/workflows/import_export.yaml
  tasks.py
Due: none

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
