Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Refactoring
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Add prefetch
  src/backend/InvenTree/InvenTree/models.py
Due: none

Throw exception rather than assert
  src/backend/InvenTree/common/migrations/0051_auto_20260525_0956.py
Due: Backend General

Logic fix for notes editor
  src/frontend/src/components/editors/NotesEditor.tsx
Due: Frontend

reimplement old background task
  src/backend/InvenTree/InvenTree/apps.py
  src/backend/InvenTree/common/tasks.py
  src/backend/InvenTree/common/tests.py
Due: Backend General

Adjust data migration
  src/backend/InvenTree/common/migrations/0051_auto_20260525_0956.py
  src/backend/InvenTree/common/test_migrations.py
Due: Backend General

Fix notes field when receiving items
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

Fix existing report templates
  src/backend/InvenTree/report/templates/report/inventree_build_order_report.html
  src/backend/InvenTree/report/templates/report/inventree_order_report_base.html
  src/backend/InvenTree/report/templates/report/inventree_purchase_order_report.html
  src/backend/InvenTree/report/templates/report/inventree_return_order_report.html
  src/backend/InvenTree/report/templates/report/inventree_sales_order_report.html
  src/backend/InvenTree/report/templates/report/inventree_sales_order_shipment_report.html
  src/backend/InvenTree/report/templates/report/inventree_stock_location_report.html
  src/backend/InvenTree/report/templates/report/inventree_transfer_order_report.html
  src/backend/InvenTree/report/tests.py
Due: Backend Apps

Fix save action for notes editor
  src/frontend/src/components/editors/NotesEditor.tsx
Due: Frontend

Fix issue 10769 (#12286)
  src/frontend/src/components/render/Stock.tsx
Due: Frontend

Adjust stock merge action
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

Update API changelog
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Remove purchase_price from raw StockItem serializer
  src/backend/InvenTree/stock/serializers.py
Due: Backend Apps

remove old field
  src/backend/InvenTree/stock/models.py
Due: Backend Apps

Add previous/next navigation to detail pages
  src/frontend/src/components/nav/PageDetail.tsx
  src/frontend/src/components/tables/InvenTreeTable.tsx
  src/frontend/src/states/TableNavigationState.tsx
  src/frontend/tests/pui_detail_navigation.spec.ts
Due: Frontend

Add basic structure for NonConformance
  src/backend/InvenTree/build/admin.py
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/events.py
  src/backend/InvenTree/build/migrations/0060_nonconformance_nonconformancestockitem.py
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/build/status_codes.py
  src/backend/InvenTree/build/validators.py
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/users/oauth2_scopes.py
  src/backend/InvenTree/users/ruleset.py
Due: Backend Apps, Backend General

Implement basic UX
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/serializers.py
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/lib/enums/ModelInformation.tsx
  src/frontend/lib/enums/ModelType.tsx
  src/frontend/lib/enums/Roles.tsx
  src/frontend/src/components/nav/NavigationDrawer.tsx
  src/frontend/src/components/previews/ModelPreviewShim.ts
  src/frontend/src/components/previews/models/NonConformancePreview.tsx
  src/frontend/src/components/render/ModelRenderShim.ts
  src/frontend/src/components/render/NonConformance.tsx
  src/frontend/src/defaults/backendMappings.tsx
  src/frontend/src/defaults/links.tsx
  src/frontend/src/forms/NCRForms.tsx
  src/frontend/src/functions/icons.tsx
  src/frontend/src/pages/build/BuildIndex.tsx
  src/frontend/src/pages/build/NonConformanceDetail.tsx
  src/frontend/src/pages/build/NonConformanceDetailsPanel.tsx
  src/frontend/src/router.tsx
  src/frontend/src/tables/build/NonConformanceFilters.tsx
  src/frontend/src/tables/build/NonConformanceStockItemTable.tsx
  src/frontend/src/tables/build/NonConformanceTable.tsx
Due: Backend Apps, Frontend

fix style
  contrib/container/requirements.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

[FR] stop shipping docs with packages Fixes #12610
  .github/workflows/release.yaml
Due: none

disable restriction (for now)
  .github/workflows/release.yaml
Due: none

test: update stock return validation assertion
  src/frontend/tests/pages/pui_stock.spec.ts
Due: Frontend

fix: keep detail navigation actions stable
  src/frontend/src/components/nav/DetailNavigation.tsx
  src/frontend/tests/pui_tables.spec.ts
Due: Frontend

style: apply biome formatting
  src/frontend/src/components/nav/DetailNavigation.tsx
Due: Frontend

fix: use ActionIcon disabled state
  src/frontend/src/components/nav/DetailNavigation.tsx
Due: Frontend

test: use ActionIcon disabled state
  src/frontend/tests/pui_tables.spec.ts
Due: Frontend

fix names
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/schema.py
  src/backend/InvenTree/data_exporter/mixins.py
  src/backend/InvenTree/order/api.py
Due: Backend Apps

[FR] stop shipping docs with packages (#12657)
  .github/workflows/release.yaml
Due: none

Refactoring: Add "instance-info" API endpoint for common model properties
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/serializers.py
  src/backend/InvenTree/common/test_api.py
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/src/components/panels/AttachmentPanel.tsx
  src/frontend/src/components/panels/NotesPanel.tsx
  src/frontend/src/components/panels/ParametersPanel.tsx
  src/frontend/src/hooks/UseInstanceInfo.tsx
  src/frontend/src/pages/build/BuildDetail.tsx
  src/frontend/src/pages/company/CompanyDetail.tsx
  src/frontend/src/pages/company/ManufacturerPartDetail.tsx
  src/frontend/src/pages/company/SupplierPartDetail.tsx
  src/frontend/src/pages/part/CategoryDetail.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/pages/purchasing/PurchaseOrderDetail.tsx
  src/frontend/src/pages/sales/ReturnOrderDetail.tsx
  src/frontend/src/pages/sales/SalesOrderDetail.tsx
  src/frontend/src/pages/sales/SalesOrderShipmentDetail.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
  src/frontend/src/pages/stock/TransferOrderDetail.tsx
Due: Backend General, Frontend

fix: isolate detail navigation query params
  src/frontend/src/components/tables/InvenTreeTable.tsx
  src/frontend/src/functions/DetailNavigation.tsx
  src/frontend/tests/pui_tables.spec.ts
Due: Frontend

Fix indicator dots
  src/frontend/src/components/panels/PanelGroup.tsx
  src/frontend/src/hooks/UseInstanceInfo.tsx
Due: Frontend

Tweak nav alert msg
  src/frontend/src/components/panels/PanelGroup.tsx
Due: Frontend

Adjust layout of buttons
  src/frontend/src/components/editors/NotesEditor.tsx
  src/frontend/src/components/items/ActionDropdown.tsx
Due: Frontend

Sanitize notes during migration
  src/backend/InvenTree/common/migrations/0051_auto_20260525_0956.py
  src/backend/InvenTree/common/test_migrations.py
Due: Backend General

Bump InvenTree software version to 1.5.2
  src/backend/InvenTree/InvenTree/version.py
Due: none

Fix for NotesImage delete cascade
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/tests.py
Due: Backend General

Fix caching
  src/frontend/src/hooks/UseInstanceInfo.tsx
Due: Frontend

Fix race condition in notes editor
  src/frontend/src/components/editors/NotesEditor.tsx
Due: Frontend

Fix distinct issue when searching notse
  src/backend/InvenTree/InvenTree/filters.py
  src/backend/InvenTree/InvenTree/test_api.py
Due: none

Fix race condition when saving new note instance
  src/backend/InvenTree/common/models.py
  src/backend/InvenTree/common/test_api.py
Due: Backend General

Fix improper error
  src/backend/InvenTree/common/models.py
Due: Backend General
