Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Test: Prune RepairOrder transition tests to core lifecycle per review
  src/backend/InvenTree/build/tests.py
Due: Backend Apps

Drop legacy user session tables (#12675)
  src/backend/InvenTree/users/migrations/0016_remove_legacy_user_sessions_table.py
Due: Backend Apps

Additional API timeout for bulk operations (#12676)
  src/frontend/src/components/forms/ApiForm.tsx
Due: Frontend

Fix api_version.py
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

fix parameter used in test
  src/backend/InvenTree/common/test_api.py
Due: Backend General

remove temporary fix added in https://github.com/inventree/InvenTree/pull/12668
  src/backend/InvenTree/common/filters.py
  src/backend/InvenTree/order/api.py
Due: Backend Apps, Backend General

remove unneeded filter redef
  src/backend/InvenTree/order/api.py
Due: Backend Apps

Restrict stock item to match underlying part
  src/backend/InvenTree/build/models.py
  src/frontend/src/forms/NCRForms.tsx
  src/frontend/src/pages/build/NonConformanceDetail.tsx
  src/frontend/src/tables/build/NonConformanceStockItemTable.tsx
Due: Backend Apps, Frontend

Rename API endpoints
  src/backend/InvenTree/build/api.py
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/lib/enums/ModelInformation.tsx
  src/frontend/src/pages/build/BuildIndex.tsx
Due: Backend Apps, Frontend

Move disposition to the individual stock items
  src/backend/InvenTree/build/admin.py
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/migrations/0060_nonconformance_nonconformancestockitem.py
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/serializers.py
  src/frontend/src/defaults/backendMappings.tsx
  src/frontend/src/forms/NCRForms.tsx
  src/frontend/src/pages/build/NonConformanceDetail.tsx
  src/frontend/src/pages/build/NonConformanceDetailsPanel.tsx
  src/frontend/src/tables/build/NonConformanceFilters.tsx
  src/frontend/src/tables/build/NonConformanceStockItemTable.tsx
  src/frontend/src/tables/build/NonConformanceTable.tsx
Due: Backend Apps, Frontend

Add unit tests
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/test_ncr.py
  src/backend/InvenTree/build/test_ncr_api.py
Due: Backend Apps

Fix 500 errors for transitions
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/test_api.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

Support report printing
  src/backend/InvenTree/build/models.py
  src/frontend/src/pages/build/NonConformanceDetail.tsx
  src/frontend/src/tables/build/NonConformanceTable.tsx
Due: Backend Apps, Frontend

Fix 500 errors for transitions (#12678)
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/test_api.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/test_api.py
Due: Backend Apps

add changelog
  CHANGELOG.md
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Fix api-status-all test assertion for RepairOrderStatus and update API version date
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/generic/states/tests.py
Due: Backend General

feat(backend): rename filter (#12672)
  CHANGELOG.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/filters.py
  src/backend/InvenTree/common/test_api.py
  src/backend/InvenTree/company/api.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/stock/api.py
  src/frontend/src/components/tables/Filter.tsx
Due: Backend Apps, Backend General, Frontend

Remove purchase_price field
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/tests.py
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/part/stocktake.py
  src/backend/InvenTree/part/test_pricing.py
  src/backend/InvenTree/stock/api.py
  src/backend/InvenTree/stock/fixtures/stock.yaml
  src/backend/InvenTree/stock/migrations/0128_remove_stockitem_purchase_price_and_more.py
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/stock/test_api.py
  src/backend/InvenTree/stock/tests.py
  src/frontend/src/forms/StockForms.tsx
  src/frontend/tests/pui_forms.spec.ts
Due: Backend Apps, Frontend

Update API filters
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/stock/api.py
  src/backend/InvenTree/stock/test_api.py
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Backend Apps, Frontend

Add basic docs
  docs/docs/concepts/pricing.md
  docs/docs/part/pricing.md
  docs/docs/part/stocktake.md
  docs/docs/purchasing/purchase_order.md
  docs/docs/settings/permissions.md
  docs/docs/stock/adjust.md
  docs/docs/stock/costs.md
  docs/docs/stock/disassemble.md
  docs/docs/stock/index.md
  docs/mkdocs.yml
Due: none

fix style
  contrib/container/requirements.txt
  contrib/dev_reqs/requirements.txt
  docs/requirements.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

Accumulate manufacturing costs
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/pricing.py
  src/backend/InvenTree/build/test_pricing.py
  src/backend/InvenTree/pricing/migrations/0001_initial.py
  src/backend/InvenTree/pricing/models.py
  src/backend/InvenTree/pricing/status_codes.py
  src/backend/InvenTree/pricing/test_models.py
Due: Backend Apps

refactor manufacturing costs into material costs
  docs/docs/stock/costs.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/pricing.py
  src/backend/InvenTree/build/test_pricing.py
  src/backend/InvenTree/pricing/migrations/0001_initial.py
  src/backend/InvenTree/pricing/status_codes.py
  src/backend/InvenTree/pricing/test_api.py
  src/backend/InvenTree/pricing/test_models.py
Due: Backend Apps

Add more complex unit test
  src/backend/InvenTree/build/test_pricing.py
Due: Backend Apps

Add --traceback to invoke commands
  tasks.py
Due: none

Add --traceback to invoke commands (#12681)
  tasks.py
Due: none

Add basic docs
  docs/docs/manufacturing/index.md
  docs/docs/manufacturing/ncr.md
  docs/mkdocs.yml
Due: none

Add global setting to control NCR availability
  src/backend/InvenTree/common/setting/system.py
  src/frontend/src/components/nav/NavigationDrawer.tsx
  src/frontend/src/defaults/links.tsx
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
  src/frontend/src/pages/build/BuildIndex.tsx
Due: Backend General, Frontend

Align NCR status values with existing operations
  docs/docs/manufacturing/ncr.md
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/build/events.py
  src/backend/InvenTree/build/migrations/0060_nonconformance_nonconformancestockitem.py
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/build/status_codes.py
  src/backend/InvenTree/build/test_ncr.py
  src/backend/InvenTree/build/test_ncr_api.py
  src/frontend/lib/enums/ApiEndpoints.tsx
  src/frontend/src/pages/build/NonConformanceDetail.tsx
Due: Backend Apps, Frontend

Auto-extract StatusCode values for docs
  docs/docs/concepts/data_import.md
  docs/docs/hooks.py
  docs/docs/manufacturing/build.md
  docs/docs/plugins/machines/label_printer.md
  docs/docs/purchasing/purchase_order.md
  docs/docs/sales/return_order.md
  docs/docs/sales/sales_order.md
  docs/docs/stock/status.md
  docs/docs/stock/tracking.md
  docs/docs/stock/transfer_order.md
  docs/main.py
  src/backend/InvenTree/InvenTree/management/commands/export_status_codes.py
  src/backend/InvenTree/build/status_codes.py
  src/backend/InvenTree/importer/status_codes.py
  src/backend/InvenTree/order/status_codes.py
  src/backend/InvenTree/stock/status_codes.py
  tasks.py
Due: Backend Apps

Strip potentially dangerous tags from SVG files
  src/backend/InvenTree/InvenTree/sanitizer.py
  src/backend/InvenTree/InvenTree/tests.py
Due: none

Extract user roles from code
  docs/docs/settings/permissions.md
  docs/main.py
  src/backend/InvenTree/InvenTree/management/commands/export_roles.py
  src/backend/InvenTree/users/ruleset.py
  tasks.py
Due: Backend Apps

Fix links
  docs/docs/plugins/machines/label_printer.md
Due: none

User permissions check for Attachment API
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/test_api.py
Due: Backend General

Remove extraneous source code in docs
  docs/docs/manufacturing/build.md
  docs/docs/plugins/machines/label_printer.md
  docs/docs/purchasing/purchase_order.md
  docs/docs/sales/return_order.md
  docs/docs/sales/sales_order.md
  docs/docs/stock/status.md
  docs/docs/stock/tracking.md
  docs/docs/stock/transfer_order.md
  docs/main.py
Due: none

Auto-extract StatusCode values for docs (#12686)
  docs/docs/concepts/data_import.md
  docs/docs/hooks.py
  docs/docs/manufacturing/build.md
  docs/docs/plugins/machines/label_printer.md
  docs/docs/purchasing/purchase_order.md
  docs/docs/sales/return_order.md
  docs/docs/sales/sales_order.md
  docs/docs/settings/permissions.md
  docs/docs/stock/status.md
  docs/docs/stock/tracking.md
  docs/docs/stock/transfer_order.md
  docs/main.py
  src/backend/InvenTree/InvenTree/management/commands/export_roles.py
  src/backend/InvenTree/InvenTree/management/commands/export_status_codes.py
  src/backend/InvenTree/build/status_codes.py
  src/backend/InvenTree/importer/status_codes.py
  src/backend/InvenTree/order/status_codes.py
  src/backend/InvenTree/stock/status_codes.py
  src/backend/InvenTree/users/ruleset.py
  tasks.py
Due: Backend Apps

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
