Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Add delay for playwright test
  src/frontend/tests/pages/pui_stock.spec.ts
Due: Frontend

[UI] Fix BOM pricing tooltip (#12931)
  src/frontend/src/pages/part/pricing/BomPricingPanel.tsx
  src/frontend/tests/pages/pui_stock.spec.ts
Due: Frontend

[CI] Pin inventree-plugin-creator to 1.20.1 (#12932)
  .github/workflows/frontend.yaml
Due: none

[CI] Pin inventree-plugin-creator to 1.20.1 (#12932) (#12935)
  .github/workflows/frontend.yaml
Due: none

Background Task Features (#12913)
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/InvenTree/setting/worker.py
  src/backend/InvenTree/InvenTree/tasks.py
  src/backend/InvenTree/InvenTree/test_tasks.py
Due: none

Test result bug (#12918) (#12920)
  src/frontend/src/tables/stock/StockItemTestResultTable.tsx
  src/frontend/tests/pui_settings.spec.ts
Due: Frontend

Default receive location (#12911)
  CHANGELOG.md
  docs/docs/purchasing/purchase_order.md
  src/backend/InvenTree/InvenTree/metadata.py
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/common/tests.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/order/test_api.py
  src/frontend/src/components/wizards/OrderPartsWizard.tsx
  src/frontend/src/forms/PurchaseOrderForms.tsx
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
  src/frontend/src/pages/purchasing/PurchaseOrderDetail.tsx
  src/frontend/src/tables/purchasing/PurchaseOrderTable.tsx
Due: Backend Apps, Backend General, Frontend

Add Catalan language support (#12926)
  src/backend/InvenTree/InvenTree/setting/locales.py
  src/backend/InvenTree/locale/ca/LC_MESSAGES/django.po
  src/frontend/.linguirc
  src/frontend/src/contexts/LanguageContext.tsx
  src/frontend/src/locales/ca/messages.d.ts
  src/frontend/src/locales/ca/messages.po
Due: Frontend

Bump InvenTree software version to 1.5.7
  src/backend/InvenTree/InvenTree/version.py
Due: none

Disable retry for label printing
  src/backend/InvenTree/plugin/base/label/mixins.py
  src/backend/InvenTree/plugin/builtin/labels/inventree_machine.py
Due: Backend Apps

Improve barcode scanning with native BarcodeDetector (#12784)
  src/frontend/src/components/barcodes/BarcodeCameraInput.tsx
Due: Frontend

[UI] Order lines table (#12362)
  src/frontend/src/components/details/LineItemOverviewTable.tsx
  src/frontend/src/pages/purchasing/PurchaseOrderDetailsPanel.tsx
  src/frontend/src/pages/sales/ReturnOrderDetailsPanel.tsx
  src/frontend/src/pages/sales/SalesOrderDetailsPanel.tsx
  src/frontend/src/pages/stock/TransferOrderDetailsPanel.tsx
  src/frontend/src/tables/stock/TransferOrderTable.tsx
Due: Frontend

Disable retry for label printing (#12937)
  src/backend/InvenTree/plugin/base/label/mixins.py
  src/backend/InvenTree/plugin/builtin/labels/inventree_machine.py
Due: Backend Apps

Copy cost entries when duplicating stock item
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/build/test_pricing.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/test_sales_order.py
  src/backend/InvenTree/pricing/models.py
  src/backend/InvenTree/pricing/test_models.py
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/tests.py
Due: Backend Apps

Bump InvenTree software version to 1.5.7 (#12936)
  src/backend/InvenTree/InvenTree/version.py
Due: none

Simplify stock cost approach
  src/backend/InvenTree/build/pricing.py
  src/backend/InvenTree/build/test_pricing.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/test_sales_order.py
  src/backend/InvenTree/order/tests.py
  src/backend/InvenTree/part/test_pricing.py
  src/backend/InvenTree/pricing/api.py
  src/backend/InvenTree/pricing/migrations/0001_initial.py
  src/backend/InvenTree/pricing/models.py
  src/backend/InvenTree/pricing/tasks.py
  src/backend/InvenTree/pricing/test_api.py
  src/backend/InvenTree/pricing/test_models.py
  src/backend/InvenTree/stock/api.py
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/stock/test_api.py
  src/backend/InvenTree/stock/tests.py
Due: Backend Apps

Update testing
  src/backend/InvenTree/build/test_pricing.py
  src/backend/InvenTree/stock/test_api.py
Due: Backend Apps

fix style
  contrib/dev_reqs/requirements.txt
  docs/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

feat: add plugin support for custom page integration (#12900)
  CHANGELOG.md
  docs/docs/plugins/mixins/ui.md
  src/backend/InvenTree/plugin/base/ui/mixins.py
  src/backend/InvenTree/plugin/base/ui/tests.py
  src/backend/InvenTree/plugin/samples/integration/user_interface_sample.py
  src/backend/InvenTree/plugin/samples/static/plugins/sampleui/sample_route.js
  src/frontend/src/components/nav/Header.tsx
  src/frontend/src/components/plugins/PluginRoutes.tsx
  src/frontend/src/components/plugins/PluginUIFeature.tsx
  src/frontend/src/components/plugins/PluginUIFeatureTypes.ts
  src/frontend/src/router.tsx
Due: Backend Apps, Frontend

lower stub
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

Address migration conflicts
  src/backend/InvenTree/users/migrations/0018_alter_ruleset_name.py
Due: Backend Apps

Disable retries for label print batch tasks
  src/backend/InvenTree/report/api.py
  src/backend/InvenTree/report/tests.py
Due: Backend Apps

Remove label failure retry guard for one-shot jobs
  src/backend/InvenTree/report/tasks.py
  src/backend/InvenTree/report/tests.py
Due: Backend Apps

Add raise_error template tag
  docs/docs/report/helpers.md
  docs/docs/report/labels.md
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
  src/backend/InvenTree/report/tests.py
Due: Backend Apps

Use one-shot tasks for label print batches (#12939)
  src/backend/InvenTree/report/api.py
  src/backend/InvenTree/report/tasks.py
  src/backend/InvenTree/report/tests.py
Due: Backend Apps

Add raise_error template tag (#12940)
  docs/docs/report/helpers.md
  docs/docs/report/labels.md
  src/backend/InvenTree/report/templatetags/report.py
  src/backend/InvenTree/report/test_tags.py
  src/backend/InvenTree/report/tests.py
Due: Backend Apps

Update api_helpers.py
  src/backend/InvenTree/generic/states/api_helpers.py
Due: Backend General

fix(report): support S3 cloud media storage for report and label template loading (#12426)
  src/backend/InvenTree/InvenTree/ready.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/template.py
  src/backend/InvenTree/report/fetcher.py
  src/backend/InvenTree/report/models.py
  src/backend/InvenTree/report/tests.py
Due: Backend Apps

fix(notifications): translate notification emails and messages into recipient user locale (#11408)
  src/backend/InvenTree/common/notifications.py
  src/backend/InvenTree/common/test_notifications.py
  src/backend/InvenTree/plugin/builtin/integration/core_notifications.py
Due: Backend Apps, Backend General

Fix: Sync master, update RepairOrder mixins, and fix frontend Playwright tests
  src/backend/InvenTree/build/models.py
  src/frontend/tests/pages/pui_repair.spec.ts
Due: Backend Apps, Frontend

Fix: Remove PluginValidationMixin from RepairOrder (already inherited via InvenTreeModel)
  src/backend/InvenTree/build/models.py
Due: Backend Apps

add a codespell ignore for the translated assertation
  src/backend/InvenTree/common/test_notifications.py
Due: Backend General

fix style
  src/backend/InvenTree/report/models.py
  src/backend/InvenTree/report/tests.py
Due: Backend Apps

bump stub
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

fix type interpolation issues
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/InvenTree/tasks.py
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

use ty ignore
  src/backend/InvenTree/InvenTree/models.py
  src/backend/InvenTree/InvenTree/tasks.py
  src/backend/InvenTree/build/test_api.py
Due: Backend Apps

fix(notifications): translate notification emails and messages into recipient user locale (#11408) (#12944)
  src/backend/InvenTree/common/notifications.py
  src/backend/InvenTree/common/test_notifications.py
  src/backend/InvenTree/plugin/builtin/integration/core_notifications.py
Due: Backend Apps, Backend General

Fix hover div element
  src/frontend/src/components/details/Details.tsx
Due: Frontend

Improve badge formatting
  src/frontend/src/components/details/Details.tsx
Due: Frontend

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
