Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
      - type: project
        target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
      - type: project
        target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
      - type: project
        target: 65%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Adjust get_item_hash
  src/backend/InvenTree/part/models.py
  src/frontend/src/pages/part/PartDetail.tsx
Due: Backend Apps, Frontend

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Refactor app URL patterns
  src/backend/InvenTree/InvenTree/urls.py
Due: none

Fix import sequence
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Tweak imports
  src/backend/InvenTree/part/tasks.py
Due: Backend Apps

Fix logging message
  src/backend/InvenTree/part/tasks.py
Due: Backend Apps

Fix error message
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Update src/backend/InvenTree/part/migrations/0141_auto_20250722_0303.py
  src/backend/InvenTree/part/migrations/0141_auto_20250722_0303.py
Due: Backend Apps

Update exception handling
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Try info level debug
  .github/workflows/qc_checks.yaml
Due: none

Disable exchange rate update
  src/backend/InvenTree/InvenTree/apps.py
Due: none

Add registry ready flag
  src/backend/InvenTree/InvenTree/apps.py
  src/backend/InvenTree/common/currency.py
  src/backend/InvenTree/plugin/apps.py
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps, Backend General

Add is_ready func
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Cleaner init code
  src/backend/InvenTree/plugin/apps.py
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Protect against plugin access until ready
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Fix dashboard widget filter
  src/frontend/src/components/dashboard/DashboardWidgetLibrary.tsx
Due: Frontend

Adjust unit test
  src/backend/InvenTree/part/test_api.py
Due: Backend Apps

feat: Remove image fields from Company and Part models and update related components
  src/backend/InvenTree/company/migrations/0076_remove_company_image.py
  src/backend/InvenTree/part/migrations/0140_remove_part_image.py
  src/frontend/src/forms/PurchaseOrderForms.tsx
  src/frontend/src/forms/ReturnOrderForms.tsx
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/pages/company/SupplierPartDetail.tsx
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/part/RelatedPartTable.tsx
Due: Backend Apps, Frontend

Fix receiver name
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Add decorator for registry entrypoint funcs
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Tweak return value
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Only add plugin URLs if registry is ready
  src/backend/InvenTree/plugin/urls.py
Due: Backend Apps

Fix load logic
  src/backend/InvenTree/plugin/apps.py
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Fix for BooleanField
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/src/components/forms/fields/BooleanField.tsx
Due: Frontend

Tweak part parameter form
  src/frontend/src/forms/PartForms.tsx
Due: Frontend

Enhanced playwright tests
  src/frontend/tests/pages/pui_part.spec.ts
Due: Frontend

Better formatting for badges
  src/frontend/src/pages/part/PartDetail.tsx
Due: Frontend

Stock detail too
  src/frontend/src/pages/stock/StockDetail.tsx
Due: Frontend

Enable form auto-fill
  src/frontend/lib/types/Forms.tsx
  src/frontend/src/components/buttons/PrintingActions.tsx
  src/frontend/src/components/forms/fields/ApiFormField.tsx
  src/frontend/src/components/forms/fields/RelatedModelField.tsx
Due: Frontend

[ui] Better formatting for badges (#10060)
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
Due: Frontend

Better boolean field management
  src/frontend/src/components/forms/ApiForm.tsx
  src/frontend/src/components/forms/fields/BooleanField.tsx
  src/frontend/src/components/render/Stock.tsx
Due: Frontend

Tweak playwright tests for increased reliability
  src/frontend/tests/pui_printing.spec.ts
Due: Frontend

Refactor @registry_entrypoint decorator
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps

Tweak
  src/backend/InvenTree/plugin/registry.py
Due: Backend Apps
