Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Automatically include parent tree when searching
  src/backend/InvenTree/part/api.py
Due: Backend Apps

Include tree_id field
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Add search input to NavigationTree
  src/frontend/src/components/nav/NavigationTree.tsx
  src/frontend/src/pages/part/PartDetail.tsx
Due: Frontend

Add more API filters
  src/backend/InvenTree/part/api.py
Due: Backend Apps

Load child nodes iteratively
  src/frontend/src/components/nav/NavigationTree.tsx
Due: Frontend

Fix dynamic loading of nodes
  src/frontend/src/components/nav/NavigationTree.tsx
  src/frontend/src/pages/part/CategoryDetail.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
Due: Frontend

Highlight selected item
  src/frontend/src/components/nav/NavigationTree.tsx
Due: Frontend

Include pathstring
  src/backend/InvenTree/part/serializers.py
Due: Backend Apps

Fix insertion order
  src/frontend/src/components/nav/NavigationTree.tsx
Due: Frontend

Auto-expand to the selected ID
  src/backend/InvenTree/part/api.py
  src/frontend/src/components/nav/NavigationTree.tsx
Due: Backend Apps, Frontend

Add "no results" message
  src/frontend/src/components/nav/NavigationTree.tsx
Due: Frontend

Refactor into generic components
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/part/api.py
Due: Backend Apps

Expand to multi level
  src/frontend/src/components/nav/NavigationTree.tsx
Due: Frontend

Use async node loading functionality
  src/backend/InvenTree/part/api.py
  src/frontend/src/components/nav/NavigationTree.tsx
Due: Backend Apps, Frontend

Add hovercard
  src/frontend/src/components/nav/NavigationTree.tsx
Due: Frontend

Implement same functionality for StockLocationTree API endpoint
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/stock/api.py
  src/backend/InvenTree/stock/serializers.py
Due: Backend Apps

Adjust spacing
  src/frontend/src/components/nav/NavigationTree.tsx
Due: Frontend

Add connecting lines
  src/frontend/src/components/nav/NavigationTree.tsx
Due: Frontend

Add playwright test
  src/frontend/src/components/nav/NavigationTree.tsx
  src/frontend/tests/pages/pui_stock.spec.ts
Due: Frontend

Bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Update docs
  docs/docs/concepts/user_interface.md
Due: none

Update screenshot
  docs/docs/assets/images/concepts/ui_navigation_tree.png
Due: none

Update base svg
  assets/images/logo/inventree.svg
Due: none

Update other logo sources
  assets/images/logo/inventree.png
  assets/images/logo/inventree.svg
  src/backend/InvenTree/InvenTree/static/img/inventree.png
  src/frontend/src/assets/inventree.svg
  src/frontend/src/components/items/InvenTreeLogo.tsx
  src/frontend/src/components/items/inventree.svg
Due: Frontend

Update favicons
  src/backend/InvenTree/InvenTree/static/img/favicon/android-icon-144x144.png
  src/backend/InvenTree/InvenTree/static/img/favicon/android-icon-192x192.png
  src/backend/InvenTree/InvenTree/static/img/favicon/android-icon-36x36.png
  src/backend/InvenTree/InvenTree/static/img/favicon/android-icon-48x48.png
  src/backend/InvenTree/InvenTree/static/img/favicon/android-icon-72x72.png
  src/backend/InvenTree/InvenTree/static/img/favicon/android-icon-96x96.png
  src/backend/InvenTree/InvenTree/static/img/favicon/apple-icon-114x114.png
  src/backend/InvenTree/InvenTree/static/img/favicon/apple-icon-120x120.png
  src/backend/InvenTree/InvenTree/static/img/favicon/apple-icon-144x144.png
  src/backend/InvenTree/InvenTree/static/img/favicon/apple-icon-152x152.png
  src/backend/InvenTree/InvenTree/static/img/favicon/apple-icon-180x180.png
  src/backend/InvenTree/InvenTree/static/img/favicon/apple-icon-57x57.png
  src/backend/InvenTree/InvenTree/static/img/favicon/apple-icon-60x60.png
  src/backend/InvenTree/InvenTree/static/img/favicon/apple-icon-72x72.png
  src/backend/InvenTree/InvenTree/static/img/favicon/apple-icon-76x76.png
  src/backend/InvenTree/InvenTree/static/img/favicon/apple-icon-precomposed.png
  src/backend/InvenTree/InvenTree/static/img/favicon/apple-icon.png
  src/backend/InvenTree/InvenTree/static/img/favicon/favicon-16x16.png
  src/backend/InvenTree/InvenTree/static/img/favicon/favicon-32x32.png
  src/backend/InvenTree/InvenTree/static/img/favicon/favicon-96x96.png
  src/backend/InvenTree/InvenTree/static/img/favicon/favicon.ico
  src/backend/InvenTree/InvenTree/static/img/favicon/ms-icon-144x144.png
  src/backend/InvenTree/InvenTree/static/img/favicon/ms-icon-150x150.png
  src/backend/InvenTree/InvenTree/static/img/favicon/ms-icon-310x310.png
  src/backend/InvenTree/InvenTree/static/img/favicon/ms-icon-70x70.png
Due: none

[UI] Fix NewsWidget
  src/frontend/src/components/dashboard/widgets/NewsWidget.tsx
Due: Frontend

[UI] Tree improvements (#12204)
  CHANGELOG.md
  docs/docs/assets/images/concepts/ui_navigation_tree.png
  docs/docs/concepts/user_interface.md
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/part/serializers.py
  src/backend/InvenTree/stock/api.py
  src/backend/InvenTree/stock/serializers.py
  src/frontend/src/components/nav/NavigationTree.tsx
  src/frontend/src/pages/part/CategoryDetail.tsx
  src/frontend/src/pages/part/PartDetail.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
  src/frontend/tests/pages/pui_stock.spec.ts
Due: Backend Apps, Frontend

Optional 'locale' arg to format_money
  src/backend/InvenTree/InvenTree/format.py
  src/backend/InvenTree/InvenTree/helpers_model.py
Due: none

Updated documentation
  docs/docs/report/helpers.md
Due: none

Add unit tests
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Handle invalid locale
  src/backend/InvenTree/InvenTree/format.py
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Add new global setting to control currency locale in reports
  docs/docs/settings/global.md
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/common/validators.py
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
Due: Backend General, Frontend

Use setting in reports
  src/backend/InvenTree/report/templatetags/report.py
Due: Backend Apps

Further unit tests
  src/backend/InvenTree/report/test_tags.py
Due: Backend Apps

Add unit tests for new setting
  src/backend/InvenTree/common/tests.py
Due: Backend General

Update docs
  docs/docs/report/helpers.md
Due: none

More docs
  docs/docs/concepts/pricing.md
Due: none

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
