Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/InvenTree/build/**
        - src/backend/InvenTree/company/**
        - src/backend/InvenTree/data_exporter/**
        - src/backend/InvenTree/importer/**
        - src/backend/InvenTree/machine/**
        - src/backend/InvenTree/order/**
        - src/backend/InvenTree/part/**
        - src/backend/InvenTree/plugin/**
        - src/backend/InvenTree/report/**
        - src/backend/InvenTree/stock/**
        - src/backend/InvenTree/users/**
        - src/backend/InvenTree/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/InvenTree/generic/**
        - src/backend/InvenTree/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

Sanitize package name to protect against OS command injection
  src/backend/InvenTree/plugin/installer.py
  src/backend/InvenTree/plugin/test_plugin.py
Due: Backend Apps

fix(security): use SandboxedEnvironment for PART_NAME_FORMAT rendering
  src/backend/InvenTree/common/setting/system.py
  src/backend/InvenTree/part/helpers.py
Due: Backend Apps, Backend General

Disable some unit tests for backport
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/users/tests.py
Due: Backend Apps

Use storage class rather than manually constructing URL
  src/backend/InvenTree/InvenTree/serializers.py
Due: none

Fix for report helpers
  src/backend/InvenTree/report/templatetags/report.py
Due: Backend Apps

Add documentation on background worker configuration options
  docs/docs/start/config.md
  docs/docs/start/processes.md
  src/backend/InvenTree/InvenTree/settings.py
Due: none

Export configuration keys to JSON
  src/backend/InvenTree/InvenTree/config.py
  src/backend/InvenTree/InvenTree/management/commands/export_settings_definitions.py
Due: none

Support rendering of config options in docs
  docs/main.py
Due: none

fix link
  docs/docs/start/processes.md
Due: none

make banner locally disableable
  src/frontend/src/components/nav/Header.tsx
Due: Frontend

Check for missing config settings
  docs/docs/hooks.py
  tasks.py
Due: none

Simplify macro
  docs/main.py
Due: none

add global option to disable elevated user alert
  docs/docs/start/config.md
  src/frontend/src/components/nav/Header.tsx
  src/frontend/src/main.tsx
Due: Frontend

Initial tests
  docs/docs/hooks.py
  docs/docs/start/config.md
  docs/main.py
Due: none

Fix collisions
  tasks.py
Due: none

Updates
  docs/docs/start/config.md
  docs/main.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/InvenTree/tasks.py
Due: none

add more tests
  src/backend/InvenTree/plugin/test_api.py
Due: Backend Apps

add user validation
  src/backend/InvenTree/plugin/test_api.py
Due: Backend Apps

move test
  src/backend/InvenTree/plugin/test_api.py
Due: Backend Apps

disable uninstall in test
  src/backend/InvenTree/plugin/test_api.py
Due: Backend Apps

Ensure values are stringified
  src/backend/InvenTree/common/serializers.py
Due: Backend General

Ensure null values are exported correctly
  docs/main.py
  src/backend/InvenTree/InvenTree/management/commands/export_settings_definitions.py
  src/backend/InvenTree/common/serializers.py
Due: Backend General

Refactor database config
  src/backend/InvenTree/InvenTree/setting/db_backend.py
  src/backend/InvenTree/InvenTree/settings.py
Due: none

More docs updates
  docs/docs/start/backup.md
  docs/docs/start/config.md
Due: none

!refactor(backend): remove backwards-compatible urls (#11667)
  CHANGELOG.md
  docs/docs/start/config.md
  docs/docs/start/processes.md
  docs/docs/stock/index.md
  src/backend/InvenTree/InvenTree/config.py
  src/backend/InvenTree/InvenTree/tests.py
  src/backend/InvenTree/InvenTree/urls.py
  src/backend/InvenTree/web/urls.py
Due: Backend Apps

Updates
  docs/docs/plugins/test.md
  docs/docs/start/config.md
Due: none

Add observability of cache settings
  src/backend/InvenTree/InvenTree/cache.py
  src/backend/InvenTree/InvenTree/setting/db_backend.py
Due: none

More updates
  docs/docs/start/config.md
  src/backend/InvenTree/InvenTree/settings.py
Due: none

Observability
  src/backend/InvenTree/InvenTree/settings.py
Due: none

Set env config for RTD
  readthedocs.yml
  src/backend/InvenTree/InvenTree/settings.py
Due: none

Revert RTD config file
  readthedocs.yml
Due: none

Visibility on background worker settings
  src/backend/InvenTree/InvenTree/setting/worker.py
  src/backend/InvenTree/InvenTree/settings.py
Due: none

Tweaks
  docs/docs/start/config.md
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/InvenTree/settings.py
Due: none

Skip import for zero length records
  tasks.py
Due: none

Add debugging info for background workers to the devcontainer docs
  docs/docs/develop/devcontainer.md
Due: none

Add debugging info the the EventMixin docs
  docs/docs/plugins/mixins/event.md
Due: none

Fix SSRF in remote image download
  src/backend/InvenTree/InvenTree/helpers_model.py
Due: none

Update test_api.py
  src/backend/InvenTree/plugin/test_api.py
Due: Backend Apps

feat(barcode): continuous multi-scan mode + build-order scan-to-allocate
  src/frontend/src/components/barcodes/BarcodeScanDialog.tsx
  src/frontend/src/pages/build/BuildDetail.tsx
  src/frontend/src/pages/stock/LocationDetail.tsx
Due: Frontend

Added beginner-friendly Docker setup guide
  README.md
Due: none
