Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Prevent writing of plugin setting values
  src/backend/InvenTree/plugin/models.py
Due: Backend Apps

Unit tests
  src/backend/InvenTree/plugin/test_api.py
Due: Backend Apps

Add HMR and React Fast Refresh support (#12060)
  docs/docs/plugins/creator.md
  docs/docs/plugins/walkthrough.md
  src/frontend/CHANGELOG.md
  src/frontend/src/components/plugins/RemoteComponent.tsx
  src/frontend/src/hooks/UseRemotePlugin.tsx
  src/frontend/tests/pui_plugins.spec.ts
Due: Frontend

Fix path for coverage files
  src/frontend/tests/baseFixtures.ts
Due: Frontend

Docs tweak
  docs/docs/concepts/user_interface.md
Due: none

Update API version and CHANGELOG
  CHANGELOG.md
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Split out display settings
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
Due: Frontend

include hidden files
  .github/workflows/frontend.yaml
Due: none

bump django
  contrib/container/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

fix style
  contrib/dev_reqs/requirements.txt
  docs/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

fix compiler settings
  src/frontend/tsconfig.json
  src/frontend/tsconfig.lib.json
Due: Frontend

Add repair order fields to ReturnOrder model
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/order/migrations/0121_return_order_repair_fields.py
  src/backend/InvenTree/order/models.py
  src/backend/InvenTree/order/serializers.py
  src/backend/InvenTree/order/status_codes.py
Due: Backend Apps

fix(forntend): generate UI coverage again (#12066)
  .github/actions/setup/action.yaml
  .github/workflows/frontend.yaml
  .github/workflows/qc_checks.yaml
  src/frontend/playwright.config.ts
  src/frontend/tests/baseFixtures.ts
  src/frontend/tests/customization/customization.spec.ts
  src/frontend/tests/pages/pui_return.spec.ts
  src/frontend/tests/pui_exporting.spec.ts
  src/frontend/tests/pui_forms.spec.ts
  src/frontend/tests/pui_importing.spec.ts
  src/frontend/tests/pui_login.spec.ts
  src/frontend/tests/pui_machines.spec.ts
  src/frontend/tests/pui_permissions.spec.ts
  src/frontend/tests/pui_plugins.spec.ts
  src/frontend/vite.config.ts
Due: Frontend

bump django (#12097)
  contrib/container/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

Add missing backend dirs
  codecov.yml
Due: none

Adjust frontend coverage paths
  codecov.yml
Due: none

Run frontend workflow on master
  .github/workflows/frontend.yaml
Due: none

Codecov tweaks (#12099)
  .github/workflows/frontend.yaml
  codecov.yml
Due: none

Adjust playwright test
  src/frontend/tests/pages/pui_purchasing.spec.ts
Due: Frontend

Fix for empty boolean fields
  src/frontend/lib/functions/Navigation.tsx
  src/frontend/src/components/forms/fields/BooleanField.tsx
  src/frontend/src/forms/CommonForms.tsx
Due: Frontend

Update docs
  docs/docs/start/config.md
Due: none

Fix for empty boolean fields (#12100)
  src/frontend/lib/functions/Navigation.tsx
  src/frontend/src/components/forms/fields/BooleanField.tsx
  src/frontend/src/forms/CommonForms.tsx
Due: Frontend

Reduce reliance on transient dialogs
  src/frontend/tests/pages/pui_build.spec.ts
  src/frontend/tests/pages/pui_stock.spec.ts
Due: Frontend

Fix migration conflicts
  src/backend/InvenTree/build/migrations/0060_remove_build_notes.py
  src/backend/InvenTree/common/migrations/0045_auto_20260525_0956.py
Due: Backend Apps, Backend General

Expose properties for column based filtering
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/FilterSelectDrawer.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/yarn.lock
Due: Frontend

Adjust renderers
  src/frontend/src/tables/ColumnRenderers.tsx
Due: Frontend

Hide filter if name does not match
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Allow multiple filters on same column
  src/frontend/lib/types/Tables.tsx
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/FilterSelectDrawer.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
Due: Frontend

Better formatting
  src/frontend/src/tables/FilterSelectDrawer.tsx
Due: Frontend

Add filtering support for multiple tables
  src/frontend/lib/components/TableColumnSelect.tsx
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/InvenTreeTable.tsx
  src/frontend/src/tables/bom/BomTable.tsx
  src/frontend/src/tables/build/BuildLineTable.tsx
  src/frontend/src/tables/build/BuildOrderTable.tsx
  src/frontend/src/tables/company/CompanyTable.tsx
  src/frontend/src/tables/part/PartCategoryTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
  src/frontend/src/tables/stock/StockLocationTable.tsx
Due: Frontend

bump django (#12097) (#12102)
  contrib/container/requirements.txt
  src/backend/requirements-3.14.txt
  src/backend/requirements-dev-3.14.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

Revert yarn.lock changes
  src/frontend/yarn.lock
Due: Frontend

[UI] Month scroll (#12092)
  docs/docs/concepts/user_interface.md
  docs/docs/settings/global.md
  src/backend/InvenTree/common/setting/system.py
  src/frontend/src/components/calendar/Calendar.tsx
  src/frontend/src/hooks/UseCalendar.tsx
  src/frontend/src/pages/Index/Settings/SystemSettings.tsx
  src/frontend/src/styles/overrides.css
  src/frontend/tests/pages/pui_build.spec.ts
  src/frontend/tests/pages/pui_purchasing.spec.ts
  src/frontend/tests/pages/pui_stock.spec.ts
  src/frontend/yarn.lock
Due: Backend General, Frontend

Fix date input props
  src/frontend/src/tables/FilterSelectDrawer.tsx
Due: Frontend

Updated column
  src/frontend/src/tables/ColumnRenderers.tsx
Due: Frontend

Locked plugin settings (#12093)
  CHANGELOG.md
  docs/docs/start/config.md
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/InvenTree/settings.py
  src/backend/InvenTree/common/settings.py
  src/backend/InvenTree/config_template.yaml
  src/backend/InvenTree/plugin/models.py
  src/backend/InvenTree/plugin/serializers.py
  src/backend/InvenTree/plugin/test_api.py
Due: Backend Apps, Backend General

Add filter to PartTable
  src/frontend/src/tables/ColumnRenderers.tsx
  src/frontend/src/tables/part/PartTable.tsx
Due: Frontend

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
