Repository inventree/InvenTree: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

Extract model types better
  src/performance/tests.py
Due: none

[API] Search improvements (#11094)
  src/backend/InvenTree/InvenTree/api.py
  src/backend/InvenTree/InvenTree/serializers.py
  src/backend/InvenTree/company/serializers.py
  src/backend/InvenTree/company/test_api.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/stock/serializers.py
  src/backend/InvenTree/users/permissions.py
  src/performance/tests.py
Due: Backend Apps

Switch away from codspeed-macro to ubuntu-24.04
  .github/workflows/qc_checks.yaml
Due: none

Switch away from codspeed-macro to ubuntu-24.04 (#11099)
  .github/workflows/qc_checks.yaml
Due: none

updated stock to use PartSerializer instead of PartBriefSerializer
  src/backend/InvenTree/stock/serializers.py
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Backend Apps, Frontend

Save redis data in docker volume to prevent creating new volume on each container start
  contrib/container/docker-compose.yml
Due: none

updated test data to include tenant data. Added tests for part detail in stocks
  src/backend/InvenTree/order/fixtures/order.yaml
  src/backend/InvenTree/order/fixtures/return_order.yaml
  src/backend/InvenTree/order/fixtures/sales_order.yaml
  src/backend/InvenTree/stock/fixtures/location.yaml
  src/backend/InvenTree/stock/test_api.py
  src/backend/InvenTree/stock/test_views.py
  src/backend/InvenTree/stock/tests.py
  src/backend/InvenTree/tenant/fixtures/tenant.yaml
Due: Backend Apps

Patch Sales Order line items progress bar to count fully allocated line items as well as virtual and shipped items.
  src/backend/InvenTree/order/serializers.py
Due: Backend Apps

Rewrite keep form open field feature to avoid calling methods in form field definitions
  src/frontend/src/components/forms/ApiForm.tsx
  src/frontend/src/forms/CommonForms.tsx
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/functions/forms.tsx
Due: Frontend

Correction in comment about redis - is enabled by default
  contrib/container/docker-compose.yml
Due: none

backend: bump deps (#11097)
  contrib/container/requirements.txt
  contrib/dev_reqs/requirements.txt
  docs/requirements.txt
  src/backend/requirements-dev.txt
  src/backend/requirements.txt
Due: none

Save redis data in docker volume to prevent creating new volume on each container start (#11100)
  contrib/container/docker-compose.yml
Due: none

Bug fix for stock entry calculation
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/stock/tests.py
Due: Backend Apps

Bug fix for stock entry calculation (#11103)
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/stock/tests.py
Due: Backend Apps

feat(backend): Add dedicated health endpoint
  src/backend/InvenTree/common/api.py
Due: Backend General

!refactor(backend): remove legacy metadata endpoints
  src/backend/InvenTree/build/api.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/company/api.py
  src/backend/InvenTree/order/api.py
  src/backend/InvenTree/part/api.py
  src/backend/InvenTree/report/api.py
  src/backend/InvenTree/stock/api.py
Due: Backend Apps, Backend General

bump api version
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/common/api.py
Due: Backend General

add test for new endpoint
  src/backend/InvenTree/common/tests.py
Due: Backend General

fix check
  src/backend/InvenTree/common/api.py
Due: Backend General

Bug fix for stock entry calculation (#11103) (#11105)
  src/backend/InvenTree/part/models.py
  src/backend/InvenTree/stock/tests.py
Due: Backend Apps

Tweak for auto allocation
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/part/models.py
Due: Backend Apps

feat(backend): Add dedicated health endpoint (#11104)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/common/api.py
  src/backend/InvenTree/common/tests.py
Due: Backend General

Tweak for auto allocation (#11106)
  src/backend/InvenTree/build/models.py
  src/backend/InvenTree/part/models.py
Due: Backend Apps

Add missing nullable annotations
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/common/serializers.py
Due: Backend Apps, Backend General

bump API version
  src/backend/InvenTree/InvenTree/api_version.py
Due: none

Refactor clean check for BuildItem
  src/backend/InvenTree/build/models.py
Due: Backend Apps

Don't raise an error when saving a BuildItem
  src/backend/InvenTree/build/models.py
Due: Backend Apps

Fix order of operations
  src/backend/InvenTree/build/models.py
Due: Backend Apps

remove debug statements
  src/backend/InvenTree/build/models.py
Due: Backend Apps

added stock location parameters
  src/backend/InvenTree/stock/models.py
  src/backend/InvenTree/stock/test_api.py
  src/backend/InvenTree/web/static/web/.vite/manifest.json
  src/backend/InvenTree/web/static/web/index.html
  src/frontend/src/pages/stock/LocationDetail.tsx
Due: Backend Apps, Frontend

BuildItem quantity fix (#11108)
  src/backend/InvenTree/build/models.py
Due: Backend Apps

Add allauth openid_connect to requirements.txt
  src/backend/requirements.txt
Due: none

Fix Schema Nullables (#11092)
  src/backend/InvenTree/InvenTree/api_version.py
  src/backend/InvenTree/build/serializers.py
  src/backend/InvenTree/common/serializers.py
Due: Backend Apps, Backend General

feat(backend): better for logging to detect issues with static files discovery (#11067)
  .github/workflows/release.yaml
  src/backend/InvenTree/InvenTree/version.py
  tasks.py
Due: none

Add assertion to unit test
  src/backend/InvenTree/company/test_api.py
Due: Backend Apps

re-enable codspeed runner
  .github/workflows/qc_checks.yaml
Due: none

dummy change
  src/backend/InvenTree/manage.py
Due: none

Path conditions:
  Backend Apps: any of: src/backend/InvenTree/build/**, src/backend/InvenTree/company/**, src/backend/InvenTree/data_exporter/**, src/backend/InvenTree/importer/**, src/backend/InvenTree/machine/**, src/backend/InvenTree/order/**, src/backend/InvenTree/part/**, src/backend/InvenTree/plugin/**, src/backend/InvenTree/report/**, src/backend/InvenTree/stock/**, src/backend/InvenTree/users/**, src/backend/InvenTree/web/**
  Backend General: any of: src/backend/InvenTree/generic/**, src/backend/InvenTree/common/**
  Frontend: any of: src/frontend/**
